{% if settings.social_facebook_link != blank %}
  <a href="{{ settings.social_facebook_link }}" class="social_facebook_link">
    {% render 'snippet-icons', icon: 'facebook' %}
  </a>
{% endif %}
{% if settings.social_instagram_link != blank %}
  <a href="{{ settings.social_instagram_link }}" class="social_instagram_link">
    {% render 'snippet-icons', icon: 'instagram' %}
  </a>
{% endif %}
{% if settings.social_twitter_link != blank %}
  <a href="{{ settings.social_twitter_link }}" class="social_twitter_link">
    {% render 'snippet-icons', icon: 'twitter' %}
  </a>
{% endif %}
{% if settings.social_pinterest_link != blank %}
  <a href="{{ settings.social_pinterest_link }}" class="social_pinterest_link">
    {% render 'snippet-icons', icon: 'pinterest' %}
  </a>
{% endif %}
{% if settings.social_tiktok_link != blank %}
  <a href="{{ settings.social_tiktok_link }}" class="social_tiktok_link">
    {% render 'snippet-icons', icon: 'tiktok' %}
  </a>
{% endif %}
{% if settings.social_snapchat_link != blank %}
  <a href="{{ settings.social_snapchat_link }}" class="social_snapchat_link">
    {% render 'snippet-icons', icon: 'snapchat' %}
  </a>
{% endif %}
{% if settings.social_youtube_link != blank %}
  <a href="{{ settings.social_youtube_link }}" class="social_youtube_link">
    {% render 'snippet-icons', icon: 'youtube' %}
  </a>
{% endif %}
{% if settings.social_vimeo_link != blank %}
  <a href="{{ settings.social_vimeo_link }}" class="social_vimeo_link">
    {% render 'snippet-icons', icon: 'vimeo' %}
  </a>
{% endif %}
