{% if paginate.pages > 1 %}
  {% if paginate.parts.size > 0 %}
    <div class="pagination">
      {% if paginate.previous %}
        <a href="{{ paginate.previous.url }}{{ anchor }}">
          {% render 'snippet-icons', icon: 'pagination_left' %}
        </a>
      {% endif %}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <a
            href="{{ part.url }}{{ anchor }}"
          >
            {{- part.title -}}
          </a>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <a class="pagination__number">
              {{- part.title -}}
            </a>
          {%- else -%}
            <span>{{ part.title }}</span>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      {% if paginate.next %}
        <a href="{{ paginate.next.url }}{{ anchor }}">
          {% render 'snippet-icons', icon: 'pagination_right' %}
        </a>
      {% endif %}
    </div>
  {% endif %}
{% endif %}
