{{ 'snippet-quick-view.css' | asset_url | stylesheet_tag }}

{% style %}
  quick-view-component .quick-view {
    background-color: var(--background-color);
    border-radius: var(--global-border-radius);
    border: var(--global-border-width) solid var(--global-border-color);
  }
{% endstyle %}

<quick-view-component>
  <div class="quick-view hidden">
    <div class="quick-view-container">
      <div class="quick-view__close">
        {% render 'snippet-icons', icon: 'close' %}
      </div>
      <div class="quick-view__top">
        <div class="quick-view__image">
          <div class="quick-view__image-box">
            {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
          </div>
        </div>
        <div class="quick-view__details">
          <p class="quick-view__vendor">{{ 'general.placeholder.vendor' | t }}</p>
          <h6 class="quick-view__title">{{ 'general.placeholder.product' | t }}</h6>
          <p class="quick-view__price price--actual">$0.00</p>
          <a href="" class="quick-view__product-url button--link">{{ 'general.buttons.view_details' | t }}</a>
        </div>
      </div>
      <div class="quick-view__content">
        <div class="quick-view__options"></div>
        <div class="quick-view__quantity-field">
          <quantity-field class="quantity">
            <label for="quantity-text">
              <p>{{ 'general.others.quantity' | t }}</p>
            </label>
            <div class="quantity-field" id="quantity-field">
              <button type="button" class="quantity-field__minus" id="quantity-field__minus">-</button>
              <input
                type="quantity"
                class="quantity-field__input"
                id="quantity-field__input"
                name="quantity"
                min="1"
                value="1"
              >
              <button type="button" class="quantity-field__plus" id="quantity-field__plus">+</button>
            </div>
          </quantity-field>
        </div>
      </div>

      <div class="quick-view__bottom buttons buttons--center">
        <div class="shadow-divider"></div>
        <button class="button button--primary border quick-view-add-to-cart" id="quick-view-add-to-cart">
          <span></span> <span></span> <span></span> <span></span>{{ 'general.buttons.add_to_cart' | t }}
          {% render 'snippet-icons',
            icon: 'loading-spinner',
            spinner_color: 'var(--primary-button-text-color)',
            spinner_background_color: 'var(--primary-button-background-color)'
          %}
        </button>
        <button class="button button--secondary border quick-view-buy-now" id="quick-view-buy-now">
          <span></span> <span></span> <span></span> <span></span>{{ 'general.buttons.buy_now' | t }}
        </button>
      </div>
    </div>
  </div>
</quick-view-component>

<script>
  let quickViewVariantSelectorType = '{{ settings.quick_view_variant_selector_type }}';
  let quickViewColorSelectorType = '{{ settings.quick_view_color_selector_type }}';
</script>
