<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {%- render 'snippet-meta-tags' -%}
    {%- render 'snippet-css-variables' -%}
    <link href="{{ 'global-styles.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
    {%- render 'snippet-social-meta-tags' -%}
    <title>
      {{ page_title }}
    </title>
    {{ content_for_header }}
  </head>
  <body>
    {{ content_for_layout }}
  </body>
</html>
