<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {%- render 'snippet-meta-tags' -%}
    {%- render 'snippet-css-variables' -%}
    {%- render 'snippet-social-meta-tags' -%}
    <link rel="stylesheet" href="{{ 'global-styles.css' | asset_url }}">
    <script src="{{ 'global-scripts.js' | asset_url }}" defer></script>
    <title>
      {{ page_title }}
    </title>
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
    {{ content_for_header }}
  </head>

  <body>
    <div class="theme-overlay hidden"></div>
    <div class="header-section {% if settings.header_full_width == false %}boxed{% endif %} sticky">
      <div class="header-container">
        {% liquid
          section 'main-header'
          section 'main-announcement-bar'
        %}
      </div>
    </div>
    <div class="drawers">
      {%- liquid
        section 'main-search-drawer'
        section 'main-cart-drawer'
        section 'main-popup'
      -%}
    </div>

    {%- liquid
      echo content_for_layout
      section 'main-footer'
    -%}
    {%- render 'snippet-preloaded-variables' -%}
  </body>
</html>
