<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    {%- render 'snippet-meta-tags' -%}
    {%- render 'snippet-css-variables' -%}
    <link href="{{ 'global-styles.css' | asset_url }}" rel="stylesheet" type="text/css" media="all">
    {%- render 'snippet-social-meta-tags' -%}
    {%- render 'snippet-preloaded-scripts' -%}
    <script src="{{ 'global-scripts.js' | asset_url }}" defer></script>
    <title>
      {{ page_title }}
    </title>

    {{ content_for_header }}
  </head>

  <body>
    <div class="hidden-select" style="width: fit-content;"></div>
    <div class="theme-overlay hidden"></div>
    <div class="loading-bar"></div>
    <div class="header-section {% if settings.header_full_width == false %}boxed{% endif %} sticky">
      <div class="header-container">
        {% liquid
          section 'main-header'
          section 'main-announcement-bar'
        %}
      </div>
    </div>
    <div class="drawers">
      {%- liquid
        section 'main-search-drawer'
        section 'main-cart-drawer'
        section 'main-popup'
        render 'snippet-quick-view'
      -%}
    </div>

    {%- liquid
      echo content_for_layout
      section 'main-footer'
    -%}
    {%- render 'snippet-preloaded-variables' -%}
  </body>
</html>
