{{ 'blog-posts.css' | asset_url | stylesheet_tag }}

{% liquid
  assign mobile_items = 1
  assign tablet_items = 2
  assign desktop_items = 3
%}

{%- style -%}
   .blog-posts {
    --mobile-small-item-width: calc(var(--slider-350-width) / {{ mobile_items }});
    --mobile-item-width: calc(var(--slider-350-750-width) / {{ mobile_items }});
    --tablet-item-width: calc(var(--slider-750-1024-width) / {{ tablet_items }});
    --desktop-item-width: calc(var(--slider-1024-width) / {{ desktop_items }});

    --desktop-item-height: {{ section.settings.article_height }};
    --desktop-to-tablet-decrease: calc((var(--tablet-item-width) - var(--desktop-item-width)) / var(--desktop-item-width));
    --tablet-to-mobile-decrease: calc((var(--mobile-item-width) - var(--tablet-item-width)) / var(--tablet-item-width));
    --mobile-to-mobile-small-decrease: calc((var(--mobile-small-item-width) - var(--mobile-item-width)) / var(--mobile-item-width));
    --tablet-item-height: calc((var(--desktop-item-height) * var(--desktop-to-tablet-decrease)) + var(--desktop-item-height));
    --mobile-item-height: calc((var(--tablet-item-height) * var(--tablet-to-mobile-decrease)) + var(--tablet-item-height));
    --mobile-small-item-height: calc((var(--mobile-item-height) * var(--mobile-to-mobile-small-decrease)) + var(--mobile-item-height));
   }

  .{{ section.id }}.blog-posts {
    gap: {{ section.settings.space_between_elements }}rem;
    padding: {{ section.settings.space_outside_elements | divided_by: 2 }}px 0;
  }

  .{{ section.id }}.just-color {
    background-color: {{ section.settings.background_color }};
   }

   .{{ section.id }}.image {
        background-image: url({{ section.settings.background_image | image_url: width: settings.wrapped_content_width }});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
   }


  @media screen and (max-width: 350px) {
    .blog-posts .item {
      width:  calc(var(--mobile-small-item-width) * 1px);
      max-width: calc(var(--mobile-small-item-width) * 1px);
      min-width: calc(var(--mobile-small-item-width) * 1px);
    }
    .blog-posts__image {
      height: calc(var(--mobile-small-item-height) * 1px);
    }
  }
  @media screen and (min-width: 350px) and (max-width: 750px) {
    .blog-posts .item {
      width: calc(var(--mobile-item-width) * 1px);
      max-width: calc(var(--mobile-item-width) * 1px);
      min-width: calc(var(--mobile-item-width) * 1px);
    }
    .blog-posts__image {
      height:  calc(var(--mobile-item-height) * 1px);
    }
  }
  @media screen and (min-width: 750px) and (max-width: 1024px) {
    .blog-posts .item {
     width: calc(var(--tablet-item-width) * 1px);
      max-width: calc(var(--tablet-item-width) * 1px);
      min-width: calc(var(--tablet-item-width) * 1px);
    }
    .blog-posts__image {
      height: calc(var(--tablet-item-height) * 1px);
    }
  }
  @media screen and (min-width: 1024px) {
    .blog-posts .item {
      width: calc(var(--desktop-item-width) * 1px);
      max-width: calc(var(--desktop-item-width) * 1px);
      min-width: calc(var(--desktop-item-width) * 1px);
    }
    .blog-posts__image {
      height: calc(var(--desktop-item-height) * 1px);
    }
  }
{%- endstyle -%}

<slider-section
  data-mobile-items="{{ mobile_items }}"
  data-tablet-items="{{ tablet_items }}"
  data-desktop-items="{{ desktop_items }}"
  class="{{ section.id }} blog-posts just-color {% if section.settings.background_image == blank %}just-color{% else %}{{ section.settings.background_type }}{% endif %} {{ section.settings.section_width }}"
>
  <div class="blog-posts__heading">
    <h6>{{ section.settings.heading }}</h6>
  </div>
  <div class="slider-component">
    <div class="prev">
      {% render 'icons', icon: 'chevron-prev' -%}
    </div>
    <div class="slides-container">
      <div class="slide">
        {%- for article in section.settings.blog.articles -%}
          <div class="item">
            <a href="{{ article.url }}" class="blog-posts__image">
              <div class="media">
                {% if article.image != blank %}
                  <img
                    srcset="{{ article.image | image_url }}"
                    loading="lazy"
                    alt="{{ article.image.alt | escape }}"
                    width="{{ article.image.width }}"
                    height="{{ article.image.height }}"
                    class="fit"
                  >
                {% else %}
                  {{ 'collection-1' | placeholder_svg_tag: 'placeholder' }}
                {% endif %}
              </div>
            </a>
            <a href="{{ article.url }}" class="blog-posts__container">
              <div class="blog-posts__author">
                <p class="text label-text ">{{ article.created_at | date: format: 'abbreviated_date' }}</p>
              </div>
              <div class="blog-posts__title">
                <p class="text small">{{ article.title }}</p>
              </div>
            </a>
          </div>
        {%- endfor -%}
      </div>
    </div>
    <div class="next">
      {% render 'icons', icon: 'chevron-next' -%}
    </div>
  </div>
  <div class="blog-posts__link">
    <a class="button--link small" href="{{ section.settings.blog.url}}">View all</a>
  </div>
</slider-section>

{% schema %}
{
  "name": "Blog posts",
  "settings": [
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "just-color",
          "label": "Color"
        }
      ],
      "default": "just-color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#000000",
      "info": "Applied only if Type is 'Color'"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Image",
      "info": "Applied only if Type is 'Image'"
    },
    {
      "type": "range",
      "id": "article_height",
      "min": 200,
      "max": 300,
      "step": 10,
      "unit": "px",
      "label": "Article height",
      "default": 200,
      "info": "This is for desktop only. In the other screens the height will be calculated automatically based on this number."
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "Space between elements",
      "min": 1,
      "max": 3,
      "step": 1,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "space_outside_elements",
      "label": "Space outside elements",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "default": "full",
      "options": [
        {
          "value": " ",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": " "
    }
  ],
  "presets": [
    {
      "name": "Blog posts"
    }
  ]
}
{% endschema %}
