{%- style -%}
  .{{ section.id }}.countdown-timer {
    gap: {{ section.settings.space_between_elements }}rem;
    margin-top: {{ section.settings.space_outside | divided_by: 2 }}rem;
    margin-bottom: {{ section.settings.space_outside | divided_by: 2 }}rem;
  }
  .{{ section.id}}--color {
    background-color: {{ section.settings.background_color }};
  }

  .{{ section.id}}--image {
    background-image: url({{ section.settings.background_image | image_url }});
    background-size: cover;
    background-position: center;
  }

  .{{ section.id }}.countdown-timer > .countdown-timer__timers > .countdown-timer__container {
    background-color: {{ section.settings.digits_background_color }};
    border-radius: {{ section.settings.digits_container_border }}%;
  }

  .{{ section.id }}.countdown-timer > .countdown-timer__timers > .countdown-timer__container > p {
    color: {{ section.settings.digits_color }};
  }

  .{{ section.id }}.countdown-timer > .countdown-timer__buttons > .button--link {
    color: {{ section.settings.button_color }};
  }

  @media screen and (min-width: 751px) {
    .{{ section.id }} > .countdown-timer__text {
          width: {{ section.settings.text_width }}%;
    }
  }
{%- endstyle -%}

{% liquid
  assign days = section.settings.time_days | times: 24.00 | times: 60.00
  assign hours = section.settings.time_hours | times: 60.00
  assign mins = section.settings.time_mins
  assign secs = section.settings.time_secs | divided_by: 60.00
  assign timeInMinutes = days | plus: hours | plus: mins | plus: secs

  assign year = section.settings.date_year
  assign month = section.settings.date_month | prepend: '00' | slice: -2, 2
  assign day = section.settings.date_day | prepend: '00' | slice: -2, 2
  assign hour = section.settings.date_hour | prepend: '00' | slice: -2, 2
  assign min = section.settings.date_min | prepend: '00' | slice: -2, 2
  assign sec = section.settings.date_sec | prepend: '00' | slice: -2, 2
%}

{% capture timeInDate %}{{ year }}-{{ month }}-{{ day }}T{{ hour }}:{{ min }}:{{ sec }}{% endcapture %}
{% capture countdownType %}{{ section.settings.countdown_timer_type }}{% endcapture %}
{% capture afterExpirationTimeOnly %}{{ section.settings.afterExpirationTimeOnly }}{% endcapture %}

<div
  id="countdown-timer-{{ section.id }}"
  class="{{ section.id }} countdown-timer container {{ section.settings.section_style }} {% if section.settings.background_image == blank %}{{ section.id }}--color{% else %}{{ section.id }}--{{ section.settings.background_type }}{% endif %}"
>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'heading' -%}
        <div class="countdown-timer__heading">
          <{{ block.settings.heading_size }}>
            {{ block.settings.heading }}
          </{{ block.settings.heading_size }}>
        </div>
      {%- when 'text' -%}
        <div class="countdown-timer__text">
          <p>{{ block.settings.text }}</p>
        </div>
      {%- when 'countdown' -%}
        <countdown-timer
          countdown-type="{{ countdownType }}"
          time-in-date="{{ timeInDate }}"
          time-in-minutes="{{ timeInMinutes }}"
          after-expiration="{{ afterExpirationTimeOnly }}"
          section-id="countdown-timer-{{ section.id }}"
          cookie-name="countdown-timer-cookie-{{ section.id }}"
          class="countdown-timer__timers"
        >
          <div class="countdown-timer__container">
            <p class="days digits--{{ section.settings.digits_size }}"></p>
            <p class="label">Days</p>
          </div>
          <div class="countdown-timer__container">
            <p class="hours digits--{{ section.settings.digits_size }}"></p>
            <p class="label">Hours</p>
          </div>
          <div class="countdown-timer__container">
            <p class="minutes digits--{{ section.settings.digits_size }}"></p>
            <p class="label">Mins</p>
          </div>
          <div class="countdown-timer__container">
            <p class="seconds digits--{{ section.settings.digits_size }}"></p>
            <p class="label">Secs</p>
          </div>
        </countdown-timer>
        <div class="countdown-timer__message">
          <h6>{{ section.settings.message }}</h6>
        </div>
      {%- when 'button' -%}
        <div class="countdown-timer__buttons">
          <a href="{{ block.settings.link_url }}" class="button button--link">{{ block.settings.link_text }}</a>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Countdown timer",
  "settings": [
    {
      "type": "select",
      "id": "digits_size",
      "label": "Digits size",
      "options": [
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "big",
          "label": "Big"
        }
      ],
      "default": "small"
    },
    {
      "type": "range",
      "id": "digits_container_border",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "%",
      "label": "Digits container border radius",
      "default": 10
    },
    {
      "type": "color",
      "id": "digits_color",
      "label": "Digits color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "digits_background_color",
      "label": "Digits background color",
      "default": "#fcdb33"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button color",
      "default": "#fcdb33"
    },
    {
      "type": "header",
      "content": "Background settings"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "just-color",
          "label": "Color"
        }
      ],
      "default": "just-color"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Image",
      "info": "Applied only if Type is 'Image'"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent",
      "info": "Applied only if Type is 'Color'"
    },
    {
      "type": "header",
      "content": "Section style"
    },
    {
      "type": "range",
      "id": "text_width",
      "label": "Text width",
      "info": "Desktop only",
      "min": 40,
      "max": 90,
      "step": 10,
      "unit": "%",
      "default": 70
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "Space between elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "bottom_padding",
      "label": "Bottom padding",
      "min": 0,
      "max": 7,
      "step": 1,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "select",
      "id": "section_style",
      "label": "Section width",
      "info": "Desktop only",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "header",
      "content": "Countdown timer settings"
    },
    {
      "type": "text",
      "id": "message",
      "label": "After expiration message",
      "default": "Offer ended",
      "info": "It is optional for Option 1 but required for Option 2"
    },
    {
      "type": "select",
      "id": "countdown_timer_type",
      "label": "Countdown timer type",
      "options": [
        {
          "value": "time",
          "label": "Option 1: Based on user cookies"
        },
        {
          "value": "date",
          "label": "Option 2: Based on a date"
        }
      ],
      "default": "time"
    },
    {
      "type": "header",
      "content": "Option 1: Based on user cookies",
      "info": "⚠️ Remember that this option also saves your browser cookies. So if your new settings aren't taking effect immediately, simply clear the cookies and refresh the page."
    },
    {
      "type": "range",
      "id": "time_days",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "d",
      "label": "Days",
      "default": 0
    },
    {
      "type": "range",
      "id": "time_hours",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "h",
      "label": "Hours",
      "default": 6
    },
    {
      "type": "range",
      "id": "time_mins",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "m",
      "label": "Minutes",
      "default": 0
    },
    {
      "type": "range",
      "id": "time_secs",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "s",
      "label": "Seconds",
      "default": 0
    },
    {
      "type": "select",
      "id": "afterExpirationTimeOnly",
      "label": "After countdown expires",
      "options": [
        {
          "value": "repeatCountdown",
          "label": "Repeat countdown"
        },
        {
          "value": "showMessage",
          "label": "Show message"
        }
      ],
      "default": "repeatCountdown",
      "info": "This applied only to Option 1."
    },
    {
      "type": "header",
      "content": "Option 2: Based on a date"
    },
    {
      "type": "range",
      "id": "date_year",
      "min": 2022,
      "max": 2032,
      "step": 1,
      "unit": "y",
      "label": "Year",
      "default": 2023
    },
    {
      "type": "range",
      "id": "date_month",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "m",
      "label": "Month",
      "default": 1
    },
    {
      "type": "range",
      "id": "date_day",
      "min": 1,
      "max": 31,
      "step": 1,
      "unit": "d",
      "label": "Day",
      "default": 1,
      "info": "⚠️ Pay attention: If you put 31 to a month that ends with 30 or 28 days, it will result in an error in calculation."
    },
    {
      "type": "range",
      "id": "date_hour",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "h",
      "label": "Hour",
      "default": 0
    },
    {
      "type": "range",
      "id": "date_min",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "m",
      "label": "Minute",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h4"
        }
      ]
    },
    {
      "type": "countdown",
      "name": "Countdown timer",
      "limit": 1,
      "settings": []
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Countdown timer",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "countdown"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
