{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .customer.{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .customer.{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer">
  <div class="customer__container" style="gap: 6rem;">
    <div class="page-tabs">
      <a href="{{ routes.account_url }}" class="page-tab"> Orders</a>
      <a href="{{ routes.account_addresses_url }}" class="page-tab selected">Addresses</a>
      <a href="{{ routes.account_logout_url }}" class="page-tab">Logout</a>
    </div>
    {%- paginate customer.addresses by 4 -%}
      <div class="customer-addresses__addresses-list">
        <!-- ANCHOR: Add new address title -->
        {% comment %} <h1>Addresses</h1> {% endcomment %}

        <!-- ANCHOR: Add new address button -->
        {% comment %}
           <div class="buttons">
            <button
              class="button button--primary border"
              type="button"
            >
              Add a new address
            </button>
          </div>
        {% endcomment %}

        <!-- ANCHOR: Add new address form -->
        {% comment %}
           <div>
            <span>Please fill in the fields below</span>
            {%- form 'customer_address', customer.new_address -%}
              <div>
                <input
                  type="text"
                  value="{{ form.first_name }}"
                  autocomplete="given-name"
                  placeholder="First name"
                >
              </div>
              <div>
                <input
                  type="text"
                  value="{{ form.last_name }}"
                  autocomplete="family-name"
                  placeholder="Last name"
                >
              </div>
              <div>
                <input
                  type="text"
                  value="{{ form.company }}"
                  autocomplete="organization"
                  placeholder="Company"
                >
              </div>
              <div>
                <input
                  type="text"
                  value="{{ form.address1 }}"
                  autocomplete="address-line1"
                  placeholder="Address 1"
                >
              </div>
              <div>
                <input
                  type="text"
                  value="{{ form.address2 }}"
                  autocomplete="address-line2"
                  placeholder="Address 2"
                >
              </div>
              <div>
                <input
                  type="text"
                  value="{{ form.city }}"
                  autocomplete="address-level2"
                  placeholder="City"
                >
              </div>
              <div>
                <div>
                  <select
                    data-default="{{ form.country }}"
                    autocomplete="country"
                  >
                    {{ all_country_option_tags }}
                  </select>
                </div>
              </div>
              <div>
                <div>
                  <select
                    data-default="{{ form.province }}"
                    autocomplete="address-level1"
                  ></select>
                </div>
              </div>
              <div>
                <input
                  type="text"
                  value="{{ form.zip }}"
                  autocapitalize="characters"
                  autocomplete="postal-code"
                  placeholder="Postal/ZIP code"
                >
              </div>
              <div>
                <input
                  type="tel"
                  value="{{ form.phone }}"
                  autocomplete="tel"
                  placeholder="Phone"
                >
              </div>
              <div>
                {{ form.set_as_default_checkbox }}
                <label for="address_default_address_new">Set as default address</label>
              </div>
              <div>
                <button class="button--link">Add address</button>
                <button class="button--link" type="reset">Cancel</button>
              </div>
            {%- endform -%}
          </div>
        {% endcomment %}

        <!-- ANCHOR: Address -->
        {%- for address in customer.addresses -%}
          <div class="customer-addresses__address">
            <div class="customer-addresses__address__container">
              {%- if address == customer.default_address -%}
                <h6>Default</h6>
              {% else %}
                <h6>Address {{ forloop.index | plus: paginate.current_offset }}</h6>
              {%- endif -%}

              <span>{{ address | format_address }}</span>
              <div class="customer-addresses__buttons">
                <button
                  type="button"
                  class="button--link"
                >
                  Edit
                </button>
                <button
                  type="button"
                  class="button--link"
                  data-confirm-message="Are you sure you wish to delete this address?"
                  type="submit"
                >
                  Delete
                </button>
              </div>
            </div>

            <!-- ANCHOR: Update address form -->
            {% comment %}
               {%- form 'customer_address', address, class: 'customer__form' -%}
                <div class="customer__form__content">
                  <input
                    class="customer__form__input"
                    type="text"
                    name="address[first_name]"
                    value="{{ form.first_name }}"
                    autocomplete="given-name"
                    placeholder="First name"
                  >

                  <input
                    class="customer__form__input"
                    type="text"
                    name="address[last_name]"
                    value="{{ form.last_name }}"
                    autocomplete="family-name"
                    placeholder="Last name"
                  >

                  <input
                    class="customer__form__input"
                    type="text"
                    name="address[company]"
                    value="{{ form.company }}"
                    autocomplete="organization"
                    placeholder="Company"
                  >

                  <input
                    class="customer__form__input"
                    type="text"
                    name="address[address1]"
                    value="{{ form.address1 }}"
                    autocomplete="address-line1"
                    placeholder="Address 1"
                  >

                  <input
                    class="customer__form__input"
                    type="text"
                    name="address[address2]"
                    value="{{ form.address2 }}"
                    autocomplete="address-line2"
                    placeholder="Address 2"
                  >

                  <input
                    class="customer__form__input"
                    type="text"
                    name="address[city]"
                    value="{{ form.city }}"
                    autocomplete="address-level2"
                    placeholder="City"
                  >

                  <select
                    class="customer__form__input"
                    name="address[country]"
                    data-address-country-select
                    data-default="{{ form.country }}"
                    autocomplete="country"
                  >
                    {{ all_country_option_tags }}
                  </select>

                  <select
                    class="customer__form__input"
                    name="address[province]"
                    data-default="{{ form.province }}"
                    autocomplete="address-level1"
                  ></select>

                  <input
                    class="customer__form__input"
                    type="text"
                    name="address[zip]"
                    value="{{ form.zip }}"
                    autocapitalize="characters"
                    autocomplete="postal-code"
                    placeholder="Postal/ZIP code"
                  >

                  <input
                    class="customer__form__input"
                    type="tel"
                    name="address[phone]"
                    value="{{ form.phone }}"
                    autocomplete="tel"
                    placeholder="Phone"
                  >
                </div>

                {{ form.set_as_default_checkbox }}
                <span>Set as default address</span>

                <button class="button--link">Update address</button>
                <button class="button--link" type="reset">Cancel</button>
              {%- endform -%}
            {% endcomment %}
          </div>
        {%- endfor -%}

        {% render 'snippet-pagination', paginate: paginate %}
      </div>
    {%- endpaginate -%}
  </div>
</div>
{% schema %}
{
  "name": "Customer addresses",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ]
}
{% endschema %}
