{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .customer.{{ section.id }} {
    padding-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .customer.{{ section.id }} {
      padding-top: {{ section.settings.top_space }}px;
      padding-bottom: {{ section.settings.bottom_space }}px;
    }
  }
{%- endstyle -%}

<div class="customer customer-login {{ section.id }}">
  <div class="customer__container active" id="recover_page">
    <h2 class="customer__form__title">{{ 'customer.reset_password.title' | t }}</h2>
    <p>{{ 'customer.reset_password.description' | t }}</p>

    {%- form 'recover_customer_password', class: 'customer__form' -%}
      {%- if form.errors -%}
        <div class="customer__form__errors-list__item">
          <div>
            <span> ⚠ </span>
            <span>{{ form.errors.messages.form }}</span>
          </div>
        </div>
      {%- endif -%}
      <div class="customer__form__content">
        <input
          type="email"
          value=""
          name="email"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          placeholder="{{ 'customer.reset_password.email_field' | t }}"
          class="customer__form__input"
          required
        >
      </div>
      <div class="customer__form__button buttons">
        <button class="button button--primary border">{{ 'customer.reset_password.recover_button' | t }}</button>
      </div>
    {%- endform -%}
    <div class="customer__form__link">
      <a href="{{ routes.account_login_url }}" id="login" class="small underline">
        {{- 'customer.reset_password.back_to_login_button' | t -}}
      </a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer password reset",
  "settings": [
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.top_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.bottom_space",
      "default": 0
    }
  ]
}
{% endschema %}
