{{ 'customer.css' | asset_url | stylesheet_tag }}
<script src="{{ 'customer.js' | asset_url }}" defer></script>

{%- style -%}
  .customer.{{ section.id }} {
    padding-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .customer.{{ section.id }} {
      padding-top: {{ section.settings.top_space }}px;
      padding-bottom: {{ section.settings.bottom_space }}px;
    }
  }
{%- endstyle -%}

<div class="customer">
  <div class="customer__container" style="gap: 6rem;">
    <div class="page-tabs">
      <a href="{{ routes.account_url }}" class="page-tab">{{ 'customer.account.orders' | t }}</a>
      <a href="{{ routes.account_addresses_url }}" class="page-tab selected">
        {{ 'customer.account.addresses' | t }}
      </a>
      <a href="{{ routes.account_logout_url }}" class="page-tab">{{ 'customer.account.logout' | t }}</a>
    </div>

    <h1>{{ 'customer.addresses.title' | t }}</h1>

    <customer-popup>
      <div class="buttons">
        <button
          id="customer__popup__add-address__button"
          class="button button--primary border"
          type="button"
        >
          {{ 'customer.addresses.button' | t }}
        </button>
      </div>

      <div class="customer__popup hidden" id="customer__popup__add-address__form">
        <div class="customer__popup__container">
          <div class="customer__popup-icon" id="customer__popup__add-address__close-icon">
            {% render 'snippet-icons', icon: 'close' %}
          </div>
          {%- form 'customer_address', customer.new_address, class: 'customer__form' -%}
            <span>{{ 'customer.addresses.new_address_form_title' | t }}</span>
            <input
              type="text"
              name="address[first_name]"
              class="customer__form__input"
              value="{{ form.first_name }}"
              autocomplete="given-name"
              placeholder="{{ 'general.form.first_name' | t }}"
              required
            >

            <input
              type="text"
              name="address[last_name]"
              class="customer__form__input"
              value="{{ form.last_name }}"
              autocomplete="family-name"
              placeholder="{{ 'general.form.last_name' | t }}"
              required
            >

            <input
              type="text"
              name="address[zip]"
              class="customer__form__input"
              value="{{ form.company }}"
              autocomplete="organization"
              placeholder="{{ 'general.form.company' | t }}"
            >

            <input
              type="text"
              name="address[address1]"
              class="customer__form__input"
              value="{{ form.address1 }}"
              autocomplete="address-line1"
              placeholder="{{ 'general.form.address1' | t }}"
              required
            >

            <input
              type="text"
              name="address[address2]"
              class="customer__form__input"
              value="{{ form.address2 }}"
              autocomplete="address-line2"
              placeholder="{{ 'general.form.address2' | t }}"
            >

            <input
              type="text"
              name="address[city]"
              class="customer__form__input"
              value="{{ form.city }}"
              autocomplete="address-level2"
              placeholder="{{ 'general.form.city' | t }}"
              required
            >

            <select
              type="select"
              name="address[country]"
              class="customer__form__input"
              data-address-country-select
              data-default="{{ form.country }}"
              autocomplete="country"
              required
            >
              {{ all_country_option_tags }}
            </select>

            <select
              type="select"
              name="address[province]"
              class="customer__form__input"
              data-address-province-select
              data-default="{{ form.province }}"
              autocomplete="address-level1"
            ></select>

            <input
              type="text"
              name="address[zip]"
              class="customer__form__input"
              value="{{ form.zip }}"
              autocapitalize="characters"
              autocomplete="postal-code"
              placeholder="{{ 'general.form.zip' | t }}"
              required
            >

            <input
              type="tel"
              name="address[phone]"
              class="customer__form__input"
              value="{{ form.phone }}"
              autocomplete="tel"
              placeholder="{{ 'general.form.phone' | t }}"
            >

            <div>
              {{ form.set_as_default_checkbox }}
              <label for="address_default_address_new">{{ 'general.form.set_default_address' | t }}</label>
            </div>
            <div class="buttons">
              <button class="button button--primary border" id="customer__popup__add-address__add-button" type="submit">
                {{ 'customer.addresses.new_address_form_add_address_button' | t }}
              </button>
              <button
                class="button button--secondary border"
                id="customer__popup__add-address__cancel-button"
                type="reset"
              >
                {{ 'customer.addresses.new_address_form_cancel_button' | t }}
              </button>
            </div>
          {%- endform -%}
        </div>
      </div>
    </customer-popup>
    {%- paginate customer.addresses by 4 -%}
      <div class="customer-addresses__addresses-list">
        <!-- ANCHOR: Address -->
        {%- for address in customer.addresses -%}
          <div class="customer-addresses__address">
            <div class="customer-addresses__address__container">
              {%- if address == customer.default_address -%}
                <h6>{{ 'customer.addresses.default_address' | t }}</h6>
              {% else %}
                <h6>
                  {{ 'customer.addresses.address' | t }}
                  {{ forloop.index | plus: paginate.current_offset }}
                </h6>
              {%- endif -%}

              <span>{{ address | format_address }}</span>
              <customer-popup>
                <div class="customer-addresses__buttons">
                  <button
                    type="button"
                    class="button--link underline"
                    id="customer__popup__add-address__button"
                  >
                    {{ 'customer.addresses.edit' | t }}
                  </button>

                  <form
                    method="post"
                    action="/account/addresses/{{ address.id }}"
                    onsubmit="return confirm('Are you sure you wish to delete this address?');"
                  >
                    <input type="hidden" name="_method" value="delete">
                    <button
                      type="submit"
                      class="button--link underline"
                    >
                      {{ 'customer.addresses.delete' | t }}
                    </button>
                  </form>
                </div>

                <div class="customer__popup hidden" id="customer__popup__add-address__form">
                  <div class="customer__popup__container">
                    <div class="customer__popup-icon" id="customer__popup__add-address__close-icon">
                      {% render 'snippet-icons', icon: 'close' %}
                    </div>
                    {%- form 'customer_address', address, class: 'customer__form' -%}
                      <div class="customer__form__content">
                        <input
                          class="customer__form__input"
                          type="text"
                          name="address[first_name]"
                          value="{{ form.first_name }}"
                          autocomplete="given-name"
                          placeholder="{{ 'general.form.first_name' | t }}"
                        >

                        <input
                          class="customer__form__input"
                          type="text"
                          name="address[last_name]"
                          value="{{ form.last_name }}"
                          autocomplete="family-name"
                          placeholder="{{ 'general.form.last_name' | t }}"
                        >

                        <input
                          class="customer__form__input"
                          type="text"
                          name="address[company]"
                          value="{{ form.company }}"
                          autocomplete="organization"
                          placeholder="{{ 'general.form.company' | t }}"
                        >

                        <input
                          class="customer__form__input"
                          type="text"
                          name="address[address1]"
                          value="{{ form.address1 }}"
                          autocomplete="address-line1"
                          placeholder="{{ 'general.form.address1' | t }}"
                        >

                        <input
                          class="customer__form__input"
                          type="text"
                          name="address[address2]"
                          value="{{ form.address2 }}"
                          autocomplete="address-line2"
                          placeholder="{{ 'general.form.address2' | t }}"
                        >

                        <input
                          class="customer__form__input"
                          type="text"
                          name="address[city]"
                          value="{{ form.city }}"
                          autocomplete="address-level2"
                          placeholder="{{ 'general.form.city' | t }}"
                        >

                        <select
                          class="customer__form__input"
                          name="address[country]"
                          data-address-country-select
                          data-default="{{ form.country }}"
                          autocomplete="country"
                        >
                          {{ all_country_option_tags }}
                        </select>

                        <select
                          class="customer__form__input"
                          name="address[province]"
                          data-address-province-select
                          data-default="{{ form.province }}"
                          autocomplete="address-level1"
                        ></select>

                        <input
                          class="customer__form__input"
                          type="text"
                          name="address[zip]"
                          value="{{ form.zip }}"
                          autocapitalize="characters"
                          autocomplete="postal-code"
                          placeholder="{{ 'general.form.zip' | t }}"
                        >

                        <input
                          class="customer__form__input"
                          type="tel"
                          name="address[phone]"
                          value="{{ form.phone }}"
                          autocomplete="tel"
                          placeholder="{{ 'general.form.phone' | t }}"
                        >
                      </div>
                      <div class="">
                        {{ form.set_as_default_checkbox }}
                        <span>{{ 'general.form.set_default_address' | t }}</span>
                      </div>

                      <div class="buttons">
                        <button
                          class="button button--primary border"
                        >
                          {{ 'customer.addresses.update_address_form_update_address_button' | t }}
                        </button>
                        <button
                          class="button button--secondary border"
                          type="reset"
                          id="customer__popup__add-address__cancel-button"
                        >
                          {{ 'customer.addresses.update_address_form_cancel_button' | t }}
                        </button>
                      </div>
                    {%- endform -%}
                  </div>
                </div>
              </customer-popup>
            </div>
          </div>
        {%- endfor -%}
        {% render 'snippet-pagination', paginate: paginate %}
      </div>
    {%- endpaginate -%}
  </div>
</div>
{% schema %}
{
  "name": "Customer addresses",
  "settings": [
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.section_settings.top_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.section_settings.bottom_space",
      "default": 0
    }
  ]
}
{% endschema %}
