{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .customer.{{ section.id }} {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .customer.{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="customer {{ section.id }}">
  <div class="customer__container" style="gap: 4rem;">
    <div class="customer-order__title">
      <h2>Order {{ order.name }}</h2>
      {%- assign order_date = order.created_at | time_tag: format: 'date_at_time' -%}
      <span>Placed on {{ order_date }}</span>
      {%- if order.cancelled -%}
        {%- assign cancelled_at = order.cancelled_at | time_tag: format: 'date_at_time' -%}
        <span>Order Cancelled on {{ cancelled_at }}. Reason: {{ order.cancel_reason_label }}</span>
      {%- endif -%}
    </div>

    <div class="customer-order__table--main">
      <div class="customer-order__table__head">
        <span><h6>Product</h6></span>
        <span><h6>Total</h6></span>
      </div>

      {%- for line_item in order.line_items -%}
        <div class="customer-order__table__body">
          {%- if line_item.url != blank -%}
            <span>
              <span class="customer-order__table__product">
                <div class="customer-order__table__product__picture media">
                  {% render 'snippet-image'; image: line_item.product.featured_image, style: 'fit' %}
                </div>
                <div class="customer-order__table__product__details">
                  <a class="customer-order__table__product__title" href="{{ line_item.url }}">
                    {{- line_item.product.title -}}
                  </a>
                  <div class="customer-order__table__product__variant secondary-text ">
                    {{ line_item.variant.title }}
                  </div>
                  <div class="customer-order__table__product__variant secondary-text ">
                    Quantity: {{ line_item.quantity }}
                  </div>
                </div>
              </span>
            </span>

            >
          {%- else -%}
            <span>{{ line_item.title }}</span>
          {%- endif -%}
          {%- assign property_size = line_item.properties | size -%}
          {%- unless line_item.selling_plan_allocation == null and property_size == 0 -%}
            {%- unless line_item.product.has_only_default_variant -%}
              <span>
                {{ line_item.variant.title }}
              </span>
            {%- endunless -%}
            {%- unless line_item.selling_plan_allocation == null -%}
              <span>
                {{ line_item.selling_plan_allocation.selling_plan.name }}
              </span>
            {%- endunless -%}
          {%- endunless -%}

          <span>{{ line_item.original_line_price | money }}</span>
        </div>
      {%- endfor -%}
    </div>

    <div class="customer-order__table--vertical">
      <div class="customer-order__table--vertical__head">
        <span>Subtotal</span>

        {%- for shipping_method in order.shipping_methods -%}
          <span> Shipping</span>
        {%- endfor -%}

        <span><h6>Total</h6></span>
      </div>

      <div class="customer-order__table--vertical__body">
        <span> {{ order.line_items_subtotal_price | money }}</span>

        {%- for shipping_method in order.shipping_methods -%}
          <span> {{ shipping_method.price | money }}</span>
        {%- endfor -%}

        <span>
          <h6>{{ order.total_price | money_with_currency }}</h6>
        </span>
      </div>
    </div>

    <div class="customer-order__table--address__container">
      <div class="customer-order__table--address">
        <div class="billing-address">
          <h6>Billing Address</h6>
          <div>
            <span>Payment Status: {{ order.financial_status_label }}</span>
            <span>{{ order.billing_address | format_address }}</span>
          </div>
        </div>
        <div class="shipping-address">
          <h6>Shipping Address</h6>
          <div>
            <span>Fulfillment status: {{ order.fulfillment_status_label }}</span>
            <span> {{ order.shipping_address | format_address }}</span>
          </div>
        </div>
      </div>
    </div>
    <a href="{{ routes.account_url }}" class="button--link">Return to Account page</a>
  </div>
</div>

{% schema %}
{
  "name": "Customer order",
  "class": "section-customer-login",
  "settings": [
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    }
  ]
}
{% endschema %}
