{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .customer.{{ section.id }} {
    padding-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .customer.{{ section.id }} {
      padding-top: {{ section.settings.top_space }}px;
      padding-bottom: {{ section.settings.bottom_space }}px;
    }
  }
{%- endstyle -%}

<div class="customer customer-login {{ section.id }}">
  <div class="customer__container" id="recover_page">
    <h2 class="customer__form__title">{{ 'customer.reset_password.title' | t }}</h2>
    <p>{{ 'customer.reset_password.description' | t }}</p>

    {%- form 'recover_customer_password', class: 'customer__form' -%}
      {%- if form.errors -%}
        <div class="customer__form__errors-list__item">
          <div>
            <span> ⚠ </span>
            <span>{{ form.errors.messages.form }}</span>
          </div>
        </div>
      {%- endif -%}
      {% assign recover_success = form.posted_successfully? %}
      <div class="customer__form__content">
        <input
          type="email"
          value=""
          name="email"
          autocorrect="off"
          autocapitalize="off"
          autocomplete="email"
          placeholder="{{ 'customer.reset_password.email_field' | t }}"
          class="customer__form__input"
          required
        >
      </div>
      <div class="buttons">
        <button class="button button--primary border">{{ 'customer.reset_password.recover_button' | t }}</button>
      </div>
    {%- endform -%}
    <div class="customer__form__link">
      <a id="login" class="small underline">{{- 'customer.reset_password.back_to_login_button' | t -}}</a>
    </div>
  </div>
  <div class="customer__container" id="login_page">
    <h2 class="customer__form__title">{{ 'customer.login.title' | t }}</h2>
    <span>{{ 'customer.login.description' | t }}</span>

    {%- form 'customer_login', class: 'customer__form' -%}
      {%- if recover_success == true -%}
        <div class="customer__form__success">
          <span>{{ 'customer.login.success' | t }}</span>
        </div>
      {%- endif -%}
      {%- if form.errors -%}
        <div class="customer__form__errors-list">
          {%- for field in form.errors -%}
            <div class="customer__form__errors-list__item">
              <span> ⚠ </span>
              <span>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                {%- endif -%}
              </span>
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="customer__form__content">
        <input
          type="email"
          name="customer[email]"
          autocomplete="email"
          autocorrect="off"
          autocapitalize="off"
          placeholder="{{ 'customer.form.email' | t }}"
          class="customer__form__input"
          required
        >

        {%- if form.password_needed -%}
          <input
            type="password"
            value=""
            name="customer[password]"
            autocomplete="current-password"
            placeholder="{{ 'customer.form.password' | t }}"
            class="customer__form__input"
            required
          >
        {%- endif -%}

        <div class="customer__form__button buttons">
          <button class="button button--primary border">{{ 'customer.login.login_button' | t }}</button>
        </div>
      </div>
    {%- endform -%}

    <div class="customer__form__links">
      <div class="customer__form__link">
        <span class="small">{{ 'customer.login.reset_label' | t }}</span>
        <a id="recover" class="small underline">{{ 'customer.login.reset_button' | t }}</a>
      </div>
      <div class="customer__form__link">
        <span class="small">{{ 'customer.login.register_label' | t }}</span>
        <a href="{{ routes.account_register_url }}" class="small underline">
          {{- 'customer.login.register_button' | t -}}
        </a>
      </div>
    </div>
  </div>

  {%- if shop.checkout.guest_login -%}
    <div class="customer__form__link">
      <span>{{ 'customer.login.continue_button' | t }}</span>
      {%- form 'guest_login' -%}
        <button class="button--link">{{- 'customer.login.continue_button' | t -}}</button>
      {%- endform -%}
    </div>
  {%- endif -%}
</div>

<script>
  if (window.location.hash === '#recover') {
    document.querySelector('#recover_page').classList.add('active');
  } else {
    document.querySelector('#login_page').classList.add('active');
  }
  document.querySelectorAll('.customer__form__link a').forEach((button) => {
    button.addEventListener('click', () => {
      if (button.id == 'recover') {
        document.querySelector('#recover_page').classList.add('active');
        document.querySelector('#login_page').classList.remove('active');
        window.location.hash = '#recover';
      } else if (button.id == 'login') {
        document.querySelector('#recover_page').classList.remove('active');
        document.querySelector('#login_page').classList.add('active');
        window.location.hash = '';
      }
    });
  });
</script>
{% schema %}
{
  "name": "Customer login",
  "settings": [
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom space",
      "default": 0
    }
  ]
}
{% endschema %}
