{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .customer.{{ section.id }} {
    padding-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .customer.{{ section.id }} {
      padding-top: {{ section.settings.top_space }}px;
      padding-bottom: {{ section.settings.bottom_space }}px;
    }
  }
{%- endstyle -%}

<div class="customer {{ section.id }}">
  <div class="customer__container" style="gap: 4rem;">
    <div class="customer-order__title">
      <h2>
        {{ 'customer.order.title' | t }}
        {{ order.name }}
      </h2>
      {%- assign order_date = order.created_at | time_tag: format: 'date_at_time' -%}
      <span>
        {{ 'customer.order.description' | t }}
        {{ order_date -}}
      </span>
      {%- if order.cancelled -%}
        {%- assign cancelled_at = order.cancelled_at | time_tag: format: 'date_at_time' -%}
        <span>
          {{ 'customer.order.cancellation_date' | t }}
          {{ cancelled_at }}. {{ 'customer.order.cancellation_reason' | t }}
          {{ order.cancel_reason_label }}
        </span>
      {%- endif -%}
    </div>

    <div class="customer-order__table--main">
      <div class="customer-order__table__head">
        <span>
          <h6>{{ 'customer.order.product' | t }}</h6>
        </span>
        <span>
          <h6>{{ 'customer.order.total' | t }}</h6>
        </span>
      </div>

      {%- for line_item in order.line_items -%}
        <div class="customer-order__table__body">
          {%- if line_item.url != blank -%}
            <span>
              <span class="customer-order__table__product">
                <div class="customer-order__table__product__picture media">
                  {%- assign image = line_item.variant.featured_image -%}
                  {%- assign widths = '70, 80, 90, 100' -%}
                  {%- assign width = '100' -%}
                  {{
                    image
                    | image_url: width: width
                    | image_tag:
                      loading: 'lazy',
                      class: 'cover',
                      alt: image.alt,
                      width: image.width,
                      height: image.height,
                      widths: widths
                  }}
                </div>
                <div class="customer-order__table__product__details">
                  <a class="customer-order__table__product__title" href="{{ line_item.url }}">
                    {{- line_item.product.title -}}
                  </a>
                  <div class="customer-order__table__product__variant secondary-text ">
                    {{ line_item.variant.title }}
                  </div>
                  <div class="customer-order__table__product__variant secondary-text ">
                    {{ 'customer.order.quantity' | t }}
                    {{ line_item.quantity }}
                  </div>
                  {%- if line_item.line_level_discount_allocations != blank -%}
                    {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                      <div class="discount-tag">
                        {%- render 'snippet-icons', icon: 'discount' %}
                        <span>
                          {{ discount_allocation.discount_application.title }} (-
                          {{- discount_allocation.amount | money -}}
                          )
                        </span>
                      </div>
                    {%- endfor -%}
                  {%- endif -%}
                </div>
              </span>
            </span>
          {%- else -%}
            <span>{{ line_item.title }}</span>
          {%- endif -%}
          {%- assign property_size = line_item.properties | size -%}
          {%- unless line_item.selling_plan_allocation == null and property_size == 0 -%}
            {%- unless line_item.product.has_only_default_variant -%}
              <span>
                {{ line_item.variant.title }}
              </span>
            {%- endunless -%}
            {%- unless line_item.selling_plan_allocation == null -%}
              <span>
                {{ line_item.selling_plan_allocation.selling_plan.name }}
              </span>
            {%- endunless -%}
          {%- endunless -%}

          <div class="customer-order__table__prices">
            <p class="price--actual {% if line_item.original_line_price > line_item.final_line_price or line_item.final_line_price == 0 or line_item.variant.compare_at_price > line_item.variant.price %}price--discounted{% endif %}">
              {%- if line_item.final_line_price == 0 -%}
                {{ 'customer.order.free' | t }}
              {%- else -%}
                {{- line_item.final_line_price | money -}}
              {%- endif -%}
            </p>
            <p class="price--compare-at">
              {%- if line_item.original_line_price > line_item.final_line_price -%}
                {{- line_item.original_line_price | money -}}
              {%- else -%}
                {{- line_item.variant.compare_at_price | times: line_item.quantity | money -}}
              {%- endif -%}
            </p>
          </div>
        </div>
      {%- endfor -%}
    </div>

    <div class="customer-order__table--vertical">
      <div>
        <span>{{ 'customer.order.subtotal' | t }}</span>
        <span>{{ order.line_items_subtotal_price | money }}</span>
      </div>
      {%- if cart.cart_level_discount_applications != blank -%}
        {%- for discount_application in cart.cart_level_discount_applications -%}
          <div>
            <span>
              {{ 'customer.order.discount' | t }} ({{ discount_application.title -}}
              )
            </span>
            <span>
              -
              {{- discount_application.total_allocated_amount | money -}}
            </span>
          </div>
        {%- endfor -%}
      {%- endif -%}
      <div>
        {%- for shipping_method in order.shipping_methods -%}
          <span>{{ 'customer.order.shipping' | t }}</span>
        {%- endfor -%}
        {%- for shipping_method in order.shipping_methods -%}
          <span> {{ shipping_method.price | money }}</span>
        {%- endfor -%}
      </div>
      <div>
        <h6>{{ 'customer.order.total' | t }}</h6>
        <h6>{{ order.total_price | money_with_currency }}</h6>
      </div>
    </div>

    <div class="customer-order__table--address__container">
      <div class="customer-order__table--address">
        <div class="billing-address">
          <h6>{{ 'customer.order.billing_address' | t }}</h6>
          <div>
            <span>
              {{ 'customer.order.payment_status' | t }}
              {{ order.financial_status_label -}}
            </span>
            <span>{{ order.billing_address | format_address }}</span>
          </div>
        </div>
        <div class="shipping-address">
          <h6>{{ 'customer.order.shipping_address' | t }}</h6>
          <div>
            <span>
              {{ 'customer.order.fulfillment_status' | t }}
              {{ order.fulfillment_status_label -}}
            </span>
            <span> {{ order.shipping_address | format_address }}</span>
          </div>
        </div>
      </div>
    </div>
    <a href="{{ routes.account_url }}" class="button--link underline">
      {{- 'customer.order.return_link' | t -}}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Customer order",
  "settings": [
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom space",
      "default": 0
    }
  ]
}
{% endschema %}
