{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .customer.{{ section.id }} {
    padding-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .customer.{{ section.id }} {
      padding-top: {{ section.settings.top_space }}px;
      padding-bottom: {{ section.settings.bottom_space }}px;
    }
  }
{%- endstyle -%}

<div class="customer {{ section.id }}">
  <div class="customer__container">
    <h2 class="customer__form__title">{{ 'customer.register.title' | t }}</h2>
    <span>{{ 'customer.register.description' | t }}</span>
    {%- form 'create_customer', class: 'customer__form' -%}
      {%- if form.errors -%}
        <div class="customer__form__errors-list">
          {%- for field in form.errors -%}
            <div class="customer__form__errors-list__item">
              <span> ⚠ </span>
              <span>
                {%- if field == 'form' -%}
                  {{ form.errors.messages[field] }}
                {%- else -%}
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                {%- endif -%}
              </span>
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}

      <div class="customer__form__content">
        <input
          type="text"
          name="customer[first_name]"
          {% if form.first_name %}
            value="{{ form.first_name }}"
          {% endif %}
          autocomplete="given-name"
          placeholder="{{ 'customer.form.first_name' | t }}"
          class="customer__form__input"
        >
        <input
          type="text"
          name="customer[last_name]"
          {% if form.last_name %}
            value="{{ form.last_name }}"
          {% endif %}
          autocomplete="family-name"
          placeholder="{{ 'customer.form.last_name' | t }}"
          class="customer__form__input"
        >
        <input
          type="email"
          name="customer[email]"
          {% if form.email %}
            value="{{ form.email }}"
          {% endif %}
          spellcheck="false"
          autocapitalize="off"
          autocomplete="email"
          placeholder="{{ 'customer.form.email' | t }}"
          class="customer__form__input {% if form.errors contains 'email' %}error{% endif %}"
          required
        >
        <input
          type="password"
          name="customer[password]"
          placeholder="{{ 'customer.form.password' | t }}"
          class="customer__form__input {% if form.errors contains 'password' %}error{% endif %}"
          required
        >

        <div class="customer__form__button buttons">
          <button type="submit" class="button button--primary border">{{ 'customer.register.button' | t }}</button>
        </div>
      </div>
    {%- endform -%}
    <div class="customer__form__link">
      <span class="small">{{ 'customer.register.link_label' | t }}</span>
      <a href="{{ routes.account_login_url }}" class="small underline">{{ 'customer.register.link' | t }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Customer register",
  "settings": [
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom space",
      "default": 0
    }
  ]
}
{% endschema %}
