{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .customer.{{ section.id }} {
    padding-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .customer.{{ section.id }} {
      padding-top: {{ section.settings.top_space }}px;
      padding-bottom: {{ section.settings.bottom_space }}px;
    }
  }
{%- endstyle -%}

<div class="customer {{ section.id }}">
  <div class="customer__container">
    <div class="page-tabs">
      <a href="{{ routes.account_url }}" class="page-tab selected"> Orders</a>
      <a href="{{ routes.account_addresses_url }}" class="page-tab">Addresses</a>
      <a href="{{ routes.account_logout_url }}" class="page-tab">Logout</a>
    </div>

    <h2 class="customer-table__title">Order history</h2>

    {% paginate customer.orders by 20 %}
      {% if customer.orders.size > 0 %}
        <table class="customer-table desktop-tablet">
          <thead>
            <tr>
              <th>Order number</th>
              <th>Date</th>
              <th>Payment status</th>
              <th>Fulfillment status</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {%- for order in customer.orders -%}
              <tr>
                <td>
                  <a
                    href="{{ order.customer_url }}"
                    class="small underline"
                  >
                    {{ order.name }}
                  </a>
                </td>
                <td>
                  {{ order.created_at | time_tag: format: 'date' }}
                </td>
                <td>
                  {{ order.financial_status_label }}
                </td>
                <td>
                  {{ order.fulfillment_status_label }}
                </td>
                <td>
                  {{ order.total_price | money_with_currency }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <table class="customer-table mobile">
          {%- for order in customer.orders -%}
            <tr>
              <th>Order number</th>
              <td>
                <a
                  href="{{ order.customer_url }}"
                  class="small underline"
                >
                  {{ order.name }}
                </a>
              </td>
            </tr>
            <tr>
              <th>Date</th>
              <td>
                {{ order.created_at | time_tag: format: 'date' }}
              </td>
            </tr>
            <tr>
              <th>Payment status</th>
              <td>
                {{ order.financial_status_label }}
              </td>
            </tr>
            <tr>
              <th>Fulfillment status</th>
              <td>
                {{ order.fulfillment_status_label }}
              </td>
            </tr>
            <tr>
              <th>Total</th>
              <td>
                {{ order.total_price | money_with_currency }}
              </td>
            </tr>
          {% endfor %}
        </table>
      {%- else -%}
        <span>You have no orders</span>
        <div class="buttons">
          <a
            href="{{ routes.all_products_collection_url }}"
            class="button button--primary border"
            >Make your first order</a
          >
        </div>
      {% endif %}
      {% render 'snippet-pagination', paginate: paginate %}
    {% endpaginate %}
  </div>
</div>

{% schema %}
{
  "name": "Customer account",
  "class": "section-customer-login",
  "settings": [
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom space",
      "default": 0
    }
  ]
}
{% endschema %}
