{% style %}
  .header__content {
    background-color: {{ section.settings.header_background_color }};
   }

  .menu__parent-title {
    color: {{ section.settings.content_color }};
  }

  @media screen and (min-width: 1024px) {
      {%- if section.settings.menu_layout == "logo_first_navigation_inline" -%}
      .header__menu {
              width: 100%;
      }
      .header__logo {
              max-width: 250px;
      }
      {%- endif -%}

      {%- if section.settings.menu_layout == "drawer" -%}
        .header__menu {
               flex-grow: 1;
        }
      {%- endif -%}
      .header__menu__content  {
          {%- if section.settings.menu_layout == "logo_first_navigation_inline" -%}
              padding: 0px 2rem;
              width: 100%;
              justify-content: flex-start;
          {%- else -%}
              justify-content: center;
          {%- endif -%}
      }

      {%- if section.settings.menu_layout == "drawer" -%}
          .header__logo {
              justify-content: center;
          }
      {%- endif -%}

      {% if section.settings.menu_layout == "navigation_first" or section.settings.menu_layout == "drawer" %}
          .header__logo {
              order: 2;
              justify-content: center;
          }
          .header__menu {
              order: 1;
          }
          .header__menu > * {
                justify-content: flex-start;
          }
      {%- elsif section.settings.menu_layout == "logo_first" -%}
          .header__logo {
              order: 1;
              justify-content: flex-start;
          }
          .header__menu {
              order: 2;
          }
      {%- endif -%}
  }
{% endstyle %}

<section class="header">
  <div class="header__content">
    <div class="header__logo">
      <a href="/" class="header__logo-container">
        {% if section.settings.logo_type == 'svg' %}
          {% if section.settings.logo_svg == blank %}
            <p style="text-transform: uppercase; font-size: 1.2rem; font-weight: bold; text-align: center;">
              {{ shop.name }}
            </p>
          {% else %}
            {{ section.settings.logo_svg }}
          {% endif %}
        {% elsif section.settings.logo_type == 'image' %}
          {% if section.settings.logo_image == blank %}
            <p style="text-transform: uppercase; font-size: 1.2rem; font-weight: bold; text-align: center;">
              {{ shop.name }}
            </p>
          {% else %}
            <img
              srcset="{{ section.settings.logo_image | image_url }}"
              loading="lazy"
              alt="{{ section.settings.logo_image | escape }}"
              width="{{ section.settings.logo_image.width }}"
              height="{{ section.settings.logo_image.height }}"
              class="full"
            >
          {% endif %}
        {% endif %}
      </a>
    </div>
    <div class="header__menu">
      <menu-mobile>
        <openable-element class="active">
          <div class="menu-mobile">
            <div class="menu-mobile__container">
              <div class="menu-mobile__head">
                <div class="menu-mobile__title">
                  <h6>Menu</h6>
                </div>
                <div id="close-icon">
                  {% render 'icons', icon: 'close' %}
                </div>
              </div>
              <div class="menu-mobile__content">
                <div class="menu-mobile__parents">
                  {% for menu_parent in section.settings.menu.links %}
                    <div class="menu-mobile__parent">
                      <div class="menu-mobile__parent-title">
                        <h6>
                          {{ menu_parent.title }}
                        </h6>
                        {% if menu_parent.links.size > 0 %}
                          <div class="svg">
                            <svg
                              width="8"
                              height="5"
                              viewBox="0 0 8 5"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M1 1L4.25787 3.25787L7.51575 1" stroke="white" stroke-width="1.5"/>
                            </svg>
                          </div>
                        {% endif %}
                      </div>
                      <div class="menu-mobile__parent-childs {% if menu_parent.links.size > 0 %}border{% endif %}">
                        {% for menu_child in menu_parent.links %}
                          {% assign menu_child_title = menu_child.title
                            | downcase
                            | remove: ' '
                            | remove: '\'
                            | remove: '!'
                            | remove: '@'
                            | remove: '£'
                            | remove: '$'
                            | remove: '%'
                            | remove: '^'
                            | remove: '&'
                            | remove: '*'
                            | remove: '('
                            | remove: ')'
                            | remove: '-'
                            | remove: '+'
                            | remove: '='
                            | remove: '{'
                            | remove: '}'
                            | remove: ':'
                            | remove: '|'
                            | remove: '\'
                            | remove: '<'
                            | remove: '>'
                            | remove: ','
                            | remove: '.'
                            | remove: '?'
                            | remove: '~'
                            | remove: '`'
                            | remove: '\'
                            | remove: '/'
                          -%}
                          {% for block in section.blocks %}
                            {% if block.settings.tab_title == menu_child_title %}
                              <div class="menu__child-icon media">
                                {% if block.settings.tab_icon_type == 'svg' %}
                                  {% if block.settings.tab_icon_svg == blank %}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  {% else %}
                                    {{ block.settings.tab_icon_svg }}
                                  {% endif %}
                                {% elsif block.settings.tab_icon_type == 'image' %}
                                  {% if block.settings.tab_icon_image == blank %}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  {% else %}
                                    <img
                                      srcset="{{ block.settings.tab_icon_image | image_url }}"
                                      loading="lazy"
                                      alt="{{ block.settings.tab_icon_image | escape }}"
                                      width="{{ block.settings.tab_icon_image.width }}"
                                      height="{{ block.settings.tab_icon_image.height }}"
                                      class="full"
                                    >
                                  {% endif %}
                                {% endif %}
                              </div>
                            {% endif %}
                          {% endfor %}

                          <div class="menu-mobile__child">
                            <div class="menu-mobile__child-title">
                              {% comment %}
                                 <svg
                                  width="64"
                                  height="65"
                                  viewBox="0 0 64 65"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                >
                                  <path fill-rule="evenodd" clip-rule="evenodd" d="M26.5203 15.3614C24.4492 15.3614 22.7703 17.0403 22.7703 19.1114V45.8887C22.7703 47.9597 24.4492 49.6387 26.5203 49.6387H37.4798C39.5509 49.6387 41.2298 47.9597 41.2298 45.8887V19.1114C41.2298 17.0403 39.5509 15.3614 37.4798 15.3614H26.5203ZM24.2703 19.1114C24.2703 17.8687 25.2776 16.8614 26.5203 16.8614H37.4798C38.7224 16.8614 39.7298 17.8687 39.7298 19.1114V45.8887C39.7298 47.1313 38.7224 48.1387 37.4798 48.1387H26.5203C25.2776 48.1387 24.2703 47.1313 24.2703 45.8887V19.1114ZM27.27 18.0279C26.3035 18.0279 25.52 18.8114 25.52 19.7779V23.7518C25.52 24.7183 26.3035 25.5018 27.27 25.5018H31.119C32.0855 25.5018 32.869 24.7183 32.869 23.7518V19.7779C32.869 18.8114 32.0855 18.0279 31.119 18.0279H27.27ZM27.02 19.7779C27.02 19.6398 27.1319 19.5279 27.27 19.5279H31.119C31.257 19.5279 31.369 19.6398 31.369 19.7779V23.7518C31.369 23.8899 31.257 24.0018 31.119 24.0018H27.27C27.1319 24.0018 27.02 23.8899 27.02 23.7518V19.7779Z" fill="white"/>
                                </svg>
                              {% endcomment %}
                              <p class="text">{{ menu_child.title }}</p>
                              {% if menu_child.links.size > 0 %}
                                <svg
                                  width="8"
                                  height="9"
                                  viewBox="0 0 8 9"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="svg"
                                >
                                  <path d="M1 5.36346L4.25787 7.62134L7.51575 5.36346" stroke="white" stroke-width="1.5"/>
                                  <path d="M1 1L4.25787 3.25787L7.51575 1" stroke="white" stroke-width="1.5"/>
                                </svg>
                              {% endif %}
                            </div>
                            <div class="menu-mobile__child-childs {% if menu_child.links.size > 0 %}border{% endif %}">
                              {% for menu_grandchild in menu_child.links %}
                                <p class="menu-mobile__grandchild-title">
                                  {{ menu_grandchild.title }}
                                </p>
                              {% endfor %}
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="menu-mobile__account">
                <svg width="165" height="61" viewBox="0 0 165 61" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <circle cx="12" cy="7.25574" r="2.5" stroke="white" stroke-width="1.5"/>
                  <path d="M4.75 13.75H19.25V19.25H4.75V13.75Z" stroke="white" stroke-width="1.5"/>
                  <path d="M44.824 18H52.28V16.976H46.008V6.8H44.824V18ZM57.3209 18.08C59.7849 18.08 61.5929 16.288 61.5929 13.792C61.5929 11.296 59.7849 9.52 57.3209 9.52C54.8569 9.52 53.0329 11.296 53.0329 13.792C53.0329 16.288 54.8569 18.08 57.3209 18.08ZM57.3209 17.072C55.5289 17.072 54.1849 15.76 54.1849 13.792C54.1849 11.824 55.5289 10.512 57.3209 10.512C59.1129 10.512 60.4409 11.824 60.4409 13.792C60.4409 15.76 59.1129 17.072 57.3209 17.072ZM70.6161 9.584V11.2C69.9121 10.096 68.6961 9.52 67.2881 9.52C64.8881 9.52 63.0641 11.168 63.0641 13.584C63.0641 16 64.8881 17.68 67.2881 17.68C68.6641 17.68 69.8641 17.12 70.5681 16.048V17.12C70.5681 19.2 69.5921 20.176 67.4641 20.176C66.1681 20.176 64.9521 19.744 64.1521 19.024L63.5761 19.888C64.4561 20.72 65.9601 21.184 67.4961 21.184C70.2801 21.184 71.7041 19.872 71.7041 16.976V9.584H70.6161ZM67.4001 16.672C65.5441 16.672 64.2161 15.408 64.2161 13.584C64.2161 11.76 65.5441 10.512 67.4001 10.512C69.2561 10.512 70.6001 11.76 70.6001 13.584C70.6001 15.408 69.2561 16.672 67.4001 16.672ZM75.4569 7.744C75.9369 7.744 76.2889 7.376 76.2889 6.912C76.2889 6.48 75.9209 6.128 75.4569 6.128C74.9929 6.128 74.6249 6.496 74.6249 6.928C74.6249 7.376 74.9929 7.744 75.4569 7.744ZM74.8809 18H76.0169V9.584H74.8809V18ZM83.4658 9.52C82.0098 9.52 80.8738 10.112 80.2658 11.136V9.584H79.1778V18H80.3138V13.584C80.3138 11.664 81.4498 10.544 83.2578 10.544C84.8578 10.544 85.7858 11.456 85.7858 13.232V18H86.9218V13.12C86.9218 10.704 85.5138 9.52 83.4658 9.52Z" fill="white"/>
                  <circle cx="12" cy="44.2557" r="2.5" stroke="white" stroke-width="1.5"/>
                  <path d="M4.75 50.75H19.25V56.25H4.75V50.75Z" stroke="white" stroke-width="1.5"/>
                  <path d="M49.688 55.096C51.336 55.096 52.808 54.536 53.8 53.448L53.048 52.696C52.136 53.64 51.016 54.04 49.736 54.04C47.032 54.04 45 52.056 45 49.4C45 46.744 47.032 44.76 49.736 44.76C51.016 44.76 52.136 45.16 53.048 46.088L53.8 45.336C52.808 44.248 51.336 43.704 49.704 43.704C46.328 43.704 43.832 46.12 43.832 49.4C43.832 52.68 46.328 55.096 49.688 55.096ZM57.172 48.232V46.584H56.084V55H57.22V50.712C57.22 48.728 58.292 47.608 60.052 47.608C60.132 47.608 60.228 47.624 60.324 47.624V46.52C58.772 46.52 57.7 47.112 57.172 48.232ZM69.6468 50.792C69.6468 48.264 67.9348 46.52 65.5668 46.52C63.1988 46.52 61.4548 48.296 61.4548 50.792C61.4548 53.288 63.2468 55.08 65.8708 55.08C67.1988 55.08 68.3668 54.6 69.1188 53.704L68.4788 52.968C67.8388 53.704 66.9268 54.072 65.9028 54.072C64.0628 54.072 62.7188 52.904 62.5908 51.144H69.6308C69.6308 51.016 69.6468 50.888 69.6468 50.792ZM65.5668 47.496C67.2148 47.496 68.4148 48.648 68.5588 50.296H62.5908C62.7348 48.648 63.9348 47.496 65.5668 47.496ZM74.6686 46.52C73.3406 46.52 72.0926 46.936 71.2446 47.656L71.7566 48.504C72.4446 47.896 73.4686 47.512 74.5566 47.512C76.1246 47.512 76.9406 48.296 76.9406 49.736V50.248H74.2686C71.8526 50.248 71.0206 51.336 71.0206 52.632C71.0206 54.088 72.1886 55.08 74.0926 55.08C75.4846 55.08 76.4766 54.552 76.9886 53.688V55H78.0766V49.784C78.0766 47.608 76.8446 46.52 74.6686 46.52ZM74.2686 54.184C72.9246 54.184 72.1406 53.576 72.1406 52.6C72.1406 51.736 72.6686 51.096 74.3006 51.096H76.9406V52.472C76.4926 53.576 75.5486 54.184 74.2686 54.184ZM85.1941 53.672C84.8741 53.96 84.4101 54.104 83.9461 54.104C83.0021 54.104 82.4901 53.56 82.4901 52.568V47.544H85.0501V46.584H82.4901V44.744H81.3541V46.584H79.8501V47.544H81.3541V52.632C81.3541 54.184 82.2341 55.08 83.8181 55.08C84.4741 55.08 85.1461 54.888 85.5941 54.488L85.1941 53.672ZM94.7093 50.792C94.7093 48.264 92.9973 46.52 90.6293 46.52C88.2613 46.52 86.5173 48.296 86.5173 50.792C86.5173 53.288 88.3093 55.08 90.9333 55.08C92.2613 55.08 93.4293 54.6 94.1813 53.704L93.5413 52.968C92.9013 53.704 91.9893 54.072 90.9653 54.072C89.1253 54.072 87.7812 52.904 87.6533 51.144H94.6933C94.6933 51.016 94.7093 50.888 94.7093 50.792ZM90.6293 47.496C92.2773 47.496 93.4773 48.648 93.6213 50.296H87.6533C87.7973 48.648 88.9973 47.496 90.6293 47.496ZM104.153 46.52C102.825 46.52 101.577 46.936 100.729 47.656L101.241 48.504C101.929 47.896 102.953 47.512 104.041 47.512C105.609 47.512 106.425 48.296 106.425 49.736V50.248H103.753C101.337 50.248 100.505 51.336 100.505 52.632C100.505 54.088 101.673 55.08 103.577 55.08C104.969 55.08 105.961 54.552 106.473 53.688V55H107.561V49.784C107.561 47.608 106.329 46.52 104.153 46.52ZM103.753 54.184C102.409 54.184 101.625 53.576 101.625 52.6C101.625 51.736 102.153 51.096 103.785 51.096H106.425V52.472C105.977 53.576 105.033 54.184 103.753 54.184ZM114.166 55.08C115.59 55.08 116.79 54.504 117.462 53.416L116.614 52.84C116.038 53.688 115.142 54.072 114.166 54.072C112.326 54.072 110.982 52.776 110.982 50.792C110.982 48.824 112.326 47.512 114.166 47.512C115.142 47.512 116.038 47.912 116.614 48.76L117.462 48.184C116.79 47.08 115.59 46.52 114.166 46.52C111.654 46.52 109.83 48.28 109.83 50.792C109.83 53.304 111.654 55.08 114.166 55.08ZM123.041 55.08C124.465 55.08 125.665 54.504 126.337 53.416L125.489 52.84C124.913 53.688 124.017 54.072 123.041 54.072C121.201 54.072 119.857 52.776 119.857 50.792C119.857 48.824 121.201 47.512 123.041 47.512C124.017 47.512 124.913 47.912 125.489 48.76L126.337 48.184C125.665 47.08 124.465 46.52 123.041 46.52C120.529 46.52 118.705 48.28 118.705 50.792C118.705 53.304 120.529 55.08 123.041 55.08ZM131.868 55.08C134.332 55.08 136.14 53.288 136.14 50.792C136.14 48.296 134.332 46.52 131.868 46.52C129.404 46.52 127.58 48.296 127.58 50.792C127.58 53.288 129.404 55.08 131.868 55.08ZM131.868 54.072C130.076 54.072 128.732 52.76 128.732 50.792C128.732 48.824 130.076 47.512 131.868 47.512C133.66 47.512 134.988 48.824 134.988 50.792C134.988 52.76 133.66 54.072 131.868 54.072ZM144.907 46.584V51C144.907 52.92 143.803 54.056 142.043 54.056C140.443 54.056 139.515 53.144 139.515 51.352V46.584H138.379V51.464C138.379 53.88 139.787 55.08 141.931 55.08C143.275 55.08 144.363 54.488 144.955 53.464V55H146.043V46.584H144.907ZM153.513 46.52C152.057 46.52 150.921 47.112 150.313 48.136V46.584H149.225V55H150.361V50.584C150.361 48.664 151.497 47.544 153.305 47.544C154.905 47.544 155.833 48.456 155.833 50.232V55H156.969V50.12C156.969 47.704 155.561 46.52 153.513 46.52ZM164.085 53.672C163.765 53.96 163.301 54.104 162.837 54.104C161.893 54.104 161.381 53.56 161.381 52.568V47.544H163.941V46.584H161.381V44.744H160.245V46.584H158.741V47.544H160.245V52.632C160.245 54.184 161.125 55.08 162.709 55.08C163.365 55.08 164.037 54.888 164.485 54.488L164.085 53.672Z" fill="white"/>
                </svg>
              </div>
            </div>
          </div>
        </openable-element>
      </menu-mobile>
      <menu-desktop class="header__menu__content {% if section.settings.menu_layout == 'drawer' %}hidden{% endif %}">
        {% for menu_parent in section.settings.menu.links %}
          {% assign menu_parent_title = menu_parent.title
            | downcase
            | remove: ' '
            | remove: '\'
            | remove: '!'
            | remove: '@'
            | remove: '£'
            | remove: '$'
            | remove: '%'
            | remove: '^'
            | remove: '&'
            | remove: '*'
            | remove: '('
            | remove: ')'
            | remove: '-'
            | remove: '+'
            | remove: '='
            | remove: '{'
            | remove: '}'
            | remove: ':'
            | remove: '|'
            | remove: '\'
            | remove: '<'
            | remove: '>'
            | remove: ','
            | remove: '.'
            | remove: '?'
            | remove: '~'
            | remove: '`'
            | remove: '\'
            | remove: '/'
          -%}

          <div class="menu__parent menu_parent_title--{{ menu_parent_title }}">
            <a
              class="menu__parent-title {% if menu_parent.links.size > 0 %}filled{% endif %}"
              href="{{ menu_parent.url }}"
            >
              {{- menu_parent.title }}
            </a>

            {% if menu_parent.links.size > 0 %}
              <div class="menu__dropdown menu_parent_title--{{ menu_parent_title }}">
                <div class="menu__dropdown-wrapper">
                  <div class="menu__dropdown-content">
                    <div class="menu__childs menu_parent_title--{{ menu_parent_title }}">
                      {% for menu_child in menu_parent.links %}
                        {% assign menu_child_title = menu_child.title
                          | downcase
                          | remove: ' '
                          | remove: '\'
                          | remove: '!'
                          | remove: '@'
                          | remove: '£'
                          | remove: '$'
                          | remove: '%'
                          | remove: '^'
                          | remove: '&'
                          | remove: '*'
                          | remove: '('
                          | remove: ')'
                          | remove: '-'
                          | remove: '+'
                          | remove: '='
                          | remove: '{'
                          | remove: '}'
                          | remove: ':'
                          | remove: '|'
                          | remove: '\'
                          | remove: '<'
                          | remove: '>'
                          | remove: ','
                          | remove: '.'
                          | remove: '?'
                          | remove: '~'
                          | remove: '`'
                          | remove: '\'
                          | remove: '/'
                        -%}

                        <div class="menu__child {% if menu_child.links.size > 0 %}filled{% endif %}">
                          {% if menu_child.links.size > 0 %}
                            {% style %}
                              .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                width: 600px;
                              }
                              .menu__childs.menu_parent_title--{{ menu_parent_title }} {
                                border-right: 1px solid white;
                              }
                              {% if section.settings.menu_layout == 'navigation_first' %}
                                @media screen and (max-width: 1440px) {
                                  .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                  width: 600px;
                                  transform: translateX(-50%) translateY(-10%);
                                  left: 50%;
                                  }

                                  .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                    transform: translateX(-50%) translateY(0%);
                                  }
                                }
                              {% else %}
                                 .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                  width: 600px;
                                  transform: translateX(-50%) translateY(-10%);
                                  left: 50%;
                                  }
                                  .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                    transform: translateX(-50%) translateY(0%);
                                  }
                              {% endif %}
                            {% endstyle %}
                          {% endif %}
                          {% for block in section.blocks %}
                            {% if block.settings.tab_title == menu_child_title %}
                              <div class="menu__child-icon media">
                                {% if block.settings.tab_icon_type == 'svg' %}
                                  {% if block.settings.tab_icon_svg == blank %}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  {% else %}
                                    {{ block.settings.tab_icon_svg }}
                                  {% endif %}
                                {% elsif block.settings.tab_icon_type == 'image' %}
                                  {% if block.settings.tab_icon_image == blank %}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  {% else %}
                                    <img
                                      srcset="{{ block.settings.tab_icon_image | image_url }}"
                                      loading="lazy"
                                      alt="{{ block.settings.tab_icon_image | escape }}"
                                      width="{{ block.settings.tab_icon_image.width }}"
                                      height="{{ block.settings.tab_icon_image.height }}"
                                      class="full"
                                    >
                                  {% endif %}
                                {% endif %}
                              </div>
                            {% endif %}
                          {% endfor %}
                          {% if menu_child.title contains '~' %}
                            {% assign splittedChildTitle = menu_child.title | split: '~' %}
                            {% style %}
                              .menu__child-title.menu_child_title--{{ menu_child_title }}.tag--animated-hover:after {
                                content: "{{ splittedChildTitle[1] | truncate: 10 }}";
                                margin-left: 0.3rem;
                                color: var(--primary-button-background-color);
                              }

                              .menu__parent.menu_parent_title--{{ menu_parent_title }} {
                                    display: flex;
                                    flex-direction: row;
                              }

                              .menu__parent.menu_parent_title--{{ menu_parent_title }}:before {
                                content: " ";
                                background-color: var(--primary-button-background-color);
                                width: 7px;
                                height: 7px;
                                border-radius: 50%;
                                animation: blink 1s linear infinite;
                                color: var(--primary-button-background-color);
                                padding-right: 0.2rem;
                              }
                            {% endstyle %}
                            <a
                              class="menu__child-title menu_child_title--{{ menu_child_title }} tag--animated-hover"
                              href="{{ menu_child.url }}"
                            >
                              {{ splittedChildTitle[0] }}
                            </a>
                          {% else %}
                            <a
                              class="menu__child-title menu_child_title--{{ menu_child_title }}"
                              href="{{ menu_child.url }}"
                            >
                              {{ menu_child.title }}
                            </a>
                          {% endif %}

                          <div class="menu__grandchilds menu_parent_title--{{ menu_parent_title }}">
                            {% for menu_grandchild in menu_child.links %}
                              {% if menu_grandchild.title contains '~' %}
                                {% assign splittedGrandChildTitle = menu_grandchild.title | split: '~' %}
                                {% style %}
                                  .menu__grandchild.menu_parent_title--{{ menu_parent_title }}.tag--animated-hover:after {
                                    content: "{{ splittedGrandChildTitle[1] | truncate: 10 }}";
                                    margin-left: 0.3rem;
                                    color: var(--primary-button-background-color);
                                  }

                                  .menu__parent.menu_parent_title--{{ menu_parent_title }}, .menu__child-title.menu_child_title--{{ menu_child_title }} {
                                        display: flex;
                                        flex-direction: row;
                                  }

                                  .menu__parent.menu_parent_title--{{ menu_parent_title }}:before, .menu__child-title.menu_child_title--{{ menu_child_title }}:before {
                                    content: " ";
                                    background-color: var(--primary-button-background-color);
                                    width: 7px;
                                    height: 7px;
                                    border-radius: 50%;
                                    animation: blink 1s linear infinite;
                                    color: var(--primary-button-background-color);
                                    padding-right: 0.2rem;
                                  }
                                {% endstyle %}
                                <a
                                  class="menu__grandchild menu_parent_title--{{ menu_parent_title }} tag--animated-hover"
                                  href="{{ menu_grandchild.url }}"
                                >
                                  {{ splittedGrandChildTitle[0] }}
                                </a>
                              {% else %}
                                <a class="menu__grandchild" href="{{ menu_grandchild.url }}">
                                  {{ menu_grandchild.title }}
                                </a>
                              {% endif %}
                            {% endfor %}
                          </div>
                          {% if menu_child.links.size > 0 %}
                            {% style %}
                              .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                width: 600px !important;
                              }
                            {% endstyle %}
                          {% endif %}
                          {% for block in section.blocks %}
                            {% if block.settings.tab_title == menu_child.title %}
                              {% if block.settings.show_tab_picture == true %}
                                {% style %}
                                    .menu__childs.menu_parent_title--{{ menu_parent_title }} {
                                      border-right: 1px solid white;
                                    }
                                  {% if menu_child.links.size > 0 %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 1200px !important;
                                    }
                                    .menu__grandchilds.menu_parent_title--{{ menu_parent_title }} {
                                      border-right: 1px solid white;
                                    }
                                    .menu__content.menu_parent_title--{{ menu_parent_title }} {
                                      transform: translateX(150%);
                                    }
                                  {% else %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 900px !important;
                                    }
                                    .menu__content.menu_parent_title--{{ menu_parent_title }} {
                                      transform: translateX(100%);
                                    }
                                  {% endif %}

                                  {% if section.settings.menu_layout == 'navigation_first' %}
                                    @media screen and (max-width: 1440px) {
                                      .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                        width: 600px;
                                        transform: translateX(-50%) translateY(-10%);
                                        left: 50%;
                                      }
                                      .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                        transform: translateX(-50%) translateY(0%);
                                      }
                                    }
                                  {% else %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 600px;
                                      transform: translateX(-50%) translateY(-10%);
                                      left: 50%;
                                      }
                                      .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                        transform: translateX(-50%) translateY(0%);
                                      }
                                  {% endif %}
                                {% endstyle %}

                                <div class="menu__content menu_parent_title--{{ menu_parent_title }}">
                                  <div class="menu__picture media">
                                    {% if block.settings.tab_content_type == 'svg' %}
                                      {% if block.settings.tab_content_svg == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        {{ block.settings.tab_content_svg }}
                                      {% endif %}
                                    {% elsif block.settings.tab_content_type == 'image' %}
                                      {% if block.settings.tab_content_image == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        <img
                                          srcset="{{ block.settings.tab_content_image | image_url }}"
                                          loading="lazy"
                                          alt="{{ block.settings.tab_content_image | escape }}"
                                          width="{{ block.settings.tab_content_image.width }}"
                                          height="{{ block.settings.tab_content_image.height }}"
                                          class="full"
                                        >
                                      {% endif %}
                                    {% endif %}
                                  </div>
                                  <p class="menu__description">
                                    {{ block.settings.tab_description }}
                                  </p>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </menu-desktop>
      <a class="header__icons-drawer {% if section.settings.menu_layout != 'drawer' %}hidden{% endif %}">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.86839 7.22668L3.11839 7.22668L3.11839 8.72668L3.86839 8.72668L3.86839 7.22668ZM20.1316 8.72669C20.5458 8.72669 20.8816 8.3909 20.8816 7.97669C20.8816 7.56247 20.5458 7.22669 20.1316 7.22669L20.1316 8.72669ZM3.86839 8.72668L20.1316 8.72669L20.1316 7.22669L3.86839 7.22668L3.86839 8.72668Z" fill="{{ section.settings.content_color }}"/>
          <path d="M3.75321 16.0291C3.75115 12.0986 3.74908 8.16839 3.75049 4.23804H20.25V4.27102V4.30661V4.3422V4.37779V4.41338V4.44897V4.48456V4.52015V4.55574V4.59133V4.62692V4.66251V4.6981V4.73369V4.76928V4.80487V4.84046V4.87605V4.91164V4.94723V4.98282V5.01841V5.054V5.08959V5.12518V5.16077V5.19636V5.23195V5.26754V5.30313V5.33872V5.37431V5.4099V5.44549V5.48108V5.51667V5.55226V5.58785V5.62344V5.65903V5.69462V5.73021V5.7658V5.80139V5.83698V5.87257V5.90816V5.94375V5.97934V6.01493V6.05052V6.08611V6.1217V6.15729V6.19288V6.22847V6.26406V6.29965V6.33524V6.37083V6.40642V6.44201V6.4776V6.51319V6.54878V6.58437V6.61996V6.65555V6.69114V6.72673V6.76232V6.79791V6.8335V6.86909V6.90468V6.94027V6.97586V7.01145V7.04704V7.08263V7.11822V7.15381V7.1894V7.22499V7.26058V7.29617V7.33176V7.36735V7.40294V7.43853V7.47412V7.50971V7.5453V7.58089V7.61648V7.65207V7.68766V7.72325V7.75884V7.79443V7.83002V7.86561V7.9012V7.93679V7.97238V8.00797V8.04356V8.07915V8.11474V8.15033V8.18592V8.22151V8.2571V8.29269V8.32828V8.36387V8.39946V8.43505V8.47064V8.50623V8.54182V8.57741V8.613V8.64859V8.68418V8.71977V8.75536V8.79095V8.82654V8.86213V8.89772V8.93331V8.9689V9.00449V9.04008V9.07567V9.11126V9.14685V9.18244V9.21803V9.25362V9.28921V9.3248V9.36039V9.39598V9.43157V9.46716V9.50275V9.53834V9.57393V9.60952V9.64511V9.6807V9.71629V9.75188V9.78747V9.82306V9.85865V9.89424V9.92983V9.96542V10.001V10.0366V10.0722V10.1078V10.1434V10.179V10.2146V10.2501V10.2857V10.3213V10.3569V10.3925V10.4281V10.4637V10.4993V10.5349V10.5705V10.606V10.6416V10.6772V10.7128V10.7484V10.784V10.8196V10.8552V10.8908V10.9264V10.9619V10.9975V11.0331V11.0687V11.1043V11.1399V11.1755V11.2111V11.2467V11.2823V11.3178V11.3534V11.389V11.4246V11.4602V11.4958V11.5314V11.567V11.6026V11.6382V11.6737V11.7093V11.7449V11.7805V11.8161V11.8517V11.8873V11.9229V11.9585V11.9941V12.0296V12.0652V12.1008V12.1364V12.172V12.2076V12.2432V12.2788V12.3144V12.35V12.3855V12.4211V12.4567V12.4923V12.5279V12.5635V12.5991V12.6347V12.6703V12.7059V12.7414V12.777V12.8126V12.8482V12.8838V12.9194V12.955V12.9906V13.0262V13.0618V13.0973V13.1329V13.1685V13.2041V13.2397V13.2753V13.3109V13.3465V13.3821V13.4177V13.4532V13.4888V13.5244V13.56V13.5956V13.6312V13.6668V13.7024V13.738V13.7736V13.8091V13.8447V13.8803V13.9159V13.9515V13.9871V14.0227V14.0583V14.0939V14.1295V14.165V14.2006V14.2362V14.2718V14.3074V14.343V14.3786V14.4142V14.4498V14.4854V14.5209V14.5565V14.5921V14.6277V14.6633V14.6989V14.7345V14.7701V14.8057V14.8413V14.8768V14.9124V14.948V14.9836V15.0192V15.0548V15.0904V15.126V15.1616V15.1972V15.2327V15.2683V15.3039V15.3395V15.3751V15.4107V15.4463V15.4819V15.5175V15.5531V15.5886V15.6242V15.6598V15.6954V15.731V15.7666V15.8022V15.8378V15.8734V15.909V15.9445V15.9801V16.0157V16.0513V16.0869V16.1225V16.1581V16.1937V16.2293V16.2649V16.3004V16.336V16.3716V16.4072V16.4428V16.4784V16.514V16.5496V16.5852V16.6208V16.6563V16.6919V16.7275V16.7631V16.7987V16.8343V16.8699V16.9055V16.9411V16.9767V17.0122V17.0478V17.0834V17.119V17.1546V17.1902V17.2258V17.2614V17.297V17.3326V17.3681V17.4037V17.4393V17.4749V17.5105V17.5461V17.5817V17.6173V17.6529V17.6885V17.724V17.7596V17.7952V17.8308V17.8664V17.902V17.9376V17.9732V18.0088V18.0444V18.0799V18.1155V18.1511V18.1867V18.2223V18.2579V18.2935V18.3291V18.3647V18.4003V18.4358V18.4714V18.507V18.5426V18.5782V18.6138V18.6494V18.685V18.7206V18.7562V18.7917V18.8273V18.8629V18.8985V18.9341V18.9697V19.0053V19.0409V19.0765V19.1121V19.1476V19.1832V19.2188V19.2544V19.29V19.3256V19.3612V19.3968V19.4324V19.468V19.5035V19.5391V19.5747V19.6103V19.6459V19.6815V19.7171V19.7527V19.7883V19.8239V19.8594V19.895V19.9306V19.9662V20.0018V20.0374V20.073V20.1086V20.1442V20.1798V20.2153V20.2509V20.2865V20.3221V20.3577V20.3933V20.4289V20.4645V20.5001V20.5357V20.5712V20.6068V20.6424V20.678V20.7136V20.7492V20.7848V20.8204V20.856V20.8916V20.9271V20.9601H20.2268H20.1917H20.1565H20.1214H20.0862H20.0511H20.0159H19.9808H19.9456H19.9105H19.8754H19.8402H19.8051H19.7699H19.7348H19.6996H19.6645H19.6293H19.5942H19.559H19.5239H19.4888H19.4536H19.4185H19.3833H19.3482H19.313H19.2779H19.2427H19.2076H19.1725H19.1373H19.1022H19.067H19.0319H18.9967H18.9616H18.9264H18.8913H18.8562H18.821H18.7859H18.7507H18.7156H18.6804H18.6453H18.6101H18.575H18.5398H18.5047H18.4696H18.4344H18.3993H18.3641H18.329H18.2938H18.2587H18.2235H18.1884H18.1533H18.1181H18.083H18.0478H18.0127H17.9775H17.9424H17.9072H17.8721H17.8369H17.8018H17.7667H17.7315H17.6964H17.6612H17.6261H17.5909H17.5558H17.5206H17.4855H17.4504H17.4152H17.3801H17.3449H17.3098H17.2746H17.2395H17.2043H17.1692H17.1341H17.0989H17.0638H17.0286H16.9935H16.9583H16.9232H16.888H16.8529H16.8177H16.7826H16.7475H16.7123H16.6772H16.642H16.6069H16.5717H16.5366H16.5014H16.4663H16.4312H16.396H16.3609H16.3257H16.2906H16.2554H16.2203H16.1851H16.15H16.1148H16.0797H16.0446H16.0094H15.9743H15.9391H15.904H15.8688H15.8337H15.7985H15.7634H15.7283H15.6931H15.658H15.6228H15.5877H15.5525H15.5174H15.4822H15.4471H15.412H15.3768H15.3417H15.3065H15.2714H15.2362H15.2011H15.1659H15.1308H15.0956H15.0605H15.0254H14.9902H14.9551H14.9199H14.8848H14.8496H14.8145H14.7793H14.7442H14.7091H14.6739H14.6388H14.6036H14.5685H14.5333H14.4982H14.463H14.4279H14.3927H14.3576H14.3225H14.2873H14.2522H14.217H14.1819H14.1467H14.1116H14.0764H14.0413H14.0062H13.971H13.9359H13.9007H13.8656H13.8304H13.7953H13.7601H13.725H13.6899H13.6547H13.6196H13.5844H13.5493H13.5141H13.479H13.4438H13.4087H13.3735H13.3384H13.3033H13.2681H13.233H13.1978H13.1627H13.1275H13.0924H13.0572H13.0221H12.987H12.9518H12.9167H12.8815H12.8464H12.8112H12.7761H12.7409H12.7058H12.6707H12.6355H12.6004H12.5652H12.5301H12.4949H12.4598H12.4246H12.3895H12.3543H12.3192H12.2841H12.2489H12.2138H12.1786H12.1435H12.1083H12.0732H12.038H12.0029H11.9678H11.9326H11.8975H11.8623H11.8272H11.792H11.7569H11.7217H11.6866H11.6514H11.6163H11.5812H11.546H11.5109H11.4757H11.4406H11.4054H11.3703H11.3351H11.3H11.2649H11.2297H11.1946H11.1594H11.1243H11.0891H11.054H11.0188H10.9837H10.9486H10.9134H10.8783H10.8431H10.808H10.7728H10.7377H10.7025H10.6674H10.6322H10.5971H10.562H10.5268H10.4917H10.4565H10.4214H10.3862H10.3511H10.3159H10.2808H10.2457H10.2105H10.1754H10.1402H10.1051H10.0699H10.0348H9.99964H9.96449H9.92935H9.8942H9.85906H9.82391H9.78877H9.75362H9.71848H9.68334H9.64819H9.61305H9.5779H9.54276H9.50761H9.47247H9.43732H9.40218H9.36703H9.33189H9.29674H9.2616H9.22645H9.19131H9.15616H9.12102H9.08587H9.05073H9.01558H8.98044H8.94529H8.91015H8.875H8.83986H8.80471H8.76957H8.73442H8.69928H8.66413H8.62899H8.59384H8.5587H8.52355H8.48841H8.45326H8.41812H8.38297H8.34783H8.31268H8.27754H8.24239H8.20725H8.1721H8.13696H8.10182H8.06667H8.03153H7.99638H7.96124H7.92609H7.89095H7.8558H7.82066H7.78551H7.75037H7.71522H7.68008H7.64493H7.60979H7.57464H7.5395H7.50435H7.46921H7.43406H7.39892H7.36377H7.32863H7.29348H7.25834H7.22319H7.18805H7.1529H7.11776H7.08261H7.04747H7.01232H6.97718H6.94203H6.90689H6.87174H6.8366H6.80145H6.76631H6.73116H6.69602H6.66087H6.62573H6.59059H6.55544H6.5203H6.48515H6.45001H6.41486H6.37972H6.34457H6.30943H6.27428H6.23914H6.20399H6.16885H6.1337H6.09856H6.06341H6.02827H5.99312H5.95798H5.92283H5.88769H5.85254H5.8174H5.78225H5.74711H5.71196H5.67682H5.64167H5.60653H5.57138H5.53624H5.50109H5.46595H5.4308H5.39566H5.36051H5.32537H5.29022H5.25508H5.21993H5.18479H5.14964H5.1145H5.07936H5.04421H5.00907H4.97392H4.93878H4.90363H4.86849H4.83334H4.7982H4.76305H4.72791H4.69276H4.65762H4.62247H4.58733H4.55218H4.51704H4.48189H4.44675H4.4116H4.37646H4.34131H4.30617H4.27102H4.23588H4.20073H4.16559H4.13044H4.0953H4.06015H4.02501H3.98986H3.95472H3.91957H3.88443H3.84928H3.81414H3.77899H3.75555C3.75494 19.3164 3.75408 17.6727 3.75321 16.0291Z" stroke="{{ section.settings.content_color }}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.1791 7.97668L10.1791 7.22668L8.67908 7.22668L8.67908 7.97668L10.1791 7.97668ZM8.67908 20.7367C8.67908 21.1509 9.01486 21.4867 9.42908 21.4867C9.84329 21.4867 10.1791 21.1509 10.1791 20.7367L8.67908 20.7367ZM8.67908 7.97668L8.67908 20.7367L10.1791 20.7367L10.1791 7.97668L8.67908 7.97668Z" fill="{{ section.settings.content_color }}"/>
        </svg>
      </a>
    </div>
    <div class="header__icons">
      <a class="header__icons-search" id="header__search-icon">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.5056 15.9884L19.9986 19.4813" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
          <circle cx="11.6255" cy="11.1234" r="6.37717" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
        </svg>
      </a>

      {% if section.settings.menu_layout != 'drawer' %}
        <a href="/account/" class="header__icons-account">
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="7.75574" r="2.5" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
            <path d="M4.75 14.25H19.25V19.75H4.75V14.25Z" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
          </svg>
        </a>
      {% endif %}

      <a class="header__icons-cart">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20 7.73963H18.1L16.7475 6H7.25248L5.9 7.73963H4L6.51867 4.5H17.4813L20 7.73963ZM13.8578 10.553C13.8578 11.4638 13.0774 12.2926 12 12.2926C10.9224 12.2926 10.1418 11.4636 10.1418 10.553H8.64178C8.64178 12.3425 10.1453 13.7926 12 13.7926C13.8547 13.7926 15.3578 12.3425 15.3578 10.553H13.8578ZM4.00003 20.6981H5.50003H18.5H20V19.1981V9.23963V7.73963H18.5H5.50003H4.00003V9.23963V19.1981V20.6981ZM18.5 9.23963V19.1981H18.4688H18.4375H18.4063H18.375H18.3438H18.3125H18.2813H18.25H18.2188H18.1875H18.1563H18.125H18.0938H18.0625H18.0313H18H17.9688H17.9375H17.9063H17.875H17.8438H17.8125H17.7813H17.75H17.7188H17.6875H17.6563H17.625H17.5938H17.5625H17.5313H17.5H17.4688H17.4375H17.4063H17.375H17.3438H17.3125H17.2813H17.25H17.2188H17.1875H17.1563H17.125H17.0938H17.0625H17.0313H17H16.9688H16.9375H16.9063H16.875H16.8438H16.8125H16.7813H16.75H16.7188H16.6875H16.6563H16.625H16.5938H16.5625H16.5313H16.5H16.4688H16.4375H16.4063H16.375H16.3438H16.3125H16.2813H16.25H16.2188H16.1875H16.1563H16.125H16.0938H16.0625H16.0313H16H15.9688H15.9375H15.9063H15.875H15.8438H15.8125H15.7813H15.75H15.7188H15.6875H15.6563H15.625H15.5938H15.5625H15.5313H15.5H15.4688H15.4375H15.4063H15.375H15.3438H15.3125H15.2813H15.25H15.2188H15.1875H15.1563H15.125H15.0938H15.0625H15.0313H15H14.9688H14.9375H14.9063H14.875H14.8438H14.8125H14.7813H14.75H14.7188H14.6875H14.6563H14.625H14.5938H14.5625H14.5313H14.5H14.4688H14.4375H14.4063H14.375H14.3438H14.3125H14.2813H14.25H14.2188H14.1875H14.1563H14.125H14.0938H14.0625H14.0313H14H13.9688H13.9375H13.9063H13.875H13.8438H13.8125H13.7813H13.75H13.7188H13.6875H13.6563H13.625H13.5938H13.5625H13.5313H13.5H13.4688H13.4375H13.4063H13.375H13.3438H13.3125H13.2813H13.25H13.2188H13.1875H13.1563H13.125H13.0938H13.0625H13.0313H13H12.9688H12.9375H12.9063H12.875H12.8438H12.8125H12.7813H12.75H12.7188H12.6875H12.6563H12.625H12.5938H12.5625H12.5313H12.5H12.4688H12.4375H12.4063H12.375H12.3438H12.3125H12.2813H12.25H12.2188H12.1875H12.1563H12.125H12.0938H12.0625H12.0313H12H11.9688H11.9375H11.9063H11.875H11.8438H11.8125H11.7813H11.75H11.7188H11.6875H11.6563H11.625H11.5938H11.5625H11.5313H11.5H11.4688H11.4375H11.4063H11.375H11.3438H11.3125H11.2813H11.25H11.2188H11.1875H11.1563H11.125H11.0938H11.0625H11.0313H11H10.9688H10.9375H10.9063H10.875H10.8438H10.8125H10.7813H10.75H10.7188H10.6875H10.6563H10.625H10.5938H10.5625H10.5313H10.5H10.4688H10.4375H10.4063H10.375H10.3438H10.3125H10.2813H10.25H10.2188H10.1875H10.1563H10.125H10.0938H10.0625H10.0313H10H9.96878H9.93753H9.90628H9.87503H9.84378H9.81253H9.78128H9.75003H9.71878H9.68753H9.65628H9.62503H9.59378H9.56253H9.53128H9.50003H9.46878H9.43753H9.40628H9.37503H9.34378H9.31253H9.28128H9.25003H9.21878H9.18753H9.15628H9.12503H9.09378H9.06253H9.03128H9.00003H8.96878H8.93753H8.90628H8.87503H8.84378H8.81253H8.78128H8.75003H8.71878H8.68753H8.65628H8.62503H8.59378H8.56253H8.53128H8.50003H8.46878H8.43753H8.40628H8.37503H8.34378H8.31253H8.28128H8.25003H8.21878H8.18753H8.15628H8.12503H8.09378H8.06253H8.03128H8.00003H7.96878H7.93753H7.90628H7.87503H7.84378H7.81253H7.78128H7.75003H7.71878H7.68753H7.65628H7.62503H7.59378H7.56253H7.53128H7.50003H7.46878H7.43753H7.40628H7.37503H7.34378H7.31253H7.28128H7.25003H7.21878H7.18753H7.15628H7.12503H7.09378H7.06253H7.03128H7.00003H6.96878H6.93753H6.90628H6.87503H6.84378H6.81253H6.78128H6.75003H6.71878H6.68753H6.65628H6.62503H6.59378H6.56253H6.53128H6.50003H6.46878H6.43753H6.40628H6.37503H6.34378H6.31253H6.28128H6.25003H6.21878H6.18753H6.15628H6.12503H6.09378H6.06253H6.03128H6.00003H5.96878H5.93753H5.90628H5.87503H5.84378H5.81253H5.78128H5.75003H5.71878H5.68753H5.65628H5.62503H5.59378H5.56253H5.53128H5.50003L5.50003 9.23963H18.5Z" fill="{{ section.settings.content_color }}"/>
        </svg>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Header",
  "class": "section-header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "select",
      "id": "logo_type",
      "label": "Logo type",
      "options": [
        {
          "value": "svg",
          "label": "Svg"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "svg",
      "info": "It is highly recommended to use svg logo instead of jpeg/png logo to get the best quality"
    },
    {
      "type": "liquid",
      "id": "logo_svg",
      "label": "Logo - svg",
      "info": "Applicable only if logo type is svg"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo - image",
      "info": "Applicable only if logo type is image"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_layout",
      "label": "Layout",
      "options": [
        {
          "value": "logo_first",
          "label": "Logo first, navigation center"
        },
        {
          "value": "logo_first_navigation_inline",
          "label": "Logo first, navigation inline"
        },
        {
          "value": "navigation_first",
          "label": "Navigation first, logo center"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "logo_first",
      "info": "This is for desktop only. Drawer layout will be applied to mobile devices"
    },
    {
      "type": "color",
      "id": "header_background_color",
      "label": "Background color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content color",
      "default": "#fff"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title",
          "info": "Put the title of the tab (menu child) here, exactly like it's shown in the menu. Make sure they are unique and not duplicates. And also respect the uppercase, lowercase and spaces."
        },
        {
          "type": "select",
          "id": "tab_icon_type",
          "label": "Tab icon/image type",
          "options": [
            {
              "value": "svg",
              "label": "svg"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ],
          "default": "svg",
          "info": "It is recommended to use svg icons instead of jpeg/png to get the best quality"
        },
        {
          "type": "liquid",
          "id": "tab_icon_svg",
          "label": "Tab icon - svg",
          "info": "Applicable only if icon type is svg"
        },
        {
          "type": "image_picker",
          "id": "tab_icon_image",
          "label": "Tab icon - image",
          "info": "Applicable only if icon type is image"
        },
        {
          "type": "header",
          "content": "Tab picture"
        },
        {
          "type": "checkbox",
          "id": "show_tab_picture",
          "label": "Show tab picture and description",
          "default": true
        },
        {
          "type": "select",
          "id": "tab_content_type",
          "label": "Tab content image type",
          "options": [
            {
              "value": "svg",
              "label": "svg"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ],
          "default": "svg"
        },
        {
          "type": "liquid",
          "id": "tab_content_svg",
          "label": "Tab content image - svg",
          "info": "Applicable only if image type is svg"
        },
        {
          "type": "image_picker",
          "id": "tab_content_image",
          "label": "Tab content image - image",
          "info": "Applicable only if image type is image"
        },
        {
          "type": "text",
          "id": "tab_description",
          "label": "Tab description",
          "default": "Tab description"
        }
      ]
    }
  ]
}
{% endschema %}
