{%- style -%}
  .{{ section.id }}.logo-list {
    background-color: {{ section.settings.background_color }};
    padding: {{ section.settings.space_outside_elements | divided_by: 2  }}px 0;
  }
  .{{ section.id }}.logo-list > .logo-list__content > .slide {
    animation: logos-scroll {{ section.settings.animation_speed }}s linear infinite;
  }
  .{{ section.id }}.logo-list > .logo-list__content > .slide  > .logo {
    height: {{ section.settings.logo_height }}px;
    padding: 10px {{ section.settings.space_between_elements | divided_by: 2 }}px;
  }
{%- endstyle -%}

<section class="{{ section.id }} logo-list {% if section.settings.inner_shadow == true %}inner-shadow--all inner-shadow--all--left inner-shadow--all--right{% endif %} {% if section.settings.section_width == "wrapped" %} wrapped{% endif %}">
  {% if section.settings.heading != blank %}
    <div class="logo-list__heading">
      <h6>{{ section.settings.heading }}</h6>
    </div>
  {% endif %}
  <div class="logo-list__content">
    {%- capture group -%}
      <div class="slide">
        {% for block in section.blocks %}
          {% if block.settings.logo == blank %}
            {{ 'product-1' | placeholder_svg_tag: 'logo placeholder' }}
          {% elsif block.settings.logo != blank %}
            <img
              srcset="{{ block.settings.logo | image_url }}"
              alt="{{ block.settings.logo.alt | escape }}"
              width="{{ block.settings.logo.width }}"
              height="{{ block.settings.logo.height }}"
              loading="lazy"
              class="logo"
            >
          {% endif %}
        {% endfor %}
      </div>
    {%- endcapture -%}
    {% for i in (1..15) %}
      {{ group }}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Logo list",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Trusted by"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "info": "Desktop only",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "checkbox",
      "id": "inner_shadow",
      "label": "Inner shadows",
      "default": false
    },
    {
      "type": "range",
      "id": "animation_speed",
      "min": 5,
      "max": 60,
      "step": 1,
      "unit": "sec",
      "label": "Animation speed",
      "default": 10
    },
    {
      "type": "range",
      "id": "logo_height",
      "min": 65,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Logo height",
      "default": 80
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "min": 50,
      "max": 120,
      "step": 1,
      "unit": "px",
      "label": "Space between elements",
      "default": 50
    },
    {
      "type": "range",
      "id": "space_outside_elements",
      "label": "Space outside elements",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent"
    }
  ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Logo list",
      "blocks": [
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        }
      ]
    }
  ]
}
{% endschema %}
