{{ 'main-cart.css' | asset_url | stylesheet_tag }}

<div class="cart-page {% if cart.items.size == 0 %}empty-state{% endif %}">
  <div class="cart-page__container">
    <div class="cart-page__head">
      <h2 class="cart-page__title">Cart</h2>
    </div>
    {% if cart.items.size > 0 %}
      <form action="{{ routes.cart_url }}" method="post" id="cart">
        <div class="cart-page__content">
          <div class="cart-page__content-inner">
            <div class="cart-page__content-head">
              <p class="cart-page__content-head__product small">PRODUCT</p>
              <p class="cart-page__content-head__quantity small">QUANTITY</p>
              <p class="cart-page__content-head__price small">PRICE</p>
            </div>
            <div class="cart-page__products">
              {% for item in cart.items %}
                <div class="cart-page__product">
                  <div class="cart-page__product-details">
                    <div class="cart-page__product-picture">
                      <a href="{{ item.url }}" class="cart-drawer__product__image">
                        {% render 'snippet-image'; image: item.image, style: 'full' %}
                      </a>
                    </div>
                    <div class="cart-page__product-info">
                      <div class="cart-page__product-info__inner">
                        <a href="{{ item.url }}" class="cart-page__product-name">{{ item.product.title }}</a>
                        {% if item.options_with_values.size > 1 %}
                          {% for option in item.options_with_values %}
                            <p class="cart-page__product-variant small">{{ option.name }}: {{ option.value }}</p>
                          {% endfor %}
                        {% endif %}
                        {% assign free_shipping_threshold = settings.free_shipping_threshold | times: 1 %}
                        {% if free_shipping_threshold > item.variant.inventory_quantity
                          and item.variant.inventory_quantity != 0
                        %}
                          <p class="cart-page__stock-disclaimer small">
                            {{ item.variant.inventory_quantity }} left in stock
                          </p>
                        {% endif %}
                      </div>
                      <div class="cart-page__product-quantity--mobile">
                        <quantity-field class="quantity" {{ block.shopify_attributes }}>
                          <div class="quantity-field cart" id="quantity-field">
                            <button type="button" class="quantity-field__minus" id="quantity-field__minus">-</button>
                            <input
                              type="quantity"
                              class="quantity-field__input"
                              id="quantity-field__input"
                              name="quantity"
                              min="1"
                              data-variant-id="{{ item.variant_id }}"
                              value="{{ item.quantity }}"
                            >
                            <button type="button" class="quantity-field__plus" id="quantity-field__plus">+</button>
                          </div>
                        </quantity-field>
                      </div>
                    </div>
                  </div>
                  <div class="cart-page__product-quantity--desktop">
                    <quantity-field class="quantity" {{ block.shopify_attributes }}>
                      <div class="quantity-field cart" id="quantity-field">
                        <button type="button" class="quantity-field__minus" id="quantity-field__minus">-</button>
                        <input
                          type="quantity"
                          class="quantity-field__input"
                          id="quantity-field__input"
                          name="quantity"
                          min="1"
                          data-variant-id="{{ item.variant_id }}"
                          value="{{ item.quantity }}"
                        >
                        <button type="button" class="quantity-field__plus" id="quantity-field__plus">+</button>
                      </div>
                      <div data-variant-id="{{ item.variant_id }}" class="quantity-field__product-remove remove">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M8.71678 7.78444V18.6032L17.0342 18.6137V7.7832M8.71678 7.78444H6.21533M8.71678 7.78444H11.0416L13.0369 7.7832L17.0342 7.7832M17.0342 7.7832H19.5292" stroke="white"/>
                          <path d="M9.53809 6.79688H16.2578" stroke="white"/>
                          <path d="M14.3414 16.6045L14.3414 9.88672M11.3965 16.6045L11.3965 9.88672" stroke="white"/>
                        </svg>
                      </div>
                    </quantity-field>
                  </div>
                  <div class="cart-page__product-prices">
                    <p class="cart-page__product-price">{{ item.final_line_price | money }}</p>
                    {% assign compare_at_price = item.variant.compare_at_price | times: item.quantity %}
                    {% if compare_at_price > item.final_line_price %}
                      <p class="cart-page__product-compare-at price--compare-at">
                        {{ compare_at_price | money }}
                      </p>
                    {% endif %}
                    <div data-variant-id="{{ item.variant_id }}" class="quantity-field__product-remove--mobile remove">
                      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.71678 7.78444V18.6032L17.0342 18.6137V7.7832M8.71678 7.78444H6.21533M8.71678 7.78444H11.0416L13.0369 7.7832L17.0342 7.7832M17.0342 7.7832H19.5292" stroke="white"/>
                        <path d="M9.53809 6.79688H16.2578" stroke="white"/>
                        <path d="M14.3414 16.6045L14.3414 9.88672M11.3965 16.6045L11.3965 9.88672" stroke="white"/>
                      </svg>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div
            class="cart-page__interaction"
            {% if section.blocks.size == 0 %}
              style="display: none;"
            {% endif %}
          >
            <div class="shadow-divider"></div>
            <order-note class="cart-page__interaction-inner">
              {% for block in section.blocks %}
                {% case block.type %}
                  {%- when '@app' -%}
                    {% render block %}
                  {%- when 'total-price' -%}
                    <div class="cart-page__interaction-top-text" {{ block.shopify_attributes }}>
                      <h6 class="cart-page__interaction-text">Total</h6>
                      <h6 class="cart-page__total-amount">{{ cart.total_price | money }}</h6>
                    </div>
                  {%- when 'checkout-button' -%}
                    <div class="cart-page__button buttons" {{ block.shopify_attributes }}>
                      <button
                        type="submit"
                        id="checkout"
                        name="checkout"
                        {% if cart == empty %}
                          disabled
                        {% endif %}
                        class="button button--primary border"
                        form="cart"
                      >
                        <span></span> <span></span> <span></span> <span></span>
                        CHECKOUT
                      </button>
                    </div>
                  {%- when 'order-note' -%}
                    <div class="cart-page__interaction-bottom-text" {{ block.shopify_attributes }}>
                      <a class="cart-page__order-note order-note small">Edit order note</a>
                      <p class="cart-page__checkout-disclaimer small">Taxes & shipping calculated at checkout</p>
                    </div>
                    <div class="cart-drawer__note-popup">
                      <div class="cart-drawer__note-popup__content">
                        <div id="note-close-icon">
                          {% render 'snippet-icons', icon: 'close' %}
                        </div>
                        <label for="cart-note">Add an note to your order</label>
                        <textarea name="cart-note" id="cart-note" rows="3" placeholder=""></textarea>
                        <div class="buttons">
                          <a id="cart-note-send" class="button button--primary border"> SAVE </a>
                        </div>
                      </div>
                    </div>
                {% endcase %}
              {% endfor %}
            </order-note>
          </div>
        </div>
      </form>
    {% else %}
      <div class="cart-page__empty-state">
        <p>You cart is empty</p>
        <div class="buttons">
          <a
            class="button button--primary border"
            href="{{ routes.collections_url }}"
          >
            <span></span> <span></span> <span></span> <span></span>
            SHOP NOW
          </a>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Cart",
  "class": "main-cart",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "total-price",
      "name": "Total price"
    },
    {
      "type": "checkout-button",
      "name": "Checkout button"
    },
    {
      "type": "order-note",
      "name": "Order note"
    }
  ]
}
{% endschema %}
