{{ 'main-product.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-product.js' | asset_url }}" defer></script>

{% liquid
  assign mobile_items = 1
  assign tablet_items = 1
  assign desktop_items = 1
%}
{% style %}
   product-page {
      padding-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px !important;
      padding-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px !important;
   }

  @media screen and (min-width: 750px) {
    product-page {
      padding-top: {{ section.settings.top_space }}px;
      padding-bottom: {{ section.settings.bottom_space }}px;
    }
  }

   .product-page-slider__slides-container {
    --mobile-items: {{ mobile_items }};
    --tablet-items: {{ tablet_items }};
    --desktop-items: {{ desktop_items }};
  }
  @media screen and (min-width: 1024px) {
     .prev,
     .next {
      width: 5%;
    }
  }
{% endstyle %}

<div class="product-hidden-images" style="display: none;">
  {% if product.images.size > 0 %}
    {% for image in product.images %}
      <div
        class="item"
        {% if image.alt contains '#color:' %}
          {% assign image_alt = image.alt | split: '#color:' %}
          data-variant-color="{{ image_alt }}"
        {% elsif image.attached_to_variant? %}
          data-attached-to-variant="{{ image.variants[0].title }}"
        {% endif %}
      >
        <div class="item-picture media">
          {%- capture sizes -%}(min-width: 1024px) calc((var(--page-width) - 10rem ) / 2), (min-width: 750px) calc(100vw - 4rem), calc(100vw - 2rem){%- endcapture -%}
          {%- assign widths = '300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900' -%}
          {%- assign width = '900' -%}
          {{
            image
            | image_url: width: width
            | image_tag:
              loading: 'lazy',
              class: 'contain',
              alt: image.alt,
              width: image.width,
              height: image.height,
              sizes: sizes,
              widths: widths
          }}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="item">
      <div class="item-picture">{{ 'product-1' | placeholder_svg_tag: 'placeholder' }}</div>
    </div>
  {% endif %}
</div>
<div class="product-hidden-thumbnails" style="display: none;">
  {% if product.images.size > 0 %}
    {% for thumbnail in product.images %}
      <div
        class="thumbnail"
        {% if thumbnail.alt contains '#color:' %}
          {% assign thumbnail_alt = thumbnail.alt | split: '#color:' %}
          data-variant-color="{{ thumbnail_alt }}"
        {% elsif thumbnail.attached_to_variant? %}
          data-attached-to-variant="{{ thumbnail.variants[0].title }}"
        {% endif %}
      >
        <div class="thumbnail-picture media">
          {%- assign image = thumbnail -%}
          {%- capture sizes -%}(min-width: 1024px) calc(((var(--page-width) - 10rem ) / 2 ) / 6), (min-width: 750px) calc((100vw - 4rem) / 5), calc((100vw - 2rem) / 4){%- endcapture -%}
          {%- assign widths = '60, 70, 80, 90, 100, 110, 120, 130' -%}
          {%- assign width = '130' -%}
          {{
            image
            | image_url: width: width
            | image_tag:
              loading: 'lazy',
              class: 'contain',
              alt: image.alt,
              width: image.width,
              height: image.height,
              sizes: sizes,
              widths: widths
          }}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <div class="thumbnail">
      <div class="thumbnail-picture">
        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
      </div>
    </div>
  {% endif %}
</div>
<div class="product-hidden-payment-methods" style="display: none;">
  <div class="product-page__payment-methods"></div>
</div>

{% assign current_variant = product.selected_or_first_available_variant %}

<product-page reveal-on-scroll class="product-page" data-product="{{ product.id }}">
  <div class="product-page__container">
    {% render 'snippet-breadcrumbs',
      bc1: routes.root_url,
      bc1_text: 'Home',
      bc2: routes.collections_url,
      bc2_text: 'Products',
      bc3: product.url,
      bc3_text: product.title
    %}
    <div class="product-page__content">
      <div class="product-page__pictures">
        <div class="product-page__close">
          {% render 'snippet-icons', icon: 'close' %}
        </div>

        <product-page-slider
          data-mobile-items="{{ mobile_items }}"
          data-tablet-items="{{ tablet_items }}"
          data-desktop-items="{{ desktop_items }}"
          class="{{ section.id }}"
        >
          <div class="product-page-slider {% if section.settings.thumbnails_on_mobile == true %}thumbnails-mobile{% endif %}">
            <div class="prev">
              {% render 'snippet-icons', icon: 'chevron-prev' %}
            </div>
            <div class="product-page-slider__slides-container  {% if section.settings.thumbnails_on_mobile == true %}thumbnails-mobile{% endif %}">
              <div class="zoom-icon">{% render 'snippet-icons', icon: 'zoom-in' %}</div>
              <div class="slide" style="transform: translateX(0px);"></div>
            </div>
            <div class="next">
              {% render 'snippet-icons', icon: 'chevron-next' %}
            </div>
          </div>
          <div
            class="product-page-slider__indicators {% if section.settings.thumbnails_on_mobile == false %}indicators-mobile{% else %}thumbnails-mobile{% endif %}"
          ></div>
          <div class="product-page-slider__thumbnails-container ">
            <div
              class="product-page-slider__thumbnails {% if section.settings.thumbnails_on_mobile == false %}indicators-mobile{% endif %}"
            ></div>
          </div>
        </product-page-slider>
        <div
          class="product-page__pictures-place-protector"
        ></div>
      </div>
      <div class="product-page__info">
        {% form 'product', product, class: 'product-page__form' %}
          {% for block in section.blocks %}
            {% case block.type %}
              {%- when '@app' -%}
                {% render block %}
              {% when 'vendor' %}
                <div class="product-page__vendor" {{ block.shopify_attributes }}>
                  <p>{{ product.vendor }}</p>
                </div>
              {% when 'name' %}
                <div class="product-page__name" {{ block.shopify_attributes }}>
                  <h3>{{ product.title }}</h3>
                </div>
              {% when 'sale_tag' %}
                <div class="product-page__prices" {{ block.shopify_attributes }}>
                  {% assign price_difference_text = 'general.others.sale_text' | t %}
                  {% assign price_difference = current_variant.compare_at_price | minus: current_variant.price %}
                  <div class="product-page__tag">
                    {% if current_variant.available %}
                      {% if price_difference > 0 %}
                        <p class="tag--animated tag-text">
                          {{ price_difference_text }}
                          {{ current_variant.compare_at_price | minus: current_variant.price | money }}
                        </p>
                      {% endif %}
                    {% endif %}
                    {% unless current_variant.available %}
                      <p class="tag--disabled tag-text">{{ 'general.others.sold_out' | t }}</p>
                    {% endunless %}
                  </div>
                </div>
              {% when 'price' %}
                <div class="product-page__prices" {{ block.shopify_attributes }}>
                  <div class="product-page__price">
                    <p class="product-page__price--actual price--actual">
                      {{ current_variant.price | money }}
                    </p>
                    <p class="product-page__price--compare-at price--compare-at">
                      {{ current_variant.compare_at_price | money }}
                    </p>
                  </div>
                </div>
              {% when 'variants_selector' %}
                {% unless product.has_only_default_variant %}
                  <div class="product-page__variants" {{ block.shopify_attributes }}>
                    {% for option in product.options_with_values %}
                      <div class="product-page__radios-container">
                        {% if option.name != 'Color' %}
                          <p class="product-page__radio__title">{{ option.name }}</p>
                          {% if block.settings.variant_selector_type == 'button' %}
                            <div class="product-page__radio__content">
                              {% for value in option.values %}
                                <label
                                  class="product-page__radio__label{% if option.selected_value == value %} checked{% endif %}"
                                  for="{{ option.name | handle }}-{{ value | handle }}"
                                >
                                  <input
                                    type="radio"
                                    name="{{ option.name }}"
                                    value="{{ value }}"
                                    id="{{ option.name | handle }}-{{ value | handle }}"
                                    class="product-page__radio__input"
                                  >
                                  {{ value }}
                                </label>
                              {% endfor %}
                            </div>
                          {% elsif block.settings.variant_selector_type == 'dropdown' %}
                            <select name="{{ option.name }}">
                              {% for value in option.values %}
                                <option
                                  value="{{ value }}"
                                  type="radio"
                                >
                                  {{ value }}
                                </option>
                              {% endfor %}
                            </select>
                          {% endif %}
                        {% elsif option.name == 'Color' %}
                          <p class="product-page__radio__title">{{ option.name }}</p>
                          {% if block.settings.color_selector_type == 'button' %}
                            <div class="product-page__radio__content">
                              {% for value in option.values %}
                                <label
                                  class="product-page__radio__label{% if option.selected_value == value %} checked{% endif %}"
                                  for="{{ option.name | handle }}-{{ value | handle }}"
                                >
                                  <input
                                    {% if option.selected_value == value %}
                                      checked
                                    {% endif %}
                                    type="radio"
                                    name="{{ option.name }}"
                                    value="{{ value }}"
                                    id="{{ option.name | handle }}-{{ value | handle }}"
                                    class="product-page__radio__input"
                                  >
                                  {{ value }}
                                </label>
                              {% endfor %}
                            </div>
                          {% elsif block.settings.color_selector_type == 'dropdown' %}
                            <div class="product-page__color-select-content">
                              <select name="{{ option.name }}">
                                {% for value in option.values %}
                                  <option
                                    value="{{ value }}"
                                    type="radio"
                                  >
                                    {{ value }}
                                  </option>
                                {% endfor %}
                              </select>
                            </div>
                          {% elsif block.settings.color_selector_type == 'variant_image' %}
                            <div class="product-page__radio__content">
                              {% for value in option.values %}
                                {% liquid
                                  for variant in product.variants
                                    if variant.title contains value
                                      assign variant_image = variant.featured_image
                                      break
                                    endif
                                  endfor
                                %}
                                <label
                                  class="product-page__radio__label media variant_image{% if option.selected_value == value %} checked{% endif %}"
                                  style=""
                                  for="{{ option.name | handle }}-{{ value | handle }}"
                                >
                                  <input
                                    {% if option.selected_value == value %}
                                      checked
                                    {% endif %}
                                    type="radio"
                                    name="{{ option.name }}"
                                    value="{{ value }}"
                                    id="{{ option.name | handle }}-{{ value | handle }}"
                                    class="product-page__radio__input"
                                  >
                                  {% if variant_image != blank %}
                                    {%- assign image = variant_image -%}
                                    {%- assign widths = '80, 90, 100' -%}
                                    {%- assign width = '100' -%}
                                    {{
                                      image
                                      | image_url: width: width
                                      | image_tag:
                                        loading: 'lazy',
                                        class: 'contain',
                                        alt: image.alt,
                                        width: image.width,
                                        height: image.height,
                                        widths: widths
                                    }}
                                  {% else %}
                                    {{ value }}
                                  {% endif %}
                                </label>
                              {% endfor %}
                            </div>
                          {% elsif block.settings.color_selector_type == 'color_swatch' %}
                            <div class="product-page__radio__content">
                              {% for value in option.values %}
                                <label
                                  class=" product-page__radio__label color_swatch{% if option.selected_value == value %} checked{% endif %}"
                                  style="color: transparent;{% render 'snippet-color-swatch', actual_color: value %}"
                                  for="{{ option.name | handle }}-{{ value | handle }}"
                                >
                                  {{ value }}
                                  <input
                                    {% if option.selected_value == value %}
                                      checked
                                    {% endif %}
                                    type="radio"
                                    name="{{ option.name }}"
                                    value="{{ value }}"
                                    id="{{ option.name | handle }}-{{ value | handle }}"
                                    class="product-page__radio__input"
                                  >
                                </label>
                              {% endfor %}
                            </div>
                          {% endif %}
                        {% endif %}
                      </div>
                    {% endfor %}
                  </div>
                  <div class="product-page__hidden-variants" style="display: none;">
                    <select id="product-select" name="id">
                      {% for variant in product.variants %}
                        <option
                          value="{{ variant.id }}"
                          {% if variant == product.selected_or_first_available_variant %}
                            selected="selected"
                          {% endif %}
                        >
                          {{ variant.title }} - {{ variant.price | money }}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                {% endunless %}
              {% when 'quantity' %}
                <quantity-field class="quantity" {{ block.shopify_attributes }}>
                  <label for="quantity-text">
                    <p>{{ 'general.others.quantity' | t }}</p>
                  </label>
                  <div class="quantity-field" id="quantity-field">
                    <button type="button" class="quantity-field__minus" id="quantity-field__minus">-</button>
                    <input
                      type="quantity"
                      class="quantity-field__input"
                      id="quantity-field__input"
                      name="quantity"
                      min="1"
                      value="1"
                    >
                    <button type="button" class="quantity-field__plus" id="quantity-field__plus">+</button>
                  </div>
                </quantity-field>
              {% when 'stock_alert' %}
                {% assign stock_alert_threshold = block.settings.stock_alert_threshold %}
                {% if current_variant.inventory_quantity > 0
                  and current_variant.inventory_quantity < stock_alert_threshold
                %}
                  <div class="product-page__stock-disclaimer" {{ block.shopify_attributes }}>
                    <svg
                      class="product-page__stock-disclaimer__svg"
                      width="25"
                      height="24"
                      viewBox="0 0 25 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path d="M19.6384 17.5H5.36159L12.5 5.00778L19.6384 17.5Z" stroke="#FB4343"/>
                      <path d="M12.1297 13.6845L11.9497 8.89453H13.0797L12.8897 13.6845H12.1297ZM12.5197 15.9545C12.333 15.9545 12.1763 15.8912 12.0497 15.7645C11.923 15.6379 11.8597 15.4879 11.8597 15.3145C11.8597 15.1279 11.923 14.9745 12.0497 14.8545C12.1763 14.7345 12.333 14.6745 12.5197 14.6745C12.7063 14.6745 12.8597 14.7345 12.9797 14.8545C13.0997 14.9745 13.1597 15.1279 13.1597 15.3145C13.1597 15.4879 13.0997 15.6379 12.9797 15.7645C12.8597 15.8912 12.7063 15.9545 12.5197 15.9545Z" fill="#FB4343"/>
                    </svg>
                    <p class="product-page__stock-disclaimer__text">
                      {{ 'general.others.stock_disclaimer' | t: inventory: current_variant.inventory_quantity }}
                    </p>
                  </div>
                {% endif %}
              {% when 'countdown_timer' %}
                <div class="product-page__countdown-timer {{ section.id }}" {{ block.shopify_attributes }}>
                  {% style %}
                    .countdown-timer__timers {
                      display: flex;
                      justify-content: center;
                    }
                    .{{ block.id }}.countdown-timer > .countdown-timer__timers > .countdown-timer__container {
                      background-color: {{ block.settings.digits_background_color }};
                      border-radius: calc(var(--global-border-radius)/2);
                    }
                    .{{ block.id }}.countdown-timer > .countdown-timer__timers > .countdown-timer__container > p {
                      color: {{ block.settings.digits_color }};
                    }
                  {% endstyle %}
                  <div class="countdown-timer__text">
                    <p>{{ block.settings.text }}</p>
                  </div>
                  {% render 'snippet-countdown-timer', element: block %}
                </div>
              {% when 'buttons' %}
                <div class="product-page__buttons buttons buttons--center" {{ block.shopify_attributes }}>
                  <button
                    type="submit"
                    name="add"
                    value="{{ 'general.buttons.add_to_cart' | t }}"
                    class="button button--primary border add-to-cart-button"
                    id="add-to-cart-button"
                    data-variants-number="{{ product.variants.size }}"
                    data-actual-variant="{{ product.selected_or_first_available_variant.id }}"
                  >
                    <span></span> <span></span> <span></span> <span></span>
                    {{ 'general.buttons.add_to_cart' | t }}
                    {% render 'snippet-icons',
                      icon: 'loading-spinner',
                      spinner_color: 'var(--primary-button-text-color)',
                      spinner_background_color: 'var(--primary-button-background-color)'
                    %}
                  </button>
                  {% if block.settings.show_buy_now == true %}
                    <div class="dynamic-buy-button" id="dynamic-buy-button">
                      {{ form | payment_button }}
                    </div>
                  {% endif %}
                </div>
              {% when 'trust_bar' %}
                <div class="product-page__trust-bar" {{ block.shopify_attributes }}>
                  <a
                    {% if block.settings.trust_icon_1_link != blank %}
                      href="{{ block.settings.trust_icon_1_link }}"
                    {% endif %}
                    class="product-page__trust-badge"
                  >
                    <div class="product-page__trust-icon">
                      {% if block.settings.trust_icon_1_svg == blank %}
                        {% render 'snippet-icons', icon: block.settings.theme_icon_1 %}
                      {% else %}
                        {{ block.settings.trust_icon_1_svg }}
                      {% endif %}
                    </div>
                    <p class="product-page__trust-text {% if block.settings.trust_icon_1_link != blank %}underline{% endif %}">
                      {{ block.settings.trust_icon_1_text }}
                    </p>
                  </a>
                  <a
                    {% if block.settings.trust_icon_2_link != blank %}
                      href="{{ block.settings.trust_icon_2_link }}"
                    {% endif %}
                    class="product-page__trust-badge"
                  >
                    <div class="product-page__trust-icon">
                      {% if block.settings.trust_icon_2_svg == blank %}
                        {% render 'snippet-icons', icon: block.settings.theme_icon_2 %}
                      {% else %}
                        {{ block.settings.trust_icon_2_svg }}
                      {% endif %}
                    </div>
                    <p class="product-page__trust-text {% if block.settings.trust_icon_2_link != blank %}underline{% endif %}">
                      {{ block.settings.trust_icon_2_text }}
                    </p>
                  </a>
                  <a
                    {% if block.settings.trust_icon_2_link != blank %}
                      href="{{ block.settings.trust_icon_2_link }}"
                    {% endif %}
                    class="product-page__trust-badge"
                  >
                    <div class="product-page__trust-icon">
                      {% if block.settings.trust_icon_3_svg == blank %}
                        {% render 'snippet-icons', icon: block.settings.theme_icon_3 %}
                      {% else %}
                        {{ block.settings.trust_icon_3_svg }}
                      {% endif %}
                    </div>
                    <p class="product-page__trust-text {% if block.settings.trust_icon_3_link != blank %}underline{% endif %}">
                      {{ block.settings.trust_icon_3_text }}
                    </p>
                  </a>
                </div>
              {% when 'recommended_products' %}
                {% if product.metafields.custom.recommended_products %}
                  <div class="product-page__recommended-products-section" {{ block.shopify_attributes }}>
                    <h6 class="product-page__recommended-products-section-title">Buy it with</h6>
                    <div class="product-page__recommended-product-list">
                      {% for bundled_product in product.metafields.custom.recommended_products.value limit: 3 %}
                        <div class="product-page__recommended-product-container">
                          <div class="product-page__recommended-product corner-border">
                            <a href="{{ bundled_product.url }}" class="media corner-border-target">
                              {%- assign image = bundled_product.featured_image -%}
                              {%- capture sizes -%}(min-width: 1024px) calc(((var(--page-width) - 10rem ) / 2) / 3), calc((100vw - 4rem) / 3){%- endcapture -%}
                              {%- assign widths = '100, 125' -%}
                              {%- assign width = '125' -%}
                              {{
                                image
                                | image_url: width: width
                                | image_tag:
                                  loading: 'lazy',
                                  class: 'cover',
                                  alt: image.alt,
                                  width: image.width,
                                  height: image.height,
                                  sizes: sizes,
                                  widths: widths
                              }}
                            </a>
                            <div
                              class="quick-view-button desktop-only"
                              id="quick-view-button"
                              data-first-available-variant-id="{{ bundled_product.first_available_variant.id }}"
                              data-product-handle="{{ bundled_product.handle }}"
                              data-product-variants="{% if  bundled_product.variants.size > 1 %}with{% else %}without{% endif %}"
                            >
                              {% render 'snippet-icons', icon: 'quick-view' %}
                            </div>
                          </div>
                          <a href="{{ bundled_product.url }}" class="product-page__recommended-product-title">
                            {{ bundled_product.title }}
                          </a>
                          <quick-view-button>
                            <div
                              class="button--link mobile-only"
                              id="quick-view-button"
                              data-first-available-variant-id="{{ bundled_product.first_available_variant.id }}"
                              data-product-handle="{{ bundled_product.handle }}"
                              data-product-variants="{% if  bundled_product.variants.size > 1 %}with{% else %}without{% endif %}"
                            >
                              {%- if bundled_product.variants.size > 1 -%}
                                {{ 'general.buttons.quick_view' | t }} +
                              {% else %}
                                {{ 'general.buttons.add_to_cart' | t }} +
                              {%- endif -%}
                              {% render 'snippet-icons', icon: 'loading-spinner-tiny' %}
                            </div>
                          </quick-view-button>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
            {% endcase %}
          {% endfor %}
        {% endform %}
      </div>
    </div>
  </div>
</product-page>

<script defer>
  updateRecentlyViewedProductsCookie("{{ product.id }}", "{{ product.title }}", "{{ product.url }}", "{{ product.available }}", "{{ product.featured_image | image_url }}", "{{ product.featured_image.alt }}", "{{ product.featured_image.width }}", "{{ product.featured_image.height }}", "{{ product.price | money }}", "{{ product.compare_at_price | money }}", "{{ product.compare_at_price | minus: product.price }}", "{{ product.compare_at_price | minus: product.price | money }}", "{{ 'now' | date: "%d" | minus: product.published_at | date: "%d" }}", "{{ product.first_available_variant.id }}", "{{ product.handle }}", "{{ product.variants.size }}");
  function updateRecentlyViewedProductsCookie(productId, productTitle, productUrl, productAvailability, productImage, productImageAlt, productImageWidth, productImageHeight, productPrice, productCompareAtPrice, productPriceDifference, productPriceDifferenceWithCurrency, productDateDifference, productVariantFirstId, productHandle, productVariantsSize) {
    let recentlyViewedProducts = [];

    let recentlyViewedProductsCookie =
      document.cookie.indexOf("recentlyViewedProducts=") !== -1
        ? JSON.parse(
            document.cookie
              .split("; ")
              .find((row) => row.startsWith("recentlyViewedProducts"))
              .split("=")
              .slice(1)
              .join("=")
          )
        : [];
    let expiry = new Date(400 * 24 * 60 * 60 * 1000 + Date.parse(new Date()));

    let productData = {
      id: productId,
      title: productTitle,
      url: productUrl,
      availability: productAvailability,
      image: productImage,
      image_alt: productImageAlt,
      image_width: productImageWidth,
      image_height: productImageHeight,
      price: productPrice,
      compare_at_price: productCompareAtPrice,
      price_difference: productPriceDifference,
      price_difference_with_currency: productPriceDifferenceWithCurrency,
      date_difference: productDateDifference,
      variant_first_id: productVariantFirstId,
      handle: productHandle,
      variants_size: productVariantsSize,
    };

    for (product = 0; product < recentlyViewedProductsCookie.length; product++) {
      if (recentlyViewedProductsCookie[product].id === productData.id) {
        recentlyViewedProductsCookie.splice(product, 1);
      }
    }

    recentlyViewedProductsCookie.push(productData);
    let newList = JSON.stringify(recentlyViewedProductsCookie);

    document.cookie = "recentlyViewedProducts" + "=" + newList + "; expires=" + expiry + "; path=/; domain=." + window.location.hostname;
  }
</script>

{% # theme-check-disable ParserBlockingScriptTag %}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{% # theme-check-enable ParserBlockingScriptTag %}

<script defer>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  let variantsInventory = {};
  {% for variant in product.variants %}
  variantsInventory["{{ variant.title }}"] = {{ variant.inventory_quantity }};
  {% endfor %}

  // This variable declaration mixed with multi liquid tags cause the shopify formatter to add unnecessary spaces
  let paymentMethods = `
      <div class="product-page__payment-methods">
          {%- liquid 
            for block in section.blocks 
                case block.type 
                    when "buttons" 
                        if block.settings.show_payment_methods == true 
                            if settings.payment_methods_type == 'chosen'
                                assign enabled_payment_types = settings.chosen_payment_methods | remove: ' ' | split: ','
                                for type in enabled_payment_types
                                    echo type | payment_type_svg_tag: class: 'icon'
                                endfor
                            elsif settings.payment_methods_type == 'enabled'
                                for type in shop.enabled_payment_types
                                    echo type | payment_type_svg_tag: class: 'icon'
                                endfor
                            endif
                        endif 
                  endcase
            endfor 
          -%}
      </div>
      `;

  let productJson = {{ product | json }};
  let currentVariantInventory = {{ current_variant.inventory_quantity }};
  let stockAlertThreshold = {{ stock_alert_threshold }};
  let priceDifferenceText= "{{ price_difference_text }}";






























































</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "class": "page-product",
  "settings": [
    {
      "type": "checkbox",
      "id": "thumbnails_on_mobile",
      "label": "t:sections.main-product.settings.thumbnails_on_mobile",
      "default": false
    },
    {
      "type": "range",
      "id": "top_space",
      "label": "t:sections.general.section_settings.top_space",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "default": 180
    },
    {
      "type": "range",
      "id": "bottom_space",
      "label": "t:sections.general.section_settings.bottom_space",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "vendor",
      "name": "t:sections.general.product.vendor",
      "limit": 1
    },
    {
      "type": "name",
      "name": "t:sections.general.product.title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.general.product.price",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "t:sections.general.product.quantity",
      "limit": 1
    },
    {
      "type": "sale_tag",
      "name": "t:sections.general.product.sale_tag",
      "limit": 1
    },
    {
      "type": "variants_selector",
      "name": "t:sections.general.product.variants_selector.label",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "variant_selector_type",
          "label": "t:sections.general.product.variants_selector.settings.variant_selector_type.label",
          "options": [
            {
              "value": "button",
              "label": "t:sections.general.product.variants_selector.settings.variant_selector_type.options.button"
            },
            {
              "value": "dropdown",
              "label": "t:sections.general.product.variants_selector.settings.variant_selector_type.options.dropdown"
            }
          ],
          "default": "button"
        },
        {
          "type": "select",
          "id": "color_selector_type",
          "label": "t:sections.general.product.variants_selector.settings.color_selector_type.label",
          "options": [
            {
              "value": "button",
              "label": "t:sections.general.product.variants_selector.settings.color_selector_type.options.button"
            },
            {
              "value": "dropdown",
              "label": "t:sections.general.product.variants_selector.settings.color_selector_type.options.dropdown"
            },
            {
              "value": "color_swatch",
              "label": "t:sections.general.product.variants_selector.settings.color_selector_type.options.color_swatch"
            },
            {
              "value": "variant_image",
              "label": "t:sections.general.product.variants_selector.settings.color_selector_type.options.variant_image"
            }
          ],
          "info": "t:sections.general.product.variants_selector.settings.color_selector_type.info",
          "default": "button"
        }
      ]
    },
    {
      "type": "stock_alert",
      "name": "t:sections.main-product.settings.stock_alert.name",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "stock_alert_threshold",
          "min": 1,
          "max": 100,
          "step": 1,
          "unit": "pcs",
          "label": "t:sections.main-product.settings.stock_alert.settings.stock_alert_threshold",
          "default": 15
        }
      ]
    },
    {
      "type": "countdown_timer",
      "name": "t:sections.general.countdown-timer.content",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.general.text.text",
          "default": "Hurry up! Offer ends in:"
        },
        {
          "type": "header",
          "content": "t:sections.general.countdown-timer.content"
        },
        {
          "type": "text",
          "id": "message",
          "label": "t:sections.general.countdown-timer.message.label",
          "info": "t:sections.general.countdown-timer.message.info",
          "default": "Offer has expired"
        },
        {
          "type": "select",
          "id": "countdown_timer_type",
          "label": "t:sections.general.countdown-timer.countdown_timer_type.label",
          "options": [
            {
              "value": "time",
              "label": "t:sections.general.countdown-timer.countdown_timer_type.options.time"
            },
            {
              "value": "date",
              "label": "t:sections.general.countdown-timer.countdown_timer_type.options.date"
            }
          ],
          "default": "time"
        },
        {
          "type": "select",
          "id": "digits_size",
          "label": "t:sections.general.countdown-timer.digits_size.label",
          "options": [
            {
              "value": "small",
              "label": "t:sections.general.countdown-timer.digits_size.options.small"
            },
            {
              "value": "big",
              "label": "t:sections.general.countdown-timer.digits_size.options.large"
            }
          ],
          "default": "small"
        },
        {
          "type": "color",
          "id": "digits_color",
          "label": "t:sections.general.countdown-timer.digits_color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "digits_background_color",
          "label": "t:sections.general.countdown-timer.digits_background_color",
          "default": "#fcdb33"
        },
        {
          "type": "header",
          "content": "t:sections.general.countdown-timer.countdown_timer_type.options.time",
          "info": "t:sections.general.countdown-timer.time_info"
        },
        {
          "type": "range",
          "id": "time_days",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "d",
          "label": "t:sections.general.countdown-timer.time_days",
          "default": 0
        },
        {
          "type": "range",
          "id": "time_hours",
          "min": 0,
          "max": 24,
          "step": 1,
          "unit": "h",
          "label": "t:sections.general.countdown-timer.time_hours",
          "default": 6
        },
        {
          "type": "range",
          "id": "time_mins",
          "min": 0,
          "max": 60,
          "step": 1,
          "unit": "m",
          "label": "t:sections.general.countdown-timer.time_mins",
          "default": 0
        },
        {
          "type": "range",
          "id": "time_secs",
          "min": 0,
          "max": 60,
          "step": 1,
          "unit": "s",
          "label": "t:sections.general.countdown-timer.time_secs",
          "default": 0
        },
        {
          "type": "select",
          "id": "afterExpirationTimeOnly",
          "label": "t:sections.general.countdown-timer.afterExpirationTimeOnly.label",
          "options": [
            {
              "value": "repeatCountdown",
              "label": "t:sections.general.countdown-timer.afterExpirationTimeOnly.options.repeatCountdown"
            },
            {
              "value": "showMessage",
              "label": "t:sections.general.countdown-timer.afterExpirationTimeOnly.options.showMessage"
            }
          ],
          "default": "repeatCountdown",
          "info": "t:sections.general.countdown-timer.afterExpirationTimeOnly.info"
        },
        {
          "type": "header",
          "content": "t:sections.general.countdown-timer.countdown_timer_type.options.date"
        },
        {
          "type": "range",
          "id": "date_year",
          "min": 2022,
          "max": 2032,
          "step": 1,
          "unit": "y",
          "label": "t:sections.general.countdown-timer.date_year",
          "default": 2023
        },
        {
          "type": "range",
          "id": "date_month",
          "min": 1,
          "max": 12,
          "step": 1,
          "unit": "m",
          "label": "t:sections.general.countdown-timer.date_month",
          "default": 1
        },
        {
          "type": "range",
          "id": "date_day",
          "min": 1,
          "max": 31,
          "step": 1,
          "unit": "d",
          "label": "t:sections.general.countdown-timer.date_day",
          "default": 1,
          "info": "t:sections.general.countdown-timer.date_day_info"
        },
        {
          "type": "range",
          "id": "date_hour",
          "min": 0,
          "max": 24,
          "step": 1,
          "unit": "h",
          "label": "t:sections.general.countdown-timer.date_hour",
          "default": 0
        },
        {
          "type": "range",
          "id": "date_min",
          "min": 0,
          "max": 60,
          "step": 1,
          "unit": "m",
          "label": "t:sections.general.countdown-timer.date_min",
          "default": 0
        }
      ]
    },
    {
      "type": "buttons",
      "name": "t:sections.main-product.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_buy_now",
          "label": "t:sections.main-product.blocks.buttons.settings.show_buy_now",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_payment_methods",
          "label": "t:sections.main-product.blocks.buttons.settings.show_payment_methods",
          "default": true
        }
      ]
    },
    {
      "type": "recommended_products",
      "name": "t:sections.main-product.blocks.recommended_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.recommended_products.settings.content",
          "info": "t:sections.main-product.blocks.recommended_products.settings.info"
        }
      ]
    },
    {
      "type": "trust_bar",
      "name": "t:sections.main-product.blocks.trust_bar.name",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.trust_bar.settings.icon_1"
        },
        {
          "type": "text",
          "id": "trust_icon_1_text",
          "label": "t:sections.general.text.text",
          "default": "Free shipping"
        },
        {
          "type": "url",
          "id": "trust_icon_1_link",
          "label": "t:sections.general.type.url"
        },
        {
          "type": "select",
          "id": "theme_icon_1",
          "label": "t:sections.general.header.icon",
          "default": "box",
          "info": "t:sections.main-product.blocks.trust_bar.info",
          "options": [
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "home",
              "label": "t:sections.general.icon.icon_theme.options.home"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "account",
              "label": "t:sections.general.icon.icon_theme.options.account"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "search",
              "label": "t:sections.general.icon.icon_theme.options.search"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "cart",
              "label": "t:sections.general.icon.icon_theme.options.cart"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "phone",
              "label": "t:sections.general.icon.icon_theme.options.phone"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "email",
              "label": "t:sections.general.icon.icon_theme.options.email"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "contact",
              "label": "t:sections.general.icon.icon_theme.options.contact"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "support",
              "label": "t:sections.general.icon.icon_theme.options.support"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "box",
              "label": "t:sections.general.icon.icon_theme.options.box"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "location",
              "label": "t:sections.general.icon.icon_theme.options.location"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "map",
              "label": "t:sections.general.icon.icon_theme.options.map"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "badge",
              "label": "t:sections.general.icon.icon_theme.options.badge"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "shield",
              "label": "t:sections.general.icon.icon_theme.options.shield"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "review",
              "label": "t:sections.general.icon.icon_theme.options.review"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "star",
              "label": "t:sections.general.icon.icon_theme.options.star"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "play",
              "label": "t:sections.general.icon.icon_theme.options.play"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "checkmark",
              "label": "t:sections.general.icon.icon_theme.options.checkmark"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "prohibition",
              "label": "t:sections.general.icon.icon_theme.options.prohibition"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "warning",
              "label": "t:sections.general.icon.icon_theme.options.warning"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "share",
              "label": "Share"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "facebook",
              "label": "t:sections.general.icon.icon_theme.options.facebook"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "instagram",
              "label": "t:sections.general.icon.icon_theme.options.instagram"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "twitter",
              "label": "t:sections.general.icon.icon_theme.options.twitter"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "pinterest",
              "label": "t:sections.general.icon.icon_theme.options.pinterest"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "tiktok",
              "label": "t:sections.general.icon.icon_theme.options.tiktok"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "snapchat",
              "label": "t:sections.general.icon.icon_theme.options.snapchat"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "youtube",
              "label": "t:sections.general.icon.icon_theme.options.youtube"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "vimeo",
              "label": "t:sections.general.icon.icon_theme.options.vimeo"
            }
          ]
        },
        {
          "type": "liquid",
          "id": "trust_icon_1_svg",
          "label": "t:sections.main-product.blocks.trust_bar.custom_icon_svg"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.trust_bar.settings.icon_2"
        },
        {
          "type": "text",
          "id": "trust_icon_2_text",
          "label": "t:sections.general.text.text",
          "default": "30-day money back guarantee"
        },
        {
          "type": "url",
          "id": "trust_icon_2_link",
          "label": "t:sections.general.type.url"
        },
        {
          "type": "select",
          "id": "theme_icon_2",
          "label": "t:sections.general.header.icon",
          "default": "badge",
          "info": "t:sections.main-product.blocks.trust_bar.info",
          "options": [
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "home",
              "label": "t:sections.general.icon.icon_theme.options.home"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "account",
              "label": "t:sections.general.icon.icon_theme.options.account"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "search",
              "label": "t:sections.general.icon.icon_theme.options.search"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "cart",
              "label": "t:sections.general.icon.icon_theme.options.cart"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "phone",
              "label": "t:sections.general.icon.icon_theme.options.phone"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "email",
              "label": "t:sections.general.icon.icon_theme.options.email"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "contact",
              "label": "t:sections.general.icon.icon_theme.options.contact"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "support",
              "label": "t:sections.general.icon.icon_theme.options.support"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "box",
              "label": "t:sections.general.icon.icon_theme.options.box"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "location",
              "label": "t:sections.general.icon.icon_theme.options.location"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "map",
              "label": "t:sections.general.icon.icon_theme.options.map"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "badge",
              "label": "t:sections.general.icon.icon_theme.options.badge"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "shield",
              "label": "t:sections.general.icon.icon_theme.options.shield"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "review",
              "label": "t:sections.general.icon.icon_theme.options.review"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "star",
              "label": "t:sections.general.icon.icon_theme.options.star"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "play",
              "label": "t:sections.general.icon.icon_theme.options.play"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "checkmark",
              "label": "t:sections.general.icon.icon_theme.options.checkmark"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "prohibition",
              "label": "t:sections.general.icon.icon_theme.options.prohibition"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "warning",
              "label": "t:sections.general.icon.icon_theme.options.warning"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "share",
              "label": "Share"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "facebook",
              "label": "t:sections.general.icon.icon_theme.options.facebook"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "instagram",
              "label": "t:sections.general.icon.icon_theme.options.instagram"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "twitter",
              "label": "t:sections.general.icon.icon_theme.options.twitter"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "pinterest",
              "label": "t:sections.general.icon.icon_theme.options.pinterest"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "tiktok",
              "label": "t:sections.general.icon.icon_theme.options.tiktok"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "snapchat",
              "label": "t:sections.general.icon.icon_theme.options.snapchat"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "youtube",
              "label": "t:sections.general.icon.icon_theme.options.youtube"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "vimeo",
              "label": "t:sections.general.icon.icon_theme.options.vimeo"
            }
          ]
        },
        {
          "type": "liquid",
          "id": "trust_icon_2_svg",
          "label": "t:sections.main-product.blocks.trust_bar.custom_icon_svg"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.trust_bar.settings.icon_3"
        },
        {
          "type": "text",
          "id": "trust_icon_3_text",
          "label": "t:sections.general.text.text",
          "default": "24/7 customer support"
        },
        {
          "type": "url",
          "id": "trust_icon_3_link",
          "label": "t:sections.general.type.url"
        },
        {
          "type": "select",
          "id": "theme_icon_3",
          "label": "t:sections.general.header.icon",
          "default": "contact",
          "info": "t:sections.main-product.blocks.trust_bar.info",
          "options": [
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "home",
              "label": "t:sections.general.icon.icon_theme.options.home"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "account",
              "label": "t:sections.general.icon.icon_theme.options.account"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "search",
              "label": "t:sections.general.icon.icon_theme.options.search"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "cart",
              "label": "t:sections.general.icon.icon_theme.options.cart"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "phone",
              "label": "t:sections.general.icon.icon_theme.options.phone"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "email",
              "label": "t:sections.general.icon.icon_theme.options.email"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "contact",
              "label": "t:sections.general.icon.icon_theme.options.contact"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "support",
              "label": "t:sections.general.icon.icon_theme.options.support"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "box",
              "label": "t:sections.general.icon.icon_theme.options.box"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "location",
              "label": "t:sections.general.icon.icon_theme.options.location"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "map",
              "label": "t:sections.general.icon.icon_theme.options.map"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "badge",
              "label": "t:sections.general.icon.icon_theme.options.badge"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "shield",
              "label": "t:sections.general.icon.icon_theme.options.shield"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "review",
              "label": "t:sections.general.icon.icon_theme.options.review"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "star",
              "label": "t:sections.general.icon.icon_theme.options.star"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "play",
              "label": "t:sections.general.icon.icon_theme.options.play"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "checkmark",
              "label": "t:sections.general.icon.icon_theme.options.checkmark"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "prohibition",
              "label": "t:sections.general.icon.icon_theme.options.prohibition"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "warning",
              "label": "t:sections.general.icon.icon_theme.options.warning"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "share",
              "label": "Share"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "facebook",
              "label": "t:sections.general.icon.icon_theme.options.facebook"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "instagram",
              "label": "t:sections.general.icon.icon_theme.options.instagram"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "twitter",
              "label": "t:sections.general.icon.icon_theme.options.twitter"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "pinterest",
              "label": "t:sections.general.icon.icon_theme.options.pinterest"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "tiktok",
              "label": "t:sections.general.icon.icon_theme.options.tiktok"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "snapchat",
              "label": "t:sections.general.icon.icon_theme.options.snapchat"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "youtube",
              "label": "t:sections.general.icon.icon_theme.options.youtube"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "vimeo",
              "label": "t:sections.general.icon.icon_theme.options.vimeo"
            }
          ]
        },
        {
          "type": "liquid",
          "id": "trust_icon_3_svg",
          "label": "t:sections.main-product.blocks.trust_bar.custom_icon_svg"
        }
      ]
    }
  ]
}
{% endschema %}
