{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .customer.{{ section.id }} {
    margin-top: 0 !important;
  }
  .customer__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 0;
  }

  .customer__form__button button {
    height: 44px;
  }
  .customer__form__button .enter-button {
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
{%- endstyle -%}

<div class="customer {{ section.id }}">
  <div class="customer__content">
    <div class="customer__form__title">
      <h4>{{ shop.name }}</h4>
    </div>
    <div class="customer-login">
      <div class="customer__container active" id="newsletter-form">
        <h3>Opening soon</h3>
        {% form 'customer', class: 'customer__form' %}
          {%- if form.errors -%}
            <div class="customer__form__errors-list">
              <div class="customer__form__errors-list__item">
                <span> ⚠ </span>
                <span>
                  {{ form.errors.translated_fields[field] | capitalize }}
                  {{ form.errors.messages[field] }}
                </span>
              </div>
            </div>
          {%- endif -%}

          {%- if form.posted_successfully? -%}
            <div class="customer__form__success">
              <span>✓ Subscription confirmed</span>
            </div>
          {%- endif -%}

          <div class="customer__form__content">
            <input
              id=""
              type="email"
              value="{{ form.email }}"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
              {% endif %}
              placeholder="Email"
              class="customer__form__input"
              required
            >
            <div class="customer__form__button buttons">
              <button
                type="submit"
                class="newsletter__button"
                name="commit"
                id="subscribe"
              >
                <p class="button">NOTIFY ME</p>
                <p></p>
              </button>
            </div>
          </div>
        {% endform %}

        <div class="customer__form__link">
          <span id="enter" class="small underline">Enter using password</span>
        </div>
      </div>
      <div class="customer__container" id="password-form">
        <h3>Enter your password</h3>
        {%- form 'storefront_password', class: 'customer__form' -%}
          {%- if form.errors -%}
            <div class="customer__form__errors-list">
              <div class="customer__form__errors-list__item">
                <span> ⚠ </span>
                <span> Wrong password! </span>
              </div>
            </div>
          {%- endif -%}
          <div class="customer__form__content">
            <input
              type="password"
              name="password"
              id="Password"
              autocomplete="current-password"
              placeholder="Password"
              class="customer__form__input"
              required
            >
            <div class="customer__form__button buttons">
              <button class="button enter-button button--primary border" name="commit">Enter</button>
            </div>
          </div>
        {%- endform -%}

        <div class="customer__form__link">
          <span id="subscribe" class="small underline">Get notified when we open</span>
        </div>
      </div>
    </div>

    <div class="customer__form__links">
      <div class="customer__form__link"><span>Store owner?</span> <span class="small underline">Login here</span></div>
      <span>{{ powered_by_link }}</span>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.customer__form__link .button--link').forEach((button) => {
    button.addEventListener('click', () => {
      if (button.id == 'subscribe') {
        document.querySelector('#newsletter-form').classList.add('active');
        document.querySelector('#password-form').classList.remove('active');
      } else if (button.id == 'enter') {
        document.querySelector('#newsletter-form').classList.remove('active');
        document.querySelector('#password-form').classList.add('active');
      }
    });
  });
</script>
