{{ 'main-page.css' | asset_url | stylesheet_tag }}

{% style %}
  .page.{{ section.id }} {
    padding-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .page.{{ section.id }} {
      padding-top: {{ section.settings.top_space }}px;
      padding-bottom: {{ section.settings.bottom_space }}px;
    }
  }

  @media screen and (min-width: 750px) {
    .page__container {
      width: var(--page-width);
    }
  }
{% endstyle %}

<div class="page {{ section.id }}">
  <div class="page__container">
    {% render 'snippet-breadcrumbs', bc1: routes.root_url, bc1_text: 'Home', bc2: page.url, bc2_text: page.title %}
    <h1 class="page__title">
      {{ page.title }}
    </h1>
    <div class="page__content">
      {{ page.content }}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Page",
  "class": "main-page",
  "settings": [
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "Top space"
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "Bottom space"
    }
  ]
}
{% endschema %}
