{{ 'main-search.css' | asset_url | stylesheet_tag }}
<script src="{{ 'main-search.js' | asset_url }}" defer></script>

{% style %}
  .search__item {
    width: calc(100% / {{section.settings.products_per_row_desktop}});
  }

  @media screen and (max-width: 750px) {
    .search__item {
      width: calc(100% / {{section.settings.products_per_row_mobile}});
    }
  }
{% endstyle %}

<div class="search  {% if search.performed %}{% else %}empty-state{% endif %}">
  <div class="search__container">
    <div class="search__head">
      {% if search.performed %}
        <h2 class="search__title">Results for “{{ search.terms }}”</h2>
      {% else %}
        <h2 class="search__title">Search</h2>
      {% endif %}
    </div>

    <div class="search-form__container">
      <form action="{{ routes.search_url }}" method="get" class="search__form">
        <input
          id="Search"
          class="search-form__input"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="Search..."
          {%- if settings.predictive_search_enabled -%}
            autocorrect="off"
            autocomplete="off"
            autocapitalize="off"
            spellcheck="false"
          {%- endif -%}
        >
        <button class="search__icon">
          {% render 'snippet-icons', icon: 'search' %}
        </button>
      </form>
    </div>

    {% if search.performed %}
      {%- if search.results_count > 0 or search.filters != empty -%}
        <div class="search__content-head">
          <search-page-tabs class="search__page-tabs">
            <p class="search__page-tab selected" for="products">Products</p>
            <p class="search__page-tab" for="articles">Articles</p>
          </search-page-tabs>
        </div>
        <div class="search__content">
          <div class="search__content-container tab active" type="products">
            <div
              class="filter__box"
              {% if section.settings.show_filter == false %}
                style="display: none;"
              {% endif %}
            >
              {% render 'snippet-filter', state: section.settings.filters_expanded_at_start, filters: search.filters %}
            </div>
            <div class="search__content--middle">
              <div class="filter__results">
                {% paginate search.results by section.settings.products_per_page %}
                  <div class="filter__results--head">
                    {% if section.settings.show_filter == true %}
                      <div class="show-filter mobile-only">
                        {% render 'snippet-icons', icon: 'search-filter' %}
                        <span>Filter</span>
                      </div>
                    {% endif %}
                    <p class="results-count-hidden" style="opacity: 0;">({{ search.results_count }})</p>

                    <div class="sort-by">
                      <p for="SortBy">Sort by:</p>

                      {%- assign sort_by = search.sort_by | default: search.default_sort_by -%}
                      <select
                        name="sort_by"
                        id="SortBy"
                        class="sort-by__select"
                      >
                        {%- for option in search.sort_options -%}
                          <option
                            value="{{ option.value | escape }}"
                            {% if option.value == sort_by %}
                              selected="selected"
                            {% endif %}
                          >
                            {{ option.name | escape }}
                          </option>
                        {%- endfor -%}
                      </select>
                    </div>
                  </div>
                  <div class="filter__results--list">
                    {% for item in search.results %}
                      {%- case item.object_type -%}
                        {%- when 'product' -%}
                          <div class="search__item reveal">
                            <div class="search__item-container">
                              <div class="search__item__picture corner-border">
                                {% assign price_difference_text = 'SAVE' %}
                                {% assign price_difference = item.compare_at_price | minus: product.price %}
                                {% if price_difference > 0 %}
                                  <div class="search__item__tag">
                                    <!-- Add in schema, tag--animated or tag--normal dropdown -->
                                    <p class="tag--animated tag-text">
                                      {{ price_difference_text }}
                                      {{ item.compare_at_price | minus: item.price | money }}
                                    </p>
                                  </div>
                                {% endif %}
                                <div
                                  class="quick-add-icon"
                                  id="quick-add-button"
                                  data-first-available-variant-id="{{ item.first_available_variant.id }}"
                                  data-product-handle="{{ item.handle }}"
                                  data-product-variants="{% if item.variants.size > 1 %}with{% else %}without{% endif %}"
                                >
                                  {% render 'snippet-icons', icon: 'quick-add' -%}
                                </div>
                                {% if item.featured_media != blank %}
                                  <a href="{{ item.url }}" class="media corner-border-target">
                                    <img
                                      srcset="{{ item.featured_media | image_url }}"
                                      loading="lazy"
                                      alt="{{ item.featured_media.alt | escape }}"
                                      width="{{ item.featured_media.width }}"
                                      height="{{ item.featured_media.height }}"
                                      class="full"
                                    >
                                  </a>
                                {% else %}
                                  <a href="{{ item.url }}" class="media corner-border-target">
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  </a>
                                {% endif %}
                              </div>

                              {% assign product_date = item.published_at | date: '%s' %}
                              {% assign current_date = 'now' | date: '%s' %}

                              {% assign difference_in_seconds = current_date | minus: product_date %}
                              {% assign difference_in_days = difference_in_seconds
                                | divided_by: 3600
                                | divided_by: 24
                              %}

                              <a
                                href="{{ item.url }}"
                                class="search__item__name {% if section.settings.new_tag == true and difference_in_days < section.settings.new_tag_time %}tag--animated-hover{% endif %}"
                              >
                                {{- item.title -}}
                              </a>

                              <div class="search__item__prices">
                                <p class="price--actual">{{ item.price | money }}</p>
                                {% if item.compare_at_price != 0 %}
                                  <p class="price--compare-at">{{ item.compare_at_price | money }}</p>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                      {%- endcase -%}
                    {% endfor %}
                  </div>

                  {% render 'snippet-pagination', paginate: paginate %}
                {% endpaginate %}
              </div>
            </div>
          </div>

          <div class="filter__results--list tab" type="articles">
            {% for item in search.results %}
              {%- case item.object_type -%}
                {%- when 'article' -%}
                  <div class="search__item article">
                    <div class="search__item-container">
                      <div class="search__item__picture article {% if item.featured_image != blank %}corner-border{% endif %}">
                        {% if item.image != blank %}
                          <a href="{{ item.url }}" class="media corner-border-target">
                            <img
                              srcset="{{ item.image | image_url }}"
                              loading="lazy"
                              alt="{{ item.image.alt | escape }}"
                              width="{{ item.image.width }}"
                              height="{{ item.image.height }}"
                              class="fit"
                            >
                          </a>
                        {% else %}
                          <a href="{{ item.url }}" class="media">
                            {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder' }}
                          </a>
                        {% endif %}
                      </div>
                      <a href="{{ item.url }}">{{ item.title }}</a>
                    </div>
                  </div>
              {%- endcase -%}
            {% endfor %}
          </div>
        </div>
      {%- else -%}
        <p>No results could be found.</p>
      {%- endif -%}
    {% else %}

    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Search",
  "class": "main-search",
  "settings": [
    {
      "type": "checkbox",
      "id": "new_tag",
      "label": "Show 'NEW' tag",
      "default": true
    },
    {
      "type": "range",
      "id": "new_tag_time",
      "label": "'NEW' tag countback",
      "info": "Show the 'NEW' tag if the product is published in the last X days",
      "min": 0,
      "max": 90,
      "step": 1,
      "unit": "D",
      "default": 30
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 50,
      "step": 1,
      "label": "Products per page",
      "default": 24
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 3,
      "max": 6,
      "step": 1,
      "label": "Products per row - desktop/tablet",
      "default": 4
    },
    {
      "type": "range",
      "id": "products_per_row_mobile",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Products per row - mobile",
      "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_filter",
      "label": "Show filter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "filters_expanded_at_start",
      "label": "Filters expanded at start",
      "default": true
    }
  ]
}
{% endschema %}
