{{ 'main-search-drawer.css' | asset_url | stylesheet_tag }}

{% style %}
  .search-drawer__container {
    background-color: var(--background-color);
    border: var(--global-border-width) solid var(--global-border-color);
    border-radius: var(--global-border-radius);
  }
{% endstyle %}
<search-drawer>
  <predictive-search reveal-on-scroll>
    <div class="search-drawer hidden">
      <div class="search-drawer__container">
        <div class="search-form__container">
          <form action="{{ routes.search_url }}" method="get" class="search-drawer__form">
            <input
              id="Search"
              class="search-form__input"
              data-limit="8"
              type="search"
              name="q"
              value="{{ search.terms | escape }}"
              placeholder="{{ 'general.placeholders.search' | t }}..."
              {%- if section.settings.predictive_search_enabled -%}
                autocorrect="off"
                autocomplete="off"
                autocapitalize="off"
                spellcheck="false"
              {%- endif -%}
            >
            {%- if section.settings.predictive_search_enabled -%}
              <div class="search-form__results hidden" id="predictive-search" tabindex="-1"></div>
            {%- endif -%}
            <div class="search-drawer__close">
              {% render 'snippet-icons', icon: 'close' %}
            </div>
            <div class="buttons hidden">
              <div class="shadow-divider"></div>
              <button
                class="button button--primary border"
              >
                {{ 'general.search_drawer.show_all' | t }}
              </button>
            </div>
          </form>
        </div>

        <div class="preload">
          {% if section.blocks.size > 0 %}
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'products' %}
                  <div class="group" {{ block.shopify_attributes }}>
                    {% if block.settings.product_1 != blank
                      or block.settings.product_2 != blank
                      or block.settings.product_3 != blank
                    %}
                      <h6>{{ block.settings.group_name }}</h6>
                      {% if block.settings.product_1 != blank -%}
                        <a href="{{ block.settings.product_1.url }}">{{ block.settings.product_1 }}</a>
                      {%- endif %}
                      {% if block.settings.product_2 != blank -%}
                        <a href="{{ block.settings.product_2.url }}">{{ block.settings.product_2 }}</a>
                      {%- endif %}
                      {% if block.settings.product_3 != blank -%}
                        <a href="{{ block.settings.product_3.url }}">{{ block.settings.product_3 }}</a>
                      {%- endif %}
                    {% endif %}
                  </div>
                {% when 'collections' %}
                  <div class="group" {{ block.shopify_attributes }}>
                    {% if block.settings.collection_1 != blank
                      or block.settings.collection_2 != blank
                      or block.settings.collection_3 != blank
                    %}
                      <h6>{{ block.settings.group_name }}</h6>
                      {% if block.settings.collection_1 != blank -%}
                        <a href="{{ block.settings.collection_1.url }}">{{ block.settings.collection_1 }}</a>
                      {%- endif %}
                      {% if block.settings.collection_2 != blank -%}
                        <a href="{{ block.settings.collection_1.url }}">{{ block.settings.collection_2 }}</a>
                      {%- endif %}
                      {% if block.settings.collection_3 != blank -%}
                        <a href="{{ block.settings.collection_1.url }}">{{ block.settings.collection_3 }}</a>
                      {%- endif %}
                    {% endif %}
                  </div>
                {% when 'menu' %}
                  {% if block.settings.menu.links.size > 0 %}
                    <div class="group" {{ block.shopify_attributes }}>
                      <h6>{{ block.settings.group_name }}</h6>
                      {% for item in block.settings.menu.links %}
                        <a href="{{ item.url }}">{{ item.title }}</a>
                      {% endfor %}
                    </div>
                  {% endif %}
              {% endcase %}
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </predictive-search>
</search-drawer>

{% schema %}
{
  "name": "Search",
  "class": "main-search-drawer",
  "settings": [
    {
      "type": "header",
      "content": "Search behavior"
    },
    {
      "type": "checkbox",
      "id": "predictive_search_enabled",
      "default": true,
      "label": "Enable product suggestions"
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "products",
      "name": "Products",
      "settings": [
        {
          "type": "text",
          "id": "group_name",
          "label": "Text",
          "default": "Popular products"
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Product 1"
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Product 2"
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Product 3"
        }
      ]
    },
    {
      "type": "collections",
      "name": "Collections",
      "settings": [
        {
          "type": "text",
          "id": "group_name",
          "label": "Text",
          "default": "Popular collections"
        },
        {
          "type": "collection",
          "id": "collection_1",
          "label": "Collection 1"
        },
        {
          "type": "collection",
          "id": "collection_2",
          "label": "Collection 2"
        },
        {
          "type": "collection",
          "id": "collection_3",
          "label": "Collection 3"
        }
      ]
    },
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "group_name",
          "label": "Text",
          "default": "Menu"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        }
      ]
    }
  ]
}
{% endschema %}
