{{ 'main-header.css' | asset_url | stylesheet_tag }}

{% style %}
  .boxed .header__content, .boxed .menu-mobile__container {
    border-radius: var(--global-border-radius);
    border: var(--global-border-width) solid var(--global-border-color);
  }

  .menu__dropdown-content {
    border-radius: var(--global-border-radius);
    border: {% if settings.global_border_width == 0 %}1px{% else %} var(--global-border-width) {% endif %} solid var(--body-text-color);
  }

  .menu-mobile__parent-childs.active.border, .menu-mobile__child-childs.active.border, .menu-mobile__account {
    border-top: 1px solid var(--body-text-color);
  }

  .header__content {
    background-color: {{ settings.header_background_color }};
   }
  .menu-mobile__container, .menu-mobile__headr, .menu-mobile__parent-title, .menu-mobile__child-title, .menu-mobile__child-childs, .menu__dropdown-content {
    background-color: var(--background-color);
   }

  .menu__parent-title {
    color: {{ settings.header_text_color }};
  }
  .menu__child-title, .menu__grandchild, .menu__child.filled::after, .menu-mobile__parent-title h6 a, .menu-mobile__child-title .text,  .menu-mobile__grandchild-title, .menu-mobile__title h6, .menu-mobile__account a {
    color: var(--body-text-color);
  }

  .header__logo-container img, .header__logo-container svg {
    width: {{ section.settings.logo_width }}px;
  }

  @media screen and (min-width: 1024px) {
      {%- if section.settings.menu_layout == "logo_first_navigation_inline" -%}
      .header__menu {
              width: 100%;
      }
      .header__logo {
              max-width: 250px;
      }
      {%- endif -%}

      {%- if section.settings.menu_layout == "drawer" -%}
        .header__menu {
               flex-grow: 1 !important;
        }
      {%- endif -%}
      .header__menu__content  {
          {%- if section.settings.menu_layout == "logo_first_navigation_inline" -%}
              padding: 0px 2rem;
              width: 100%;
              justify-content: flex-start;
          {%- else -%}
              justify-content: center;
          {%- endif -%}
      }

      {%- if section.settings.menu_layout == "drawer" -%}
          .header__logo {
              justify-content: center;
          }
      {%- endif -%}

      {% if section.settings.menu_layout == "drawer" %}
          .header__logo {
              order: 2;
              justify-content: center;
          }
          .header__menu {
              order: 1;
          }
          .header__menu > * {
                justify-content: flex-start;
          }
      {%- elsif section.settings.menu_layout == "logo_first" -%}
          .header__logo {
              order: 1;
              justify-content: flex-start;
          }
          .header__menu {
              order: 2;
          }
      {%- endif -%}
  }
{% endstyle %}

<section class="header">
  <div class="header__content">
    <div class="header__logo">
      <a href="/" class="header__logo-container media">
        {% if section.settings.logo_type == 'svg' %}
          {% if section.settings.logo_svg == blank %}
            <p class="logo--text" style="text-align: center; color: {{ settings.header_text_color }};">
              {{ shop.name }}
            </p>
          {% else %}
            {{ section.settings.logo_svg }}
          {% endif %}
        {% elsif section.settings.logo_type == 'image' %}
          {% if section.settings.logo_image == blank %}
            <p class="logo--text" style="text-align: center; color: {{ settings.header_text_color }};">
              {{ shop.name }}
            </p>
          {% else %}
            {%- assign image = section.settings.logo_image -%}
            {%- assign width = section.settings.logo_width -%}
            {{
              image
              | image_url: width: width
              | image_tag: loading: 'lazy', class: 'contain', alt: image.alt, width: image.width, height: image.height
            }}
          {% endif %}
        {% endif %}
      </a>
    </div>
    <div class="header__menu">
      <menu-mobile>
        <menu-drawer-component class="hidden">
          <div class="menu-mobile">
            <div class="menu-mobile__container">
              <div class="menu-mobile__head">
                <div class="menu-mobile__title">
                  <h6>{{ 'general.header.menu' | t }}</h6>
                </div>
                <div id="close-icon">
                  {% render 'snippet-icons', icon: 'close' %}
                </div>
              </div>
              <div class="menu-mobile__content">
                <div class="menu-mobile__parents">
                  {% for menu_parent in section.settings.menu.links %}
                    {% assign menu_parent_title = menu_parent.title
                      | downcase
                      | remove: ' '
                      | remove: '\'
                      | remove: '!'
                      | remove: '@'
                      | remove: '£'
                      | remove: '$'
                      | remove: '%'
                      | remove: '^'
                      | remove: '&'
                      | remove: '*'
                      | remove: '('
                      | remove: ')'
                      | remove: '-'
                      | remove: '+'
                      | remove: '='
                      | remove: '{'
                      | remove: '}'
                      | remove: ':'
                      | remove: '|'
                      | remove: '\'
                      | remove: '<'
                      | remove: '>'
                      | remove: ','
                      | remove: '.'
                      | remove: '?'
                      | remove: '~'
                      | remove: '`'
                      | remove: '\'
                      | remove: '/'
                    -%}
                    <div class="menu-mobile__parent menu-{{ menu_parent_title }}">
                      <div class="menu-mobile__parent-title menu-{{ menu_parent_title }}">
                        <h6>
                          <a
                            {% if menu_parent.links.size == 0 %}
                              href="{{ menu_parent.url }}"
                            {% endif %}
                          >
                            {{- menu_parent.title -}}
                          </a>
                        </h6>
                        {% if menu_parent.links.size > 0 %}
                          <div class="svg">
                            {% render 'snippet-icons', icon: 'menu-mobile-chevron-down' %}
                          </div>
                        {% endif %}
                      </div>
                      <div class="menu-mobile__parent-childs menu-mobile__parent-childs--active {% if menu_parent.links.size > 0 %}border{% endif %}">
                        {% for menu_child in menu_parent.links %}
                          {% assign menu_child_title = menu_child.title
                            | downcase
                            | remove: ' '
                            | remove: '\'
                            | remove: '!'
                            | remove: '@'
                            | remove: '£'
                            | remove: '$'
                            | remove: '%'
                            | remove: '^'
                            | remove: '&'
                            | remove: '*'
                            | remove: '('
                            | remove: ')'
                            | remove: '-'
                            | remove: '+'
                            | remove: '='
                            | remove: '{'
                            | remove: '}'
                            | remove: ':'
                            | remove: '|'
                            | remove: '\'
                            | remove: '<'
                            | remove: '>'
                            | remove: ','
                            | remove: '.'
                            | remove: '?'
                            | remove: '~'
                            | remove: '`'
                            | remove: '\'
                            | remove: '/'
                          -%}

                          <div class="menu-mobile__child">
                            <div class="menu-mobile__child-title menu-{{ menu_child_title }}">
                              {% for block in section.blocks %}
                                {% if block.settings.submenu_title == menu_child.title %}
                                  <div class="menu__child-icon media">
                                    {% style %}
                                      .menu-mobile__child-title.menu-{{ menu_child_title }} {
                                        padding: 0rem 0.7rem 0rem 0.7rem;
                                      }
                                    {% endstyle %}
                                    {% if block.settings.submenu_icon_type == 'svg' %}
                                      {% if block.settings.submenu_icon_svg == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        {{ block.settings.submenu_icon_svg }}
                                      {% endif %}
                                    {% elsif block.settings.submenu_icon_type == 'image' %}
                                      {% if block.settings.submenu_icon_image == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        {%- assign image = block.settings.submenu_icon_image -%}
                                        {%- assign width = '60' -%}
                                        {{
                                          image
                                          | image_url: width: width
                                          | image_tag:
                                            loading: 'lazy',
                                            class: 'contain',
                                            alt: image.alt,
                                            width: image.width,
                                            height: image.height
                                        }}
                                      {% endif %}
                                    {% endif %}
                                  </div>
                                {% endif %}
                              {% endfor %}

                              {% if menu_child.title contains '~' %}
                                {% assign splittedChildTitle = menu_child.title | split: '~' %}
                                {% style %}
                                  .text--{{ menu_child_title }}.text.tag--animated-hover:after {
                                    content: "{{ splittedChildTitle[1] | truncate: 10 }}";
                                    color: var(--accent-color-1);
                                  }

                                  .menu-mobile__parent-title.menu-{{ menu_parent_title }}:before {
                                      content: " ";
                                      background-color: var(--accent-color-1);
                                      width: 7px;
                                      height: 7px;
                                      border-radius: 50%;
                                      margin-bottom: 1rem;
                                      margin-left: -5px;
                                      animation: blink 1s linear infinite;
                                  }
                                {% endstyle %}

                                <a
                                  class="text--{{ menu_child_title }} text tag--animated-hover"
                                  {% if menu_child.links.size == 0 %}
                                    href="{{ menu_child.url }}"
                                  {% endif %}
                                >
                                  {{ splittedChildTitle[0] }}
                                </a>
                              {% else %}
                                <a
                                  class="text--{{ menu_child_title }} text"
                                  {% if menu_child.links.size == 0 %}
                                    href="{{ menu_child.url }}"
                                  {% endif %}
                                >
                                  {{ menu_child.title }}
                                </a>
                              {% endif %}
                              {% if menu_child.links.size > 0 %}
                                {% render 'snippet-icons', icon: 'menu-mobile-double-chevron-down' %}
                              {% endif %}
                            </div>
                            <div class="menu-mobile__child-childs {% if menu_child.links.size > 0 %}border{% endif %}">
                              {% for menu_grandchild in menu_child.links %}
                                {% if menu_grandchild.title contains '~' %}
                                  {% assign splittedGrandChildTitle = menu_grandchild.title | split: '~' %}
                                  {% style %}
                                    .menu-mobile__child-childs .text--{{ menu_child_title }}.text.tag--animated-hover:after {
                                      content: "{{ splittedGrandChildTitle[1] | truncate: 10 }}";
                                      color: var(--sale-tag-text-color);
                                      animation: blink 1s linear infinite;
                                    }

                                    .menu-mobile__parent-title.menu-{{ menu_parent_title }}:before, .menu-mobile__child-title.menu-{{ menu_child_title }}:before {
                                      content: " ";
                                      background-color: var(--body-text-color);
                                      width: 7px;
                                      height: 7px;
                                      border-radius: 50%;
                                      margin-bottom: 1rem;
                                      margin-left: -5px;
                                      animation: blink 1s linear infinite;
                                    }
                                  {% endstyle %}
                                  <a
                                    class="menu-mobile__grandchild-title text--{{ menu_child_title }} text tag--animated-hover"
                                    href="{{ menu_grandchild.url }}"
                                  >
                                    {{ splittedGrandChildTitle[0] }}
                                  </a>
                                {% else %}
                                  <a
                                    class="menu-mobile__grandchild-title text--{{ menu_child_title }} text"
                                    href="{{ menu_grandchild.url }}"
                                  >
                                    {{ menu_grandchild.title }}
                                  </a>
                                {% endif %}
                              {% endfor %}
                              {% for block in section.blocks %}
                                {% if block.settings.submenu_title == menu_child.title %}
                                  <div class="menu-mobile__picture-container">
                                    {% if block.settings.show_submenu_picture == true %}
                                      <div class="menu-mobile__picture media">
                                        {% if block.settings.submenu_content_image == blank %}
                                          {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                        {% else %}
                                          {%- assign image = block.settings.submenu_content_image -%}
                                          {%- assign sizes = '(min-width 750px) 500px, 100vw' -%}
                                          {%- assign widths = '200, 225, 250, 275, 300, 325, 350, 375, 400' -%}
                                          {%- assign width = '400' -%}
                                          {{
                                            image
                                            | image_url: width: width
                                            | image_tag:
                                              loading: 'lazy',
                                              class: 'cover',
                                              alt: image.alt,
                                              width: image.width,
                                              height: image.height,
                                              sizes: sizes,
                                              widths: widths
                                          }}
                                        {% endif %}
                                      </div>
                                      <p class="menu-mobile__picture-description">
                                        {{ block.settings.submenu_description }}
                                      </p>
                                    {% endif %}
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>

              {%- if shop.customer_accounts_enabled -%}
                <div class="menu-mobile__account-container">
                  <div class="shadow-divider"></div>
                  <div class="menu-mobile__account">
                    {% render 'snippet-icons', icon: 'account' %}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}">
                      {{ 'general.header.account' | t }}
                    </a>
                  </div>
                </div>
              {%- endif -%}
            </div>
          </div>
        </menu-drawer-component>
      </menu-mobile>
      <menu-desktop class="header__menu__content {% if section.settings.menu_layout == 'drawer' %}hidden{% endif %}">
        {% for menu_parent in section.settings.menu.links %}
          {% assign menu_parent_title = menu_parent.title
            | downcase
            | remove: ' '
            | remove: '\'
            | remove: '!'
            | remove: '@'
            | remove: '£'
            | remove: '$'
            | remove: '%'
            | remove: '^'
            | remove: '&'
            | remove: '*'
            | remove: '('
            | remove: ')'
            | remove: '-'
            | remove: '+'
            | remove: '='
            | remove: '{'
            | remove: '}'
            | remove: ':'
            | remove: '|'
            | remove: '\'
            | remove: '<'
            | remove: '>'
            | remove: ','
            | remove: '.'
            | remove: '?'
            | remove: '~'
            | remove: '`'
            | remove: '\'
            | remove: '/'
          -%}

          <div class="menu__parent menu_parent_title--{{ menu_parent_title }}">
            <a
              class="menu__parent-title {% if menu_parent.links.size > 0 %}filled{% endif %}"
              href="{{ menu_parent.url }}"
            >
              {{- menu_parent.title }}
            </a>

            {% if menu_parent.links.size > 0 %}
              <div class="menu__dropdown menu_parent_title--{{ menu_parent_title }}">
                <div class="menu__dropdown-wrapper">
                  <div class="menu__dropdown-content">
                    <div class="menu__childs menu_parent_title--{{ menu_parent_title }}">
                      {% for menu_child in menu_parent.links %}
                        {% assign menu_child_title = menu_child.title
                          | downcase
                          | remove: ' '
                          | remove: '\'
                          | remove: '!'
                          | remove: '@'
                          | remove: '£'
                          | remove: '$'
                          | remove: '%'
                          | remove: '^'
                          | remove: '&'
                          | remove: '*'
                          | remove: '('
                          | remove: ')'
                          | remove: '-'
                          | remove: '+'
                          | remove: '='
                          | remove: '{'
                          | remove: '}'
                          | remove: ':'
                          | remove: '|'
                          | remove: '\'
                          | remove: '<'
                          | remove: '>'
                          | remove: ','
                          | remove: '.'
                          | remove: '?'
                          | remove: '~'
                          | remove: '`'
                          | remove: '\'
                          | remove: '/'
                        -%}

                        <div class="menu__child {% if menu_child.links.size > 0 %}filled{% endif %}">
                          {% if menu_child.links.size > 0 %}
                            {% style %}
                              .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                width: 600px;
                              }
                              .menu__childs.menu_parent_title--{{ menu_parent_title }} {
                                border-right: 1px solid var(--body-text-color);
                              }
                              .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                              width: 600px;
                              transform: translateX(-50%) translateY(-10%);
                              left: 50%;
                              }
                              .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                transform: translateX(-50%) translateY(0%);
                              }
                            {% endstyle %}
                          {% endif %}
                          {% for block in section.blocks %}
                            {% if block.settings.submenu_title == menu_child.title %}
                              <div class="menu__child-icon media">
                                {% if block.settings.submenu_icon_type == 'svg' %}
                                  {% if block.settings.submenu_icon_svg == blank %}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  {% else %}
                                    {{ block.settings.submenu_icon_svg }}
                                  {% endif %}
                                {% elsif block.settings.submenu_icon_type == 'image' %}
                                  {% if block.settings.submenu_icon_image == blank %}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  {% else %}
                                    {%- assign image = block.settings.submenu_icon_image -%}
                                    {%- assign width = '60' -%}
                                    {{
                                      image
                                      | image_url: width: width
                                      | image_tag:
                                        loading: 'lazy',
                                        class: 'contain',
                                        alt: image.alt,
                                        width: image.width,
                                        height: image.height
                                    }}
                                  {% endif %}
                                {% endif %}
                              </div>
                            {% endif %}
                          {% endfor %}
                          {% if menu_child.title contains '~' %}
                            {% assign splittedChildTitle = menu_child.title | split: '~' %}
                            {% style %}
                              .menu__child-title.menu_child_title--{{ menu_child_title }}.tag--animated-hover:after {
                                content: "{{ splittedChildTitle[1] | truncate: 10 }}";
                                margin-left: 0.3rem;
                                color: var(--body-text-color);
                              }

                              .menu__parent.menu_parent_title--{{ menu_parent_title }} {
                                    display: flex;
                                    flex-direction: row;
                              }

                              .menu__parent.menu_parent_title--{{ menu_parent_title }}:before {
                                content: " ";
                                background-color: var(--accent-color-1);
                                width: 7px;
                                height: 7px;
                                border-radius: 50%;
                                animation: blink 1s linear infinite;
                                padding-right: 0.2rem;
                              }
                            {% endstyle %}
                            <a
                              class="menu__child-title menu_child_title--{{ menu_child_title }} tag--animated-hover"
                              href="{{ menu_child.url }}"
                            >
                              {{ splittedChildTitle[0] }}
                            </a>
                          {% else %}
                            <a
                              class="menu__child-title menu_child_title--{{ menu_child_title }}"
                              href="{{ menu_child.url }}"
                            >
                              {{ menu_child.title }}
                            </a>
                          {% endif %}

                          <div class="menu__grandchilds menu_parent_title--{{ menu_parent_title }}">
                            {% for menu_grandchild in menu_child.links %}
                              {% if menu_grandchild.title contains '~' %}
                                {% assign splittedGrandChildTitle = menu_grandchild.title | split: '~' %}
                                {% style %}
                                  .menu__grandchild.menu_parent_title--{{ menu_parent_title }}.tag--animated-hover:after {
                                    content: "{{ splittedGrandChildTitle[1] | truncate: 10 }}";
                                    margin-left: 0.3rem;
                                  }

                                  .menu__parent.menu_parent_title--{{ menu_parent_title }}, .menu__child-title.menu_child_title--{{ menu_child_title }} {
                                        display: flex;
                                        flex-direction: row;
                                  }

                                  .menu__parent.menu_parent_title--{{ menu_parent_title }}:before, .menu__child-title.menu_child_title--{{ menu_child_title }}:before {
                                    content: " ";
                                    width: 7px;
                                    height: 7px;
                                    border-radius: 50%;
                                    animation: blink 1s linear infinite;
                                    padding-right: 0.2rem;
                                  }
                                  .menu__parent.menu_parent_title--{{ menu_parent_title }}:before {
                                    background-color: var(--accent-color-1);
                                  }
                                  .menu__child-title.menu_child_title--{{ menu_child_title }}:before {
                                    background-color: var(--body-text-color);
                                  }
                                {% endstyle %}
                                <a
                                  class="menu__grandchild menu_parent_title--{{ menu_parent_title }} tag--animated-hover"
                                  href="{{ menu_grandchild.url }}"
                                >
                                  {{ splittedGrandChildTitle[0] }}
                                </a>
                              {% else %}
                                <a class="menu__grandchild" href="{{ menu_grandchild.url }}">
                                  {{ menu_grandchild.title }}
                                </a>
                              {% endif %}
                            {% endfor %}
                          </div>
                          {% if menu_child.links.size > 0 %}
                            {% style %}
                              .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                width: 600px !important;
                              }
                            {% endstyle %}
                          {% endif %}
                          {% for block in section.blocks %}
                            {% if block.settings.submenu_title == menu_child.title %}
                              {% if block.settings.show_submenu_picture == true %}
                                {% style %}
                                    .menu__childs.menu_parent_title--{{ menu_parent_title }} {
                                      border-right: 1px solid var(--body-text-color);
                                    }
                                  {% if menu_child.links.size > 0 %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 1200px !important;
                                    }
                                    .menu__grandchilds.menu_parent_title--{{ menu_parent_title }} {
                                      border-right: 1px solid  {{ settings.global_border_color }};
                                    }
                                    .menu__content.menu_parent_title--{{ menu_parent_title }} {
                                      transform: translateX(150%);
                                    }
                                  {% else %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 900px !important;
                                    }
                                    .menu__content.menu_parent_title--{{ menu_parent_title }} {
                                      transform: translateX(100%);
                                    }
                                  {% endif %}
                                  .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                    width: 600px;
                                    transform: translateX(-50%) translateY(-10%);
                                    left: 50%;
                                    }
                                    .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      transform: translateX(-50%) translateY(0%);
                                    }
                                {% endstyle %}

                                <div class="menu__content menu_parent_title--{{ menu_parent_title }}">
                                  <div class="menu__picture media">
                                    {% if block.settings.submenu_content_image == blank %}
                                      {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                    {% else %}
                                      {%- assign image = block.settings.submenu_content_image -%}
                                      {%- assign sizes = '600px' -%}
                                      {%- assign widths = '200, 225, 250, 275, 300, 325, 350, 375, 400, 425, 450, 475, 500, 525, 550, 575, 600' -%}
                                      {%- assign width = '600' -%}
                                      {{
                                        image
                                        | image_url: width: width
                                        | image_tag:
                                          loading: 'lazy',
                                          class: 'cover',
                                          alt: image.alt,
                                          width: image.width,
                                          height: image.height,
                                          sizes: sizes,
                                          widths: widths
                                      }}
                                    {% endif %}
                                  </div>
                                  <p class="menu__description">
                                    {{ block.settings.submenu_description }}
                                  </p>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </menu-desktop>
      <a class="header__icons-drawer header__icon {% if section.settings.menu_layout != 'drawer' %}hidden{% endif %}">
        {% render 'snippet-icons', icon: 'header-menu' %}
      </a>
    </div>
    <div class="header__icons">
      <a class="header__icons-search header__icon" id="header__search-icon">
        {% render 'snippet-icons', icon: 'header-search' %}
      </a>

      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icons-account header__icon"
        >
          {% if section.settings.menu_layout != 'drawer' %}
            {% render 'snippet-icons', icon: 'header-account' %}
          {% endif %}
        </a>
      {%- endif -%}

      <a
        {% if settings.cart_type == 'drawer' %}
        {% else %}
          href="{{ routes.cart_url }}"
        {% endif %}
        for="{{ settings.cart_type }}"
        class="header__icons-cart header__icon "
        style="position: relative;"
      >
        {% render 'snippet-icons', icon: 'header-cart-empty' %}
        <p
          class="header__icons-cart__item-count {% if cart.item_count == 0 %}hidden{% endif %}"
          id="header__icons-cart__item-count"
        >
          {{ cart.item_count }}
        </p>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-header.name",
  "class": "main-header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.general.type.menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_layout",
      "label": "t:sections.general.header.style",
      "options": [
        {
          "value": "logo_first",
          "label": "t:sections.main-header.settings.layout.options.logo_first"
        },
        {
          "value": "logo_first_navigation_inline",
          "label": "t:sections.main-header.settings.layout.options.logo_first_navigation_inline"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-header.settings.layout.options.drawer"
        }
      ],
      "default": "logo_first",
      "info": "t:sections.main-header.settings.layout.info"
    },
    {
      "type": "header",
      "content": "t:sections.general.header.logo"
    },
    {
      "type": "select",
      "id": "logo_type",
      "label": "t:sections.general.icon.icon_type",
      "options": [
        {
          "value": "svg",
          "label": "t:sections.general.icon.icon_svg.label"
        },
        {
          "value": "image",
          "label": "t:sections.general.icon.icon_image.label"
        }
      ],
      "default": "svg"
    },
    {
      "type": "liquid",
      "id": "logo_svg",
      "label": "t:sections.general.icon.icon_svg.label",
      "info": "t:sections.general.icon.icon_svg.info"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "t:sections.general.icon.icon_image.label",
      "info": "t:sections.general.icon.icon_image.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 100,
      "max": 160,
      "step": 10,
      "unit": "px",
      "label": "t:sections.general.size.width",
      "default": 120
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "t:sections.main-header.blocks.mega_menu.label",
      "settings": [
        {
          "type": "text",
          "id": "submenu_title",
          "label": "t:sections.main-header.blocks.mega_menu.settings.submenu_title.label",
          "info": "t:sections.main-header.blocks.mega_menu.settings.submenu_title.info"
        },
        {
          "type": "header",
          "content": "t:sections.main-header.blocks.mega_menu.settings.header_submenu-icon"
        },
        {
          "type": "select",
          "id": "submenu_icon_type",
          "label": "t:sections.general.icon.icon_type",
          "options": [
            {
              "value": "svg",
              "label": "t:sections.general.icon.icon_svg.label"
            },
            {
              "value": "image",
              "label": "t:sections.general.icon.icon_image.label"
            }
          ],
          "default": "svg"
        },

        {
          "type": "liquid",
          "id": "submenu_icon_svg",
          "label": "t:sections.general.icon.icon_svg.label",
          "info": "t:sections.general.icon.icon_svg.info"
        },
        {
          "type": "image_picker",
          "id": "submenu_icon_image",
          "label": "t:sections.general.icon.icon_image.label",
          "info": "t:sections.general.icon.icon_image.info"
        },
        {
          "type": "header",
          "content": "t:sections.main-header.blocks.mega_menu.settings.header_submenu-picture"
        },
        {
          "type": "checkbox",
          "id": "show_submenu_picture",
          "label": "t:sections.main-header.blocks.mega_menu.settings.show_submenu_picture",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "submenu_content_image",
          "label": "t:sections.general.media.image"
        },
        {
          "type": "text",
          "id": "submenu_description",
          "label": "t:sections.general.color.description",
          "default": "Use the description to provide more information to help the customer make an informed purchasing decision."
        }
      ]
    }
  ]
}
{% endschema %}
