{{ 'main-collections-list.css' | asset_url | stylesheet_tag }}

{% style %}
  .collections-list {
    padding-top: 100px !important;
    padding-bottom: 0px !important;
  }

  .collections-list__item {
    width: calc(100% / {{section.settings.collections_per_row_mobile}});
  }

  @media screen and (min-width: 750px) {
    .collections-list__item {
      width: calc(100% / {{section.settings.collections_per_row_desktop}});
    }
  }

  .collections-list__item__picture {
    aspect-ratio: 1;
  }

  .collections-list__item__title * {
    color: {{ section.settings.text_color }};
  }
{% endstyle %}

<div reveal-on-scroll class="collections-list">
  <div class="collections-list__container">
    <div class="collections-list__head">
      <h2>{{ 'pages.collections_list.title' | t }}</h2>
    </div>

    {%- paginate collections by section.settings.collections_per_page -%}
      <div class="collections-list__content">
        {%- for collection in collections -%}
          <div class="collections-list__item">
            <div class="collections-list__item__container">
              {% if section.settings.show_collection_title == true %}
                <div class="collections-list__item__title">
                  <h4>{{ collection.title }}</h4>
                </div>
              {% endif %}
              <div class="collections-list__item__picture corner-border">
                <a href="{{ collection.url }}" class="media corner-border-target">
                  {% if collection.featured_image != blank %}
                    {%- assign image = collection.featured_image -%}
                    {%- capture sizes -%}(min-width: 1024px) calc((var(--page-width) - 6rem - {{ section.settings.collections_per_row_desktop | times: 2 }}rem) / {{section.settings.collections_per_row_desktop }}), (min-width: 750px) calc((100vw - 6rem - {{ section.settings.collections_per_row_desktop | times: 2 }}rem) / {{section.settings.collections_per_row_desktop }}), calc((100vw - 1rem - {{ section.settings.collections_per_row_mobile | times: 1 }}rem ) / {{ section.settings.collections_per_row_mobile }}){%- endcapture -%}
                    {%- assign widths = '125, 150, 175, 200, 225, 250, 300, 325, 350, 375, 400, 425, 450, 475' -%}
                    {%- assign width = '475' -%}
                    {{
                      image
                      | image_url: width: width
                      | image_tag:
                        loading: 'lazy',
                        class: 'cover',
                        alt: image.alt,
                        width: image.width,
                        height: image.height,
                        sizes: sizes,
                        widths: widths
                    }}
                  {% else %}
                    {{ 'collection-1' | placeholder_svg_tag: 'placeholder' }}
                  {% endif %}
                </a>
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
      {% render 'snippet-pagination', paginate: paginate %}
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
{
  "name": "Collections list",
  "class": "main-collections-list",
  "settings": [
    {
      "type": "range",
      "id": "collections_per_page",
      "min": 8,
      "max": 50,
      "step": 1,
      "label": "Collections per page",
      "default": 24
    },
    {
      "type": "range",
      "id": "collections_per_row_desktop",
      "min": 3,
      "max": 6,
      "step": 1,
      "label": "Collections per row - Desktop",
      "default": 3
    },
    {
      "type": "select",
      "id": "collections_per_row_mobile",
      "label": "Collections per row - Mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "show_collection_title",
      "label": "Show collection title",
      "default": true
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#fff"
    }
  ]
}
{% endschema %}
