{{ 'main-article.css' | asset_url | stylesheet_tag }}

{% style %}
  @media screen and (min-width: 750px) {
    .article__content,
    .article__comments,
    .article__head,
    .article__tags,
    .article__share,
    .article__back-button__container {
      width: var(--page-width);
    }
  }
{% endstyle %}

<div reveal-on-scroll class="article">
  <div class="article__container">
    {% render 'snippet-breadcrumbs',
      bc1: routes.root_url,
      bc1_text: 'Home',
      bc2: blog.url,
      bc2_text: blog.title,
      bc3: article.url,
      bc3_text: article.title
    %}
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when '@app' -%}
          {% render block %}
        {%- when 'title' -%}
          <div class="article__head" {{ block.shopify_attributes }}>
            <h3 class="article__title">{{ article.title | escape }}</h3>
            {%- if block.settings.show_date -%}
              <span class="article__publication-date">
                {{- article.published_at | time_tag: format: 'date' -}}
              </span>
            {%- endif -%}
            {%- if block.settings.show_author -%}
              <span class="article__author">{{ article.author }}</span>
            {%- endif -%}
          </div>
        {%- when 'picture' -%}
          {% style %}
            .article__picture img {
              height: {{ block.settings.picture_height }}px;
            }
          {% endstyle %}
          {%- if article.image -%}
            <div class="article__picture media" {{ block.shopify_attributes }}>
              {%- assign image = article.image -%}
              {%- assign sizes = '100vw' -%}
              {%- assign widths = '350, 500, 750, 1000, 1250, 1500, 1750, 2000, 2500, 3000, 3500, 3750' -%}
              {{
                image
                | image_url: width: 3750
                | image_tag:
                  loading: 'lazy',
                  class: 'cover',
                  alt: image.alt,
                  width: image.width,
                  height: image.height,
                  sizes: sizes,
                  widths: widths
              }}
            </div>
          {%- endif -%}
        {%- when 'tags' -%}
          <div class="article__tags" {{ block.shopify_attributes }}>
            {% for tag in article.tags %}
              <span class="article__tag">{{ tag }}</span>
            {% endfor %}
          </div>
        {%- when 'content' -%}
          <div class="article__content" {{ block.shopify_attributes }}>
            <div class="article__content__container">
              {{ article.content }}
            </div>
          </div>
        {%- when 'comments' -%}
          {%- if blog.comments_enabled? -%}
            <div class="article__comments" {{ block.shopify_attributes }}>
              <div class="article__comments__container">
                {%- if article.comments_count > 0 -%}
                  <div class="article__comments__head">
                    <h6 class="article__comments__count">
                      {{ 'pages.article.comments_section_title' | t }} ({{ article.comments_count }})
                    </h6>
                  </div>
                  {% paginate article.comments by 5 %}
                    <div class="article__comments__list">
                      {%- for comment in article.comments -%}
                        <div class="article__comment">
                          <span class="article__comment__author">
                            <span class="user">{{ comment.author }}</span>
                            <span class="date"> {{ comment.created_at | time_tag: format: 'date' -}}</span>
                          </span>
                          <span class="article__comment__message">
                            {{ comment.content }}
                          </span>
                        </div>
                      {%- endfor -%}
                    </div>
                    {% render 'snippet-pagination', paginate: paginate %}
                  {% endpaginate %}
                {%- endif -%}

                {% form 'new_comment', article, id: 'comment-form' %}
                  {%- liquid
                    assign post_message = 'Comment posted'
                    if blog.moderated? and comment.status == 'unapproved'
                      assign post_message = 'Comment posted, but will be visible after approval'
                    endif
                  -%}
                  <div class="article__comment-form">
                    <div class="article__comment-form__container">
                      <h6 class="article__comment-form__title">{{ 'pages.article.comment_form_title' | t }}</h6>

                      <div class="form__messages">
                        {%- if form.errors -%}
                          {%- for field in form.errors -%}
                            <div class="form__messages__error">
                              <span>⚠</span>
                              <span>
                                {%- if form.errors.translated_fields[field] contains 'author' -%}
                                  {{ 'general.form.name' | t }}
                                {%- elsif form.errors.translated_fields[field] contains 'body' -%}
                                  {{ 'pages.article.comment_field' | t }}
                                {%- else -%}
                                  {{ form.errors.translated_fields[field] }}
                                {%- endif -%}
                                {{ form.errors.messages[field] }}
                              </span>
                            </div>
                          {%- endfor -%}
                        {%- endif -%}

                        {%- if form.posted_successfully? -%}
                          <div class="form__messages__success">
                            <span>✓ {{ post_message }}</span>
                          </div>
                        {%- endif -%}
                      </div>

                      <div class="article__comment-form__name-field">
                        <input
                          type="text"
                          name="comment[author]"
                          autocomplete="name"
                          value="{{ form.author }}"
                          required
                          placeholder="{{ 'general.form.name' | t }}"
                        >
                      </div>

                      <div class="article__comment-form__email-field">
                        <input
                          type="email"
                          name="comment[email]"
                          autocomplete="email"
                          value="{{ form.email }}"
                          autocorrect="off"
                          autocapitalize="off"
                          required
                          placeholder="{{ 'general.form.email' | t }}"
                        >
                      </div>

                      <div class="article__comment-form__message-field">
                        <textarea
                          name="comment[body]"
                          required
                          placeholder="{{ 'pages.article.comment_field' | t }}"
                        >{{ form.body }}</textarea>
                      </div>

                      <div class="article__comment-form__button buttons">
                        <button type="submit" class="button button--primary border" value="post">
                          {{ 'pages.article.submit_button' | t }}
                        </button>
                      </div>
                    </div>
                  </div>
                {% endform %}
              </div>
            </div>
          {%- endif -%}
        {%- when 'share' -%}
          <div class="article__share" {{ block.shopify_attributes }}>
            <div class="product-page__share-buttons">
              {%- assign share_url = shop.url | append: article.url -%}
              {%- assign twitter_text = article.title | url_param_escape | strip -%}
              {%- assign pinterest_description = article.description | strip | truncatewords: 15 | url_param_escape -%}
              {%- assign pinterest_image = article.image | image_url: '800x' | prepend: 'https:' -%}

              <p>{{ 'general.social.share' | t }}</p>
              <a
                href="https://www.facebook.com/sharer.php?u={{ share_url }}"
                target="_blank"
              >
                {% render 'snippet-icons', icon: 'facebook' %}
              </a>

              <a
                href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}"
                target="_blank"
              >
                {% render 'snippet-icons', icon: 'pinterest' %}
              </a>

              <a
                href="https://twitter.com/share?{% if twitter_text != blank %}text={{ twitter_text }}&{% endif %}url={{ share_url }}"
                target="_blank"
              >
                {% render 'snippet-icons', icon: 'twitter' %}
              </a>

              <a href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}">
                {% render 'snippet-icons', icon: 'email' %}
              </a>
            </div>
          </div>
      {%- endcase -%}
    {%- endfor -%}

    <div class="article__back-button__container">
      <a class="article__back-button underline" href="{{ blog.url }}">{{ 'pages.article.back_button' | t }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Article",
  "class": "main-article",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_author",
          "label": "Show author",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "show_date",
          "label": "Show date",
          "default": true
        }
      ]
    },
    {
      "type": "picture",
      "name": "Picture",
      "limit": 1,
      "settings": [
        {
          "type": "range",
          "id": "picture_height",
          "min": 400,
          "max": 800,
          "step": 100,
          "unit": "px",
          "label": "Picture height",
          "default": 400
        }
      ]
    },
    {
      "type": "tags",
      "name": "Tags",
      "limit": 1
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1
    },
    {
      "type": "comments",
      "name": "Comments",
      "limit": 1
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1
    }
  ]
}
{% endschema %}
