{{ 'main-collection.css' | asset_url | stylesheet_tag }}

{% style %}
  .collection__item {
    width: calc(100% / {{section.settings.products_per_row_desktop}});
  }

  @media screen and (max-width: 750px) {
    .collection__item {
      width: calc(100% / {{section.settings.products_per_row_mobile}});
    }
  }
{% endstyle %}

<div class="collection  {% if collection.products_count == 0 %}empty-state{% endif %}">
  <div class="collection__container">
    <p class="collection__page-tab selected results-count" style="text-align: center;">
      {{ 'pages.collection.title' | t }}
    </p>
    {%- if collection.products_count > 0 -%}
      <div class="collection__content">
        <div class="collection__content-container tab active" type="products">
          <div
            class="filter__box"
            {% if section.settings.show_filter == false %}
              style="display: none;"
            {% endif %}
          >
            {% render 'snippet-filter',
              state: section.settings.filters_expanded_at_start,
              filters: collection.filters
            %}
          </div>
          <div class="collection__content--middle">
            <div class="filter__results">
              {% paginate collection.products by section.settings.products_per_page %}
                <div class="filter__results--head">
                  {% if section.settings.show_filter == true %}
                    <div class="show-filter mobile-only">
                      {% render 'snippet-icons', icon: 'search-filter' %}
                      <span>{{ 'general.filter.section_title' | t }}</span>
                      <span id="filterCount"></span>
                    </div>
                  {% endif %}

                  <p class="results-count-hidden" style="opacity: 0;">({{ collection.products_count }})</p>

                  <div class="sort-by">
                    <p for="SortBy">{{ 'general.filter.sort_by' | t }}</p>

                    <select
                      name="sort_by"
                      id="SortBy"
                      class="sort-by__select"
                    >
                      {%- for option in collection.sort_options -%}
                        <option
                          value="{{ option.value | escape }}"
                          {% if option.value == 'sort_by' %}
                            selected="selected"
                          {% endif %}
                        >
                          {{ option.name | escape }}
                        </option>
                      {%- endfor -%}
                    </select>
                  </div>
                </div>
                <div reveal-on-scroll class="filter__results--list">
                  {% for item in collection.products %}
                    <div class="collection__item">
                      <div class="collection__item-container">
                        <div class="collection__item__picture corner-border">
                          {% assign price_difference_text = 'general.others.sale_text' | t %}
                          {% assign price_difference = item.compare_at_price | minus: item.price %}
                          <div class="collection__item__tag">
                            {% if item.available %}
                              {% if price_difference > 0 %}
                                <p class="tag--animated tag-text">
                                  {{ price_difference_text }}
                                  {{ item.compare_at_price | minus: item.price | money }}
                                </p>
                              {% endif %}
                            {% else %}
                              <p class="tag--disabled tag-text">{{ 'general.others.sold_out' | t }}</p>
                            {% endif %}
                          </div>
                          {% if item.available %}
                            <div
                              class="quick-view-button desktop-only"
                              id="quick-view-button"
                              data-first-available-variant-id="{{ item.first_available_variant.id }}"
                              data-product-handle="{{ item.handle }}"
                              data-product-variants="{% if item.variants.size > 1 %}with{% else %}without{% endif %}"
                            >
                              {% render 'snippet-icons', icon: 'quick-view' -%}
                            </div>
                          {% endif %}
                          {% if item.featured_media != blank %}
                            <a href="{{ item.url }}" class="media corner-border-target">
                              {%- assign image = item.featured_media -%}
                              {%- capture sizes -%}(min-width: 1024px) calc((1175px - {{ section.settings.products_per_row_desktop | times: 2 }}rem) / {{ section.settings.products_per_row_desktop }}), (min-width: 750px) calc((100vw - 2rem - {{ section.settings.products_per_row_desktop | times: 2 }}rem) / {{ section.settings.products_per_row_desktop }}), calc((100vw - 1rem - {{ section.settings.products_per_row_mobile | times: 1 }}rem) / {{ section.settings.products_per_row_mobile }}){%- endcapture -%}
                              {%- assign widths = '125, 150, 175, 200, 225, 250, 300, 325, 350, 375' -%}
                              {%- assign width = '375' -%}
                              {{
                                image
                                | image_url: width: width
                                | image_tag:
                                  loading: 'lazy',
                                  class: 'cover',
                                  alt: image.alt,
                                  width: image.width,
                                  height: image.height,
                                  sizes: sizes,
                                  widths: widths
                              }}
                            </a>
                          {% else %}
                            <a href="{{ item.url }}" class="media corner-border-target">
                              {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                            </a>
                          {% endif %}
                        </div>

                        {% assign product_date = item.published_at | date: '%s' %}
                        {% assign current_date = 'now' | date: '%s' %}

                        {% assign difference_in_seconds = current_date | minus: product_date %}
                        {% assign difference_in_days = difference_in_seconds | divided_by: 3600 | divided_by: 24 %}

                        <a
                          href="{{ item.url }}"
                          class="collection__item__name {% if settings.new_tag == true and difference_in_days < settings.new_tag_time %}tag--animated-hover{% endif %}"
                        >
                          {{- item.title -}}
                        </a>

                        <div class="collection__item__prices">
                          <p class="price--actual">{{ item.price | money }}</p>
                          {% if item.compare_at_price != 0 %}
                            <p class="price--compare-at">{{ item.compare_at_price | money }}</p>
                          {% endif %}
                        </div>
                        {% if item.available %}
                          <quick-view-button>
                            <div
                              class="button--link mobile-only"
                              id="quick-view-button"
                              data-first-available-variant-id="{{ item.first_available_variant.id }}"
                              data-product-handle="{{ item.handle }}"
                              data-product-variants="{% if item.variants.size > 1 %}with{% else %}without{% endif %}"
                            >
                              {%- if item.variants.size > 1 -%}
                                {{ 'general.buttons.quick_view' | t }} +
                              {% else %}
                                {{ 'general.buttons.add_to_cart' | t }} +
                              {%- endif -%}
                              {% render 'snippet-icons', icon: 'loading-spinner-tiny' %}
                            </div>
                          </quick-view-button>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
                {% render 'snippet-pagination', paginate: paginate %}
              {% endpaginate %}
            </div>
          </div>
        </div>
      </div>
    {%- else -%}
      <p>{{ 'pages.collection.empty_collection_text' | t }}</p>
      <div class="buttons">
        <a
          class="button button--primary border"
          href="{{ routes.collections_url }}"
        >
          <span></span> <span></span> <span></span> <span></span>
          {{ 'general.buttons.shop_now' | t }}
        </a>
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Collection",
  "class": "main-collection",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 50,
      "step": 1,
      "label": "Products per page",
      "default": 24
    },
    {
      "type": "range",
      "id": "products_per_row_desktop",
      "min": 3,
      "max": 6,
      "step": 1,
      "label": "Products per row - desktop/tablet",
      "default": 4
    },
    {
      "type": "select",
      "id": "products_per_row_mobile",
      "label": "Products per row - mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "checkbox",
      "id": "show_filter",
      "label": "Show filter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "filters_expanded_at_start",
      "label": "Filters expanded at start",
      "default": true
    }
  ]
}
{% endschema %}
