{{ 'main-header.css' | asset_url | stylesheet_tag }}

{% style %}
  .header-section.boxed .header-container .main-header .header .header__content, .menu-mobile__container, .menu__dropdown-content {
    border-radius: var(--global-border-radius);
    border: var(--global-border-width) solid var(--global-border-color);
  }

  .menu-mobile__parent-childs.active.border, .menu-mobile__child-childs.active.border, .menu-mobile__account {
    border-top: 1px solid var(--body-text-color);
  }

  .header__content {
    background-color: {{ settings.header_background_color }};
   }
  .menu-mobile__container, .menu-mobile__headr, .menu-mobile__parent-title, .menu-mobile__child-title, .menu-mobile__child-childs, .menu__dropdown-content {
    background-color: var(--background-color);
   }

  .menu__parent-title {
    color: {{ settings.header_text_color }};
  }
  .menu__child-title, .menu__grandchild, .menu__child.filled::after, .menu-mobile__parent-title h6 a, .menu-mobile__child-title .text,  .menu-mobile__grandchild-title, .menu-mobile__title h6, .menu-mobile__account a {
    color: var(--body-text-color);
  }

  @media screen and (min-width: 1024px) {
      {%- if section.settings.menu_layout == "logo_first_navigation_inline" -%}
      .header__menu {
              width: 100%;
      }
      .header__logo {
              max-width: 250px;
      }
      {%- endif -%}

      {%- if section.settings.menu_layout == "drawer" -%}
        .header__menu {
               flex-grow: 1 !important;
        }
      {%- endif -%}
      .header__menu__content  {
          {%- if section.settings.menu_layout == "logo_first_navigation_inline" -%}
              padding: 0px 2rem;
              width: 100%;
              justify-content: flex-start;
          {%- else -%}
              justify-content: center;
          {%- endif -%}
      }

      {%- if section.settings.menu_layout == "drawer" -%}
          .header__logo {
              justify-content: center;
          }
      {%- endif -%}

      {% if section.settings.menu_layout == "navigation_first" or section.settings.menu_layout == "drawer" %}
          .header__logo {
              order: 2;
              justify-content: center;
          }
          .header__menu {
              order: 1;
          }
          .header__menu > * {
                justify-content: flex-start;
          }
      {%- elsif section.settings.menu_layout == "logo_first" -%}
          .header__logo {
              order: 1;
              justify-content: flex-start;
          }
          .header__menu {
              order: 2;
          }
      {%- endif -%}
  }
{% endstyle %}

<section class="header">
  <div class="header__content">
    <div class="header__logo">
      <a href="/" class="header__logo-container">
        {% if section.settings.logo_type == 'svg' %}
          {% if section.settings.logo_svg == blank %}
            <p class="logo--text" style="text-align: center; color: {{ settings.header_text_color }};">
              {{ shop.name }}
            </p>
          {% else %}
            {{ section.settings.logo_svg }}
          {% endif %}
        {% elsif section.settings.logo_type == 'image' %}
          {% if section.settings.logo_image == blank %}
            <p class="logo--text" style="text-align: center; color: {{ settings.header_text_color }};">
              {{ shop.name }}
            </p>
          {% else %}
            {% render 'snippet-image'; image: section.settings.logo_image, style: 'full' %}
          {% endif %}
        {% endif %}
      </a>
    </div>
    <div class="header__menu">
      <menu-mobile>
        <menu-drawer-component class="hidden">
          <div class="menu-mobile">
            <div class="menu-mobile__container">
              <div class="menu-mobile__head">
                <div class="menu-mobile__title">
                  <h6>Menu</h6>
                </div>
                <div id="close-icon">
                  {% render 'snippet-icons', icon: 'close' %}
                </div>
              </div>
              <div class="menu-mobile__content">
                <div class="menu-mobile__parents">
                  {% for menu_parent in section.settings.menu.links %}
                    {% assign menu_parent_title = menu_parent.title
                      | downcase
                      | remove: ' '
                      | remove: '\'
                      | remove: '!'
                      | remove: '@'
                      | remove: '£'
                      | remove: '$'
                      | remove: '%'
                      | remove: '^'
                      | remove: '&'
                      | remove: '*'
                      | remove: '('
                      | remove: ')'
                      | remove: '-'
                      | remove: '+'
                      | remove: '='
                      | remove: '{'
                      | remove: '}'
                      | remove: ':'
                      | remove: '|'
                      | remove: '\'
                      | remove: '<'
                      | remove: '>'
                      | remove: ','
                      | remove: '.'
                      | remove: '?'
                      | remove: '~'
                      | remove: '`'
                      | remove: '\'
                      | remove: '/'
                    -%}
                    <div class="menu-mobile__parent {{ menu_parent_title }}">
                      <div class="menu-mobile__parent-title {{ menu_parent_title }}">
                        <h6>
                          <a
                            {% if menu_parent.links.size == 0 %}
                              href="{{ menu_parent.url }}"
                            {% endif %}
                          >
                            {{- menu_parent.title -}}
                          </a>
                        </h6>
                        {% if menu_parent.links.size > 0 %}
                          <div class="svg">
                            {% render 'snippet-icons', icon: 'menu-mobile-chevron-down' %}
                          </div>
                        {% endif %}
                      </div>
                      <div class="menu-mobile__parent-childs menu-mobile__parent-childs--active {% if menu_parent.links.size > 0 %}border{% endif %}">
                        {% for menu_child in menu_parent.links %}
                          {% assign menu_child_title = menu_child.title
                            | downcase
                            | remove: ' '
                            | remove: '\'
                            | remove: '!'
                            | remove: '@'
                            | remove: '£'
                            | remove: '$'
                            | remove: '%'
                            | remove: '^'
                            | remove: '&'
                            | remove: '*'
                            | remove: '('
                            | remove: ')'
                            | remove: '-'
                            | remove: '+'
                            | remove: '='
                            | remove: '{'
                            | remove: '}'
                            | remove: ':'
                            | remove: '|'
                            | remove: '\'
                            | remove: '<'
                            | remove: '>'
                            | remove: ','
                            | remove: '.'
                            | remove: '?'
                            | remove: '~'
                            | remove: '`'
                            | remove: '\'
                            | remove: '/'
                          -%}

                          <div class="menu-mobile__child">
                            <div class="menu-mobile__child-title {{ menu_child_title }}">
                              {% for block in section.blocks %}
                                {% if block.settings.tab_title == menu_child.title %}
                                  <div class="menu__child-icon media">
                                    {% style %}
                                      .menu-mobile__child-title.{{ menu_child_title }} {
                                        padding: 0rem 0.7rem 0rem 0.7rem;
                                      }
                                    {% endstyle %}
                                    {% if block.settings.tab_icon_type == 'svg' %}
                                      {% if block.settings.tab_icon_svg == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        {{ block.settings.tab_icon_svg }}
                                      {% endif %}
                                    {% elsif block.settings.tab_icon_type == 'image' %}
                                      {% if block.settings.tab_icon_image == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        {% render 'snippet-image'; image: block.settings.tab_icon_image, style: 'full' %}
                                      {% endif %}
                                    {% endif %}
                                  </div>
                                {% endif %}
                              {% endfor %}

                              {% if menu_child.title contains '~' %}
                                {% assign splittedChildTitle = menu_child.title | split: '~' %}
                                {% style %}
                                  .text--{{ menu_child_title }}.text.tag--animated-hover:after {
                                    content: "{{ splittedChildTitle[1] | truncate: 10 }}";
                                    color: var(--accent-color-1);
                                  }

                                  .menu-mobile__parent-title.{{ menu_parent_title }}:before {
                                      content: " ";
                                      background-color: var(--accent-color-1);
                                      width: 7px;
                                      height: 7px;
                                      border-radius: 50%;
                                      margin-bottom: 1rem;
                                      margin-left: -5px;
                                      animation: blink 1s linear infinite;
                                  }
                                {% endstyle %}

                                <a
                                  class="text--{{ menu_child_title }} text tag--animated-hover"
                                  {% if menu_child.links.size == 0 %}
                                    href="{{ menu_child.url }}"
                                  {% endif %}
                                >
                                  {{ splittedChildTitle[0] }}
                                </a>
                              {% else %}
                                <a
                                  class="text--{{ menu_child_title }} text"
                                  {% if menu_child.links.size == 0 %}
                                    href="{{ menu_child.url }}"
                                  {% endif %}
                                >
                                  {{ menu_child.title }}
                                </a>
                              {% endif %}
                              {% if menu_child.links.size > 0 %}
                                {% render 'snippet-icons', icon: 'menu-mobile-double-chevron-down' %}
                              {% endif %}
                            </div>
                            <div class="menu-mobile__child-childs {% if menu_child.links.size > 0 %}border{% endif %}">
                              {% for menu_grandchild in menu_child.links %}
                                {% if menu_grandchild.title contains '~' %}
                                  {% assign splittedGrandChildTitle = menu_grandchild.title | split: '~' %}
                                  {% style %}
                                    .menu-mobile__child-childs .text--{{ menu_child_title }}.text.tag--animated-hover:after {
                                      content: "{{ splittedGrandChildTitle[1] | truncate: 10 }}";
                                      color: var(--body-text-color);
                                      animation: blink 1s linear infinite;
                                    }

                                    .menu-mobile__parent-title.{{ menu_parent_title }}:before, .menu-mobile__child-title.{{ menu_child_title }}:before {
                                      content: " ";
                                      background-color: var(--accent-color-1);
                                      width: 7px;
                                      height: 7px;
                                      border-radius: 50%;
                                      margin-bottom: 1rem;
                                      margin-left: -5px;
                                      animation: blink 1s linear infinite;
                                    }
                                  {% endstyle %}
                                  <a
                                    class="menu-mobile__grandchild-title text--{{ menu_child_title }} text tag--animated-hover"
                                    href="{{ menu_grandchild.url }}"
                                  >
                                    {{ splittedGrandChildTitle[0] }}
                                  </a>
                                {% else %}
                                  <a
                                    class="menu-mobile__grandchild-title text--{{ menu_child_title }} text"
                                    href="{{ menu_grandchild.url }}"
                                  >
                                    {{ menu_grandchild.title }}
                                  </a>
                                {% endif %}
                              {% endfor %}
                              {% for block in section.blocks %}
                                {% if block.settings.tab_title == menu_child.title %}
                                  <div class="menu-mobile__picture-container">
                                    {% if block.settings.show_tab_picture == true %}
                                      <div class="menu-mobile__picture media">
                                        {% if block.settings.tab_content_type == 'svg' %}
                                          {% if block.settings.tab_content_svg == blank %}
                                            {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                          {% else %}
                                            {{ block.settings.tab_content_svg }}
                                          {% endif %}
                                        {% elsif block.settings.tab_content_type == 'image' %}
                                          {% if block.settings.tab_content_image == blank %}
                                            {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                          {% else %}
                                            {% render 'snippet-image'; image: block.settings.tab_content_image, style: 'full' %}
                                          {% endif %}
                                        {% endif %}
                                      </div>
                                      <p class="menu-mobile__picture-description">
                                        {{ block.settings.tab_description }}
                                      </p>
                                    {% endif %}
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>

              {%- if shop.customer_accounts_enabled -%}
                <div class="menu-mobile__account-container">
                  <div class="menu-mobile__account">
                    {% render 'snippet-icons', icon: 'account' %}
                    <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                      >Account</a
                    >
                  </div>
                </div>
              {%- endif -%}
            </div>
          </div>
        </menu-drawer-component>
      </menu-mobile>
      <menu-desktop class="header__menu__content {% if section.settings.menu_layout == 'drawer' %}hidden{% endif %}">
        {% for menu_parent in section.settings.menu.links %}
          {% assign menu_parent_title = menu_parent.title
            | downcase
            | remove: ' '
            | remove: '\'
            | remove: '!'
            | remove: '@'
            | remove: '£'
            | remove: '$'
            | remove: '%'
            | remove: '^'
            | remove: '&'
            | remove: '*'
            | remove: '('
            | remove: ')'
            | remove: '-'
            | remove: '+'
            | remove: '='
            | remove: '{'
            | remove: '}'
            | remove: ':'
            | remove: '|'
            | remove: '\'
            | remove: '<'
            | remove: '>'
            | remove: ','
            | remove: '.'
            | remove: '?'
            | remove: '~'
            | remove: '`'
            | remove: '\'
            | remove: '/'
          -%}

          <div class="menu__parent menu_parent_title--{{ menu_parent_title }}">
            <a
              class="menu__parent-title {% if menu_parent.links.size > 0 %}filled{% endif %}"
              href="{{ menu_parent.url }}"
            >
              {{- menu_parent.title }}
            </a>

            {% if menu_parent.links.size > 0 %}
              <div class="menu__dropdown menu_parent_title--{{ menu_parent_title }}">
                <div class="menu__dropdown-wrapper">
                  <div class="menu__dropdown-content">
                    <div class="menu__childs menu_parent_title--{{ menu_parent_title }}">
                      {% for menu_child in menu_parent.links %}
                        {% assign menu_child_title = menu_child.title
                          | downcase
                          | remove: ' '
                          | remove: '\'
                          | remove: '!'
                          | remove: '@'
                          | remove: '£'
                          | remove: '$'
                          | remove: '%'
                          | remove: '^'
                          | remove: '&'
                          | remove: '*'
                          | remove: '('
                          | remove: ')'
                          | remove: '-'
                          | remove: '+'
                          | remove: '='
                          | remove: '{'
                          | remove: '}'
                          | remove: ':'
                          | remove: '|'
                          | remove: '\'
                          | remove: '<'
                          | remove: '>'
                          | remove: ','
                          | remove: '.'
                          | remove: '?'
                          | remove: '~'
                          | remove: '`'
                          | remove: '\'
                          | remove: '/'
                        -%}

                        <div class="menu__child {% if menu_child.links.size > 0 %}filled{% endif %}">
                          {% if menu_child.links.size > 0 %}
                            {% style %}
                              .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                width: 600px;
                              }
                              .menu__childs.menu_parent_title--{{ menu_parent_title }} {
                                border-right: 1px solid  {{ settings.global_border_color }};
                              }
                              {% if section.settings.menu_layout == 'navigation_first' %}
                                @media screen and (max-width: 1440px) {
                                  .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                  width: 600px;
                                  transform: translateX(-50%) translateY(-10%);
                                  left: 50%;
                                  }

                                  .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                    transform: translateX(-50%) translateY(0%);
                                  }
                                }
                              {% else %}
                                 .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                  width: 600px;
                                  transform: translateX(-50%) translateY(-10%);
                                  left: 50%;
                                  }
                                  .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                    transform: translateX(-50%) translateY(0%);
                                  }
                              {% endif %}
                            {% endstyle %}
                          {% endif %}
                          {% for block in section.blocks %}
                            {% if block.settings.tab_title == menu_child.title %}
                              <div class="menu__child-icon media">
                                {% if block.settings.tab_icon_type == 'svg' %}
                                  {% if block.settings.tab_icon_svg == blank %}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  {% else %}
                                    {{ block.settings.tab_icon_svg }}
                                  {% endif %}
                                {% elsif block.settings.tab_icon_type == 'image' %}
                                  {% if block.settings.tab_icon_image == blank %}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  {% else %}
                                    {% render 'snippet-image'; image: block.settings.tab_icon_image, style: 'full' %}
                                  {% endif %}
                                {% endif %}
                              </div>
                            {% endif %}
                          {% endfor %}
                          {% if menu_child.title contains '~' %}
                            {% assign splittedChildTitle = menu_child.title | split: '~' %}
                            {% style %}
                              .menu__child-title.menu_child_title--{{ menu_child_title }}.tag--animated-hover:after {
                                content: "{{ splittedChildTitle[1] | truncate: 10 }}";
                                margin-left: 0.3rem;
                                color: var(--body-text-color);
                              }

                              .menu__parent.menu_parent_title--{{ menu_parent_title }} {
                                    display: flex;
                                    flex-direction: row;
                              }

                              .menu__parent.menu_parent_title--{{ menu_parent_title }}:before {
                                content: " ";
                                background-color: var(--accent-color-1);
                                width: 7px;
                                height: 7px;
                                border-radius: 50%;
                                animation: blink 1s linear infinite;
                                padding-right: 0.2rem;
                              }
                            {% endstyle %}
                            <a
                              class="menu__child-title menu_child_title--{{ menu_child_title }} tag--animated-hover"
                              href="{{ menu_child.url }}"
                            >
                              {{ splittedChildTitle[0] }}
                            </a>
                          {% else %}
                            <a
                              class="menu__child-title menu_child_title--{{ menu_child_title }}"
                              href="{{ menu_child.url }}"
                            >
                              {{ menu_child.title }}
                            </a>
                          {% endif %}

                          <div class="menu__grandchilds menu_parent_title--{{ menu_parent_title }}">
                            {% for menu_grandchild in menu_child.links %}
                              {% if menu_grandchild.title contains '~' %}
                                {% assign splittedGrandChildTitle = menu_grandchild.title | split: '~' %}
                                {% style %}
                                  .menu__grandchild.menu_parent_title--{{ menu_parent_title }}.tag--animated-hover:after {
                                    content: "{{ splittedGrandChildTitle[1] | truncate: 10 }}";
                                    margin-left: 0.3rem;
                                  }

                                  .menu__parent.menu_parent_title--{{ menu_parent_title }}, .menu__child-title.menu_child_title--{{ menu_child_title }} {
                                        display: flex;
                                        flex-direction: row;
                                  }

                                  .menu__parent.menu_parent_title--{{ menu_parent_title }}:before, .menu__child-title.menu_child_title--{{ menu_child_title }}:before {
                                    content: " ";
                                    width: 7px;
                                    height: 7px;
                                    border-radius: 50%;
                                    animation: blink 1s linear infinite;
                                    padding-right: 0.2rem;
                                  }
                                  .menu__parent.menu_parent_title--{{ menu_parent_title }}:before {
                                    background-color: var(--accent-color-1);
                                  }
                                  .menu__child-title.menu_child_title--{{ menu_child_title }}:before {
                                    background-color: var(--accent-color-1);
                                  }
                                {% endstyle %}
                                <a
                                  class="menu__grandchild menu_parent_title--{{ menu_parent_title }} tag--animated-hover"
                                  href="{{ menu_grandchild.url }}"
                                >
                                  {{ splittedGrandChildTitle[0] }}
                                </a>
                              {% else %}
                                <a class="menu__grandchild" href="{{ menu_grandchild.url }}">
                                  {{ menu_grandchild.title }}
                                </a>
                              {% endif %}
                            {% endfor %}
                          </div>
                          {% if menu_child.links.size > 0 %}
                            {% style %}
                              .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                width: 600px !important;
                              }
                            {% endstyle %}
                          {% endif %}
                          {% for block in section.blocks %}
                            {% if block.settings.tab_title == menu_child.title %}
                              {% if block.settings.show_tab_picture == true %}
                                {% style %}
                                    .menu__childs.menu_parent_title--{{ menu_parent_title }} {
                                      border-right: 1px solid  {{ settings.global_border_color }};
                                    }
                                  {% if menu_child.links.size > 0 %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 1200px !important;
                                    }
                                    .menu__grandchilds.menu_parent_title--{{ menu_parent_title }} {
                                      border-right: 1px solid  {{ settings.global_border_color }};
                                    }
                                    .menu__content.menu_parent_title--{{ menu_parent_title }} {
                                      transform: translateX(150%);
                                    }
                                  {% else %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 900px !important;
                                    }
                                    .menu__content.menu_parent_title--{{ menu_parent_title }} {
                                      transform: translateX(100%);
                                    }
                                  {% endif %}

                                  {% if section.settings.menu_layout == 'navigation_first' %}
                                    @media screen and (max-width: 1440px) {
                                      .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                        width: 600px;
                                        transform: translateX(-50%) translateY(-10%);
                                        left: 50%;
                                      }
                                      .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                        transform: translateX(-50%) translateY(0%);
                                      }
                                    }
                                  {% else %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 600px;
                                      transform: translateX(-50%) translateY(-10%);
                                      left: 50%;
                                      }
                                      .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                        transform: translateX(-50%) translateY(0%);
                                      }
                                  {% endif %}
                                {% endstyle %}

                                <div class="menu__content menu_parent_title--{{ menu_parent_title }}">
                                  <div class="menu__picture media">
                                    {% if block.settings.tab_content_type == 'svg' %}
                                      {% if block.settings.tab_content_svg == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        {{ block.settings.tab_content_svg }}
                                      {% endif %}
                                    {% elsif block.settings.tab_content_type == 'image' %}
                                      {% if block.settings.tab_content_image == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        {% render 'snippet-image'; image: block.settings.tab_content_image, style: 'full' %}
                                      {% endif %}
                                    {% endif %}
                                  </div>
                                  <p class="menu__description">
                                    {{ block.settings.tab_description }}
                                  </p>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </menu-desktop>
      <a class="header__icons-drawer header__icon {% if section.settings.menu_layout != 'drawer' %}hidden{% endif %}">
        {% render 'snippet-icons', icon: 'header-menu' %}
      </a>
    </div>
    <div class="header__icons">
      <a class="header__icons-search header__icon" id="header__search-icon">
        {% render 'snippet-icons', icon: 'header-search' %}
      </a>

      {%- if shop.customer_accounts_enabled -%}
        <a
          href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
          class="header__icons-account header__icon"
        >
          {% if section.settings.menu_layout != 'drawer' %}
            {% render 'snippet-icons', icon: 'header-account' %}
          {% endif %}
        </a>
      {%- endif -%}

      <a
        {% if settings.cart_type == 'drawer' %}
        {% else %}
          href="{{ routes.cart_url }}"
        {% endif %}
        for="{{ settings.cart_type }}"
        class="header__icons-cart header__icon "
        style="position: relative;"
      >
        {% render 'snippet-icons', icon: 'header-cart-empty' %}
        <p
          class="header__icons-cart__item-count {% if cart.item_count == 0 %}hidden{% endif %}"
          id="header__icons-cart__item-count"
        >
          {{ cart.item_count }}
        </p>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Header",
  "class": "main-header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "select",
      "id": "logo_type",
      "label": "Logo type",
      "options": [
        {
          "value": "svg",
          "label": "Svg"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "svg",
      "info": "It is highly recommended to use svg logo instead of jpeg/png logo to get the best quality"
    },
    {
      "type": "liquid",
      "id": "logo_svg",
      "label": "Logo - svg",
      "info": "Applicable only if logo type is svg"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo - image",
      "info": "Applicable only if logo type is image"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_layout",
      "label": "Layout",
      "options": [
        {
          "value": "logo_first",
          "label": "Logo first, navigation center"
        },
        {
          "value": "logo_first_navigation_inline",
          "label": "Logo first, navigation inline"
        },
        {
          "value": "navigation_first",
          "label": "Navigation first, logo center"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "logo_first",
      "info": "This is for desktop only. Drawer layout will be applied to mobile devices"
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title",
          "info": "Put the title of the tab (menu child) here, exactly like it's shown in the menu. Make sure they are unique and not duplicates. And also respect the uppercase, lowercase and spaces."
        },
        {
          "type": "select",
          "id": "tab_icon_type",
          "label": "Tab icon/image type",
          "options": [
            {
              "value": "svg",
              "label": "svg"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ],
          "default": "svg",
          "info": "It is recommended to use svg icons instead of jpeg/png to get the best quality"
        },
        {
          "type": "liquid",
          "id": "tab_icon_svg",
          "label": "Tab icon - svg",
          "info": "Applicable only if icon type is svg"
        },
        {
          "type": "image_picker",
          "id": "tab_icon_image",
          "label": "Tab icon - image",
          "info": "Applicable only if icon type is image"
        },
        {
          "type": "header",
          "content": "Tab picture"
        },
        {
          "type": "checkbox",
          "id": "show_tab_picture",
          "label": "Show tab picture and description",
          "default": true
        },
        {
          "type": "select",
          "id": "tab_content_type",
          "label": "Tab content image type",
          "options": [
            {
              "value": "svg",
              "label": "svg"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ],
          "default": "svg"
        },
        {
          "type": "liquid",
          "id": "tab_content_svg",
          "label": "Tab content image - svg",
          "info": "Applicable only if image type is svg"
        },
        {
          "type": "image_picker",
          "id": "tab_content_image",
          "label": "Tab content image - image",
          "info": "Applicable only if image type is image"
        },
        {
          "type": "text",
          "id": "tab_description",
          "label": "Tab description",
          "default": "Tab description"
        }
      ]
    }
  ]
}
{% endschema %}
