{{ 'main-header.css' | asset_url | stylesheet_tag }}

{% style %}
  .header-section.boxed .header-container .main-header .header .header__content, .menu-mobile__container, .menu__dropdown-content {
    border-radius: {{ section.settings.border_radius }}px;
    border: {{ section.settings.border_width }}px solid {{ section.settings.border_color }};
  }

  .menu-mobile__parent-childs.active.border, .menu-mobile__child-childs.active.border, .menu-mobile__account {
    border-top: 1px solid {{ section.settings.border_color }};
  }

  .header__content, .menu-mobile__container, .menu-mobile__headr, .menu-mobile__parent-title, .menu-mobile__child-title, .menu-mobile__child-childs, .menu__dropdown-content {
    background-color: {{ section.settings.header_background_color }};
   }

  .menu__parent-title, .menu__child-title, .menu__grandchild, .menu__child.filled::after, .menu-mobile__parent-title h6 a, .menu-mobile__child-title .text,  .menu-mobile__grandchild-title, .menu-mobile__title h6, .menu-mobile__account a {
    color: {{ section.settings.content_color }};
  }

  @media screen and (min-width: 1024px) {
      {%- if section.settings.menu_layout == "logo_first_navigation_inline" -%}
      .header__menu {
              width: 100%;
      }
      .header__logo {
              max-width: 250px;
      }
      {%- endif -%}

      {%- if section.settings.menu_layout == "drawer" -%}
        .header__menu {
               flex-grow: 1 !important;
        }
      {%- endif -%}
      .header__menu__content  {
          {%- if section.settings.menu_layout == "logo_first_navigation_inline" -%}
              padding: 0px 2rem;
              width: 100%;
              justify-content: flex-start;
          {%- else -%}
              justify-content: center;
          {%- endif -%}
      }

      {%- if section.settings.menu_layout == "drawer" -%}
          .header__logo {
              justify-content: center;
          }
      {%- endif -%}

      {% if section.settings.menu_layout == "navigation_first" or section.settings.menu_layout == "drawer" %}
          .header__logo {
              order: 2;
              justify-content: center;
          }
          .header__menu {
              order: 1;
          }
          .header__menu > * {
                justify-content: flex-start;
          }
      {%- elsif section.settings.menu_layout == "logo_first" -%}
          .header__logo {
              order: 1;
              justify-content: flex-start;
          }
          .header__menu {
              order: 2;
          }
      {%- endif -%}
  }
{% endstyle %}

<section class="header">
  <div class="header__content">
    <div class="header__logo">
      <a href="/" class="header__logo-container">
        {% if section.settings.logo_type == 'svg' %}
          {% if section.settings.logo_svg == blank %}
            <p style="text-transform: uppercase; font-size: 1.2rem; font-weight: bold; text-align: center; color: {{ section.settings.content_color }};">
              {{ shop.name }}
            </p>
          {% else %}
            {{ section.settings.logo_svg }}
          {% endif %}
        {% elsif section.settings.logo_type == 'image' %}
          {% if section.settings.logo_image == blank %}
            <p style="text-transform: uppercase; font-size: 1.2rem; font-weight: bold; text-align: center; color: {{ section.settings.content_color }};">
              {{ shop.name }}
            </p>
          {% else %}
            <img
              srcset="{{ section.settings.logo_image | image_url }}"
              loading="lazy"
              alt="{{ section.settings.logo_image | escape }}"
              width="{{ section.settings.logo_image.width }}"
              height="{{ section.settings.logo_image.height }}"
              class="full"
            >
          {% endif %}
        {% endif %}
      </a>
    </div>
    <div class="header__menu">
      <menu-mobile>
        <menu-drawer-component class="hidden">
          <div class="menu-mobile">
            <div class="menu-mobile__container">
              <div class="menu-mobile__head">
                <div class="menu-mobile__title">
                  <h6>Menu</h6>
                </div>
                <div id="close-icon">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6 18L18 6" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
                    <path d="M6 6L18 18" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
                  </svg>
                </div>
              </div>
              <div class="menu-mobile__content">
                <div class="menu-mobile__parents">
                  {% for menu_parent in section.settings.menu.links %}
                    {% assign menu_parent_title = menu_parent.title
                      | downcase
                      | remove: ' '
                      | remove: '\'
                      | remove: '!'
                      | remove: '@'
                      | remove: '£'
                      | remove: '$'
                      | remove: '%'
                      | remove: '^'
                      | remove: '&'
                      | remove: '*'
                      | remove: '('
                      | remove: ')'
                      | remove: '-'
                      | remove: '+'
                      | remove: '='
                      | remove: '{'
                      | remove: '}'
                      | remove: ':'
                      | remove: '|'
                      | remove: '\'
                      | remove: '<'
                      | remove: '>'
                      | remove: ','
                      | remove: '.'
                      | remove: '?'
                      | remove: '~'
                      | remove: '`'
                      | remove: '\'
                      | remove: '/'
                    -%}
                    <div class="menu-mobile__parent {{ menu_parent_title }}">
                      <div class="menu-mobile__parent-title {{ menu_parent_title }}">
                        <h6>
                          <a
                            {% if menu_parent.links.size == 0 %}
                              href="{{ menu_parent.url }}"
                            {% endif %}
                          >
                            {{- menu_parent.title -}}
                          </a>
                        </h6>
                        {% if menu_parent.links.size > 0 %}
                          <div class="svg">
                            <svg
                              width="8"
                              height="5"
                              viewBox="0 0 8 5"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path d="M1 1L4.25787 3.25787L7.51575 1" stroke="white" stroke-width="1.5"/>
                            </svg>
                          </div>
                        {% endif %}
                      </div>
                      <div class="menu-mobile__parent-childs menu-mobile__parent-childs--active {% if menu_parent.links.size > 0 %}border{% endif %}">
                        {% for menu_child in menu_parent.links %}
                          {% assign menu_child_title = menu_child.title
                            | downcase
                            | remove: ' '
                            | remove: '\'
                            | remove: '!'
                            | remove: '@'
                            | remove: '£'
                            | remove: '$'
                            | remove: '%'
                            | remove: '^'
                            | remove: '&'
                            | remove: '*'
                            | remove: '('
                            | remove: ')'
                            | remove: '-'
                            | remove: '+'
                            | remove: '='
                            | remove: '{'
                            | remove: '}'
                            | remove: ':'
                            | remove: '|'
                            | remove: '\'
                            | remove: '<'
                            | remove: '>'
                            | remove: ','
                            | remove: '.'
                            | remove: '?'
                            | remove: '~'
                            | remove: '`'
                            | remove: '\'
                            | remove: '/'
                          -%}

                          <div class="menu-mobile__child">
                            <div class="menu-mobile__child-title {{ menu_child_title }}">
                              {% for block in section.blocks %}
                                {% if block.settings.tab_title == menu_child.title %}
                                  <div class="menu__child-icon media">
                                    {% style %}
                                      .menu-mobile__child-title.{{ menu_child_title }} {
                                        padding: 0rem 0.7rem 0rem 0.7rem;
                                      }
                                    {% endstyle %}
                                    {% if block.settings.tab_icon_type == 'svg' %}
                                      {% if block.settings.tab_icon_svg == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        {{ block.settings.tab_icon_svg }}
                                      {% endif %}
                                    {% elsif block.settings.tab_icon_type == 'image' %}
                                      {% if block.settings.tab_icon_image == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        <img
                                          srcset="{{ block.settings.tab_icon_image | image_url }}"
                                          loading="lazy"
                                          alt="{{ block.settings.tab_icon_image | escape }}"
                                          width="{{ block.settings.tab_icon_image.width }}"
                                          height="{{ block.settings.tab_icon_image.height }}"
                                          class="full"
                                        >
                                      {% endif %}
                                    {% endif %}
                                  </div>
                                {% endif %}
                              {% endfor %}

                              {% if menu_child.title contains '~' %}
                                {% assign splittedChildTitle = menu_child.title | split: '~' %}
                                {% style %}
                                  .text--{{ menu_child_title }}.text.tag--animated-hover:after {
                                    content: "{{ splittedChildTitle[1] | truncate: 10 }}";
                                    color: var(--primary-button-background-color);
                                  }

                                  .menu-mobile__parent-title.{{ menu_parent_title }}:before {
                                      content: " ";
                                      background-color: var(--primary-button-background-color);
                                      width: 7px;
                                      height: 7px;
                                      border-radius: 50%;
                                      color: var(--primary-button-background-color);
                                      margin-bottom: 1rem;
                                      margin-left: -5px;

                                  }
                                {% endstyle %}

                                <a
                                  class="text--{{ menu_child_title }} text tag--animated-hover"
                                  {% if menu_child.links.size == 0 %}
                                    href="{{ menu_child.url }}"
                                  {% endif %}
                                >
                                  {{ splittedChildTitle[0] }}
                                </a>
                              {% else %}
                                <a
                                  class="text--{{ menu_child_title }} text"
                                  {% if menu_child.links.size == 0 %}
                                    href="{{ menu_child.url }}"
                                  {% endif %}
                                >
                                  {{ menu_child.title }}
                                </a>
                              {% endif %}
                              {% if menu_child.links.size > 0 %}
                                <svg
                                  width="8"
                                  height="9"
                                  viewBox="0 0 8 9"
                                  fill="none"
                                  xmlns="http://www.w3.org/2000/svg"
                                  class="svg"
                                >
                                  <path d="M1 5.36346L4.25787 7.62134L7.51575 5.36346" stroke="white" stroke-width="1.5"/>
                                  <path d="M1 1L4.25787 3.25787L7.51575 1" stroke="white" stroke-width="1.5"/>
                                </svg>
                              {% endif %}
                            </div>
                            <div class="menu-mobile__child-childs {% if menu_child.links.size > 0 %}border{% endif %}">
                              {% for menu_grandchild in menu_child.links %}
                                {% if menu_grandchild.title contains '~' %}
                                  {% assign splittedGrandChildTitle = menu_grandchild.title | split: '~' %}
                                  {% style %}
                                    .menu-mobile__child-childs .text--{{ menu_child_title }}.text.tag--animated-hover:after {
                                      content: "{{ splittedGrandChildTitle[1] | truncate: 10 }}";
                                      color: var(--primary-button-background-color);
                                    }

                                    .menu-mobile__parent-title.{{ menu_parent_title }}:before, .menu-mobile__child-title.{{ menu_child_title }}:before {
                                      content: " ";
                                      background-color: var(--primary-button-background-color);
                                      width: 7px;
                                      height: 7px;
                                      border-radius: 50%;
                                      color: var(--primary-button-background-color);
                                      margin-bottom: 1rem;
                                      margin-left: -5px;

                                    }
                                  {% endstyle %}
                                  <a
                                    class="menu-mobile__grandchild-title text--{{ menu_child_title }} text tag--animated-hover"
                                    href="{{ menu_grandchild.url }}"
                                  >
                                    {{ splittedGrandChildTitle[0] }}
                                  </a>
                                {% else %}
                                  <a
                                    class="menu-mobile__grandchild-title text--{{ menu_child_title }} text"
                                    href="{{ menu_grandchild.url }}"
                                  >
                                    {{ menu_grandchild.title }}
                                  </a>
                                {% endif %}
                              {% endfor %}
                              {% for block in section.blocks %}
                                {% if block.settings.tab_title == menu_child.title %}
                                  <div class="menu-mobile__picture-container">
                                    {% if block.settings.show_tab_picture == true %}
                                      <div class="menu-mobile__picture media">
                                        {% if block.settings.tab_content_type == 'svg' %}
                                          {% if block.settings.tab_content_svg == blank %}
                                            {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                          {% else %}
                                            {{ block.settings.tab_content_svg }}
                                          {% endif %}
                                        {% elsif block.settings.tab_content_type == 'image' %}
                                          {% if block.settings.tab_content_image == blank %}
                                            {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                          {% else %}
                                            <img
                                              srcset="{{ block.settings.tab_content_image | image_url }}"
                                              loading="lazy"
                                              alt="{{ block.settings.tab_content_image | escape }}"
                                              width="{{ block.settings.tab_content_image.width }}"
                                              height="{{ block.settings.tab_content_image.height }}"
                                              class="full"
                                            >
                                          {% endif %}
                                        {% endif %}
                                      </div>
                                      <p class="menu-mobile__picture-description">
                                        {{ block.settings.tab_description }}
                                      </p>
                                    {% endif %}
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
              <div class="menu-mobile__account-container">
                <div class="menu-mobile__account">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="7.25574" r="2.5" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
                    <path d="M4.75 13.75H19.25V19.25H4.75V13.75Z" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
                  </svg>

                  <a href="/account/login">Account</a>
                </div>
              </div>
            </div>
          </div>
        </menu-drawer-component>
      </menu-mobile>
      <menu-desktop class="header__menu__content {% if section.settings.menu_layout == 'drawer' %}hidden{% endif %}">
        {% for menu_parent in section.settings.menu.links %}
          {% assign menu_parent_title = menu_parent.title
            | downcase
            | remove: ' '
            | remove: '\'
            | remove: '!'
            | remove: '@'
            | remove: '£'
            | remove: '$'
            | remove: '%'
            | remove: '^'
            | remove: '&'
            | remove: '*'
            | remove: '('
            | remove: ')'
            | remove: '-'
            | remove: '+'
            | remove: '='
            | remove: '{'
            | remove: '}'
            | remove: ':'
            | remove: '|'
            | remove: '\'
            | remove: '<'
            | remove: '>'
            | remove: ','
            | remove: '.'
            | remove: '?'
            | remove: '~'
            | remove: '`'
            | remove: '\'
            | remove: '/'
          -%}

          <div class="menu__parent menu_parent_title--{{ menu_parent_title }}">
            <a
              class="menu__parent-title {% if menu_parent.links.size > 0 %}filled{% endif %}"
              href="{{ menu_parent.url }}"
            >
              {{- menu_parent.title }}
            </a>

            {% if menu_parent.links.size > 0 %}
              <div class="menu__dropdown menu_parent_title--{{ menu_parent_title }}">
                <div class="menu__dropdown-wrapper">
                  <div class="menu__dropdown-content">
                    <div class="menu__childs menu_parent_title--{{ menu_parent_title }}">
                      {% for menu_child in menu_parent.links %}
                        {% assign menu_child_title = menu_child.title
                          | downcase
                          | remove: ' '
                          | remove: '\'
                          | remove: '!'
                          | remove: '@'
                          | remove: '£'
                          | remove: '$'
                          | remove: '%'
                          | remove: '^'
                          | remove: '&'
                          | remove: '*'
                          | remove: '('
                          | remove: ')'
                          | remove: '-'
                          | remove: '+'
                          | remove: '='
                          | remove: '{'
                          | remove: '}'
                          | remove: ':'
                          | remove: '|'
                          | remove: '\'
                          | remove: '<'
                          | remove: '>'
                          | remove: ','
                          | remove: '.'
                          | remove: '?'
                          | remove: '~'
                          | remove: '`'
                          | remove: '\'
                          | remove: '/'
                        -%}

                        <div class="menu__child {% if menu_child.links.size > 0 %}filled{% endif %}">
                          {% if menu_child.links.size > 0 %}
                            {% style %}
                              .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                width: 600px;
                              }
                              .menu__childs.menu_parent_title--{{ menu_parent_title }} {
                                border-right: 1px solid  {{ section.settings.border_color }};
                              }
                              {% if section.settings.menu_layout == 'navigation_first' %}
                                @media screen and (max-width: 1440px) {
                                  .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                  width: 600px;
                                  transform: translateX(-50%) translateY(-10%);
                                  left: 50%;
                                  }

                                  .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                    transform: translateX(-50%) translateY(0%);
                                  }
                                }
                              {% else %}
                                 .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                  width: 600px;
                                  transform: translateX(-50%) translateY(-10%);
                                  left: 50%;
                                  }
                                  .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                    transform: translateX(-50%) translateY(0%);
                                  }
                              {% endif %}
                            {% endstyle %}
                          {% endif %}
                          {% for block in section.blocks %}
                            {% if block.settings.tab_title == menu_child.title %}
                              <div class="menu__child-icon media">
                                {% if block.settings.tab_icon_type == 'svg' %}
                                  {% if block.settings.tab_icon_svg == blank %}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  {% else %}
                                    {{ block.settings.tab_icon_svg }}
                                  {% endif %}
                                {% elsif block.settings.tab_icon_type == 'image' %}
                                  {% if block.settings.tab_icon_image == blank %}
                                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                  {% else %}
                                    <img
                                      srcset="{{ block.settings.tab_icon_image | image_url }}"
                                      loading="lazy"
                                      alt="{{ block.settings.tab_icon_image | escape }}"
                                      width="{{ block.settings.tab_icon_image.width }}"
                                      height="{{ block.settings.tab_icon_image.height }}"
                                      class="full"
                                    >
                                  {% endif %}
                                {% endif %}
                              </div>
                            {% endif %}
                          {% endfor %}
                          {% if menu_child.title contains '~' %}
                            {% assign splittedChildTitle = menu_child.title | split: '~' %}
                            {% style %}
                              .menu__child-title.menu_child_title--{{ menu_child_title }}.tag--animated-hover:after {
                                content: "{{ splittedChildTitle[1] | truncate: 10 }}";
                                margin-left: 0.3rem;
                                color: var(--primary-button-background-color);
                              }

                              .menu__parent.menu_parent_title--{{ menu_parent_title }} {
                                    display: flex;
                                    flex-direction: row;
                              }

                              .menu__parent.menu_parent_title--{{ menu_parent_title }}:before {
                                content: " ";
                                background-color: var(--primary-button-background-color);
                                width: 7px;
                                height: 7px;
                                border-radius: 50%;
                                animation: blink 1s linear infinite;
                                color: var(--primary-button-background-color);
                                padding-right: 0.2rem;
                              }
                            {% endstyle %}
                            <a
                              class="menu__child-title menu_child_title--{{ menu_child_title }} tag--animated-hover"
                              href="{{ menu_child.url }}"
                            >
                              {{ splittedChildTitle[0] }}
                            </a>
                          {% else %}
                            <a
                              class="menu__child-title menu_child_title--{{ menu_child_title }}"
                              href="{{ menu_child.url }}"
                            >
                              {{ menu_child.title }}
                            </a>
                          {% endif %}

                          <div class="menu__grandchilds menu_parent_title--{{ menu_parent_title }}">
                            {% for menu_grandchild in menu_child.links %}
                              {% if menu_grandchild.title contains '~' %}
                                {% assign splittedGrandChildTitle = menu_grandchild.title | split: '~' %}
                                {% style %}
                                  .menu__grandchild.menu_parent_title--{{ menu_parent_title }}.tag--animated-hover:after {
                                    content: "{{ splittedGrandChildTitle[1] | truncate: 10 }}";
                                    margin-left: 0.3rem;
                                    color: var(--primary-button-background-color);
                                  }

                                  .menu__parent.menu_parent_title--{{ menu_parent_title }}, .menu__child-title.menu_child_title--{{ menu_child_title }} {
                                        display: flex;
                                        flex-direction: row;
                                  }

                                  .menu__parent.menu_parent_title--{{ menu_parent_title }}:before, .menu__child-title.menu_child_title--{{ menu_child_title }}:before {
                                    content: " ";
                                    background-color: var(--primary-button-background-color);
                                    width: 7px;
                                    height: 7px;
                                    border-radius: 50%;
                                    animation: blink 1s linear infinite;
                                    color: var(--primary-button-background-color);
                                    padding-right: 0.2rem;
                                  }
                                {% endstyle %}
                                <a
                                  class="menu__grandchild menu_parent_title--{{ menu_parent_title }} tag--animated-hover"
                                  href="{{ menu_grandchild.url }}"
                                >
                                  {{ splittedGrandChildTitle[0] }}
                                </a>
                              {% else %}
                                <a class="menu__grandchild" href="{{ menu_grandchild.url }}">
                                  {{ menu_grandchild.title }}
                                </a>
                              {% endif %}
                            {% endfor %}
                          </div>
                          {% if menu_child.links.size > 0 %}
                            {% style %}
                              .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                width: 600px !important;
                              }
                            {% endstyle %}
                          {% endif %}
                          {% for block in section.blocks %}
                            {% if block.settings.tab_title == menu_child.title %}
                              {% if block.settings.show_tab_picture == true %}
                                {% style %}
                                    .menu__childs.menu_parent_title--{{ menu_parent_title }} {
                                      border-right: 1px solid  {{ section.settings.border_color }};
                                    }
                                  {% if menu_child.links.size > 0 %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 1200px !important;
                                    }
                                    .menu__grandchilds.menu_parent_title--{{ menu_parent_title }} {
                                      border-right: 1px solid  {{ section.settings.border_color }};
                                    }
                                    .menu__content.menu_parent_title--{{ menu_parent_title }} {
                                      transform: translateX(150%);
                                    }
                                  {% else %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 900px !important;
                                    }
                                    .menu__content.menu_parent_title--{{ menu_parent_title }} {
                                      transform: translateX(100%);
                                    }
                                  {% endif %}

                                  {% if section.settings.menu_layout == 'navigation_first' %}
                                    @media screen and (max-width: 1440px) {
                                      .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                        width: 600px;
                                        transform: translateX(-50%) translateY(-10%);
                                        left: 50%;
                                      }
                                      .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                        transform: translateX(-50%) translateY(0%);
                                      }
                                    }
                                  {% else %}
                                    .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                      width: 600px;
                                      transform: translateX(-50%) translateY(-10%);
                                      left: 50%;
                                      }
                                      .menu__parent:hover .menu__dropdown.menu_parent_title--{{ menu_parent_title }} {
                                        transform: translateX(-50%) translateY(0%);
                                      }
                                  {% endif %}
                                {% endstyle %}

                                <div class="menu__content menu_parent_title--{{ menu_parent_title }}">
                                  <div class="menu__picture media">
                                    {% if block.settings.tab_content_type == 'svg' %}
                                      {% if block.settings.tab_content_svg == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        {{ block.settings.tab_content_svg }}
                                      {% endif %}
                                    {% elsif block.settings.tab_content_type == 'image' %}
                                      {% if block.settings.tab_content_image == blank %}
                                        {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                                      {% else %}
                                        <img
                                          srcset="{{ block.settings.tab_content_image | image_url }}"
                                          loading="lazy"
                                          alt="{{ block.settings.tab_content_image | escape }}"
                                          width="{{ block.settings.tab_content_image.width }}"
                                          height="{{ block.settings.tab_content_image.height }}"
                                          class="full"
                                        >
                                      {% endif %}
                                    {% endif %}
                                  </div>
                                  <p class="menu__description">
                                    {{ block.settings.tab_description }}
                                  </p>
                                </div>
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </menu-desktop>
      <a class="header__icons-drawer header__icon {% if section.settings.menu_layout != 'drawer' %}hidden{% endif %}">
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.86839 7.22668L3.11839 7.22668L3.11839 8.72668L3.86839 8.72668L3.86839 7.22668ZM20.1316 8.72669C20.5458 8.72669 20.8816 8.3909 20.8816 7.97669C20.8816 7.56247 20.5458 7.22669 20.1316 7.22669L20.1316 8.72669ZM3.86839 8.72668L20.1316 8.72669L20.1316 7.22669L3.86839 7.22668L3.86839 8.72668Z" fill="{{ section.settings.content_color }}"/>
          <path d="M3.75321 16.0291C3.75115 12.0986 3.74908 8.16839 3.75049 4.23804H20.25V4.27102V4.30661V4.3422V4.37779V4.41338V4.44897V4.48456V4.52015V4.55574V4.59133V4.62692V4.66251V4.6981V4.73369V4.76928V4.80487V4.84046V4.87605V4.91164V4.94723V4.98282V5.01841V5.054V5.08959V5.12518V5.16077V5.19636V5.23195V5.26754V5.30313V5.33872V5.37431V5.4099V5.44549V5.48108V5.51667V5.55226V5.58785V5.62344V5.65903V5.69462V5.73021V5.7658V5.80139V5.83698V5.87257V5.90816V5.94375V5.97934V6.01493V6.05052V6.08611V6.1217V6.15729V6.19288V6.22847V6.26406V6.29965V6.33524V6.37083V6.40642V6.44201V6.4776V6.51319V6.54878V6.58437V6.61996V6.65555V6.69114V6.72673V6.76232V6.79791V6.8335V6.86909V6.90468V6.94027V6.97586V7.01145V7.04704V7.08263V7.11822V7.15381V7.1894V7.22499V7.26058V7.29617V7.33176V7.36735V7.40294V7.43853V7.47412V7.50971V7.5453V7.58089V7.61648V7.65207V7.68766V7.72325V7.75884V7.79443V7.83002V7.86561V7.9012V7.93679V7.97238V8.00797V8.04356V8.07915V8.11474V8.15033V8.18592V8.22151V8.2571V8.29269V8.32828V8.36387V8.39946V8.43505V8.47064V8.50623V8.54182V8.57741V8.613V8.64859V8.68418V8.71977V8.75536V8.79095V8.82654V8.86213V8.89772V8.93331V8.9689V9.00449V9.04008V9.07567V9.11126V9.14685V9.18244V9.21803V9.25362V9.28921V9.3248V9.36039V9.39598V9.43157V9.46716V9.50275V9.53834V9.57393V9.60952V9.64511V9.6807V9.71629V9.75188V9.78747V9.82306V9.85865V9.89424V9.92983V9.96542V10.001V10.0366V10.0722V10.1078V10.1434V10.179V10.2146V10.2501V10.2857V10.3213V10.3569V10.3925V10.4281V10.4637V10.4993V10.5349V10.5705V10.606V10.6416V10.6772V10.7128V10.7484V10.784V10.8196V10.8552V10.8908V10.9264V10.9619V10.9975V11.0331V11.0687V11.1043V11.1399V11.1755V11.2111V11.2467V11.2823V11.3178V11.3534V11.389V11.4246V11.4602V11.4958V11.5314V11.567V11.6026V11.6382V11.6737V11.7093V11.7449V11.7805V11.8161V11.8517V11.8873V11.9229V11.9585V11.9941V12.0296V12.0652V12.1008V12.1364V12.172V12.2076V12.2432V12.2788V12.3144V12.35V12.3855V12.4211V12.4567V12.4923V12.5279V12.5635V12.5991V12.6347V12.6703V12.7059V12.7414V12.777V12.8126V12.8482V12.8838V12.9194V12.955V12.9906V13.0262V13.0618V13.0973V13.1329V13.1685V13.2041V13.2397V13.2753V13.3109V13.3465V13.3821V13.4177V13.4532V13.4888V13.5244V13.56V13.5956V13.6312V13.6668V13.7024V13.738V13.7736V13.8091V13.8447V13.8803V13.9159V13.9515V13.9871V14.0227V14.0583V14.0939V14.1295V14.165V14.2006V14.2362V14.2718V14.3074V14.343V14.3786V14.4142V14.4498V14.4854V14.5209V14.5565V14.5921V14.6277V14.6633V14.6989V14.7345V14.7701V14.8057V14.8413V14.8768V14.9124V14.948V14.9836V15.0192V15.0548V15.0904V15.126V15.1616V15.1972V15.2327V15.2683V15.3039V15.3395V15.3751V15.4107V15.4463V15.4819V15.5175V15.5531V15.5886V15.6242V15.6598V15.6954V15.731V15.7666V15.8022V15.8378V15.8734V15.909V15.9445V15.9801V16.0157V16.0513V16.0869V16.1225V16.1581V16.1937V16.2293V16.2649V16.3004V16.336V16.3716V16.4072V16.4428V16.4784V16.514V16.5496V16.5852V16.6208V16.6563V16.6919V16.7275V16.7631V16.7987V16.8343V16.8699V16.9055V16.9411V16.9767V17.0122V17.0478V17.0834V17.119V17.1546V17.1902V17.2258V17.2614V17.297V17.3326V17.3681V17.4037V17.4393V17.4749V17.5105V17.5461V17.5817V17.6173V17.6529V17.6885V17.724V17.7596V17.7952V17.8308V17.8664V17.902V17.9376V17.9732V18.0088V18.0444V18.0799V18.1155V18.1511V18.1867V18.2223V18.2579V18.2935V18.3291V18.3647V18.4003V18.4358V18.4714V18.507V18.5426V18.5782V18.6138V18.6494V18.685V18.7206V18.7562V18.7917V18.8273V18.8629V18.8985V18.9341V18.9697V19.0053V19.0409V19.0765V19.1121V19.1476V19.1832V19.2188V19.2544V19.29V19.3256V19.3612V19.3968V19.4324V19.468V19.5035V19.5391V19.5747V19.6103V19.6459V19.6815V19.7171V19.7527V19.7883V19.8239V19.8594V19.895V19.9306V19.9662V20.0018V20.0374V20.073V20.1086V20.1442V20.1798V20.2153V20.2509V20.2865V20.3221V20.3577V20.3933V20.4289V20.4645V20.5001V20.5357V20.5712V20.6068V20.6424V20.678V20.7136V20.7492V20.7848V20.8204V20.856V20.8916V20.9271V20.9601H20.2268H20.1917H20.1565H20.1214H20.0862H20.0511H20.0159H19.9808H19.9456H19.9105H19.8754H19.8402H19.8051H19.7699H19.7348H19.6996H19.6645H19.6293H19.5942H19.559H19.5239H19.4888H19.4536H19.4185H19.3833H19.3482H19.313H19.2779H19.2427H19.2076H19.1725H19.1373H19.1022H19.067H19.0319H18.9967H18.9616H18.9264H18.8913H18.8562H18.821H18.7859H18.7507H18.7156H18.6804H18.6453H18.6101H18.575H18.5398H18.5047H18.4696H18.4344H18.3993H18.3641H18.329H18.2938H18.2587H18.2235H18.1884H18.1533H18.1181H18.083H18.0478H18.0127H17.9775H17.9424H17.9072H17.8721H17.8369H17.8018H17.7667H17.7315H17.6964H17.6612H17.6261H17.5909H17.5558H17.5206H17.4855H17.4504H17.4152H17.3801H17.3449H17.3098H17.2746H17.2395H17.2043H17.1692H17.1341H17.0989H17.0638H17.0286H16.9935H16.9583H16.9232H16.888H16.8529H16.8177H16.7826H16.7475H16.7123H16.6772H16.642H16.6069H16.5717H16.5366H16.5014H16.4663H16.4312H16.396H16.3609H16.3257H16.2906H16.2554H16.2203H16.1851H16.15H16.1148H16.0797H16.0446H16.0094H15.9743H15.9391H15.904H15.8688H15.8337H15.7985H15.7634H15.7283H15.6931H15.658H15.6228H15.5877H15.5525H15.5174H15.4822H15.4471H15.412H15.3768H15.3417H15.3065H15.2714H15.2362H15.2011H15.1659H15.1308H15.0956H15.0605H15.0254H14.9902H14.9551H14.9199H14.8848H14.8496H14.8145H14.7793H14.7442H14.7091H14.6739H14.6388H14.6036H14.5685H14.5333H14.4982H14.463H14.4279H14.3927H14.3576H14.3225H14.2873H14.2522H14.217H14.1819H14.1467H14.1116H14.0764H14.0413H14.0062H13.971H13.9359H13.9007H13.8656H13.8304H13.7953H13.7601H13.725H13.6899H13.6547H13.6196H13.5844H13.5493H13.5141H13.479H13.4438H13.4087H13.3735H13.3384H13.3033H13.2681H13.233H13.1978H13.1627H13.1275H13.0924H13.0572H13.0221H12.987H12.9518H12.9167H12.8815H12.8464H12.8112H12.7761H12.7409H12.7058H12.6707H12.6355H12.6004H12.5652H12.5301H12.4949H12.4598H12.4246H12.3895H12.3543H12.3192H12.2841H12.2489H12.2138H12.1786H12.1435H12.1083H12.0732H12.038H12.0029H11.9678H11.9326H11.8975H11.8623H11.8272H11.792H11.7569H11.7217H11.6866H11.6514H11.6163H11.5812H11.546H11.5109H11.4757H11.4406H11.4054H11.3703H11.3351H11.3H11.2649H11.2297H11.1946H11.1594H11.1243H11.0891H11.054H11.0188H10.9837H10.9486H10.9134H10.8783H10.8431H10.808H10.7728H10.7377H10.7025H10.6674H10.6322H10.5971H10.562H10.5268H10.4917H10.4565H10.4214H10.3862H10.3511H10.3159H10.2808H10.2457H10.2105H10.1754H10.1402H10.1051H10.0699H10.0348H9.99964H9.96449H9.92935H9.8942H9.85906H9.82391H9.78877H9.75362H9.71848H9.68334H9.64819H9.61305H9.5779H9.54276H9.50761H9.47247H9.43732H9.40218H9.36703H9.33189H9.29674H9.2616H9.22645H9.19131H9.15616H9.12102H9.08587H9.05073H9.01558H8.98044H8.94529H8.91015H8.875H8.83986H8.80471H8.76957H8.73442H8.69928H8.66413H8.62899H8.59384H8.5587H8.52355H8.48841H8.45326H8.41812H8.38297H8.34783H8.31268H8.27754H8.24239H8.20725H8.1721H8.13696H8.10182H8.06667H8.03153H7.99638H7.96124H7.92609H7.89095H7.8558H7.82066H7.78551H7.75037H7.71522H7.68008H7.64493H7.60979H7.57464H7.5395H7.50435H7.46921H7.43406H7.39892H7.36377H7.32863H7.29348H7.25834H7.22319H7.18805H7.1529H7.11776H7.08261H7.04747H7.01232H6.97718H6.94203H6.90689H6.87174H6.8366H6.80145H6.76631H6.73116H6.69602H6.66087H6.62573H6.59059H6.55544H6.5203H6.48515H6.45001H6.41486H6.37972H6.34457H6.30943H6.27428H6.23914H6.20399H6.16885H6.1337H6.09856H6.06341H6.02827H5.99312H5.95798H5.92283H5.88769H5.85254H5.8174H5.78225H5.74711H5.71196H5.67682H5.64167H5.60653H5.57138H5.53624H5.50109H5.46595H5.4308H5.39566H5.36051H5.32537H5.29022H5.25508H5.21993H5.18479H5.14964H5.1145H5.07936H5.04421H5.00907H4.97392H4.93878H4.90363H4.86849H4.83334H4.7982H4.76305H4.72791H4.69276H4.65762H4.62247H4.58733H4.55218H4.51704H4.48189H4.44675H4.4116H4.37646H4.34131H4.30617H4.27102H4.23588H4.20073H4.16559H4.13044H4.0953H4.06015H4.02501H3.98986H3.95472H3.91957H3.88443H3.84928H3.81414H3.77899H3.75555C3.75494 19.3164 3.75408 17.6727 3.75321 16.0291Z" stroke="{{ section.settings.content_color }}" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M10.1791 7.97668L10.1791 7.22668L8.67908 7.22668L8.67908 7.97668L10.1791 7.97668ZM8.67908 20.7367C8.67908 21.1509 9.01486 21.4867 9.42908 21.4867C9.84329 21.4867 10.1791 21.1509 10.1791 20.7367L8.67908 20.7367ZM8.67908 7.97668L8.67908 20.7367L10.1791 20.7367L10.1791 7.97668L8.67908 7.97668Z" fill="{{ section.settings.content_color }}"/>
        </svg>
      </a>
    </div>
    <div class="header__icons">
      <a class="header__icons-search header__icon" id="header__search-icon">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M16.5056 15.9884L19.9986 19.4813" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
          <circle cx="11.6255" cy="11.1234" r="6.37717" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
        </svg>
      </a>

      <a href="/account/" class="header__icons-account header__icon">
        {% if section.settings.menu_layout != 'drawer' %}
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="12" cy="7.75574" r="2.5" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
            <path d="M4.75 14.25H19.25V19.75H4.75V14.25Z" stroke="{{ section.settings.content_color }}" stroke-width="1.5"/>
          </svg>
        {% endif %}
      </a>

      <a
        {% if settings.cart_type == 'drawer' %}
        {% else %}
          href="{{ routes.cart_url }}"
        {% endif %}
        for="{{ settings.cart_type }}"
        class="header__icons-cart header__icon "
        style="position: relative;"
      >
        <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M20 7.73963H18.1L16.7475 6H7.25248L5.9 7.73963H4L6.51867 4.5H17.4813L20 7.73963ZM13.8578 10.553C13.8578 11.4638 13.0774 12.2926 12 12.2926C10.9224 12.2926 10.1418 11.4636 10.1418 10.553H8.64178C8.64178 12.3425 10.1453 13.7926 12 13.7926C13.8547 13.7926 15.3578 12.3425 15.3578 10.553H13.8578ZM4.00003 20.6981H5.50003H18.5H20V19.1981V9.23963V7.73963H18.5H5.50003H4.00003V9.23963V19.1981V20.6981ZM18.5 9.23963V19.1981H18.4688H18.4375H18.4063H18.375H18.3438H18.3125H18.2813H18.25H18.2188H18.1875H18.1563H18.125H18.0938H18.0625H18.0313H18H17.9688H17.9375H17.9063H17.875H17.8438H17.8125H17.7813H17.75H17.7188H17.6875H17.6563H17.625H17.5938H17.5625H17.5313H17.5H17.4688H17.4375H17.4063H17.375H17.3438H17.3125H17.2813H17.25H17.2188H17.1875H17.1563H17.125H17.0938H17.0625H17.0313H17H16.9688H16.9375H16.9063H16.875H16.8438H16.8125H16.7813H16.75H16.7188H16.6875H16.6563H16.625H16.5938H16.5625H16.5313H16.5H16.4688H16.4375H16.4063H16.375H16.3438H16.3125H16.2813H16.25H16.2188H16.1875H16.1563H16.125H16.0938H16.0625H16.0313H16H15.9688H15.9375H15.9063H15.875H15.8438H15.8125H15.7813H15.75H15.7188H15.6875H15.6563H15.625H15.5938H15.5625H15.5313H15.5H15.4688H15.4375H15.4063H15.375H15.3438H15.3125H15.2813H15.25H15.2188H15.1875H15.1563H15.125H15.0938H15.0625H15.0313H15H14.9688H14.9375H14.9063H14.875H14.8438H14.8125H14.7813H14.75H14.7188H14.6875H14.6563H14.625H14.5938H14.5625H14.5313H14.5H14.4688H14.4375H14.4063H14.375H14.3438H14.3125H14.2813H14.25H14.2188H14.1875H14.1563H14.125H14.0938H14.0625H14.0313H14H13.9688H13.9375H13.9063H13.875H13.8438H13.8125H13.7813H13.75H13.7188H13.6875H13.6563H13.625H13.5938H13.5625H13.5313H13.5H13.4688H13.4375H13.4063H13.375H13.3438H13.3125H13.2813H13.25H13.2188H13.1875H13.1563H13.125H13.0938H13.0625H13.0313H13H12.9688H12.9375H12.9063H12.875H12.8438H12.8125H12.7813H12.75H12.7188H12.6875H12.6563H12.625H12.5938H12.5625H12.5313H12.5H12.4688H12.4375H12.4063H12.375H12.3438H12.3125H12.2813H12.25H12.2188H12.1875H12.1563H12.125H12.0938H12.0625H12.0313H12H11.9688H11.9375H11.9063H11.875H11.8438H11.8125H11.7813H11.75H11.7188H11.6875H11.6563H11.625H11.5938H11.5625H11.5313H11.5H11.4688H11.4375H11.4063H11.375H11.3438H11.3125H11.2813H11.25H11.2188H11.1875H11.1563H11.125H11.0938H11.0625H11.0313H11H10.9688H10.9375H10.9063H10.875H10.8438H10.8125H10.7813H10.75H10.7188H10.6875H10.6563H10.625H10.5938H10.5625H10.5313H10.5H10.4688H10.4375H10.4063H10.375H10.3438H10.3125H10.2813H10.25H10.2188H10.1875H10.1563H10.125H10.0938H10.0625H10.0313H10H9.96878H9.93753H9.90628H9.87503H9.84378H9.81253H9.78128H9.75003H9.71878H9.68753H9.65628H9.62503H9.59378H9.56253H9.53128H9.50003H9.46878H9.43753H9.40628H9.37503H9.34378H9.31253H9.28128H9.25003H9.21878H9.18753H9.15628H9.12503H9.09378H9.06253H9.03128H9.00003H8.96878H8.93753H8.90628H8.87503H8.84378H8.81253H8.78128H8.75003H8.71878H8.68753H8.65628H8.62503H8.59378H8.56253H8.53128H8.50003H8.46878H8.43753H8.40628H8.37503H8.34378H8.31253H8.28128H8.25003H8.21878H8.18753H8.15628H8.12503H8.09378H8.06253H8.03128H8.00003H7.96878H7.93753H7.90628H7.87503H7.84378H7.81253H7.78128H7.75003H7.71878H7.68753H7.65628H7.62503H7.59378H7.56253H7.53128H7.50003H7.46878H7.43753H7.40628H7.37503H7.34378H7.31253H7.28128H7.25003H7.21878H7.18753H7.15628H7.12503H7.09378H7.06253H7.03128H7.00003H6.96878H6.93753H6.90628H6.87503H6.84378H6.81253H6.78128H6.75003H6.71878H6.68753H6.65628H6.62503H6.59378H6.56253H6.53128H6.50003H6.46878H6.43753H6.40628H6.37503H6.34378H6.31253H6.28128H6.25003H6.21878H6.18753H6.15628H6.12503H6.09378H6.06253H6.03128H6.00003H5.96878H5.93753H5.90628H5.87503H5.84378H5.81253H5.78128H5.75003H5.71878H5.68753H5.65628H5.62503H5.59378H5.56253H5.53128H5.50003L5.50003 9.23963H18.5Z" fill="{{ section.settings.content_color }}"/>
        </svg>
        <p
          class="header__icons-cart__item-count"
          id="header__icons-cart__item-count"
        >
          {{ cart.item_count }}
        </p>
      </a>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Header",
  "class": "main-header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "select",
      "id": "logo_type",
      "label": "Logo type",
      "options": [
        {
          "value": "svg",
          "label": "Svg"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "svg",
      "info": "It is highly recommended to use svg logo instead of jpeg/png logo to get the best quality"
    },
    {
      "type": "liquid",
      "id": "logo_svg",
      "label": "Logo - svg",
      "info": "Applicable only if logo type is svg"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo - image",
      "info": "Applicable only if logo type is image"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_layout",
      "label": "Layout",
      "options": [
        {
          "value": "logo_first",
          "label": "Logo first, navigation center"
        },
        {
          "value": "logo_first_navigation_inline",
          "label": "Logo first, navigation inline"
        },
        {
          "value": "navigation_first",
          "label": "Navigation first, logo center"
        },
        {
          "value": "drawer",
          "label": "Drawer"
        }
      ],
      "default": "logo_first",
      "info": "This is for desktop only. Drawer layout will be applied to mobile devices"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Content color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "header_background_color",
      "label": "Background color",
      "default": "#000"
    },
    {
      "type": "color",
      "id": "border_color",
      "label": "Border color",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 3,
      "step": 1,
      "unit": "px",
      "label": "Border width",
      "default": 2
    },
    {
      "type": "range",
      "id": "border_radius",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "label": "Border corners radius",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "mega_menu",
      "name": "Mega menu",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title",
          "info": "Put the title of the tab (menu child) here, exactly like it's shown in the menu. Make sure they are unique and not duplicates. And also respect the uppercase, lowercase and spaces."
        },
        {
          "type": "select",
          "id": "tab_icon_type",
          "label": "Tab icon/image type",
          "options": [
            {
              "value": "svg",
              "label": "svg"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ],
          "default": "svg",
          "info": "It is recommended to use svg icons instead of jpeg/png to get the best quality"
        },
        {
          "type": "liquid",
          "id": "tab_icon_svg",
          "label": "Tab icon - svg",
          "info": "Applicable only if icon type is svg"
        },
        {
          "type": "image_picker",
          "id": "tab_icon_image",
          "label": "Tab icon - image",
          "info": "Applicable only if icon type is image"
        },
        {
          "type": "header",
          "content": "Tab picture"
        },
        {
          "type": "checkbox",
          "id": "show_tab_picture",
          "label": "Show tab picture and description",
          "default": true
        },
        {
          "type": "select",
          "id": "tab_content_type",
          "label": "Tab content image type",
          "options": [
            {
              "value": "svg",
              "label": "svg"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ],
          "default": "svg"
        },
        {
          "type": "liquid",
          "id": "tab_content_svg",
          "label": "Tab content image - svg",
          "info": "Applicable only if image type is svg"
        },
        {
          "type": "image_picker",
          "id": "tab_content_image",
          "label": "Tab content image - image",
          "info": "Applicable only if image type is image"
        },
        {
          "type": "text",
          "id": "tab_description",
          "label": "Tab description",
          "default": "Tab description"
        }
      ]
    }
  ]
}
{% endschema %}
