{{ 'customer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .customer.{{ section.id }} {
    margin-top: 0 !important;
  }
  .customer__content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4rem 0;
  }
  .customer__form__button button {
    height: 44px;
  }
  .customer__form__button .enter-button {
    height: 44px;
  }
{%- endstyle -%}

<div class="customer {{ section.id }}">
  <div class="customer__content">
    <div class="customer__form__title">
      <h4>{{ shop.name }}</h4>
    </div>
    <div class="customer-login">
      <div class="customer__container active" id="newsletter-form">
        <h3>{{ 'pages.password.title' | t }}</h3>
        {% form 'customer', class: 'customer__form' %}
          {%- if form.errors -%}
            <div class="customer__form__errors-list">
              <div class="customer__form__errors-list__item">
                <span> ⚠ </span>
                <span>
                  {{ form.errors.translated_fields | capitalize }}
                  {{ form.errors.messages }}
                </span>
              </div>
            </div>
          {%- endif -%}

          {%- if form.posted_successfully? -%}
            <div class="customer__form__success">
              <span>✓ {{ 'pages.password.subscription_success_message' | t }}</span>
            </div>
          {%- endif -%}

          <div class="customer__form__content">
            <input
              id=""
              type="email"
              value="{{ form.email }}"
              autocorrect="off"
              autocapitalize="off"
              autocomplete="email"
              {% if form.errors %}
                autofocus
              {% endif %}
              placeholder="{{ 'general.form.email' | t }}"
              class="customer__form__input"
              required
            >
            <div class="customer__form__button buttons">
              <button
                type="submit"
                class="newsletter__button"
                name="commit"
                id="subscribe"
              >
                <p class="button">{{ 'pages.password.subscribe_button' | t }}</p>
                <p></p>
              </button>
            </div>
          </div>
        {% endform %}

        <div class="customer__form__link">
          <span id="enter" class="switch-button small underline">{{ 'pages.password.password_page_link' | t }}</span>
        </div>
      </div>
      <div class="customer__container" id="password-form">
        <h3>{{ 'pages.password.password_page_title' | t }}</h3>
        {%- form 'storefront_password', class: 'customer__form' -%}
          {%- if form.errors -%}
            <div class="customer__form__errors-list">
              <div class="customer__form__errors-list__item">
                <span> ⚠ </span>
                <span>{{ 'pages.password.password_error_message' | t }}</span>
              </div>
            </div>
          {%- endif -%}
          <div class="customer__form__content">
            <input
              type="password"
              name="password"
              id="Password"
              autocomplete="current-password"
              placeholder="{{ 'general.form.password' | t }}"
              class="customer__form__input"
              required
            >
            <div class="customer__form__button buttons">
              <button class="button enter-button button--primary border" name="commit">
                {{ 'pages.password.password_enter_button' | t }}
              </button>
            </div>
          </div>
        {%- endform -%}

        <div class="customer__form__link">
          <span id="subscribe" class="switch-button small underline">{{ 'pages.password.newsletter_text' | t }}</span>
        </div>
      </div>
    </div>

    <div class="customer__form__links">
      <div class="customer__form__link">
        <span>{{ 'pages.password.login_label' | t }}</span>
        <span class="small underline">{{ 'pages.password.login_button' | t }}</span>
      </div>
      <span>{{ powered_by_link }}</span>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.customer__form__link .switch-button').forEach((button) => {
    button.addEventListener('click', () => {
      if (button.id == 'subscribe') {
        document.querySelector('#newsletter-form').classList.add('active');
        document.querySelector('#password-form').classList.remove('active');
      } else if (button.id == 'enter') {
        document.querySelector('#newsletter-form').classList.remove('active');
        document.querySelector('#password-form').classList.add('active');
      }
    });
  });
</script>
