{{ 'main-cart-drawer.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .cart-drawer__container,
  .cart-drawer__content--empty {
    background-color: var(--background-color);
  }
{%- endstyle -%}

<cart-component reveal-on-scroll class="hidden">
  <order-note class="cart-drawer">
    <div class="cart-drawer__content--filled">
      <div class="cart-drawer__note-popup hidden">
        <div class="cart-drawer__note-popup__content">
          <div id="note-close-icon">
            {% render 'snippet-icons', icon: 'close' %}
          </div>
          <label for="cart-note">{{ 'general.note.label' | t }}</label>
          <textarea name="cart-note" id="cart-note" rows="3"></textarea>
          <div class="buttons">
            <a id="cart-note-send" class="button button--primary border">{{ 'general.note.button' | t }}</a>
          </div>
        </div>
      </div>

      <div class="cart-drawer__container">
        <div class="cart-drawer__head">
          <div class="cart-drawer__title">
            <h6>{{ 'general.cart_drawer.title' | t }}</h6>
          </div>
          <div id="close-icon">
            {% render 'snippet-icons', icon: 'close' %}
          </div>
        </div>
        <div class="free-shipping-reminder"></div>

        <div class="cart-drawer__products">
          <div class="cart-drawer__products-list"></div>
        </div>
        <div class="cart-drawer__interaction">
          <div class="cart-drawer__interaction--empty">
            <p class="cart-drawer__empty-message">{{ 'general.cart_drawer.empty_cart_text' | t }}</p>
            <div class="buttons">
              <a
                class="button button--primary border"
                href="{{ routes.collections_url }}"
              >
                <span></span> <span></span> <span></span> <span></span>
                {{ 'general.buttons.shop_now' | t }}
              </a>
            </div>
          </div>
          <div class="cart-drawer__interaction--filled">
            <div class="shadow-divider"></div>
            <div class="buttons">
              <a
                class="button button--primary border border"
                href="{{ routes.cart_url }}"
              >
                <span></span> <span></span> <span></span> <span></span>{{ 'general.cart_drawer.view_cart_button' | t }}
              </a>
              <form action="{{ routes.cart_url }}" method="post" id="cart" class="buttons">
                <button
                  type="submit"
                  id="checkout"
                  name="checkout"
                  {% if cart == empty %}
                    disabled
                  {% endif %}
                  class="button button--secondary border"
                  form="cart"
                >
                  <span></span> <span></span> <span></span> <span></span> {{ 'general.buttons.checkout' | t }}
                </button>
              </form>
            </div>
            <div class="bottom">
              <a class="order-note link">{{ 'general.note.label' | t }}</a>
              <p class="disclaimer">{{ 'pages.cart.tax_disclaimer' | t }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </order-note>
</cart-component>

{% schema %}
{
  "name": "t:sections.main-cart-drawer.name",
  "class": "main-cart-drawer",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_cart_recommended_products",
      "label": "t:sections.main-cart-drawer.settings.show_cart_recommended_products.label",
      "info": "t:sections.main-cart-drawer.settings.show_cart_recommended_products.info",
      "default": true
    }
  ]
}
{% endschema %}
