{{ 'main-404.css' | asset_url | stylesheet_tag }}

<div class="main-404">
  <div class="main-404__container">
    <h3>{{ 'pages.404.title' | t }}</h3>
    <p>{{ 'pages.404.description' | t }}</p>

    <div class="search-form__container">
      <form action="{{ routes.search_url }}" method="get" class="search__form">
        <input
          id="Search"
          class="search-form__input"
          type="search"
          name="q"
          value="{{ search.terms | escape }}"
          placeholder="{{ 'pages.404.field_placeholder' | t }}"
        >
        <button class="search__icon">
          {% render 'snippet-icons', icon: 'search' %}
        </button>
      </form>
    </div>
    <div class="buttons">
      <a
        class="button button--primary border"
        href="{{ routes.all_products_collection_url }}"
      >
        <span></span> <span></span> <span></span> <span></span>
        {{ 'pages.404.button' | t }}
      </a>
    </div>
  </div>
</div>
