{{ 'main-collection.css' | asset_url | stylesheet_tag }}

{% style %}
    .collection__head, .collection__head__title, .collection__head__image {
      height: {{ section.settings.section_height }}px;
    }
  {% if collection.featured_image != blank and section.settings.show_collection_image == true %}
    .collection__head * {
      color: {{ section.settings.text_color }};
    }
  {% else %}
    .collection__head {
      margin-top: 130px;
    }
    .collection__head, .collection__head__title, .collection__head__image {
      height: 200px;
    }
  {% endif %}
{% endstyle %}

<div reveal-on-scroll class="collection__head">
  <div class="collection__head__title">
    <h2 class="collection__title">{{ collection.title }}</h2>
    <p>{{ collection.description }}</p>
  </div>
  {% if collection.featured_image != blank and section.settings.show_collection_image == true %}
    <div class="collection__head__image media">
      {%- assign image = collection.featured_image -%}
      {%- assign sizes = '100vw' -%}
      {%- assign widths = '350, 500, 750, 1000, 1250, 1500, 1750, 2000, 2500, 3000, 3500, 3750' -%}
      {%- assign width = '3750' -%}
      {{
        image
        | image_url: width: width
        | image_tag:
          loading: 'lazy',
          class: 'cover',
          alt: image.alt,
          width: image.width,
          height: image.height,
          sizes: sizes,
          widths: widths
      }}
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Collection header",
  "class": "main-collection-header",
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "section_height",
      "min": 300,
      "max": 1000,
      "step": 100,
      "unit": "px",
      "label": "Section height",
      "default": 600
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show collection image",
      "default": true
    }
  ]
}
{% endschema %}
