{{ 'multi-icon.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{ section.id }}.multi-icon {
    background-color: {{ section.settings.background_color }};
    padding: {{ section.settings.space_outside_elements | divided_by: 2 }}px 0;
  }


  @media screen and (max-width: 350px) {
    .multi-icon .item {
      width: 65px;
      max-width: 65px;
      min-width: 65px;
    }
  }
  @media screen and (min-width: 350px) and (max-width: 750px) {
    .multi-icon .item {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 1024px) {
    .multi-icon .item {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
    }
  }
  @media screen and (min-width: 1024px) {
    .multi-icon .item {
      width: 100px;
      max-width: 100px;
      min-width: 100px;
    }
  }
{%- endstyle -%}

<slider-section
  data-desktop-items="6"
  data-tablet-items="5"
  data-mobile-items="3"
  class="{{ section.id }} multi-icon {% if section.settings.section_width == "wrapped" %}wrapped{% else %}{% endif %}"
>
  {% if section.settings.heading != blank %}
    <div class="multi-icon__heading">
      <h6>{{ section.settings.heading }}</h6>
    </div>
  {% endif %}
  <div class="slider-component">
    <div class="prev">
      {% render 'icons', icon: 'chevron-prev' -%}
    </div>
    <div class="slides-container">
      <div class="slide">
        {% for block in section.blocks %}
          <div class="item" {{ block.shopify_attributes }}>
            <a href="{{ block.settings.url }}" class="multi-icon__icon media">
              {% if block.settings.icon_type == 'svg' %}
                {% if block.settings.svg == blank %}
                  {% render 'icons', icon: 'multi-icon' %}
                {% else %}
                  {{ block.settings.svg }}
                {% endif %}
              {% elsif block.settings.icon_type == 'image' %}
                {% if block.settings.image == blank %}
                  {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                {% else %}
                  <img
                    srcset="{{ block.settings.image | image_url }}"
                    loading="lazy"
                    alt="{{ block.settings.image | escape }}"
                    width="{{ block.settings.image.width }}"
                    height="{{ block.settings.image.height }}"
                    class="full"
                  >
                {% endif %}
              {% endif %}
            </a>
            {% if block.settings.text != blank %}
              <p class="multi-icon__text">{{ block.settings.text }}</p>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="next">
      {% render 'icons', icon: 'chevron-next' -%}
    </div>
  </div>
</slider-section>

{% schema %}
{
  "name": "Multi icon",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Filter by"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#222222"
    },
    {
      "type": "range",
      "id": "space_outside_elements",
      "label": "Space outside elements",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "info": "Desktop only",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": "full-width"
    }
  ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "Icon",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Direction URL"
        },
        {
          "type": "select",
          "id": "icon_type",
          "label": "Icon type",
          "options": [
            {
              "value": "svg",
              "label": "svg"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ],
          "default": "svg",
          "info": "It is recommended to use svg icons instead of jpeg/png icons to get the best quality"
        },
        {
          "type": "liquid",
          "id": "svg",
          "label": "Icon - svg",
          "info": "Applicable only if icon type is svg"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon - image",
          "info": "Applicable only if icon type is image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Icon text",
          "default": "Icon"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Multi icon",
      "blocks": [
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        }
      ]
    }
  ]
}
{% endschema %}
