<section id="product-template" data-product="{{ product.id }}"></section>

<div
  class="tempo"
  style="height:500px; width: 100%; background-color: gray; display: flex; justify-content; center: align-items: center;"
>
  {%- form 'product',
    product,
    id: product_form_id,
    class: 'form',
    novalidate: 'novalidate',
    data-type: 'add-to-cart-form'
  -%}
    <input
      type="hidden"
      name="id"
      value="{{ product.selected_or_first_available_variant.id }}"
      disabled
    >
    <div class="product-form__buttons">
      <button
        type="submit"
        name="add"
        class="product-form__submit button button--full-width button--primary"
        {% if product.selected_or_first_available_variant.available == false %}
          disabled
        {% endif %}
      ></button>

      {{ form | payment_button }}
    </div>
  {%- endform -%}
</div>

<script defer>
  function updateRecentlyViewedProductsCookie() {
      let recentlyViewedProducts = [];

      let recentlyViewedProductsCookie = document.cookie.indexOf('recentlyViewedProducts=') !== -1  ? JSON.parse(document.cookie.split("; ").find((row) => row.startsWith("recentlyViewedProducts")).split('=').slice(1).join('=')) : [];
       let expiry = new Date(400 * 24 * 60 * 60 * 1000 + Date.parse(new Date()));

      let productData = {
          id: "{{ product.id }}",
          title: "{{ product.title }}",
          url: "{{ product.url }}",
          image: "{{ product.featured_image | image_url }}",
          image_alt: "{{ product.featured_image.alt }}",
          image_width: "{{ product.featured_image.width }}",
          image_height: "{{ product.featured_image.height }}",
          price: "{{ product.price | money }}",
          compare_at_price: "{{ product.compare_at_price | money }}",
          price_difference: "{{ product.compare_at_price | minus: product.price }}",
          price_difference_with_currency: "{{ product.compare_at_price | minus: product.price | money }}",
          date_difference: "{{ 'now' | date: "%d" | minus: product.published_at | date: "%d" }}"
      };

      for (product = 0; product < recentlyViewedProductsCookie.length; product++) {
          if (recentlyViewedProductsCookie[product].id === productData.id) {
              recentlyViewedProductsCookie.splice(product, 1);
          }
      }

      recentlyViewedProductsCookie.push(productData);
      let newList = JSON.stringify(recentlyViewedProductsCookie);

      document.cookie = "recentlyViewedProducts" + "=" + newList + "; expires=" + expiry + "; path=/; domain=." + window.location.hostname;
  }
  updateRecentlyViewedProductsCookie();
</script>
