{%- style -%}
{%- endstyle -%}
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'product_description_tab' %}
      <div class="product-page__tabs">
        <product-page-tabs data-set-initial-state="expanded" class="product-page__tabs">
          <div class="product-page__tab">
            <div class="product-page__tab-title">
              <h6 class="product-page__tab-title-text">Product description</h6>
              <div class="product-page__tab-title-svg">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10.5L12 15.5L17 10.5" stroke="white" stroke-width="1.5"/>
                </svg>
              </div>
            </div>
            <div class="product-page__tab-content">
              <p>{{ product.description }}</p>
            </div>
          </div>
        </product-page-tabs>
      </div>
    {% when 'tab' %}
      <div class="product-page__tabs">
        <product-page-tabs data-set-initial-state="expanded" class="product-page__tabs">
          <div class="product-page__tab">
            <div class="product-page__tab-title">
              <h6 class="product-page__tab-title-text">{{ block.settings.tab_title }}</h6>
              <div class="product-page__tab-title-svg">
                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M7 10.5L12 15.5L17 10.5" stroke="white" stroke-width="1.5"/>
                </svg>
              </div>
            </div>
            <div class="product-page__tab-content">
              <p>{{ block.settings.tab_content }}</p>
            </div>
          </div>
        </product-page-tabs>
      </div>
    {% when 'share_buttons' %}
      <div class="product-page__share-buttons">
        {%- assign share_url = shop.url | append: product.url -%}
        {%- assign twitter_text = product.title | url_param_escape -%}
        {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
        {%- assign pinterest_image = product.image | img_url: '800x' | prepend: 'https:' -%}

        <div>
          <a
            href="https://www.facebook.com/sharer.php?u={{ share_url }}"
            target="_blank"
          >
            Facebook
            {% comment %} {%- render 'icon' with 'facebook', width: 8, height: 14 -%} {% endcomment %}
          </a>

          <a
            href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}"
            target="_blank"
          >
            Pinterest
            {% comment %} {%- render 'icon' with 'pinterest', width: 10, height: 14 -%} {% endcomment %}
          </a>

          <a
            href="https://twitter.com/share?{% if twitter_text != blank %}text={{ twitter_text }}&{% endif %}url={{ share_url }}"
            target="_blank"
          >
            Twitter
            {% comment %} {%- render 'icon' with 'twitter', width: 17, height: 14 -%} {% endcomment %}
          </a>

          <a href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}">
            Share
            {% comment %} {%- render 'icon' with 'share', width: 13, height: 13 -%} {% endcomment %}
          </a>
        </div>
      </div>
  {% endcase %}
{% endfor %}

{% schema %}
{
  "name": "Product tabs",
  "class": "section-product-tabs",
  "settings": [],
  "blocks": [
    { "type": "product_description_tab", "limit": 1, "name": "Product description", "limit": 1, "settings": [] },
    {
      "type": "tab",
      "name": "Tab",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title",
          "default": "Tab title"
        },
        {
          "type": "richtext",
          "id": "tab_content",
          "label": "Tab content",
          "default": "<p>Tab content to be inserted here</p>"
        }
      ]
    },
    { "type": "share_buttons", "limit": 1, "name": "Share buttons", "limit": 1, "settings": [] }
  ],
  "presets": []
}
{% endschema %}
