<script defer>
  function updateRecentlyViewedProductsCookie() {
      let recentlyViewedProducts = [];

      let recentlyViewedProductsCookie = document.cookie.indexOf('recentlyViewedProducts=') !== -1  ? JSON.parse(document.cookie.split("; ").find((row) => row.startsWith("recentlyViewedProducts")).split('=').slice(1).join('=')) : [];
       let expiry = new Date(400 * 24 * 60 * 60 * 1000 + Date.parse(new Date()));

      let productData = {
          id: "{{ product.id }}",
          title: "{{ product.title }}",
          url: "{{ product.url }}",
          image: "{{ product.featured_image | image_url }}",
          image_alt: "{{ product.featured_image.alt }}",
          image_width: "{{ product.featured_image.width }}",
          image_height: "{{ product.featured_image.height }}",
          price: "{{ product.price | money }}",
          compare_at_price: "{{ product.compare_at_price | money }}",
          price_difference: "{{ product.compare_at_price | minus: product.price }}",
          price_difference_with_currency: "{{ product.compare_at_price | minus: product.price | money }}",
          date_difference: "{{ 'now' | date: "%d" | minus: product.published_at | date: "%d" }}"
      };

      for (product = 0; product < recentlyViewedProductsCookie.length; product++) {
          if (recentlyViewedProductsCookie[product].id === productData.id) {
              recentlyViewedProductsCookie.splice(product, 1);
          }
      }

      recentlyViewedProductsCookie.push(productData);
      let newList = JSON.stringify(recentlyViewedProductsCookie);

      document.cookie = "recentlyViewedProducts" + "=" + newList + "; expires=" + expiry + "; path=/; domain=." + window.location.hostname;
  }
  updateRecentlyViewedProductsCookie();
</script>

{% liquid
  assign mobile_items = 1
  assign tablet_items = 1
  assign desktop_items = 1
  assign desktop_section_width = 100
%}

{%- style -%}
   .product-page-slider__slides-container {
    --mobile-items: {{ mobile_items }};
    --tablet-items: {{ tablet_items }};
    --desktop-items: {{ desktop_items }};
  }

  @media screen and (min-width: 1025px) {
     .product-page-slider__slides-container {
      --container-width: calc(var(--section-width) * {{ desktop_section_width | divided_by: 100.00 }} );
    }
     .prev,
     .next {
      width: {{ 100 | minus: desktop_section_width | divided_by: 2 }}%;
    }
  }

   .item {
    aspect-ratio: 1;
    }
{%- endstyle -%}

<section class="product-page" data-product="{{ product.id }}">
  <div class="product-page__container">
    <div class="product-page__content">
      <div class="product-page__pictures">
        <product-page-slider
          data-mobile-items="{{ mobile_items }}"
          data-tablet-items="{{ tablet_items }}"
          data-desktop-items="{{ desktop_items }}"
          class="{{ section.id }}"
        >
          <div class="product-page-slider">
            <div class="prev">
              {% render 'icons', icon: 'chevron-prev' -%}
            </div>
            <div class="product-page-slider__slides-container">
              <div class="zoom-icon">TEST</div>
              <div class="slide">
                {% if product.images.size == 0 %}
                  <div class="item">
                    <div class="item-picture">{{ 'product-1' | placeholder_svg_tag: 'placeholder' }}</div>
                  </div>
                {% else %}
                  {% for image in product.images %}
                    <div class="item">
                      <div class="item-picture">
                        <img
                          srcset="{{ image | image_url }}"
                          alt="{{ image.alt | escape }}"
                          width="{{ image.width }}"
                          height="{{ image.height }}"
                          class="fit"
                        >
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
            <div class="next">
              {% render 'icons', icon: 'chevron-next' -%}
            </div>
          </div>
          <div class="product-page-slider__indicators"></div>
          <div class="product-page-slider__thumbnails-container ">
            <div class="product-page-slider__thumbnails">
              {% if product.images.size > 0 %}
                {% for image in product.images %}
                  <div data-slide-to="{{ forloop.index0 }}" class="thumbnail">
                    <div class="thumbnail-picture media">
                      <img
                        srcset="{{ image | image_url }}"
                        loading="lazy"
                        alt="{{ image.alt | escape }}"
                        width="{{ image.width }}"
                        height="{{ image.height }}"
                        class="fit"
                      >
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
          </div>
        </product-page-slider>
      </div>
      <div class="product-page__info">
        <div class="product-page__vendor">
          <p>{{ product.vendor }}</p>
        </div>
        <div class="product-page__name">
          <h3>{{ product.title }}</h3>
        </div>
        <div class="product-page__reviews-stars"><p>******** stars</p></div>
        <div class="product-page__prices">
          {% assign price_difference = product.compare_at_price | minus: product.price %}
          {% if price_difference > 0 %}
            <div class="product-page__tag">
              <p class="tag--animated tag-text">SAVE {{ product.compare_at_price | minus: product.price | money }}</p>
            </div>
          {% endif %}
          <div class="product-page__price">
            <p class="product-page__price--actual price--actual">
              {{ product.price | money }}
            </p>
            <p class="product-page__price--compare-at price--compare-at">
              {{ product.compare_at_price | money }}
            </p>
          </div>
        </div>

        {% form 'product', product, class: 'product-page__form' %}
          <div class="product-page__variants">
            {% for option in product.options_with_values %}
              <div class="product-page__variant">
                <label for="product-page__label">
                  <p>{{ option.name }}</p>
                </label>
                <select name="product-page__select">
                  {% for value in option.values %}
                    <option {{ value | escape }}>
                      {{ value }}
                      {%- if variant.available == false %} - sold out {% endif %}
                    </option>
                  {% endfor %}
                </select>
              </div>
            {% endfor %}
          </div>
          <div class="product-page__quantity">
            <label for="product-page__quantity-text"><p>Quantity</p></label>
            <div class="product-page__quantity-selector">
              <button type="button" class="product-page__quantity-selector-plus"></button>

              <input type="quantity" class="product-page__quantity-selector-input" name="quantity" value="1">
              <button type="button" class="product-page__quantity-selector-minus"></button>
            </div>
          </div>
          <div class="product-page__stock-disclaimer"><p>Stock disclaimer</p></div>
          <div class="product-page__countdown-timer">
            <p>Countdown timer</p>
          </div>
          <div class="product-page__buttons buttons buttons--center">
            <button
              type="submit"
              class="button button--primary border"
            >
              <span></span> <span></span> <span></span> <span></span>
              ADD TO CART
            </button>
            <a
              class="button button--secondary border"
              {% if block.settings.secondary_button_link != blank %}
                href="{{ block.settings.secondary_button_link }}"
              {% endif %}
            >
              <span></span> <span></span> <span></span> <span></span>
              BUY NOW
            </a>
          </div>
        {% endform %}

        <div class="product-page__trust-bar">
          <a href="" class="product-page__trust-badge">
            <div class="product-page__trust-icon">
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.8806 3.80507L11.8805 3.80462C12.0688 3.70367 12.2821 3.65 12.5 3.65C12.7183 3.65 12.9319 3.70382 13.1204 3.80505C13.1204 3.80506 13.1204 3.80507 13.1204 3.80507L20.3016 7.66159C20.3017 7.66163 20.3018 7.66167 20.3018 7.66171C20.3019 7.66172 20.3019 7.66174 20.3019 7.66175C20.3506 7.68798 20.3883 7.72475 20.4134 7.76601C20.4384 7.80716 20.4506 7.85218 20.4506 7.89663V7.89666V15.5055C20.4506 15.5055 20.4506 15.5056 20.4506 15.5056C20.4506 15.7148 20.3927 15.9216 20.2813 16.1047C20.1696 16.288 20.0076 16.4419 19.8098 16.5481L19.8097 16.5482L13.1204 20.1424C13.1204 20.1424 13.1203 20.1424 13.1203 20.1425C12.9318 20.2437 12.7182 20.2975 12.5 20.2975C12.2818 20.2975 12.0683 20.2437 11.8798 20.1425C11.8797 20.1424 11.8797 20.1424 11.8796 20.1424L5.19041 16.5482L5.19025 16.5481C4.99253 16.4419 4.83057 16.2881 4.71896 16.1049C4.6075 15.9219 4.54961 15.7153 4.54941 15.5063V7.89666V7.89663C4.54941 7.85218 4.56162 7.80715 4.58665 7.76601C4.61178 7.72469 4.64959 7.68786 4.69836 7.66163C4.69838 7.66162 4.6984 7.66161 4.69842 7.6616L11.8806 3.80507Z" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="bevel"/>
                <path d="M8.66242 5.77832L16.5012 9.98899V12.9365M7.35596 12.3705L9.96888 13.7786" stroke="white" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M4.4978 7.76172L12.4999 12.0601M12.4999 12.0601L20.5021 7.76172M12.4999 12.0601V20.657" stroke="white" stroke-width="1.3" stroke-linejoin="round"/>
              </svg>
            </div>
            <p class="product-page__trust-text">Free Shipping</p>
          </a>
          <a href="" class="product-page__trust-badge">
            <div class="product-page__trust-icon">
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="path-1-inside-1_1288_15020" fill="white">
                <path d="M12.7499 3C12.3172 3 11.8873 3.14538 11.5169 3.41123L10.3705 4.21154L9.04954 4.38462H9.02807L9.00661 4.40608C8.57339 4.50391 8.17677 4.72252 7.86272 5.03657C7.54867 5.35062 7.33006 5.74724 7.23223 6.18046L7.21146 6.20192V6.22338L7.03838 7.56508L6.23807 8.60354L6.21592 8.625V8.64646C5.732 9.41977 5.71054 10.4181 6.23807 11.1561L7.05984 12.3025L7.27654 13.4933L5.048 16.8891L4.33423 17.9497H7.64415L8.44446 19.8099L8.94223 21L9.656 19.9179L11.8409 16.6295C12.428 16.8704 13.0905 16.8925 13.6589 16.6295L15.8438 19.9179L16.5576 21L17.0554 19.8099L17.8557 17.9497H21.1656L20.4518 16.8891L18.2884 13.6013L18.4615 12.3032L19.2618 11.1568L19.2839 11.1353V11.1138C19.7678 10.3405 19.7893 9.36369 19.2618 8.62569L18.4615 7.47854L18.2018 6.18046H18.2233C18.2205 6.16385 18.2046 6.15277 18.2018 6.13685C18.0772 5.23131 17.3607 4.49608 16.4496 4.38462H16.4275L15.1294 4.21154L13.9829 3.41123C13.6249 3.14893 13.1937 3.00514 12.7499 3ZM12.7499 4.40608C12.9092 4.40608 13.0663 4.45454 13.1826 4.53623L14.4156 5.42308L14.5672 5.53108L14.7403 5.55323L16.2551 5.76923H16.2758C16.5874 5.80385 16.8034 6.02054 16.8387 6.33208V6.375L17.1205 7.91123L17.1412 8.06285L17.2499 8.19231L18.1368 9.42531C18.3022 9.65515 18.3237 10.0449 18.1153 10.3772L17.1419 11.7404L17.1198 11.9135L16.9038 13.4282V13.449C16.8922 13.5572 16.8552 13.6611 16.7958 13.7522L16.7521 13.7744V13.7952C16.6493 13.9187 16.5017 13.9966 16.3416 14.0118H16.298L14.7188 14.2936L14.5458 14.3144L14.4156 14.4231L13.1826 15.3099C12.9528 15.4754 12.5415 15.4968 12.2092 15.2885L11.0842 14.4231L10.9541 14.3151L10.7595 14.2929L9.24477 14.0769H9.224C9.12611 14.0683 9.03173 14.0362 8.94883 13.9834C8.86593 13.9307 8.79694 13.8587 8.74769 13.7737C8.70168 13.6939 8.67225 13.6056 8.66115 13.5141V13.4712L8.38007 11.892L8.35792 11.7189L8.24992 11.5888L7.36307 10.3558C7.19761 10.1259 7.17615 9.71469 7.38454 9.38238L8.24992 8.25738L8.35792 8.12723L8.37938 7.93269L8.57461 6.483C8.57738 6.47262 8.59331 6.47262 8.59607 6.46154C8.63923 6.29488 8.72619 6.14281 8.84792 6.02107C8.96965 5.89934 9.12173 5.81239 9.28838 5.76923C9.29946 5.76646 9.29946 5.75054 9.30984 5.74777L10.7595 5.55254L10.9326 5.53177L11.0842 5.42308L12.3172 4.53623C12.4335 4.45523 12.5907 4.40608 12.7499 4.40608ZM17.531 14.9423L18.5916 16.5651H16.9245L16.7515 16.9978L16.2758 18.1006L14.8047 15.8506L15.1287 15.6132L16.4925 15.375V15.3965C16.5085 15.3937 16.5188 15.3778 16.5355 15.375C16.8998 15.3224 17.2434 15.173 17.5303 14.9423H17.531ZM7.96884 14.9638C8.26946 15.2371 8.64712 15.4109 9.05023 15.4615H9.07169L10.3919 15.6346L10.6945 15.8728L9.2233 18.1006L8.74769 16.9978L8.57461 16.5651H6.90892L7.96884 14.9638Z"/>
                </mask>
                <path d="M12.7499 3C12.3172 3 11.8873 3.14538 11.5169 3.41123L10.3705 4.21154L9.04954 4.38462H9.02807L9.00661 4.40608C8.57339 4.50391 8.17677 4.72252 7.86272 5.03657C7.54867 5.35062 7.33006 5.74724 7.23223 6.18046L7.21146 6.20192V6.22338L7.03838 7.56508L6.23807 8.60354L6.21592 8.625V8.64646C5.732 9.41977 5.71054 10.4181 6.23807 11.1561L7.05984 12.3025L7.27654 13.4933L5.048 16.8891L4.33423 17.9497H7.64415L8.44446 19.8099L8.94223 21L9.656 19.9179L11.8409 16.6295C12.428 16.8704 13.0905 16.8925 13.6589 16.6295L15.8438 19.9179L16.5576 21L17.0554 19.8099L17.8557 17.9497H21.1656L20.4518 16.8891L18.2884 13.6013L18.4615 12.3032L19.2618 11.1568L19.2839 11.1353V11.1138C19.7678 10.3405 19.7893 9.36369 19.2618 8.62569L18.4615 7.47854L18.2018 6.18046H18.2233C18.2205 6.16385 18.2046 6.15277 18.2018 6.13685C18.0772 5.23131 17.3607 4.49608 16.4496 4.38462H16.4275L15.1294 4.21154L13.9829 3.41123C13.6249 3.14893 13.1937 3.00514 12.7499 3ZM12.7499 4.40608C12.9092 4.40608 13.0663 4.45454 13.1826 4.53623L14.4156 5.42308L14.5672 5.53108L14.7403 5.55323L16.2551 5.76923H16.2758C16.5874 5.80385 16.8034 6.02054 16.8387 6.33208V6.375L17.1205 7.91123L17.1412 8.06285L17.2499 8.19231L18.1368 9.42531C18.3022 9.65515 18.3237 10.0449 18.1153 10.3772L17.1419 11.7404L17.1198 11.9135L16.9038 13.4282V13.449C16.8922 13.5572 16.8552 13.6611 16.7958 13.7522L16.7521 13.7744V13.7952C16.6493 13.9187 16.5017 13.9966 16.3416 14.0118H16.298L14.7188 14.2936L14.5458 14.3144L14.4156 14.4231L13.1826 15.3099C12.9528 15.4754 12.5415 15.4968 12.2092 15.2885L11.0842 14.4231L10.9541 14.3151L10.7595 14.2929L9.24477 14.0769H9.224C9.12611 14.0683 9.03173 14.0362 8.94883 13.9834C8.86593 13.9307 8.79694 13.8587 8.74769 13.7737C8.70168 13.6939 8.67225 13.6056 8.66115 13.5141V13.4712L8.38007 11.892L8.35792 11.7189L8.24992 11.5888L7.36307 10.3558C7.19761 10.1259 7.17615 9.71469 7.38454 9.38238L8.24992 8.25738L8.35792 8.12723L8.37938 7.93269L8.57461 6.483C8.57738 6.47262 8.59331 6.47262 8.59607 6.46154C8.63923 6.29488 8.72619 6.14281 8.84792 6.02107C8.96965 5.89934 9.12173 5.81239 9.28838 5.76923C9.29946 5.76646 9.29946 5.75054 9.30984 5.74777L10.7595 5.55254L10.9326 5.53177L11.0842 5.42308L12.3172 4.53623C12.4335 4.45523 12.5907 4.40608 12.7499 4.40608ZM17.531 14.9423L18.5916 16.5651H16.9245L16.7515 16.9978L16.2758 18.1006L14.8047 15.8506L15.1287 15.6132L16.4925 15.375V15.3965C16.5085 15.3937 16.5188 15.3778 16.5355 15.375C16.8998 15.3224 17.2434 15.173 17.5303 14.9423H17.531ZM7.96884 14.9638C8.26946 15.2371 8.64712 15.4109 9.05023 15.4615H9.07169L10.3919 15.6346L10.6945 15.8728L9.2233 18.1006L8.74769 16.9978L8.57461 16.5651H6.90892L7.96884 14.9638Z" fill="white" stroke="white" stroke-width="1.25" mask="url(#path-1-inside-1_1288_15020)"/>
              </svg>
            </div>
            <p class="product-page__trust-text">14 Days Warranty</p>
          </a>
          <a href="" class="product-page__trust-badge">
            <div class="product-page__trust-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.4377 7.89177C5.43778 7.89078 5.43786 7.88979 5.43794 7.8888L11.9868 4.59339L18.594 7.89686C18.5946 7.90176 18.5952 7.90673 18.5958 7.91178C18.6201 8.12621 18.6395 8.47105 18.6074 8.95293C18.5434 9.91627 18.2734 11.4333 17.4201 13.5551C16.5996 15.5957 15.1775 17.0959 13.94 18.0931C13.3234 18.5899 12.7595 18.9563 12.352 19.1973C12.2096 19.2815 12.0866 19.3502 11.9876 19.4037C11.8903 19.3505 11.7698 19.2824 11.6305 19.199C11.2282 18.9583 10.6717 18.5922 10.0639 18.0958C8.84406 17.0995 7.44466 15.6004 6.646 13.5607C5.81364 11.4348 5.53053 9.91219 5.44991 8.94221C5.40959 8.45708 5.41982 8.10911 5.4377 7.89177Z" stroke="white" stroke-width="1.3"/>
                <path d="M9.09106 11.3797L11.0303 13.3189L14.9088 9.44043" stroke="white" stroke-width="1.3"/>
              </svg>
            </div>
            <p class="product-page__trust-text">Secure Payment</p>
          </a>
        </div>

        <div class="product-page__bundles">
          <div class="product-page__bundles-products">
            {% for bundled_product in product.metafields.custom.bundles.value %}
              <div class="product-page__bundles-product media">
                <img
                  srcset="{{ bundled_product.featured_image | image_url }}"
                  loading="lazy"
                  alt="{{ bundled_product.featured_image | escape }}"
                  width="{{ bundled_product.featured_image.width }}"
                  height="{{ bundled_product.featured_image.height }}"
                  class="full"
                >
              </div>
            {% endfor %}
          </div>
        </div>

        <div class="product-page__payment-methods" style="padding: 0.5rem;">
          <p>VISA PAYPAL STRIPE</p>
        </div>
      </div>
    </div>
    <div class="product-page__tabs">
      <product-page-tabs data-set-initial-state="expanded" class="product-page__tabs">
        <div class="product-page__tab">
          <div class="product-page__tab-title">
            <h6 class="product-page__tab-title-text">Product description</h6>
            <div class="product-page__tab-title-svg">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 10.5L12 15.5L17 10.5" stroke="white" stroke-width="1.5"/>
              </svg>
            </div>
          </div>
          <div class="product-page__tab-content">
            <p>{{ product.description }}</p>
          </div>
        </div>
        <div class="product-page__tab product-page__reviews">
          <div class="product-page__tab-title">
            <h6 class="product-page__tab-title-text">Reviews</h6>
            <div class="product-page__tab-title-svg">
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 10.5L12 15.5L17 10.5" stroke="white" stroke-width="1.5"/>
              </svg>
            </div>
          </div>
          <div class="product-page__tab-content">
            <p>Reviews to be added later</p>
          </div>
        </div>
      </product-page-tabs>
    </div>
    <div class="product-page__share-buttons">
      <svg width="140" height="25" viewBox="0 0 140 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.59231 17.58C3.89915 17.58 3.23265 17.4689 2.59281 17.2467C1.96186 17.0157 1.47309 16.7224 1.12651 16.3669L1.51308 15.6071C1.84189 15.9271 2.28178 16.1981 2.83275 16.4203C3.39261 16.6335 3.97913 16.7402 4.59231 16.7402C5.17883 16.7402 5.65427 16.6691 6.01862 16.5269C6.39186 16.3758 6.6629 16.1759 6.83175 15.9271C7.00948 15.6782 7.09835 15.4027 7.09835 15.1006C7.09835 14.7362 6.99171 14.443 6.77843 14.2208C6.57404 13.9987 6.30299 13.8254 5.9653 13.7009C5.62761 13.5676 5.25437 13.4521 4.84558 13.3544C4.43679 13.2566 4.02801 13.1544 3.61922 13.0478C3.21043 12.9323 2.83275 12.7812 2.48617 12.5946C2.14848 12.4079 1.87299 12.1636 1.65971 11.8614C1.45532 11.5504 1.35312 11.146 1.35312 10.6484C1.35312 10.1863 1.47309 9.76416 1.71303 9.38203C1.96186 8.99102 2.33954 8.67998 2.84608 8.44893C3.35262 8.20899 4.00135 8.08902 4.79226 8.08902C5.31657 8.08902 5.83644 8.16456 6.35187 8.31563C6.8673 8.45782 7.31163 8.65777 7.68487 8.91548L7.35162 9.70195C6.95172 9.43535 6.52516 9.23984 6.07194 9.11543C5.62761 8.99102 5.1966 8.92881 4.77893 8.92881C4.21907 8.92881 3.75696 9.00435 3.39261 9.15542C3.02826 9.30649 2.75721 9.51089 2.57948 9.7686C2.41063 10.0174 2.32621 10.3018 2.32621 10.6217C2.32621 10.9861 2.42841 11.2793 2.6328 11.5015C2.84608 11.7237 3.12157 11.897 3.45926 12.0214C3.80584 12.1458 4.18352 12.2569 4.59231 12.3546C5.0011 12.4524 5.40544 12.559 5.80534 12.6745C6.21413 12.7901 6.58737 12.9411 6.92506 13.1278C7.27164 13.3055 7.54713 13.5454 7.75152 13.8476C7.9648 14.1497 8.07144 14.5452 8.07144 15.0339C8.07144 15.4872 7.94703 15.9093 7.6982 16.3003C7.44937 16.6824 7.06725 16.9935 6.55182 17.2334C6.04528 17.4645 5.39211 17.58 4.59231 17.58ZM13.5932 10.4351C14.1619 10.4351 14.6596 10.5462 15.0861 10.7684C15.5216 10.9816 15.8593 11.3104 16.0992 11.7548C16.3481 12.1991 16.4725 12.759 16.4725 13.4343V17.5H15.526V13.5277C15.526 12.7901 15.3394 12.2346 14.9662 11.8614C14.6018 11.4793 14.0864 11.2882 13.4199 11.2882C12.9222 11.2882 12.4868 11.3904 12.1136 11.5948C11.7492 11.7903 11.4648 12.0791 11.2604 12.4613C11.0649 12.8345 10.9672 13.2877 10.9672 13.8209V17.5H10.0207V7.60914H10.9672V12.4213L10.7806 12.0614C11.0027 11.5548 11.3582 11.1594 11.847 10.875C12.3357 10.5817 12.9178 10.4351 13.5932 10.4351ZM23.4145 17.5V15.9537L23.3745 15.7004V13.1144C23.3745 12.519 23.2056 12.0614 22.868 11.7414C22.5391 11.4215 22.0459 11.2616 21.3883 11.2616C20.9351 11.2616 20.5041 11.3371 20.0953 11.4882C19.6865 11.6392 19.3399 11.8392 19.0556 12.088L18.629 11.3815C18.9845 11.0794 19.411 10.8483 19.9087 10.6884C20.4063 10.5195 20.9307 10.4351 21.4816 10.4351C22.3881 10.4351 23.0857 10.6617 23.5744 11.1149C24.0721 11.5593 24.3209 12.2391 24.3209 13.1544V17.5H23.4145ZM21.0018 17.5667C20.4774 17.5667 20.0198 17.4822 19.6288 17.3134C19.2466 17.1356 18.9534 16.8957 18.749 16.5936C18.5446 16.2825 18.4424 15.9271 18.4424 15.5272C18.4424 15.1628 18.5268 14.834 18.6957 14.5407C18.8734 14.2386 19.1578 13.9987 19.5488 13.8209C19.9487 13.6343 20.4819 13.541 21.1484 13.541H23.5611V14.2475H21.175C20.4997 14.2475 20.0287 14.3674 19.7621 14.6074C19.5043 14.8473 19.3755 15.145 19.3755 15.5005C19.3755 15.9004 19.531 16.2203 19.842 16.4603C20.1531 16.7002 20.5885 16.8202 21.1484 16.8202C21.6816 16.8202 22.1392 16.7002 22.5214 16.4603C22.9124 16.2114 23.1968 15.856 23.3745 15.3939L23.5878 16.047C23.41 16.5091 23.099 16.8779 22.6547 17.1534C22.2192 17.4289 21.6683 17.5667 21.0018 17.5667ZM26.8915 17.5V10.5017H27.798V12.4079L27.7047 12.0747C27.9002 11.5415 28.229 11.1371 28.6911 10.8617C29.1532 10.5773 29.7264 10.4351 30.4106 10.4351V11.3549C30.3751 11.3549 30.3396 11.3549 30.304 11.3549C30.2685 11.346 30.2329 11.3415 30.1974 11.3415C29.4598 11.3415 28.8821 11.5681 28.4645 12.0214C28.0468 12.4657 27.838 13.1011 27.838 13.9276V17.5H26.8915ZM35.0451 17.5667C34.3164 17.5667 33.6766 17.4156 33.1256 17.1134C32.5746 16.8024 32.1436 16.3803 31.8326 15.8471C31.5215 15.305 31.366 14.6874 31.366 13.9942C31.366 13.301 31.5127 12.6879 31.8059 12.1547C32.1081 11.6215 32.5169 11.2038 33.0323 10.9016C33.5566 10.5906 34.1431 10.4351 34.7918 10.4351C35.4495 10.4351 36.0315 10.5862 36.5381 10.8883C37.0535 11.1816 37.4578 11.5993 37.7511 12.1413C38.0444 12.6745 38.191 13.2922 38.191 13.9942C38.191 14.0386 38.1865 14.0875 38.1777 14.1408C38.1777 14.1853 38.1777 14.2341 38.1777 14.2875H32.0859V13.581H37.6711L37.2979 13.8609C37.2979 13.3544 37.1868 12.9056 36.9646 12.5146C36.7514 12.1147 36.4581 11.8036 36.0849 11.5815C35.7116 11.3593 35.2806 11.2482 34.7918 11.2482C34.312 11.2482 33.881 11.3593 33.4988 11.5815C33.1167 11.8036 32.819 12.1147 32.6057 12.5146C32.3924 12.9145 32.2858 13.3721 32.2858 13.8876V14.0342C32.2858 14.5674 32.4013 15.0384 32.6324 15.4472C32.8723 15.8471 33.2011 16.1626 33.6188 16.3936C34.0454 16.6158 34.5297 16.7269 35.0718 16.7269C35.4983 16.7269 35.8938 16.6513 36.2581 16.5002C36.6314 16.3492 36.9513 16.1181 37.2179 15.8071L37.7511 16.4203C37.4401 16.7935 37.0491 17.0779 36.5781 17.2734C36.116 17.4689 35.605 17.5667 35.0451 17.5667Z" fill="white"/>
        <path d="M66.1019 8.19249H64.0785C63.3041 8.19249 62.6421 8.46792 62.0925 9.01878C61.5679 9.56964 61.3056 10.2332 61.3056 11.0094V13H59.6944V15.4038H61.3056V21H63.7037V15.4038H66.1019V13H63.7037V11.385C63.7037 11.1847 63.7787 11.0094 63.9286 10.8592C64.0785 10.6839 64.2658 10.5962 64.4906 10.5962H66.1019V8.19249ZM52.5 6C52.5 5.44772 52.9477 5 53.5 5H67.5C68.0523 5 68.5 5.44772 68.5 6V20C68.5 20.5523 68.0523 21 67.5 21H53.5C52.9477 21 52.5 20.5523 52.5 20V6Z" fill="white"/>
        <path d="M97.9437 6.63961C96.8927 5.58232 95.4383 5 93.8484 5C91.4197 5 89.926 6.04329 89.1006 6.91845C88.0833 7.99699 87.5 9.4291 87.5 10.8476C87.5 12.6287 88.2109 13.9957 89.4013 14.5042C89.4812 14.5385 89.5617 14.5558 89.6405 14.5558C89.8917 14.5558 90.0906 14.3836 90.1596 14.1074C90.1998 13.9489 90.2929 13.5579 90.3334 13.3882C90.42 13.0531 90.35 12.8918 90.161 12.6584C89.8167 12.2315 89.6564 11.7266 89.6564 11.0696C89.6564 9.118 91.0431 7.04386 93.6132 7.04386C95.6524 7.04386 96.9192 8.25849 96.9192 10.2137C96.9192 11.4475 96.6656 12.5902 96.205 13.4313C95.8849 14.0157 95.322 14.7124 94.458 14.7124C94.0843 14.7124 93.7487 14.5515 93.5369 14.2711C93.3368 14.006 93.2708 13.6635 93.3513 13.3066C93.4422 12.9034 93.5662 12.4827 93.6862 12.0761C93.9049 11.3334 94.1118 10.6319 94.1118 10.0723C94.1118 9.11503 93.5502 8.47181 92.7145 8.47181C91.6524 8.47181 90.8204 9.60225 90.8204 11.0454C90.8204 11.7531 90.9998 12.2825 91.0811 12.4858C90.9473 13.0798 90.1521 16.6117 90.0013 17.2777C89.9141 17.6665 89.3887 20.7373 90.2583 20.9822C91.2353 21.2572 92.1086 18.2665 92.1975 17.9286C92.2696 17.6538 92.5217 16.6145 92.6761 15.9756C93.1478 16.4517 93.9072 16.7736 94.6461 16.7736C96.0392 16.7736 97.292 16.1166 98.1738 14.9239C99.029 13.767 99.5 12.1546 99.5 10.3838C99.4999 8.9995 98.9326 7.63474 97.9437 6.63961Z" fill="white"/>
        <path d="M133.851 9.74006C133.851 9.88994 133.851 10.0273 133.851 10.1522C133.851 11.2764 133.639 12.388 133.214 13.4871C132.815 14.5613 132.228 15.548 131.453 16.4473C130.704 17.3466 129.717 18.0835 128.493 18.6581C127.294 19.2077 125.97 19.4824 124.521 19.4824C122.698 19.4824 121.024 18.9953 119.5 18.0211C119.75 18.0461 120.012 18.0586 120.287 18.0586C121.811 18.0586 123.172 17.5964 124.371 16.6721C123.647 16.6472 122.997 16.4223 122.423 15.9977C121.873 15.573 121.498 15.0359 121.299 14.3864C121.498 14.4364 121.698 14.4614 121.898 14.4614C122.198 14.4614 122.485 14.4114 122.76 14.3115C122.011 14.1616 121.386 13.7869 120.886 13.1874C120.387 12.5878 120.137 11.9009 120.137 11.1265C120.137 11.1015 120.137 11.089 120.137 11.089C120.612 11.3388 121.111 11.4762 121.636 11.5012C120.662 10.8267 120.174 9.91492 120.174 8.76582C120.174 8.16629 120.324 7.61672 120.624 7.11711C121.448 8.11633 122.435 8.9157 123.584 9.51524C124.758 10.1148 126.02 10.452 127.369 10.5269C127.319 10.2771 127.294 10.0273 127.294 9.77753C127.294 8.87823 127.606 8.11633 128.231 7.49182C128.88 6.84232 129.655 6.51758 130.554 6.51758C131.503 6.51758 132.302 6.85481 132.952 7.52929C133.701 7.3794 134.401 7.11711 135.05 6.7424C134.801 7.5168 134.313 8.11633 133.589 8.541C134.263 8.46606 134.9 8.30368 135.5 8.05388C135.05 8.70337 134.501 9.26543 133.851 9.74006Z" fill="white"/>
      </svg>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Product page",
  "class": "page-product",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_autoplay",
      "label": "Enable autoplay",
      "default": true
    },
    {
      "type": "range",
      "id": "autoplay_delay_time",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Delay time",
      "default": 4
    },
    {
      "type": "range",
      "id": "image_height",
      "min": 500,
      "max": 1000,
      "step": 100,
      "unit": "px",
      "label": "Height",
      "default": 500
    },
    {
      "type": "header",
      "content": "Text style"
    },
    {
      "type": "select",
      "id": "vertical_position",
      "label": "Text position - Vertical",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "horizontal_position",
      "label": "Text position - Horizonal",
      "info": "Desktop only",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "info": "Desktop only",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "text_width",
      "label": "Text width",
      "info": "Desktop only",
      "min": 40,
      "max": 90,
      "step": 10,
      "unit": "%",
      "default": 50
    },
    {
      "type": "header",
      "content": "Section style"
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "Space between elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "space_outside",
      "label": "Space outside section",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "default": 0
    },
    {
      "type": "select",
      "id": "section_style",
      "label": "Section width",
      "info": "Desktop only",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": "full-width"
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
