{{ 'promotional-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{ section.id }}.promotional-banner {
    padding: {{ section.settings.space_outside_elements }}px 0;
    background: {{ section.settings.background_color }};
    width: 100%;
  }
  .{{ section.id }}.promotional-banner__content--style-1 {
        animation: banner-scroll {{ section.settings.animation_speed }}s linear infinite;
  }

  .{{ section.id }}.promotional-banner__content--style-1 > *, .{{ section.id }}.promotional-banner__content--style-2 > *:not(a) {
    color: {{ section.settings.text_color }};
  }

  .{{ section.id }}.promotional-banner__content--style-2 > a {
    color: {{ section.settings.button_color }};
  }

  .{{ section.id }}.promotional-banner__content--style-2 > a {
    border-color: {{ section.settings.button_color }};
  }

  .{{ section.id }}.promotional-banner__content--style-2 > a:hover {
    color: {{ section.settings.button_color }};
    border-color: {{ section.settings.button_color }};
  }

  .{{ section.id }}.promotional-banner__content--style-2 > a > span {
    background-color: {{ section.settings.button_color }};
  }
{%- endstyle -%}

<section>
  <div class="{{ section.id }} promotional-banner {% if section.settings.section_width == "wrapped" %} wrapped{% else %}{% endif %}">
    {% if section.settings.banner_style == 'style-1' %}
      {% if section.settings.style_1_text != blank %}
        <div class="{{ section.id }} promotional-banner__content--style-1">
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
        </div>
        <div class="{{ section.id }} promotional-banner__content--style-1" aria-hidden="true">
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
          <{{ section.settings.style_1_text_type }}>
            {{- section.settings.style_1_text -}}
          </{{ section.settings.style_1_text_type }}>
        </div>
      {% endif %}
    {% elsif section.settings.banner_style == 'style-2' %}
      <div class="{{ section.id }} promotional-banner__content--style-2">
        {% if section.settings.style_2_heading != blank %}
          <{{ section.settings.style_2_heading_type }}>
            {{- section.settings.style_2_heading -}}
          </{{ section.settings.style_2_heading_type }}>
        {% endif %}
        {% if section.settings.style_2_text != blank %}
          <p>
            {{ section.settings.style_2_text }}
          </p>
        {% endif %}
        {% if section.settings.style_2_button_text != blank %}
          <a
            class="button button--{% if section.settings.button_type == "border" and section.settings.button_style == "primary" %}primary{% else %}secondary{% endif %} {{ section.settings.button_type }}"
            href="{{ section.settings.style_2_button_url }}"
          >
            <span></span> <span></span> <span></span> <span></span>
            {{ section.settings.style_2_button_text }}
          </a>
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Promotional banner",
  "settings": [
    {
      "type": "select",
      "id": "banner_style",
      "label": "Banner style",
      "options": [
        {
          "value": "style-1",
          "label": "Style 1"
        },
        {
          "value": "style-2",
          "label": "Style 2"
        }
      ],
      "default": "style-1"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#fcdb33"
    },
    {
      "type": "range",
      "id": "space_outside_elements",
      "label": "Space outside elements",
      "min": 10,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "info": "Desktop only",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "header",
      "content": "Style 1 settings",
      "info": "Applied only if 'Style 1' is selected"
    },
    {
      "type": "range",
      "id": "animation_speed",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "sec",
      "label": "Animation speed",
      "default": 60
    },
    {
      "type": "text",
      "id": "style_1_text",
      "label": "Text",
      "default": "Put the banner text here"
    },
    {
      "type": "select",
      "id": "style_1_text_type",
      "label": "Text type",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        },
        {
          "value": "p",
          "label": "Text"
        }
      ],
      "default": "h3"
    },
    {
      "type": "header",
      "content": "Style 2 settings",
      "info": "Applied only if 'Style 2' is selected"
    },
    {
      "type": "text",
      "id": "style_2_heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "select",
      "id": "style_2_heading_type",
      "label": "heading type",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ],
      "default": "h6"
    },
    {
      "type": "text",
      "id": "style_2_text",
      "label": "Text",
      "default": "Put the banner text here"
    },
    {
      "type": "text",
      "id": "style_2_button_text",
      "label": "Button text",
      "default": "Primary button"
    },
    {
      "type": "url",
      "id": "style_2_button_url",
      "label": "Button url"
    },
    {
      "type": "select",
      "id": "button_type",
      "label": "Button type",
      "options": [
        {
          "value": "border",
          "label": "Button"
        },
        {
          "value": " ",
          "label": "Link"
        }
      ],
      "default": "border"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "options": [
        {
          "value": "primary",
          "label": "Filled"
        },
        {
          "value": "secondary",
          "label": "Empty"
        }
      ],
      "default": "secondary"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "Button color",
      "default": "#fcdb33"
    }
  ],
  "presets": [
    {
      "name": "Promotional banner"
    }
  ]
}
{% endschema %}
