{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}

{% liquid
  assign mobile_items = 1
  assign tablet_items = 1
  assign desktop_items = 1
  assign featured_product = section.settings.product
%}

{% style %}
    .featured-product.{{ section.id }} {
      background-color: {{ section.settings.background_color }};
      padding-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px !important;
      padding-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px !important;
    }

  @media screen and (min-width: 750px) {
    .featured-product.{{ section.id }} {
      padding-top: {{ section.settings.top_space }}px !important;
      padding-bottom: {{ section.settings.bottom_space }}px !important;
    }
  }

   .featured-product-slider__slides-container {
    --mobile-items: {{ mobile_items }};
    --tablet-items: {{ tablet_items }};
    --desktop-items: {{ desktop_items }};
  }

  @media screen and (min-width: 1024px) {
     .prev,
     .next {
      width: 5%;
    }
  }

  .featured-product-slider__slides-container .item {
  aspect-ratio: 1;
  }

  {% if section.settings.thumbnails_on_mobile == false %}
    @media screen and (max-width: 1024px) {
      .{{ section.id }} .featured-product-slider__thumbnails {
          height: 0 !important;
          visibility: hidden;
      }
    }
    @media screen and (min-width: 1024px) {
      .{{ section.id }} .featured-product-slider__indicators {
          height: 0 !important;
          visibility: hidden;
      }
    }
  {% else %}
    .{{ section.id }} .featured-product-slider__indicators {
        height: 0 !important;
        visibility: hidden;
    }
    .{{ section.id }} .featured-product-slider__slides-container .slide, .{{ section.id }} .featured-product-slider__slides-container .slide .item {
      transition: none !important;
      opacity: 1 !important;
    }
  {% endif %}
{% endstyle %}

<featured-product
  class="featured-product {{ section.id }}"
>
  <div class="featured-product__container">
    <div class="featured-product__content">
      <div class="featured-product__pictures">
        <div class="featured-product__slider">
          <featured-product-slider
            data-mobile-items="{{ mobile_items }}"
            data-tablet-items="{{ tablet_items }}"
            data-desktop-items="{{ desktop_items }}"
            class="{{ section.id }}"
          >
            <p id="imagesData-{{ section.id }}"></p>
            <p id="variantsData-{{ section.id }}"></p>
            <p id="optionsData-{{ section.id }}"></p>

            <div
              class="featured-product-slider"
              data-section-id="{{ section.id }}"
              data-section-id="{{ section.id }}"
              data-featured-product-variant-selector-type="{{ section.settings.variant_selector_type }}"
              data-featured-product-color-selector-type="{{ section.settings.color_selector_type }}"
            >
              <div class="prev">
                {% render 'snippet-icons', icon: 'chevron-prev' %}
              </div>
              <div class="featured-product-slider__slides-container">
                <div class="zoom-icon"></div>
                <div class="slide">
                  <div class="item">
                    <div class="item-picture media">
                      {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                    </div>
                  </div>
                </div>
              </div>
              <div class="next">
                {% render 'snippet-icons', icon: 'chevron-next' %}
              </div>
            </div>
            <div class="featured-product-slider__indicators"></div>
            <div class="featured-product-slider__thumbnails-container ">
              <div class="featured-product-slider__thumbnails">
                <div class="thumbnail">
                  <div class="thubmnail-picture media">
                    {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
                  </div>
                </div>
              </div>
            </div>
          </featured-product-slider>
        </div>
      </div>
      <div class="featured-product__info">
        {% for block in section.blocks %}
          {% case block.type %}
            {%- when '@app' -%}
              {% render block %}
            {% when 'vendor' %}
              <div class="featured-product__vendor" {{ block.shopify_attributes }}>
                <p>{{ featured_product.vendor }}</p>
              </div>
            {% when 'name' %}
              <div class="featured-product__name" {{ block.shopify_attributes }}>
                <h3>{{ featured_product.title }}</h3>
              </div>
            {% when 'price' %}
              <div class="featured-product__price" {{ block.shopify_attributes }}>
                <p>
                  {{ featured_product.price | money }}
                </p>
              </div>
            {% when 'variants_selector' %}
              <div class="featured-product__options" {{ block.shopify_attributes }}></div>

            {% when 'quantity' %}
              <div class="featured-product__quantity-field" {{ block.shopify_attributes }}>
                <quantity-field class="quantity">
                  <label for="quantity-text"><p>Quantity</p></label>
                  <div class="quantity-field" id="quantity-field">
                    <button type="button" class="quantity-field__minus" id="quantity-field__minus">-</button>
                    <input
                      type="quantity"
                      class="quantity-field__input"
                      id="quantity-field__input"
                      name="quantity"
                      min="1"
                      value="1"
                    >
                    <button type="button" class="quantity-field__plus" id="quantity-field__plus">+</button>
                  </div>
                </quantity-field>
              </div>
            {% when 'buttons' %}
              <div class="featured-product__buttons buttons" {{ block.shopify_attributes }}>
                <a class="button button--primary border" id="featured-product-add-to-cart">
                  <span></span> <span></span> <span></span> <span></span>ADD TO CART</a
                >
                {%- form 'product', featured_product -%}
                  {{ form | payment_button }}
                {%- endform -%}
              </div>
            {% when 'product-link' %}
              <a
                href="{{ featured_product.url }}"
                class="featured-product__url button--link"
                {{ block.shopify_attributes }}
              >
                View details
              </a>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</featured-product>

<script defer>
  featuredProductImages = {};
  {% if featured_product.images.size > 0 %}
    {% for image in featured_product.images %}
     {% for variant in image.variants %}
       featuredProductvariantsAttached.push({{ variant.id }});
     {% endfor %}
       featuredProductImages[{{ image.position }}] = {  position: {{ image.position }}, id: {{ image.id }}, variant_ids: featuredProductvariantsAttached, src: "{{ image | image_url }}" , alt: "{{ image.alt | escape }}" , width: "{{ image.width }}" , height: "{{ image.height }}"};
    {% endfor %}
  {% endif %}


  featuredProductVariants = {};
  {% if featured_product.variants.size > 0 %}
      {% for variant in featured_product.variants %}
        featuredProductVariants['{{ variant.id }}'] = { id: "{{ variant.id }}", title: "{{ variant.title }}", price: "{{ variant.price | money }}", compare_at_price: "{{ variant.compare_at_price | money }}", inventory: {{ variant.inventory_quantity }}, featured_image: "{{ variant.featured_image.id }}" };
      {% endfor %}
    {% endif %}

  featuredProductOptions = {};
  {% if featured_product.options_with_values.size > 0 %}
    {% for option in featured_product.options_with_values %}
        optionValues = [];
      {% for value in option.values %} optionValues.push("{{ value }}");
      {% endfor %}
      featuredProductOptions["{{ option.name }}"] = optionValues;
    {% endfor %}
  {% endif %}

  localStorage.setItem("featuredProductImages-{{ section.id }}", JSON.stringify(featuredProductImages));
  localStorage.setItem("featuredProductVariants-{{ section.id }}", JSON.stringify(featuredProductVariants));
  localStorage.setItem("featuredProductOptions-{{ section.id }}", JSON.stringify(featuredProductOptions));
</script>

{% schema %}
{
  "name": "Featured product",
  "class": "section-featured-product",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "checkbox",
      "id": "thumbnails_on_mobile",
      "label": "Show product thumbnails on mobile instead of indicators",
      "default": false
    },
    {
      "type": "select",
      "id": "variant_selector_type",
      "label": "Variant selector type",
      "options": [
        {
          "value": "block",
          "label": "Block"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        }
      ],
      "default": "dropdown"
    },
    {
      "type": "select",
      "id": "color_selector_type",
      "label": "Color selector type",
      "info": "For the color swatch to work properly, the product must have variants, every variant must have an image attached to it, every image alt must be written in the format #color:Name, and the color and it's hex must be added in Color swatch tab in theme settings.",
      "options": [
        {
          "value": "block",
          "label": "Block"
        },
        {
          "value": "dropdown",
          "label": "Dropdown"
        },
        {
          "value": "color_swatch",
          "label": "Color swatch"
        },
        {
          "value": "variant_image",
          "label": "Image variant"
        }
      ],
      "default": "dropdown"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent"
    },
    {
      "type": "range",
      "id": "top_space",
      "label": "Top space",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "label": "Top bottom",
      "min": 0,
      "max": 400,
      "step": 10,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "vendor",
      "name": "Vendor"
    },
    {
      "type": "name",
      "name": "Name"
    },
    {
      "type": "price",
      "name": "Price"
    },
    {
      "type": "variants_selector",
      "name": "Variants selector"
    },
    {
      "type": "quantity",
      "name": "Quantity"
    },
    {
      "type": "buttons",
      "name": "Button"
    },
    {
      "type": "product-link",
      "name": "Product link"
    }
  ],
  "presets": [
    {
      "name": "Featured product",
      "blocks": [
        {
          "type": "vendor"
        },
        {
          "type": "name"
        },
        {
          "type": "price"
        },
        {
          "type": "variants_selector"
        },
        {
          "type": "quantity"
        },
        {
          "type": "buttons"
        },
        {
          "type": "product-link"
        }
      ]
    }
  ]
}
{% endschema %}
