{%- if predictive_search.performed -%}
  <div class="search-results__results-list hidden">
    {%- for product in predictive_search.resources.products -%}
      <div class="search-results__list-item">
        <a href="{{ product.url }}" class="search-results__item">
          <div class="search-results__image media">
            {%- if product.featured_media != blank -%}
              {%- assign image = product.featured_media -%}
              {%- assign widths = '60, 70, 80' -%}
              {%- assign width = '80' -%}
              {{
                image
                | image_url: width: width
                | image_tag:
                  loading: 'lazy',
                  class: 'cover',
                  alt: image.alt,
                  width: image.width,
                  height: image.height,
                  widths: widths
              }}
            {%- else -%}
              {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
            {%- endif -%}
          </div>

          <div class="search-results__item-content">
            <span class="search-results__item-heading">{{ product.title }}</span>
            <span class="search-results__item-price">{{ product.price | money }}</span>
          </div>
        </a>
      </div>
      <div class="search-results__divider"></div>
    {%- endfor -%}
    <div class="search-results__link-container">
      <button class="search-results__link button-text button--link">Search for “{{ predictive_search.terms }}”</button>
    </div>
  </div>
{%- endif -%}
