{{ 'section-testimonials.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{ section.id }}.testimonials {
    background-color: {{ section.settings.background_color }};
  }

  .{{ section.id }}.testimonials {
    margin-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .{{ section.id }}.testimonials {
      margin-top: {{ section.settings.top_space }}px;
      margin-bottom: {{ section.settings.bottom_space }}px;
    }
  }

  .{{ section.id }}.testimonials__content,
  .{{ section.id }}.testimonials__row,
  .{{ section.id }}.testimonials__row--reversed,
  .{{ section.id }}.testimonials__slide--right,
  .{{ section.id }}.testimonials__slide--left {
    gap: {{ section.settings.space_between_elements | divided_by: 2.0 }}rem;
  }
  .{{ section.id }}.testimonials__item {
    min-height: {{ section.settings.review_height | times: 0.8 }}px;
    width: {{ section.settings.review_width | times: 0.8 }}px;
    background-color: {{ settings.secondary_background_color }};
    border: {{ section.settings.review_border_width }}px {{ section.settings.review_border_color }} solid;
  }
  @media screen and (min-width: 750px) {
    .{{ section.id }}.testimonials__content,
    .{{ section.id }}.testimonials__row,
    .{{ section.id }}.testimonials__row--reversed,
    .{{ section.id }}.testimonials__slide--right,
    .{{ section.id }}.testimonials__slide--left {
      gap: {{ section.settings.space_between_elements }}rem;
    }
    .{{ section.id }}.testimonials__item {
      min-height: {{ section.settings.review_height }}px;
      width: {{ section.settings.review_width }}px;
    }
  }

  .{{ section.id }}.testimonials__slide--right {
    {% if section.settings.animated %}
      animation: testimonials-slide--right {{ section.settings.animation_speed }}s linear infinite;
    {% endif %}
  }
  .{{ section.id }}.testimonials__slide--left {
    {% if section.settings.animated %}
      animation: testimonials-slide--left {{ section.settings.animation_speed }}s linear infinite;
    {% endif %}
  }
{%- endstyle -%}

<section class="{{ section.id }} testimonials">
  <div class="testimonials__heading">
    <{{ section.settings.heading_size }}>
      {{ section.settings.heading }}
    </{{ section.settings.heading_size }}>
  </div>
  <div class="{{ section.id }} testimonials__content">
    <div class="{{ section.id }} testimonials__row">
      {%- capture testimonial_content -%}
          {% for block in section.blocks %}
            {% assign num = forloop.index | modulo: 2 %}
            {% if num != 0 %}
              <div class="{{ section.id }} testimonials__item">
                <div class="testimonials__reviewer">
                  <div class="testimonials__reviewer-picture media">
                    {%- if block.settings.reviewer_picture == blank -%}
                      {{ 'product-3' | placeholder_svg_tag: 'placeholder' }}
                    {%- elsif block.settings.reviewer_picture != blank -%}
                      {%- assign image = block.settings.reviewer_picture -%}
                      {%- assign widths = '40, 60' -%}
                      {%- assign width = '60' -%}
                      {{
                        image
                        | image_url: width: width
                        | image_tag:
                          loading: 'lazy',
                          class: 'cover',
                          alt: image.alt,
                          width: image.width,
                          height: image.height,
                          widths: widths
                      }}
                    {% endif %}
                  </div>
                  <div class="testimonials__reviewer-info">
                    <div class="testimonials__reviewer-stars">
                      {% render 'snippet-icons', icon: block.settings.stars_count -%}
                    </div>
                    <p class="testimonials__reviewer-name">~{{ block.settings.reviewer_name }}</p>
                  </div>
                </div>
                <div class="testimonials__review">
                  <p>"{{ block.settings.review_text | truncate: 200 }}"</p>
                </div>
              </div>
            {% endif %}
          {% endfor -%}
      {%- endcapture -%}
      {% for testimonial in (1..15) %}
        <div class="{{ section.id }} testimonials__slide--right">
          {{ testimonial_content }}
        </div>
      {% endfor %}
    </div>
    <div class="{{ section.id }} testimonials__row--reversed">
      {% for testimonial in (1..15) %}
        <div class="{{ section.id }} testimonials__slide--left">
          {{ testimonial_content }}
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.section-testimonials.name",
  "class": "section-testimonials",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.section-testimonials.blocks.review.name"
    },
    {
      "type": "range",
      "id": "review_width",
      "min": 250,
      "max": 350,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.width",
      "default": 250
    },
    {
      "type": "range",
      "id": "review_height",
      "min": 150,
      "max": 250,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.height",
      "default": 150
    },
    {
      "type": "range",
      "id": "review_border_width",
      "label": "t:sections.general.border_width",
      "min": 0,
      "max": 5,
      "step": 1,
      "unit": "px",
      "default": 2
    },
    {
      "type": "color",
      "id": "review_border_color",
      "label": "t:sections.general.border_color",
      "default": "#fff"
    },
    {
      "type": "header",
      "content": "t:sections.general.animation"
    },
    {
      "type": "checkbox",
      "id": "animated",
      "label": "t:sections.general.activate_animation",
      "default": true
    },
    {
      "type": "range",
      "id": "animation_speed",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "s",
      "label": "t:sections.general.animation_speed",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.general.section"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.general.heading",
      "default": "Testimonials"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.general.heading_size",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ],
      "default": "h6"
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "t:sections.general.space_between_elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.top_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.bottom_space",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.general.background_color",
      "default": "transparent"
    }
  ],
  "max_blocks": 20,
  "blocks": [
    {
      "type": "text",
      "name": "t:sections.section-testimonials.blocks.review.name",
      "settings": [
        {
          "type": "image_picker",
          "id": "reviewer_picture",
          "label": "t:sections.section-testimonials.blocks.review.settings.reviewer_picture."
        },
        {
          "type": "select",
          "id": "stars_count",
          "label": "t:sections.section-testimonials.blocks.review.settings.stars_count.label",
          "options": [
            {
              "value": "star-0",
              "label": "t:sections.section-testimonials.blocks.review.settings.stars_count.options.star-0"
            },
            {
              "value": "star-1",
              "label": "t:sections.section-testimonials.blocks.review.settings.stars_count.options.star-1"
            },
            {
              "value": "star-2",
              "label": "t:sections.section-testimonials.blocks.review.settings.stars_count.options.star-2"
            },
            {
              "value": "star-3",
              "label": "t:sections.section-testimonials.blocks.review.settings.stars_count.options.star-3"
            },
            {
              "value": "star-4",
              "label": "t:sections.section-testimonials.blocks.review.settings.stars_count.options.star-4"
            },
            {
              "value": "star-5",
              "label": "t:sections.section-testimonials.blocks.review.settings.stars_count.options.star-5"
            }
          ],
          "default": "star-5"
        },
        {
          "type": "text",
          "id": "reviewer_name",
          "label": "t:sections.section-testimonials.blocks.review.settings.reviewer_name",
          "default": "Name"
        },
        {
          "type": "text",
          "id": "review_text",
          "label": "t:sections.section-testimonials.blocks.review.name",
          "default": "Put your customer review here"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.section-testimonials.name",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "text"
        }
      ]
    }
  ]
}
{% endschema %}
