{{ 'section-gallery.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{ section.id }}.gallery__image {
    height: {{ section.settings.mobile_image_height }}px;
  }

  .{{ section.id }}.gallery__content {
    background: rgba({{ section.settings.overlay_color.red }}, {{ section.settings.overlay_color.green }}, {{ section.settings.overlay_color.blue }}, {{ section.settings.overlay_opacity | divided_by: 100.0 }});
  }
  .{{ section.id }}.gallery__content > *:not(.button-text) {
    color: {{ section.settings.text_color }};
  }

  @media screen and (min-width: 750px) {
    .{{ section.id }}.gallery__image {
      height: {{ section.settings.deskop_image_height }}px;
    }

    {% if section.settings.gallery_style == "all_in_one" %}
      .{{ section.id }}.gallery > div {
        {% assign full_width = 100.00 %}
        width: {{ full_width | divided_by: section.blocks.size }}%;
      }
    {% endif %}

    {% if section.blocks.size == 1 and section.settings.gallery_style == "multiple_rows" %}
      .{{ section.id }}.gallery > div:nth-child(1) {
        width: 100%;
      }
    {% endif %}

    {% if section.blocks.size == 2 and section.settings.gallery_style == "multiple_rows" %}
      .{{ section.id }}.gallery > div:nth-child(1) {
        width: 65%;
      }
      .{{ section.id }}.gallery > div:nth-child(2) {
        width: 35%;
      }
    {% endif %}

    {% if section.blocks.size == 3 and section.settings.gallery_style == "multiple_rows" %}
      .{{ section.id }}.gallery > div:nth-child(1) {
        width: 65%;
      }
      .{{ section.id }}.gallery > div:nth-child(2) {
        width: 35%;
      }
      .{{ section.id }}.gallery > div:nth-child(3) {
        width: 100%;
      }
    {% endif %}

    {% if section.blocks.size == 4 and section.settings.gallery_style == "multiple_rows" %}
      .{{ section.id }}.gallery > div:nth-child(1), .gallery > div:nth-child(4) {
        width: 65%;
      }
      .{{ section.id }}.gallery > div:nth-child(2), .gallery > div:nth-child(3) {
        width: 35%;
      }
    {% endif %}

    {% if section.blocks.size == 5 and section.settings.gallery_style == "multiple_rows" %}
      .{{ section.id }}.gallery > div:nth-child(1), .gallery > div:nth-child(4) {
        width: 65%;
      }
      .{{ section.id }}.gallery > div:nth-child(2), .gallery > div:nth-child(3) {
        width: 35%;
      }
      .{{ section.id }}.gallery > div:nth-child(5) {
        width: 100%;
      }
    {% endif %}

    {% if section.blocks.size == 6 and section.settings.gallery_style == "multiple_rows" %}
      .{{ section.id }}.gallery > div:nth-child(1), .gallery > div:nth-child(4), .gallery > div:nth-child(5) {
        width: 65%;
      }
      .{{ section.id }}.gallery > div:nth-child(2), .gallery > div:nth-child(3), .gallery > div:nth-child(6) {
        width: 35%;
      }
    {% endif %}
  }
{%- endstyle -%}

<section class="{{ section.id }} gallery {{ section.settings.section_style }}">
  {% for block in section.blocks %}
    <div class="gallery__item" {{ block.shopify_attributes }}>
      <div class="{{ section.id }} gallery__image">
        {%- if block.settings.image == blank -%}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder' }}
        {%- elsif block.settings.image != blank -%}
          <div class="media">
            {% render 'snippet-image'; image: block.settings.image, style: 'fit' %}
          </div>
        {%- endif -%}
      </div>
      <div class="{{ section.id }} gallery__content container text-alignment--{{ section.settings.horizontal_position }} vertical--{{ section.settings.vertical_position }}">
        {%- if block.settings.heading != blank -%}
          <{{ block.settings.heading_size }}>
            {{ block.settings.heading }}
          </{{ block.settings.heading_size }}>
        {% endif %}
        {%- if block.settings.text != blank -%}
          <p>{{ block.settings.text }}</p>
        {% endif %}
        {%- if block.settings.button_text != blank -%}
          <a
            {% if block.settings.button_link != blank %}
              href="{{ block.settings.button_link }}"
            {% endif %}
            class="button-text button--link"
          >
            {{- block.settings.button_text -}}
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Gallery",
  "class": "section-gallery",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "gallery_style",
      "label": "Gallery style",
      "options": [
        {
          "value": "multiple_rows",
          "label": "Multiple rows"
        },
        {
          "value": "all_in_one",
          "label": "All in one row"
        }
      ],
      "default": "all_in_one",
      "info": "Desktop only"
    },
    {
      "type": "select",
      "id": "section_style",
      "label": "Section width",
      "info": "Desktop only",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": "full-width"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 70,
      "step": 1,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 10
    },
    {
      "type": "select",
      "id": "vertical_position",
      "label": "Text position - Vertical",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "horizontal_position",
      "label": "Text position - Horizonal",
      "info": "Desktop only",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "deskop_image_height",
      "min": 300,
      "max": 800,
      "step": 10,
      "unit": "px",
      "label": "Image height - Desktop",
      "default": 400
    },
    {
      "type": "range",
      "id": "mobile_image_height",
      "min": 300,
      "max": 500,
      "step": 10,
      "unit": "px",
      "label": "Image height - Mobile",
      "default": 300
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h4"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "This should be a place to put a text"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery",
      "blocks": [{ "type": "image" }, { "type": "image" }, { "type": "image" }]
    }
  ]
}
{% endschema %}
