{%- style -%}
  .{{ section.id }}.countdown-timer__section-container {
    background-color: {{ section.settings.background_color }};
  }

  .{{ section.id }}.countdown-timer {
    gap: {{ section.settings.space_between_elements }}rem;
  }

  .{{ section.id }}.countdown-timer {
    margin-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .{{ section.id }}.countdown-timer {
      margin-top: {{ section.settings.top_space }}px;
      margin-bottom: {{ section.settings.bottom_space }}px;
    }
  }

  .{{ section.id }}.countdown-timer > .countdown-timer__timers > .countdown-timer__container {
    background-color: {{ section.settings.digits_background_color }};
    border-radius: calc(var(--global-border-radius)/2);
  }

  .{{ section.id }}.countdown-timer > .countdown-timer__timers > .countdown-timer__container > p {
    color: {{ section.settings.digits_color }};
  }

  .{{ section.id }}.countdown-timer > .countdown-timer__buttons > .button--link {
    color: {{ section.settings.button_color }};
  }

  @media screen and (min-width: 750px) {
    .{{ section.id }} > .countdown-timer__text {
          width: {{ section.settings.text_width }}%;
    }
  }
{%- endstyle -%}

<div reveal-on-scroll class="{{ section.id }} countdown-timer__section-container">
  <div class="countdown-timer__heading">
    <{{ section.settings.heading_size }}>
      {{ section.settings.heading }}
    </{{ section.settings.heading_size }}>
  </div>

  <div class="countdown-timer__text">
    <p>{{ section.settings.text }}</p>
  </div>
  {% render 'snippet-countdown-timer', element: section %}

  <div class="countdown-timer__buttons">
    <a
      {% if section.settings.link_url != blank %}
        href="{{ section.settings.link_url }}"
      {% endif %}
      class="button-text button--link"
    >
      {{- section.settings.link_text -}}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.general.countdown-timer.content",
  "class": "section-countdown-timer",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.general.section_settings.heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.general.section_settings.heading",
      "default": "Promotion title"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.general.section_settings.heading_size",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ],
      "default": "h4"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "t:sections.general.text.text",
      "default": "<p>Provide context and background information about the event or promotion, and help customers understand what they can expect and why they should be excited.</p>"
    },
    {
      "type": "range",
      "id": "text_width",
      "label": "t:sections.general.text.text_width",
      "info": "t:sections.general.info.desktop_only",
      "min": 40,
      "max": 90,
      "step": 10,
      "unit": "%",
      "default": 70
    },
    {
      "type": "header",
      "content": "t:sections.general.button.button"
    },
    {
      "type": "text",
      "id": "link_text",
      "label": "t:sections.general.text.text",
      "default": "Call to action"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.general.type.url"
    },
    {
      "type": "color",
      "id": "button_color",
      "label": "t:sections.general.type.color",
      "default": "#fcdb33"
    },
    {
      "type": "header",
      "content": "t:sections.general.countdown-timer.content"
    },
    {
      "type": "text",
      "id": "message",
      "label": "t:sections.general.countdown-timer.message.label",
      "info": "t:sections.general.countdown-timer.message.info",
      "default": "Offer has expired"
    },
    {
      "type": "select",
      "id": "countdown_timer_type",
      "label": "t:sections.general.countdown-timer.countdown_timer_type.label",
      "options": [
        {
          "value": "time",
          "label": "t:sections.general.countdown-timer.countdown_timer_type.options.time"
        },
        {
          "value": "date",
          "label": "t:sections.general.countdown-timer.countdown_timer_type.options.date"
        }
      ],
      "default": "time"
    },
    {
      "type": "select",
      "id": "digits_size",
      "label": "t:sections.general.countdown-timer.digits_size.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.general.countdown-timer.digits_size.options.small"
        },
        {
          "value": "big",
          "label": "t:sections.general.countdown-timer.digits_size.options.large"
        }
      ],
      "default": "small"
    },
    {
      "type": "color",
      "id": "digits_color",
      "label": "t:sections.general.countdown-timer.digits_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "digits_background_color",
      "label": "t:sections.general.countdown-timer.digits_background_color",
      "default": "#fcdb33"
    },
    {
      "type": "header",
      "content": "t:sections.general.countdown-timer.countdown_timer_type.options.time",
      "info": "t:sections.general.countdown-timer.time_info"
    },
    {
      "type": "range",
      "id": "time_days",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "d",
      "label": "t:sections.general.countdown-timer.time_days",
      "default": 0
    },
    {
      "type": "range",
      "id": "time_hours",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "h",
      "label": "t:sections.general.countdown-timer.time_hours",
      "default": 6
    },
    {
      "type": "range",
      "id": "time_mins",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "m",
      "label": "t:sections.general.countdown-timer.time_mins",
      "default": 0
    },
    {
      "type": "range",
      "id": "time_secs",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "s",
      "label": "t:sections.general.countdown-timer.time_secs",
      "default": 0
    },
    {
      "type": "select",
      "id": "afterExpirationTimeOnly",
      "label": "t:sections.general.countdown-timer.afterExpirationTimeOnly.label",
      "options": [
        {
          "value": "repeatCountdown",
          "label": "t:sections.general.countdown-timer.afterExpirationTimeOnly.options.repeatCountdown"
        },
        {
          "value": "showMessage",
          "label": "t:sections.general.countdown-timer.afterExpirationTimeOnly.options.showMessage"
        }
      ],
      "default": "repeatCountdown",
      "info": "t:sections.general.countdown-timer.afterExpirationTimeOnly.info"
    },
    {
      "type": "header",
      "content": "t:sections.general.countdown-timer.countdown_timer_type.options.date"
    },
    {
      "type": "range",
      "id": "date_year",
      "min": 2022,
      "max": 2032,
      "step": 1,
      "unit": "y",
      "label": "t:sections.general.countdown-timer.date_year",
      "default": 2023
    },
    {
      "type": "range",
      "id": "date_month",
      "min": 1,
      "max": 12,
      "step": 1,
      "unit": "m",
      "label": "t:sections.general.countdown-timer.date_month",
      "default": 1
    },
    {
      "type": "range",
      "id": "date_day",
      "min": 1,
      "max": 31,
      "step": 1,
      "unit": "d",
      "label": "t:sections.general.countdown-timer.date_day",
      "default": 1,
      "info": "t:sections.general.countdown-timer.date_day_info"
    },
    {
      "type": "range",
      "id": "date_hour",
      "min": 0,
      "max": 24,
      "step": 1,
      "unit": "h",
      "label": "t:sections.general.countdown-timer.date_hour",
      "default": 0
    },
    {
      "type": "range",
      "id": "date_min",
      "min": 0,
      "max": 60,
      "step": 1,
      "unit": "m",
      "label": "t:sections.general.countdown-timer.date_min",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.general.header.section"
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "t:sections.general.section_settings.space_between_elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.section_settings.top_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.section_settings.bottom_space",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.general.color.background_color",
      "default": "transparent"
    }
  ],
  "presets": [
    {
      "name": "t:sections.general.countdown-timer.content"
    }
  ]
}
{% endschema %}
