{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .{{ section.id }}.image-banner {
      margin-top: {{ section.settings.space_outside | divided_by: 2 }}px;
      margin-bottom: {{ section.settings.space_outside | divided_by: 2 }}px;
    }

  .{{ section.id }}.image-banner__box {
    gap: {{ section.settings.space_between_elements }}rem;
  }

  .{{ section.id }}.overlay {
      background: rgba({{ section.settings.overlay_color.red }}, {{ section.settings.overlay_color.green }}, {{ section.settings.overlay_color.blue }}, {{ section.settings.overlay_opacity | divided_by: 100.0 }});
  }

  .{{ section.id }}.image-banner {
    min-height: {{ section.settings.image_height }}px;
  }

  @media screen and (min-width: 1025px) {
    .{{ section.id }}-text-width {
          width: {{ section.settings.text_width }}%;
    }
   }
{%- endstyle -%}

<section class="{{ section.id }} image-banner {{ section.settings.section_style }}">
  <div class="{{ section.id }} image-banner__picture">
    {%- if section.settings.image == blank -%}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder' }}
    {%- elsif section.settings.image != blank -%}
      <div class="media">
        <img
          srcset="{{ section.settings.image | image_url }}"
          loading="lazy"
          alt="{{ section.settings.image.alt | escape }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
          class="{{ section.settings.image_style }}"
        >
      </div>
    {%- endif -%}
  </div>

  <div class="{{ section.id }} image-banner__content container vertical--{{ section.settings.vertical_position }} {% if section.settings.background_style == "full-width" %} overlay {% endif %}">
    <div class="{{ section.id }} image-banner__box text-alignment--{{ section.settings.text_alignment }} {{ section.id }}-text-width horizontal--{{ section.settings.horizontal_position }} {% if section.settings.background_style == "block" %} overlay {% endif %}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'subheading' -%}
            <{{ block.settings.subheading_size }} {{ block.shopify_attributes }}>
              {{ block.settings.subheading }}
            </{{ block.settings.subheading_size }}>
          {%- when 'heading' -%}
            <{{ block.settings.heading_size }} {{ block.shopify_attributes }}>
              {{ block.settings.heading }}
            </{{ block.settings.heading_size }}>
          {%- when 'text' -%}
            <div {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {%- when 'button' -%}
            <div class="buttons buttons--{{ section.settings.text_alignment }}" {{ block.shopify_attributes }}>
              {%- if block.settings.primary_button_text != blank -%}
                <a
                  class="button button--{% if block.settings.button_style == "border" %}primary{% else %}secondary{% endif %} {{ block.settings.button_style }}"
                  {% if block.settings.primary_button_link != blank %}
                    href="{{ block.settings.primary_button_link }}"
                  {% endif %}
                >
                  <span></span> <span></span> <span></span> <span></span>
                  {{ block.settings.primary_button_text }}
                </a>
              {%- endif -%}
              {%- if block.settings.secondary_button_text != blank -%}
                <a
                  class="button button--secondary {{ block.settings.button_style }}"
                  {% if block.settings.secondary_button_link != blank %}
                    href="{{ block.settings.secondary_button_link }}"
                  {% endif %}
                >
                  <span></span> <span></span> <span></span> <span></span>
                  {{ block.settings.secondary_button_text }}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image banner",
  "class": "section-image-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_height",
      "min": 300,
      "max": 1000,
      "step": 100,
      "unit": "px",
      "label": "Height",
      "default": 500,
      "info": "The height will expand if the Text is very long."
    },
    {
      "type": "select",
      "id": "image_style",
      "label": "Image style",
      "options": [
        {
          "value": "fit",
          "label": "Fit section"
        },
        {
          "value": "full",
          "label": "Full image"
        }
      ],
      "default": "fit"
    },
    {
      "type": "header",
      "content": "Text background"
    },
    {
      "type": "select",
      "id": "background_style",
      "label": "Style",
      "options": [
        {
          "value": "block",
          "label": "Block"
        },
        {
          "value": "full-width",
          "label": "Full width"
        }
      ],
      "default": "block"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "Opacity",
      "default": 40
    },
    {
      "type": "header",
      "content": "Text style"
    },
    {
      "type": "select",
      "id": "vertical_position",
      "label": "Text position - Vertical",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "horizontal_position",
      "label": "Text position - Horizonal",
      "info": "Desktop only",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "info": "Desktop only",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "text_width",
      "label": "Text width",
      "info": "Desktop only",
      "min": 40,
      "max": 90,
      "step": 10,
      "unit": "%",
      "default": 50
    },
    {
      "type": "header",
      "content": "Section style"
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "Space between elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "space_outside",
      "label": "Space outside section",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "default": 0
    },
    {
      "type": "select",
      "id": "section_style",
      "label": "Section width",
      "info": "Desktop only",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": "full-width"
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "label": "Subeading size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h6"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "primary_button_text",
          "label": "Primary button text",
          "default": "Primary button"
        },
        {
          "type": "url",
          "id": "primary_button_link",
          "label": "Primary button link"
        },
        {
          "type": "text",
          "id": "secondary_button_text",
          "label": "Secondary button text",
          "default": "Secondary button"
        },
        {
          "type": "url",
          "id": "secondary_button_link",
          "label": "Secondary button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "border",
              "label": "Style 1"
            },
            {
              "value": " ",
              "label": "Style 2"
            }
          ],
          "default": "border"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image banner",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
