{{ 'section-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{ section.id }}.image-with-text {
    margin-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .{{ section.id }}.image-with-text {
      margin-top: {{ section.settings.top_space }}px;
      margin-bottom: {{ section.settings.bottom_space }}px;
    }
  }

  .{{ section.id }}.image-with-text {
      background-color: {{ section.settings.background_color }};
  }
  @media screen and (max-width: 750px) {
    .image-with-text__image,
    .image-with-text__content {
        height: {{ section.settings.mobile_desktop_height }}px;
    }
  }
  @media screen and (min-width: 750px) and (max-width: 1024px) {
    .{{ section.id }}.image-with-text {
        height: {{ section.settings.desktop_height | times: 0.75 | round: 0 }}px;
    }
  }
  @media screen and (min-width: 1024px) {
    .{{ section.id }}.image-with-text {
        height: {{ section.settings.desktop_height }}px;
    }
  }

  @media screen and (min-width: 1024px) {
    .{{ section.id }}-text-width {
      width: {{ section.settings.text_width }}%;
    }
  }

  @media screen and (max-width: 750px) {
      .{{ section.id }}.image-with-text__content > div {
        justify-content: center !important;
      }
  }

  .{{ section.id }} > .box {
      gap: {{ section.settings.space_between_elements }}rem;
  }
{%- endstyle -%}

<div reveal-on-scroll class="{{ section.id }} image-with-text image-with-text--{{ section.settings.image_placement }}">
  <div class="image-with-text__image">
    <div class="image-with-text__image--{{ section.settings.image_position }}">
      {% if section.settings.image == blank %}
        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder' }}
      {% elsif section.settings.image != blank %}
        <div class="{{ section.id }} media">
          {%- assign image = section.settings.image -%}
          {%- capture sizes -%}(min-width: 1024px) 50vw, 100vw{%- endcapture -%}
          {%- assign widths = '350, 500, 750, 1000, 1250, 1500, 1750, 2000, 2500, 3000, 3500, 3750' -%}
          {%- assign width = '3750' -%}
          {{
            image
            | image_url: width: width
            | image_tag:
              loading: 'lazy',
              class: section.settings.image_position,
              alt: image.alt,
              width: image.width,
              height: image.height,
              sizes: sizes,
              widths: widths
          }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="{{ section.id }} container image-with-text__content">
    <div class="box horizontal--{{ section.settings.horizontal_position }} vertical--{{ section.settings.vertical_position }} text-alignment--{{ section.settings.text_alignment }} {{ section.id }}-text-width">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'subheading' -%}
            <{{ block.settings.subheading_size }} {{ block.shopify_attributes }}>
              {{ block.settings.subheading }}
            </{{ block.settings.subheading_size }}>
          {%- when 'heading' -%}
            <{{ block.settings.heading_size }} {{ block.shopify_attributes }}>
              {{ block.settings.heading }}
            </{{ block.settings.heading_size }}>
          {%- when 'text' -%}
            <div {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {%- when 'button' -%}
            <div class="buttons buttons--{{ section.settings.text_alignment }}" {{ block.shopify_attributes }}>
              {% if block.settings.primary_button_text != blank %}
                <a
                  class="button button--primary border"
                  {% if block.settings.secondary_button_url != blank %}
                    href="{{ block.settings.primary_button_url }}"
                  {% endif %}
                >
                  <span></span> <span></span> <span></span> <span></span>
                  {{ block.settings.primary_button_text }}
                </a>
              {% endif %}
              {% if block.settings.secondary_button_text != blank %}
                <a
                  class="button button--secondary border"
                  {% if block.settings.secondary_button_url != blank %}
                    href="{{ block.settings.secondary_button_url }}"
                  {% endif %}
                >
                  <span></span> <span></span> <span></span> <span></span>
                  {{ block.settings.secondary_button_text }}
                </a>
              {% endif %}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.section-image-with-text.name",
  "class": "section-image-with-text",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.general.image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.general.image"
    },
    {
      "type": "select",
      "id": "image_position",
      "label": "t:sections.section-image-with-text.settings.image_position.label",
      "options": [
        {
          "value": "cover",
          "label": "t:sections.section-image-with-text.settings.image_position.options.cover"
        },
        {
          "value": "contain",
          "label": "t:sections.section-image-with-text.settings.image_position.options.contain"
        }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "image_placement",
      "label": "t:sections.section-image-with-text.settings.image_placement.label",
      "options": [
        {
          "value": "first",
          "label": "t:sections.section-image-with-text.settings.image_placement.options.first"
        },
        {
          "value": "second",
          "label": "t:sections.section-image-with-text.settings.image_placement.options.second"
        }
      ],
      "default": "first"
    },
    {
      "type": "header",
      "content": "t:sections.general.text"
    },
    {
      "type": "select",
      "id": "vertical_position",
      "label": "t:sections.general.vertical_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.general.text_position_vertical.options.top"
        },
        {
          "value": "center",
          "label": "t:sections.general.text_position_vertical.options.center"
        },
        {
          "value": "bottom",
          "label": "t:sections.general.text_position_vertical.options.bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "horizontal_position",
      "label": "t:sections.general.horizontal_position",
      "info": "t:sections.general.desktop_only",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general.text_position_horizontal.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.general.text_position_horizontal.options.center"
        },
        {
          "value": "right",
          "label": "t:sections.general.text_position_horizontal.options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.general.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general.text_position_horizontal.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.general.text_position_horizontal.options.center"
        },
        {
          "value": "right",
          "label": "t:sections.general.text_position_horizontal.options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "text_width",
      "label": "t:sections.general.width",
      "info": "t:sections.general.desktop_only",
      "min": 70,
      "max": 100,
      "step": 10,
      "unit": "%",
      "default": 70
    },
    {
      "type": "header",
      "content": "t:sections.general.section"
    },
    {
      "type": "range",
      "id": "desktop_height",
      "min": 600,
      "max": 800,
      "step": 10,
      "unit": "px",
      "label": "t:sections.general.desktop_height",
      "default": 700
    },
    {
      "type": "range",
      "id": "mobile_desktop_height",
      "min": 300,
      "max": 450,
      "step": 10,
      "unit": "px",
      "label": "t:sections.general.mobile_height",
      "default": 350
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "t:sections.general.space_between_elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.top_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.bottom_space",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.general.background_color",
      "default": "transparent"
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.general.subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.general.subheading",
          "default": "Context of the section"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "label": "t:sections.general.subheading_size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h6"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.general.heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.general.heading",
          "default": "Attention-grabbing Title"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general.heading_size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.general.text",
          "default": "<p>Highlight the benefits and value of the message being presented in this section, and to encourage customers to take action and engage with the content.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.general.button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "primary_button_text",
          "label": "t:sections.general.primary_button_text",
          "default": "Primary button"
        },
        {
          "type": "url",
          "id": "primary_button_url",
          "label": "t:sections.general.primary_button_url"
        },
        {
          "type": "text",
          "id": "secondary_button_text",
          "label": "t:sections.general.secondary_button_text",
          "default": "Secondary button"
        },
        {
          "type": "url",
          "id": "secondary_button_url",
          "label": "t:sections.general.secondary_button_url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
