{{ 'section-logo-list.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{ section.id }}.logo-list {
    background-color: {{ section.settings.background_color }};
    gap: {{ section.settings.space_between_elements }}rem;
  }
  .{{ section.id }}.logo-list {
    margin-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) {
    .{{ section.id }}.logo-list {
      margin-top: {{ section.settings.top_space }}px;
      margin-bottom: {{ section.settings.bottom_space }}px;
    }
  }
  .{{ section.id }}.logo-list > .logo-list__content > .slide {
    animation: logos-scroll {{ section.settings.animation_speed }}s linear infinite;
  }
  .{{ section.id }}.logo-list > .logo-list__content > .slide  > .logo {
    height: {{ section.settings.logo_size }}px;
    width: {{ section.settings.logo_size }}px;
    border-radius: calc(var(--global-border-radius)/2);
  }
{%- endstyle -%}

<section class="{{ section.id }} logo-list">
  {% if section.settings.heading != blank %}
    <div class="logo-list__heading">
      <{{ section.settings.heading_size }}>
        {{ section.settings.heading }}
      </{{ section.settings.heading_size }}>
    </div>
  {% endif %}
  <div class="logo-list__content">
    {%- capture group -%}
      <div class="slide">
        {% for block in section.blocks %}
          {% if block.settings.logo == blank %}
            {{ 'product-1' | placeholder_svg_tag: 'logo placeholder' }}
          {% elsif block.settings.logo != blank %}
              {%- assign image = block.settings.logo -%}
              {{
                image
                | image_url: width: section.settings.logo_size
                | image_tag:
                  loading: 'lazy',
                  class: 'logo',
                  alt: image.alt,
                  width: image.width,
                  height: image.height
              }}
          {% endif %}
        {% endfor %}
      </div>
    {%- endcapture -%}
    {% for i in (1..15) %}
      {{ group }}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.section-logo-list.name",
  "class": "section-logo-list",
  "settings": [
    {
      "type": "range",
      "id": "animation_speed",
      "min": 5,
      "max": 60,
      "step": 1,
      "unit": "sec",
      "label": "t:sections.section-logo-list.settings.animation_speed",
      "default": 10
    },
    {
      "type": "range",
      "id": "logo_size",
      "min": 65,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.section-logo-list.settings.logo_size",
      "default": 80
    },
    {
      "type": "header",
      "content": "t:sections.general.section"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.general.heading",
      "default": "Partners"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.general.heading_size",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ],
      "default": "h6"
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "t:sections.general.space_between_elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.top_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.bottom_space",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.general.background_color",
      "default": "transparent"
    }
  ],
  "blocks": [
    {
      "type": "image_picker",
      "name": "t:sections.general.logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "t:sections.general.logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.section-logo-list.name",
      "blocks": [
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        },
        {
          "type": "image_picker"
        }
      ]
    }
  ]
}
{% endschema %}
