{{ 'section-animated-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  section.{{ section.id }}  {
      background-color: {{ section.settings.background_color }};
   }

  section.{{ section.id }} {
    margin-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    section.{{ section.id }} {
      margin-top: {{ section.settings.top_space }}px;
      margin-bottom: {{ section.settings.bottom_space }}px;
    }
  }

   .{{ section.id }}-space-between {
        gap: {{ section.settings.space_between_elements }}rem;
   }

   @media screen and (min-width: 750px) {
        .{{ section.id }}-text-width {
              width: {{ section.settings.text_width }}%;
        }
   }
   .scrolling-words-container {
      display: flex;
      {% if section.settings.text_alignment == "left"%}
        align-items: flex-start;
      {% elsif section.settings.text_alignment == "center" %}
        align-items: center;
      {% elsif section.settings.text_alignment == "right" %}
        align-items: flex-end;
      {% endif %}
   }
{%- endstyle -%}

<section reveal-on-scroll class="{{ section.id }} animated-rich-text">
  <div class="wrapper container {{ section.id }}-space-between text-alignment--{{ section.settings.text_alignment }} {{ section.id }}-text-width horizontal--{{ section.settings.horizontal_position }}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'subheading' -%}
          <{{ block.settings.subheading_size }} {{ block.shopify_attributes }}>
            {{ block.settings.subheading }}
          </{{ block.settings.subheading_size }}>
        {%- when 'heading' -%}
          {% if block.settings.animated %}
            {% style %}
              .{{ section.id }}.scrolling-words-box > ul {
                animation: scrollUp{{ block.settings.words_count }} {{ block.settings.animation_delay }}s infinite;
                -webkit-animation: scrollUp{{ block.settings.words_count }} {{ block.settings.animation_delay }}s infinite;
              }
            {% endstyle %}
            <div class="scrolling-words-container {{ section.settings.text_alignment }}" {{ block.shopify_attributes }}>
              <div class="{{ section.id }} scrolling-words-box {{ block.settings.heading_size }} {{ block.settings.animation_placement }}">
                <ul>
                  <{{ block.settings.heading_size }} style="color: {{ block.settings.word_1_color }}">
                    {{- block.settings.word_1 -}}
                  </{{ block.settings.heading_size }}>
                  <{{ block.settings.heading_size }} style="color: {{ block.settings.word_2_color }}">
                    {{- block.settings.word_2 -}}
                  </{{ block.settings.heading_size }}>
                  {%- if block.settings.words_count == '3' %}
                    <{{ block.settings.heading_size }} style="color: {{ block.settings.word_3_color }}">
                      {{- block.settings.word_3 -}}
                    </{{ block.settings.heading_size }}>
                  {% endif -%}
                  {%- if block.settings.words_count == '4' %}
                    <{{ block.settings.heading_size }} style="color: {{ block.settings.word_3_color }}">
                      {{- block.settings.word_3 -}}
                    </{{ block.settings.heading_size }}>
                    <{{ block.settings.heading_size }} style="color: {{ block.settings.word_4_color }}">
                      {{- block.settings.word_4 -}}
                    </{{ block.settings.heading_size }}>
                  {% endif -%}
                  <{{ block.settings.heading_size }} style="color: {{ block.settings.word_1_color }}">
                    {{- block.settings.word_1 -}}
                  </{{ block.settings.heading_size }}>
                </ul>
              </div>

              <div class="normal-heading">
                <{{ block.settings.heading_size }}>
                  {{ block.settings.heading }}
                </{{ block.settings.heading_size }}>
              </div>
            </div>
          {% else %}
            <{{ block.settings.heading_size }} {{ block.shopify_attributes }}>
              {{ block.settings.heading }}
            </{{ block.settings.heading_size }}>
          {% endif %}
        {%- when 'text' -%}
          <div {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
        {%- when 'button' -%}
          <div class="buttons buttons--{{ section.settings.text_alignment }}" {{ block.shopify_attributes }}>
            {% if block.settings.primary_button_text != blank %}
              <a
                class="button button--primary border"
                {% if block.settings.secondary_button_url != blank %}
                  href="{{ block.settings.primary_button_url }}"
                {% endif %}
              >
                <span></span> <span></span> <span></span> <span></span>
                {{ block.settings.primary_button_text }}
              </a>
            {% endif %}
            {% if block.settings.secondary_button_text != blank %}
              <a
                class="button button--secondary border"
                {% if block.settings.secondary_button_url != blank %}
                  href="{{ block.settings.secondary_button_url }}"
                {% endif %}
              >
                <span></span> <span></span> <span></span> <span></span>
                {{ block.settings.secondary_button_text }}
              </a>
            {% endif %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.section-animated-rich-text.name",
  "class": "section-animated-rich-text",
  "settings": [
    {
      "type": "select",
      "id": "horizontal_position",
      "label": "t:sections.general.horizontal_position.label",
      "info": "t:sections.general.info.desktop_only",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general.horizontal_position.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.general.horizontal_position.options.center"
        },
        {
          "value": "right",
          "label": "t:sections.general.horizontal_position.options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.general.alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general.alignment.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.general.alignment.options.center"
        },
        {
          "value": "right",
          "label": "t:sections.general.alignment.options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "text_width",
      "label": "Text width",
      "info": "t:sections.general.info.desktop_only",
      "min": 40,
      "max": 90,
      "step": 10,
      "unit": "%",
      "default": 90
    },
    {
      "type": "header",
      "content": "t:sections.general.header.section"
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "t:sections.general.section_settings.space_between_elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.section_settings.top_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.section_settings.bottom_space",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.general.color.background_color",
      "default": "transparent"
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.general.section_settings.subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.general.section_settings.subheading",
          "default": "Clear and concise overview"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "label": "t:sections.general.section_settings.subheading_size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h6"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.general.section_settings.heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.general.section_settings.heading",
          "default": "that changes to synonyms to emphasize the main message"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general.section_settings.heading_size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h4"
        },
        {
          "type": "header",
          "content": "t:sections.section-animated-rich-text.blocks.heading.settings.header_animation_words"
        },
        {
          "type": "text",
          "id": "word_1",
          "label": "t:sections.section-animated-rich-text.blocks.heading.settings.word_1",
          "default": "Word 1"
        },
        {
          "type": "text",
          "id": "word_2",
          "label": "t:sections.section-animated-rich-text.blocks.heading.settings.word_2",
          "default": "Word 2"
        },
        {
          "type": "text",
          "id": "word_3",
          "label": "t:sections.section-animated-rich-text.blocks.heading.settings.word_3",
          "default": "Word 3"
        },
        {
          "type": "text",
          "id": "word_4",
          "label": "t:sections.section-animated-rich-text.blocks.heading.settings.word_4",
          "default": "Word 4"
        },
        {
          "type": "color",
          "id": "word_1_color",
          "label": "t:sections.section-animated-rich-text.blocks.heading.settings.word_1_color",
          "default": "#ea4335"
        },
        {
          "type": "color",
          "id": "word_2_color",
          "label": "t:sections.section-animated-rich-text.blocks.heading.settings.word_2_color",
          "default": "#4285f4"
        },
        {
          "type": "color",
          "id": "word_3_color",
          "label": "t:sections.section-animated-rich-text.blocks.heading.settings.word_3_color",
          "default": "#34a853"
        },
        {
          "type": "color",
          "id": "word_4_color",
          "label": "t:sections.section-animated-rich-text.blocks.heading.settings.word_4_color",
          "default": "#fbbc04"
        },
        {
          "type": "header",
          "content": "t:sections.section-animated-rich-text.blocks.heading.settings.header_animation"
        },
        {
          "type": "checkbox",
          "id": "animated",
          "label": "t:sections.general.animation.activate_animation",
          "default": true
        },
        {
          "type": "select",
          "id": "words_count",
          "label": "t:sections.section-animated-rich-text.blocks.heading.settings.words_count.label",
          "options": [
            {
              "value": "2",
              "label": "t:sections.section-animated-rich-text.blocks.heading.settings.words_count.options.2"
            },
            {
              "value": "3",
              "label": "t:sections.section-animated-rich-text.blocks.heading.settings.words_count.options.3"
            },
            {
              "value": "4",
              "label": "t:sections.section-animated-rich-text.blocks.heading.settings.words_count.options.4"
            }
          ],
          "default": "4"
        },
        {
          "type": "select",
          "id": "animation_placement",
          "label": "t:sections.section-animated-rich-text.blocks.heading.settings.select_animation_placement.label",
          "options": [
            {
              "value": "first",
              "label": "t:sections.section-animated-rich-text.blocks.heading.settings.select_animation_placement.options.first"
            },
            {
              "value": "second",
              "label": "t:sections.section-animated-rich-text.blocks.heading.settings.select_animation_placement.options.second"
            }
          ],
          "default": "first"
        },
        {
          "type": "range",
          "id": "animation_delay",
          "min": 3,
          "max": 10,
          "step": 1,
          "unit": "s",
          "label": "t:sections.general.animation.animation_delay",
          "default": 6
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.general.text.text",
      "limit": 5,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.general.text.text",
          "default": "<p>Provide more information and context for the main message of the section. It should support and expand upon the points made in the heading and animated heading.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.general.button.button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "primary_button_text",
          "label": "t:sections.general.button.primary_button_text",
          "default": "Primary button"
        },
        {
          "type": "url",
          "id": "primary_button_url",
          "label": "t:sections.general.button.primary_button_url"
        },
        {
          "type": "text",
          "id": "secondary_button_text",
          "label": "t:sections.general.button.secondary_button_text"
        },
        {
          "type": "url",
          "id": "secondary_button_url",
          "label": "t:sections.general.button.secondary_button_url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.section-animated-rich-text.name",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
