{{ 'section-image-banner.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{ section.id }}.image-banner {
    margin-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
   .{{ section.id }}.image-banner {
      margin-top: {{ section.settings.top_space }}px;
      margin-bottom: {{ section.settings.bottom_space }}px;
    }
  }

  .{{ section.id }}.image-banner {
    min-height: {{ section.settings.image_height }}px;
  }

  {% if section.settings.full_screen_height %}
    .{{ section.id }}.image-banner {
      height: 101vh;
    }
  {% else %}
    .{{ section.id }}.image-banner {
      min-height: {{ section.settings.mobile_image_height }}px;
    }

    @media screen and (min-width: 750px) and (max-width: 1024px) {
      .{{ section.id }}.image-banner {
        min-height: {{ section.settings.desktop_image_height | times: 0.75 | round: 0 }}px;
      }
    }

    @media screen and (min-width: 1024px) {
      .{{ section.id }}.image-banner {
        min-height: {{ section.settings.desktop_image_height }}px;
      }
    }
  {% endif %}

  .{{ section.id }}.image-banner__box {
    gap: {{ section.settings.space_between_elements }}rem;
  }

  .{{ section.id }}.overlay {
      background: rgba({{ section.settings.overlay_color.red }}, {{ section.settings.overlay_color.green }}, {{ section.settings.overlay_color.blue }}, {{ section.settings.overlay_opacity | divided_by: 100.0 }});
  }

  .{{ section.id }}.overlay *:not(a) {
      color: {{ section.settings.text_color }};
  }

  @media screen and (min-width: 1024px) {
    .{{ section.id }}-text-width {
          width: {{ section.settings.text_width }}%;
    }
   }
{%- endstyle -%}

<section reveal-on-scroll class="{{ section.id }} image-banner">
  <div class="{{ section.id }} image-banner__picture">
    {%- if section.settings.image == blank -%}
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder' }}
    {%- elsif section.settings.image != blank -%}
      <div class="media">
        {%- assign image = section.settings.image -%}
        {%- assign sizes = '100vw' -%}
        {%- assign widths = '350, 500, 750, 1000, 1250, 1500, 1750, 2000, 2500, 3000, 3500, 3750' -%}
        {%- assign width = '3750' -%}
        {{
          image
          | image_url: width: width
          | image_tag:
            loading: 'lazy',
            class: 'cover',
            alt: image.alt,
            width: image.width,
            height: image.height,
            sizes: sizes,
            widths: widths
        }}
      </div>
    {%- endif -%}
  </div>

  <div class="{{ section.id }} image-banner__content container vertical--{{ section.settings.vertical_position }} {% if section.settings.overlay_style == "full-width" %} overlay {% endif %}">
    <div class="{{ section.id }} image-banner__box text-alignment--{{ section.settings.text_alignment }} {{ section.id }}-text-width horizontal--{{ section.settings.horizontal_position }} {% if section.settings.overlay_style == "block" %} overlay {% endif %}">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'subheading' -%}
            <{{ block.settings.subheading_size }} {{ block.shopify_attributes }}>
              {{ block.settings.subheading }}
            </{{ block.settings.subheading_size }}>
          {%- when 'heading' -%}
            <{{ block.settings.heading_size }} {{ block.shopify_attributes }}>
              {{ block.settings.heading }}
            </{{ block.settings.heading_size }}>
          {%- when 'text' -%}
            <div {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {%- when 'button' -%}
            <div class="buttons buttons--{{ section.settings.text_alignment }}" {{ block.shopify_attributes }}>
              {% if block.settings.primary_button_text != blank %}
                <a
                  class="button button--primary border"
                  {% if block.settings.secondary_button_url != blank %}
                    href="{{ block.settings.primary_button_url }}"
                  {% endif %}
                >
                  <span></span> <span></span> <span></span> <span></span>
                  {{ block.settings.primary_button_text }}
                </a>
              {% endif %}
              {% if block.settings.secondary_button_text != blank %}
                <a
                  class="button button--secondary border"
                  {% if block.settings.secondary_button_url != blank %}
                    href="{{ block.settings.secondary_button_url }}"
                  {% endif %}
                >
                  <span></span> <span></span> <span></span> <span></span>
                  {{ block.settings.secondary_button_text }}
                </a>
              {% endif %}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.section-image-banner.name",
  "class": "section-image-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.general.media.image"
    },
    {
      "type": "header",
      "content": "t:sections.general.text.text"
    },
    {
      "type": "select",
      "id": "vertical_position",
      "label": "t:sections.general.text.text_position_vertical",
      "options": [
        {
          "value": "top",
          "label": "t:sections.general.vertical_position.options.top"
        },
        {
          "value": "center",
          "label": "t:sections.general.vertical_position.options.center"
        },
        {
          "value": "bottom",
          "label": "t:sections.general.vertical_position.options.bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "horizontal_position",
      "label": "t:sections.general.text.text_position_horizontal",
      "info": "t:sections.general.info.desktop_only",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general.horizontal_position.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.general.horizontal_position.options.center"
        },
        {
          "value": "right",
          "label": "t:sections.general.horizontal_position.options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.general.text.text_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general.horizontal_position.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.general.horizontal_position.options.center"
        },
        {
          "value": "right",
          "label": "t:sections.general.horizontal_position.options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "text_width",
      "label": "t:sections.general.size.width",
      "info": "t:sections.general.info.desktop_only",
      "min": 40,
      "max": 90,
      "step": 10,
      "unit": "%",
      "default": 50
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.general.type.color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.general.color.overlay"
    },
    {
      "type": "select",
      "id": "overlay_style",
      "label": "t:sections.section-image-banner.settings.overlay_style.label",
      "options": [
        {
          "value": "block",
          "label": "t:sections.section-image-banner.settings.overlay_style.options.block"
        },
        {
          "value": "full-width",
          "label": "t:sections.section-image-banner.settings.overlay_style.options.full_width"
        }
      ],
      "default": "block"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.general.color.opacity",
      "default": 40
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:sections.general.type.color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:sections.general.header.section"
    },
    {
      "type": "checkbox",
      "id": "full_screen_height",
      "label": "t:sections.general.size.full_screen_height",
      "info": "t:sections.general.size.full_screen_height_info",
      "default": false
    },
    {
      "type": "range",
      "id": "desktop_image_height",
      "min": 600,
      "max": 800,
      "step": 10,
      "unit": "px",
      "label": "t:sections.general.size.desktop_height",
      "default": 700
    },
    {
      "type": "range",
      "id": "mobile_image_height",
      "min": 400,
      "max": 700,
      "step": 10,
      "unit": "px",
      "label": "t:sections.general.size.mobile_height",
      "default": 500
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "t:sections.general.section_settings.space_between_elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.section_settings.top_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.section_settings.bottom_space",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "t:sections.general.section_settings.subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "t:sections.general.section_settings.subheading",
          "default": "Subheading"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "label": "t:sections.general.section_settings.subheading_size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h6"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.general.section_settings.heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.general.section_settings.heading",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general.section_settings.heading_size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.general.text.text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.general.text.text",
          "default": "<p>Provide more detailed information about the purpose of the banner and the content it contains.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.general.button.button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "primary_button_text",
          "label": "t:sections.general.button.primary_button_text",
          "default": "Primary button"
        },
        {
          "type": "url",
          "id": "primary_button_url",
          "label": "t:sections.general.button.primary_button_url"
        },
        {
          "type": "text",
          "id": "secondary_button_text",
          "label": "t:sections.general.button.secondary_button_text",
          "default": "Secondary button"
        },
        {
          "type": "url",
          "id": "secondary_button_url",
          "label": "t:sections.general.button.secondary_button_url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image banner",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
