{{ 'section-gallery.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{ section.id }}.gallery__image {
    height: {{ section.settings.mobile_image_height }}px;
  }

  @media screen and (min-width: 750px) and (max-width: 1024px) {
    .{{ section.id }}.image-with-text {
      height: {{ section.settings.deskop_image_height | times: 0.75 | round: 0 }}px;
    }
  }

  @media screen and (min-width: 1024px) {
    .{{ section.id }}.gallery__image {
      height: {{ section.settings.deskop_image_height }}px;
    }
  }

  @media screen and (min-width: 750px) {
  .{{ section.id }}.gallery__content {
    background: rgba({{ section.settings.overlay_color.red }}, {{ section.settings.overlay_color.green }}, {{ section.settings.overlay_color.blue }}, {{ section.settings.overlay_opacity | divided_by: 100.0 }});
  }
  .{{ section.id }}.gallery__content > *:not(.button-text) {
    color: {{ section.settings.text_color }};
  }

  {% if section.settings.gallery_style == "single_row" %}
    .{{ section.id }}.gallery > div {
      {% assign full_width = 100.00 %}
      width: {{ full_width | divided_by: section.blocks.size }}%;
    }
  {% endif %}

  {% if section.blocks.size == 1 and section.settings.gallery_style == "multiple_rows" %}
    .{{ section.id }}.gallery > div:nth-child(1) {
      width: 100%;
    }
  {% endif %}

  {% if section.blocks.size == 2 and section.settings.gallery_style == "multiple_rows" %}
    .{{ section.id }}.gallery > div:nth-child(1) {
      width: 65%;
    }
    .{{ section.id }}.gallery > div:nth-child(2) {
      width: 35%;
    }
  {% endif %}

  {% if section.blocks.size == 3 and section.settings.gallery_style == "multiple_rows" %}
    .{{ section.id }}.gallery > div:nth-child(1) {
      width: 65%;
    }
    .{{ section.id }}.gallery > div:nth-child(2) {
      width: 35%;
    }
    .{{ section.id }}.gallery > div:nth-child(3) {
      width: 100%;
    }
  {% endif %}

  {% if section.blocks.size == 4 and section.settings.gallery_style == "multiple_rows" %}
    .{{ section.id }}.gallery > div:nth-child(1), .gallery > div:nth-child(4) {
      width: 65%;
    }
    .{{ section.id }}.gallery > div:nth-child(2), .gallery > div:nth-child(3) {
      width: 35%;
    }
  {% endif %}

  {% if section.blocks.size == 5 and section.settings.gallery_style == "multiple_rows" %}
    .{{ section.id }}.gallery > div:nth-child(1), .gallery > div:nth-child(4) {
      width: 65%;
    }
    .{{ section.id }}.gallery > div:nth-child(2), .gallery > div:nth-child(3) {
      width: 35%;
    }
    .{{ section.id }}.gallery > div:nth-child(5) {
      width: 100%;
    }
  {% endif %}

  {% if section.blocks.size == 6 and section.settings.gallery_style == "multiple_rows" %}
    .{{ section.id }}.gallery > div:nth-child(1), .gallery > div:nth-child(4), .gallery > div:nth-child(5) {
      width: 65%;
    }
    .{{ section.id }}.gallery > div:nth-child(2), .gallery > div:nth-child(3), .gallery > div:nth-child(6) {
      width: 35%;
    }
  {% endif %}
  }
{%- endstyle -%}

<section reveal-on-scroll class="{{ section.id }} gallery">
  {% for block in section.blocks %}
    <div class="gallery__item" {{ block.shopify_attributes }}>
      <div class="{{ section.id }} gallery__image">
        {%- if block.settings.image == blank -%}
          {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder' }}
        {%- elsif block.settings.image != blank -%}
          <div class="media">
            {%- capture sizes -%}
                  {%- if section.settings.gallery_style == 'single_row' -%}
                    {%- assign full_width = 100 -%}
                    {{ full_width | divided_by: section.blocks.size }}vw
                  {%- elsif section.settings.gallery_style == 'multiple_rows' -%}
                        {%- if section.blocks.size == 1 -%}
                          (min-width: 750px) 100vw
                        {%- endif -%}
                        {%- if section.blocks.size == 2 -%}
                            {%- if forloop.index == 1 -%}
                              (min-width: 750px) 65vw
                            {%- elsif forloop.index == 2 -%}
                              (min-width: 750px) 35vw
                            {%- endif -%}
                        {%- endif -%}
                        {%- if section.blocks.size == 3 -%}
                            {%- if forloop.index == 1 -%}
                              (min-width: 750px) 65vw
                            {%- elsif forloop.index == 2 -%}
                              (min-width: 750px) 35vw
                            {%- elsif forloop.index == 3 -%}
                              (min-width: 750px) 100vw
                            {%- endif -%}
                        {%- endif -%}
                        {%- if section.blocks.size == 4 -%}
                            {%- if forloop.index == 1 or forloop.index == 4 -%}
                              (min-width: 750px) 65vw
                            {%- elsif forloop.index == 2 or forloop.index == 3 -%}
                              (min-width: 750px) 35vw
                            {%- endif -%}
                        {%- endif -%}
                        {%- if section.blocks.size == 5 -%}
                            {%- if forloop.index == 1 or forloop.index == 4 -%}
                              (min-width: 750px) 65vw
                            {%- elsif forloop.index == 2 or forloop.index == 3 -%}
                              (min-width: 750px) 35vw
                            {%- elsif forloop.index == 5 -%}
                              (min-width: 750px) 100vw
                            {%- endif -%}
                        {%- endif -%}
                        {%- if section.blocks.size == 6 -%}
                            {%- if forloop.index == 1 or forloop.index == 4 or forloop.index == 5 -%}
                              (min-width: 750px) 65vw
                            {%- elsif forloop.index == 2 or forloop.index == 3 or forloop.index == 6 -%}
                              (min-width: 750px) 35vw
                            {%- endif -%}
                        {%- endif -%}
                        , 100vw
                  {%- endif -%}
            {%- endcapture -%}
            {%- assign image = block.settings.image -%}
            {%- assign widths = '250, 275, 300, 325, 350, 375, 400, 450, 500, 600, 700, 800, 900, 1000, 1250, 1500, 1750, 2000, 2500, 3000, 3500, 3750' -%}
            {{
              image
              | image_url: width: 3750
              | image_tag:
                loading: 'lazy',
                class: 'cover',
                alt: image.alt,
                width: image.width,
                height: image.height,
                sizes: sizes,
                widths: widths
            }}
          </div>
        {%- endif -%}
      </div>
      <div class="{{ section.id }} gallery__content container text-alignment--{{ section.settings.horizontal_position }} vertical--{{ section.settings.vertical_position }}">
        {%- if block.settings.heading != blank -%}
          <{{ block.settings.heading_size }}>
            {{ block.settings.heading }}
          </{{ block.settings.heading_size }}>
        {% endif %}
        {%- if block.settings.text != blank -%}
          <p>{{ block.settings.text }}</p>
        {% endif %}
        {%- if block.settings.button_text != blank -%}
          <a
            {% if block.settings.button_link != blank %}
              href="{{ block.settings.button_link }}"
            {% endif %}
            class="button-text button--link"
          >
            {{- block.settings.button_text -}}
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "t:sections.section-gallery.name",
  "class": "section-gallery",
  "max_blocks": 6,
  "settings": [
    {
      "type": "select",
      "id": "vertical_position",
      "label": "t:sections.general.text_position_vertical.label",
      "options": [
        {
          "value": "top",
          "label": "t:sections.general.text_position_vertical.options.top"
        },
        {
          "value": "center",
          "label": "t:sections.general.text_position_vertical.options.center"
        },
        {
          "value": "bottom",
          "label": "t:sections.general.text_position_vertical.options.bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "horizontal_position",
      "label": "t:sections.general.text_position_horizontal.label",
      "info": "t:sections.general.desktop_only",
      "options": [
        {
          "value": "left",
          "label": "t:sections.general.text_position_horizontal.options.left"
        },
        {
          "value": "center",
          "label": "t:sections.general.text_position_horizontal.options.center"
        },
        {
          "value": "right",
          "label": "t:sections.general.text_position_horizontal.options.right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.general.text_color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "t:sections.general.overlay"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 70,
      "step": 1,
      "unit": "%",
      "label": "t:sections.general.opacity",
      "default": 10
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "t:sections.general.color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:sections.general.image"
    },
    {
      "type": "select",
      "id": "gallery_style",
      "label": "t:sections.section-gallery.settings.gallery_style.label",
      "info": "t:sections.general.desktop_only",
      "options": [
        {
          "value": "multiple_rows",
          "label": "t:sections.section-gallery.settings.gallery_style.options.multiple_rows"
        },
        {
          "value": "single_row",
          "label": "t:sections.section-gallery.settings.gallery_style.options.single_row"
        }
      ],
      "default": "single_row"
    },
    {
      "type": "range",
      "id": "deskop_image_height",
      "label": "t:sections.general.desktop_height",
      "min": 400,
      "max": 800,
      "step": 10,
      "unit": "px",
      "default": 700
    },
    {
      "type": "range",
      "id": "mobile_image_height",
      "label": "t:sections.general.mobile_height",
      "min": 300,
      "max": 500,
      "step": 10,
      "unit": "px",
      "default": 300
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.general.image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.general.heading",
          "default": "Image headline"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general.heading_size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h4"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "t:sections.general.text",
          "default": "<p>More detailed information about the purpose of the image and the content it contains.</p>"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.general.button_text",
          "default": "Call to action"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.general.button_url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Gallery",
      "blocks": [{ "type": "image" }, { "type": "image" }, { "type": "image" }]
    }
  ]
}
{% endschema %}
