{{ 'section-animated-rich-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  section.{{ section.id }}  {
      background-color: {{ section.settings.background_color }};
   }

  section.{{ section.id }} {
    margin-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    section.{{ section.id }} {
      margin-top: {{ section.settings.top_space }}px;
      margin-bottom: {{ section.settings.bottom_space }}px;
    }
  }

   .{{ section.id }}-space-between {
        gap: {{ section.settings.space_between_elements }}rem;
   }

   @media screen and (min-width: 750px) {
        .{{ section.id }}-text-width {
              width: {{ section.settings.text_width }}%;
        }
   }

   .{{ section.id }}.scrolling-words-box > ul {
    animation: scrollUp{{ section.settings.words_count }} {{ section.settings.animation_delay }}s infinite;
   }
{%- endstyle -%}

<section reveal-on-scroll class="{{ section.id }} animated-rich-text">
  <div class="wrapper container {{ section.id }}-space-between text-alignment--{{ section.settings.text_alignment }} {{ section.id }}-text-width horizontal--{{ section.settings.horizontal_position }}">
    {%- for block in section.blocks -%}
      {%- case block.type -%}
        {%- when 'subheading' -%}
          <{{ block.settings.subheading_size }} {{ block.shopify_attributes }}>
            {{ block.settings.subheading }}
          </{{ block.settings.subheading_size }}>
        {%- when 'heading' -%}
          {% if block.settings.animated %}
            <div class="scrolling-words-container {{ section.settings.text_alignment }}" {{ block.shopify_attributes }}>
              <div class="{{ section.id }} scrolling-words-box {{ block.settings.heading_size }} {{ block.settings.animation_placement }}">
                <ul>
                  <{{ block.settings.heading_size }} style="color: {{ block.settings.word_1_color }}">
                    {{- block.settings.word_1 -}}
                  </{{ block.settings.heading_size }}>
                  <{{ block.settings.heading_size }} style="color: {{ block.settings.word_2_color }}">
                    {{- block.settings.word_2 -}}
                  </{{ block.settings.heading_size }}>
                  {%- if section.settings.words_count == '3' %}
                    <{{ block.settings.heading_size }} style="color: {{ block.settings.word_3_color }}">
                      {{- block.settings.word_3 -}}
                    </{{ block.settings.heading_size }}>
                  {% endif -%}
                  {%- if section.settings.words_count == '4' %}
                    <{{ block.settings.heading_size }} style="color: {{ block.settings.word_3_color }}">
                      {{- block.settings.word_3 -}}
                    </{{ block.settings.heading_size }}>
                    <{{ block.settings.heading_size }} style="color: {{ block.settings.word_4_color }}">
                      {{- block.settings.word_4 -}}
                    </{{ block.settings.heading_size }}>
                  {% endif -%}
                  <{{ block.settings.heading_size }} style="color: {{ block.settings.word_1_color }}">
                    {{- block.settings.word_1 -}}
                  </{{ block.settings.heading_size }}>
                </ul>
              </div>

              <div class="normal-heading">
                <{{ block.settings.heading_size }}>
                  {{ block.settings.heading }}
                </{{ block.settings.heading_size }}>
              </div>
            </div>
          {% else %}
            <{{ block.settings.heading_size }} {{ block.shopify_attributes }}>
              {{ block.settings.heading }}
            </{{ block.settings.heading_size }}>
          {% endif %}
        {%- when 'text' -%}
          <div {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
        {%- when 'button' -%}
          <div class="buttons buttons--{{ section.settings.text_alignment }}" {{ block.shopify_attributes }}>
            {% if block.settings.primary_button_text != blank %}
              <a
                class="button button--primary border"
                {% if block.settings.secondary_button_link != blank %}
                  href="{{ block.settings.primary_button_link }}"
                {% endif %}
              >
                <span></span> <span></span> <span></span> <span></span>
                {{ block.settings.primary_button_text }}
              </a>
            {% endif %}
            {% if block.settings.secondary_button_text != blank %}
              <a
                class="button button--secondary border"
                {% if block.settings.secondary_button_link != blank %}
                  href="{{ block.settings.secondary_button_link }}"
                {% endif %}
              >
                <span></span> <span></span> <span></span> <span></span>
                {{ block.settings.secondary_button_text }}
              </a>
            {% endif %}
          </div>
      {%- endcase -%}
    {%- endfor -%}
  </div>
</section>

{% schema %}
{
  "name": "Animated rich text",
  "class": "section-animated-rich-text",
  "settings": [
    {
      "type": "header",
      "content": "Animation settings",
      "info": "Rest of animation settings are in the Header block"
    },
    {
      "type": "select",
      "id": "words_count",
      "label": "Number of words in animation",
      "options": [
        {
          "value": "2",
          "label": "Show only first 2"
        },
        {
          "value": "3",
          "label": "Show only first 3"
        },
        {
          "value": "4",
          "label": "Show all of them"
        }
      ],
      "default": "4"
    },
    {
      "type": "range",
      "id": "animation_delay",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "Animation speed",
      "default": 6
    },
    {
      "type": "header",
      "content": "Text style"
    },
    {
      "type": "select",
      "id": "horizontal_position",
      "label": "Text position",
      "info": "Desktop only",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "info": "Desktop only",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "range",
      "id": "text_width",
      "label": "Text width",
      "info": "Desktop only",
      "min": 40,
      "max": 90,
      "step": 10,
      "unit": "%",
      "default": 70
    },
    {
      "type": "header",
      "content": "Background style"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent",
      "info": "Applied only if Type is 'Color'"
    },
    {
      "type": "header",
      "content": "Section style"
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "Space between elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom space",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "subheading",
      "name": "Subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        },
        {
          "type": "select",
          "id": "subheading_size",
          "label": "Subeading size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h6"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "Heading settings"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "Heading size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h2"
        },
        {
          "type": "header",
          "content": "Animation settings"
        },
        {
          "type": "checkbox",
          "id": "animated",
          "label": "Activate animation",
          "default": true
        },
        {
          "type": "select",
          "id": "animation_placement",
          "label": "Animation placement",
          "options": [
            {
              "value": "first",
              "label": "First"
            },
            {
              "value": "second",
              "label": "Second"
            }
          ],
          "default": "first"
        },
        {
          "type": "header",
          "content": "Words in animation",
          "info": "'Number of words shown' + 'Animation delay' settings are in the section settings."
        },
        {
          "type": "text",
          "id": "word_1",
          "label": "Word #1",
          "default": "Word 1"
        },
        {
          "type": "color",
          "id": "word_1_color",
          "label": "Word #1 color",
          "default": "#ea4335"
        },
        {
          "type": "text",
          "id": "word_2",
          "label": "Word #2",
          "default": "Word 2"
        },
        {
          "type": "color",
          "id": "word_2_color",
          "label": "Word #2 color",
          "default": "#4285f4"
        },
        {
          "type": "text",
          "id": "word_3",
          "label": "Word #3",
          "default": "Word 3"
        },
        {
          "type": "color",
          "id": "word_3_color",
          "label": "Word #3 color",
          "default": "#34a853"
        },
        {
          "type": "text",
          "id": "word_4",
          "label": "Word #4",
          "default": "Word 4"
        },
        {
          "type": "color",
          "id": "word_4_color",
          "label": "Word #4 color",
          "default": "#fbbc04"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "limit": 5,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "primary_button_text",
          "label": "Primary button text",
          "default": "Primary button"
        },
        {
          "type": "url",
          "id": "primary_button_link",
          "label": "Primary button link"
        },
        {
          "type": "text",
          "id": "secondary_button_text",
          "label": "Secondary button text"
        },
        {
          "type": "url",
          "id": "secondary_button_link",
          "label": "Secondary button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Animated rich text",
      "blocks": [
        {
          "type": "subheading"
        },
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
