{{ 'section-contact.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{ section.id }}.contact {
      gap: {{ section.settings.space_between_elements }}rem;
      background-color: {{ section.settings.background_color }};
   }

  .{{ section.id }}.contact {
    margin-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .{{ section.id }}.contact {
      margin-top: {{ section.settings.top_space }}px;
      margin-bottom: {{ section.settings.bottom_space }}px;
    }
  }

    @media screen and (min-width: 750px) {
        .{{ section.id }}.contact > .contact__form,.{{ section.id }}.contact > .contact__form  {
            width: {{ section.settings.field_width }}px;
            min-width: {{ section.settings.field_width }}px;
            max-width: {{ section.settings.field_width }}px;
        }
   }
{%- endstyle -%}

<section reveal-on-scroll class="{{ section.id }} contact container">
  {% if section.settings.heading != blank %}
    <div class="contact__heading">
      <{{ section.settings.heading_size }}>
        {{ section.settings.heading }}
      </{{ section.settings.heading_size }}>
    </div>
  {% endif %}
  {% if section.settings.text != blank %}
    <span class="contact__text">
      {{ section.settings.text }}
    </span>
  {% endif %}
  {%- form 'contact', class: 'contact__form' -%}
    <input
      autocomplete="name"
      type="text"
      name="contact[name]"
      value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
      placeholder="Name"
      class="contact__name"
      required
    >

    <input
      autocomplete="email"
      type="email"
      name="contact[email]"
      spellcheck="false"
      autocapitalize="off"
      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
      required
      class="contact__email"
      placeholder="Email"
    >

    <input
      type="tel"
      autocomplete="tel"
      name="contact[phone]"
      pattern="[0-9\-]*"
      value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
      placeholder="Phone"
      class="contact__phone"
    >

    <textarea
      rows="5"
      name="contact[body]"
      placeholder="Message"
      class="contact__message"
      required
    >
    {{- form.body -}}
    </textarea>

    <button
      type="submit"
      class="contact__button"
    >
      <p class="button">{{ 'sections.contact.button' | t }}</p>
      <p></p>
    </button>
    <div class="form__messages">
      {%- if form.errors -%}
        {%- for field in form.errors -%}
          <div class="form__messages__error">
            <span>⚠ {{ form.errors.messages[field] }} </span>
          </div>
        {%- endfor -%}
      {%- endif -%}

      {%- if form.posted_successfully? -%}
        <div class="form__messages__success">
          <span>✓ {{ 'sections.contact.success_message' | t }}</span>
        </div>
      {%- endif -%}
    </div>
  {%- endform -%}
</section>

{% schema %}
{
  "name": "Contact",
  "class": "section-contact",
  "settings": [
    {
      "type": "range",
      "id": "field_width",
      "min": 300,
      "max": 600,
      "step": 50,
      "unit": "px",
      "label": "Field width",
      "default": 450,
      "info": "Desktop and tablet only"
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Encourage customers to get in touch"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading size",
      "options": [
        {
          "value": "h1",
          "label": "h1"
        },
        {
          "value": "h2",
          "label": "h2"
        },
        {
          "value": "h3",
          "label": "h3"
        },
        {
          "value": "h4",
          "label": "h4"
        },
        {
          "value": "h5",
          "label": "h5"
        },
        {
          "value": "h6",
          "label": "h6"
        }
      ],
      "default": "h6"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Set the tone for the contact us section and make it clear to customers that you are open to hearing from them.</p>"
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "Space between elements",
      "min": 1,
      "max": 3,
      "step": 0.5,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Top space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Bottom space",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent"
    }
  ],
  "presets": [
    {
      "name": "Contact"
    }
  ]
}
{% endschema %}
