{{ 'section-text-with-icon.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{ section.id }}.text-with-icon {
     background-color: {{ section.settings.background_color }};
  }

  .{{ section.id }}.text-with-icon {
    margin-top: {{ section.settings.top_space | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ section.settings.bottom_space | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
  .{{ section.id }}.text-with-icon {
      margin-top: {{ section.settings.top_space }}px;
      margin-bottom: {{ section.settings.bottom_space }}px;
    }
  }

  @media screen and (min-width: 1024px) {
    .{{ section.id }} > .text-with-icon__container {
      width: {{ section.settings.content_width }}%;
    }
   }

  .{{ section.id }} > .text-with-icon__container > .text-with-icon__column > .text-with-icon__content-box {
    gap: {{ section.settings.space_between_elements }}rem;
  }

  .{{ section.id }} > .text-with-icon__container > .text-with-icon__column > .text-with-icon__content-box > .icon {
    width: {{ section.settings.icon_size }}px;
    aspect-ratio: 1;
  }
{%- endstyle -%}

<section reveal-on-scroll class="{{ section.id }} text-with-icon">
  <div class="text-with-icon__container">
    {% for block in section.blocks %}
      <div class="text-with-icon__column" {{ block.shopify_attributes }}>
        <div class="text-with-icon__content-box">
          <div class="icon media">
            {% if block.settings.icon_type == 'theme-icon' %}
              {% render 'snippet-icons', icon: block.settings.theme_icon %}
            {% elsif block.settings.icon_type == 'svg' %}
              {% if block.settings.svg == blank %}
                {% render 'snippet-icons', icon: block.settings.theme_icon %}
              {% else %}
                {{ block.settings.svg }}
              {% endif %}
            {% elsif block.settings.icon_type == 'image' %}
              {% if block.settings.image == blank %}
                {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
              {% else %}
                {%- assign image = block.settings.image -%}
                {%- assign width = section.settings.icon_size -%}
                {{
                  image
                  | image_url: width: width
                  | image_tag:
                    loading: 'lazy',
                    class: 'contain',
                    alt: image.alt,
                    width: image.width,
                    height: image.height
                }}
              {% endif %}
            {% endif %}
          </div>
          {% if block.settings.heading != blank %}
            <{{ block.settings.heading_size }}>
              {{ block.settings.heading }}
            </{{ block.settings.heading_size }}>
          {% endif %}
          {% if block.settings.text != blank %}
            <p class="text">{{ block.settings.text }}</p>
          {% endif %}
          {%- if block.settings.button_text != blank -%}
            <a
              {% if block.settings.button_link != blank %}
                href="{{ block.settings.button_link }}"
              {% endif %}
              class="button-text button--link"
            >
              {{- block.settings.button_text -}}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "t:sections.section-text-with-icon.name",
  "class": "section-text-with-icon",
  "max_blocks": 4,
  "settings": [
    {
      "type": "range",
      "id": "icon_size",
      "min": 50,
      "max": 150,
      "step": 10,
      "unit": "px",
      "label": "t:sections.general.icon.icon_size",
      "default": 70
    },
    {
      "type": "header",
      "content": "t:sections.general.header.section"
    },
    {
      "type": "range",
      "id": "content_width",
      "label": "t:sections.general.size.width",
      "info": "t:sections.general.info.desktop_only",
      "min": 50,
      "max": 90,
      "step": 1,
      "unit": "%",
      "default": 80
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "t:sections.general.section_settings.space_between_elements",
      "min": 0.1,
      "max": 0.8,
      "step": 0.1,
      "unit": "rem",
      "default": 0.3
    },
    {
      "type": "range",
      "id": "top_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.section_settings.top_space",
      "default": 0
    },
    {
      "type": "range",
      "id": "bottom_space",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.general.section_settings.bottom_space",
      "default": 0
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.general.color.background_color",
      "default": "transparent"
    }
  ],
  "blocks": [
    {
      "type": "text-with-icon",
      "name": "t:sections.general.header.icon",
      "settings": [
        {
          "type": "select",
          "id": "icon_type",
          "label": "t:sections.general.icon.icon_type",
          "options": [
            {
              "value": "theme-icon",
              "label": "t:sections.general.icon.icon_theme.label"
            },
            {
              "value": "svg",
              "label": "t:sections.general.icon.icon_svg.label"
            },
            {
              "value": "image",
              "label": "t:sections.general.icon.icon_image.label"
            }
          ],
          "default": "theme-icon"
        },
        {
          "type": "select",
          "id": "theme_icon",
          "label": "t:sections.general.icon.icon_theme.label",
          "default": "box",
          "info": "t:sections.general.icon.icon_theme.info",
          "options": [
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "home",
              "label": "t:sections.general.icon.icon_theme.options.home"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "account",
              "label": "t:sections.general.icon.icon_theme.options.account"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "search",
              "label": "t:sections.general.icon.icon_theme.options.search"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "cart",
              "label": "t:sections.general.icon.icon_theme.options.cart"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shop",
              "value": "phone",
              "label": "t:sections.general.icon.icon_theme.options.phone"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "email",
              "label": "t:sections.general.icon.icon_theme.options.email"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "contact",
              "label": "t:sections.general.icon.icon_theme.options.contact"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_communication",
              "value": "support",
              "label": "t:sections.general.icon.icon_theme.options.support"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "box",
              "label": "t:sections.general.icon.icon_theme.options.box"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "location",
              "label": "t:sections.general.icon.icon_theme.options.location"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_shipping",
              "value": "map",
              "label": "t:sections.general.icon.icon_theme.options.map"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "badge",
              "label": "t:sections.general.icon.icon_theme.options.badge"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "shield",
              "label": "t:sections.general.icon.icon_theme.options.shield"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_trust",
              "value": "review",
              "label": "t:sections.general.icon.icon_theme.options.review"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "star",
              "label": "t:sections.general.icon.icon_theme.options.star"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "play",
              "label": "t:sections.general.icon.icon_theme.options.play"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "checkmark",
              "label": "t:sections.general.icon.icon_theme.options.checkmark"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "prohibition",
              "label": "t:sections.general.icon.icon_theme.options.prohibition"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_others",
              "value": "warning",
              "label": "t:sections.general.icon.icon_theme.options.warning"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "share",
              "label": "Share"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "facebook",
              "label": "t:sections.general.icon.icon_theme.options.facebook"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "instagram",
              "label": "t:sections.general.icon.icon_theme.options.instagram"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "twitter",
              "label": "t:sections.general.icon.icon_theme.options.twitter"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "pinterest",
              "label": "t:sections.general.icon.icon_theme.options.pinterest"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "tiktok",
              "label": "t:sections.general.icon.icon_theme.options.tiktok"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "snapchat",
              "label": "t:sections.general.icon.icon_theme.options.snapchat"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "youtube",
              "label": "t:sections.general.icon.icon_theme.options.youtube"
            },
            {
              "group": "t:sections.general.icon.icon_theme.options.group_social",
              "value": "vimeo",
              "label": "t:sections.general.icon.icon_theme.options.vimeo"
            }
          ]
        },
        {
          "type": "liquid",
          "id": "svg",
          "label": "t:sections.general.icon.icon_svg.label",
          "info": "t:sections.general.icon.icon_svg.info"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.general.icon.icon_image.label",
          "info": "t:sections.general.icon.icon_image.info"
        },
        {
          "type": "header",
          "content": "t:sections.general.header.content"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.general.section_settings.heading",
          "default": "Title"
        },
        {
          "type": "select",
          "id": "heading_size",
          "label": "t:sections.general.section_settings.heading_size",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            }
          ],
          "default": "h6"
        },
        {
          "type": "text",
          "id": "text",
          "label": "t:sections.general.text.text",
          "default": "Highlight the trust-building element of the business and explain how it can be of benefit to the customer"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "t:sections.general.button.button_text",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.general.button.button_url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.section-text-with-icon.name",
      "blocks": [
        {
          "type": "text-with-icon",
          "settings": {
            "icon_type": "theme-icon",
            "theme_icon": "box",
            "svg": "",
            "heading": "Title",
            "heading_size": "h6",
            "button_link": ""
          }
        },
        {
          "type": "text-with-icon",
          "settings": {
            "icon_type": "theme-icon",
            "theme_icon": "shield",
            "svg": "",
            "heading": "Title",
            "heading_size": "h6",
            "button_link": ""
          }
        },
        {
          "type": "text-with-icon",
          "settings": {
            "icon_type": "theme-icon",
            "theme_icon": "review",
            "svg": "",
            "heading": "Title",
            "heading_size": "h6",
            "button_link": ""
          }
        }
      ]
    }
  ]
}
{% endschema %}
