{%- style -%}
  .{{ section.id }}.shop-the-look, .{{ section.id }}.shop-the-look > .shop-the-look__image {
      height: {{ section.settings.image_height }}px;
  }

  .{{ section.id }}.shop-the-look {
    margin-top: {{ section.settings.space_outside | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.space_outside | divided_by: 2 }}px;
  }
{%- endstyle -%}

<section class="{{ section.id }} shop-the-look {{ section.settings.section_style }}">
  <div class="shop-the-look__image">
    {% if section.settings.image == blank %}
      {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder' }}
    {% elsif section.settings.image != blank %}
      <div class="{{ section.id }} media">
        <img
          srcset="{{ section.settings.image | image_url }}"
          loading="lazy"
          alt="{{ section.settings.image.alt | escape }}"
          width="{{ section.settings.image.width }}"
          height="{{ section.settings.image.height }}"
          class="fit"
        >
      </div>
    {% endif %}
  </div>
  <div class="shop-the-look__container">
    {% for block in section.blocks %}
      <div
        style="bottom: {{ block.settings.vertical_position }}%; left: {{ block.settings.horizontal_position }}%;"
        class="shop-the-look__box"
      >
        <div class="shop-the-look__selector spinner-block">
          <div class="spinner spinner-scale" {{ block.shopify_attributes }}>
            {% render 'icons', icon: 'shop-the-look' %}
          </div>
        </div>
        <div
          class="shop-the-look__product"
          style="
            {%- if block.settings.horizontal_position <= 50 and block.settings.vertical_position <= 50 -%}
              margin-left: 30px; transform-origin: bottom left;
            {%- elsif block.settings.horizontal_position <= 50 and block.settings.vertical_position > 50  -%}
              margin: -50% 30px; transform-origin: top left;
            {%- elsif block.settings.horizontal_position > 50 and block.settings.vertical_position <= 50  -%}
              margin-left: -100%; transform-origin: bottom right;
            {%- elsif block.settings.horizontal_position > 50 and block.settings.vertical_position > 50  -%}
              margin: calc(-50% - 30px) -100%; transform-origin: top right;
            {%- endif -%}
          "
        >
          <div class="shop-the-look__product-image">
            {%- if block.settings.product == blank -%}
              {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
            {%- elsif block.settings.product != blank -%}
              <img
                srcset="{{ block.settings.product.featured_image | image_url }}"
                loading="lazy"
                alt="{{ block.settings.product.featured_image.alt | escape }}"
                width="{{ block.settings.product.featured_image.width }}"
                height="{{ block.settings.product.featured_image.height }}"
                class="fit"
              >
            {%- endif -%}
          </div>
          <div class="shop-the-look__content">
            <p class="shop-the-look__product-title">
              {% if block.settings.product.title == blank %}
                Product title
              {% elsif block.settings.product.title != blank %}
                {{ block.settings.product.title }}
              {% endif %}
            </p>
            <div class="shop-the-look__product-price">
              <p class="price--sale">
                {% if block.settings.product.compare_at_price == blank %}
                  $00.00
                {% elsif block.settings.product.compare_at_price != blank %}
                  {{ block.settings.product.compare_at_price | money }}
                {% endif %}
              </p>
              <p class="price--normal">
                {% if block.settings.product.price == blank %}
                  $00.00
                {% elsif block.settings.product.price != blank %}
                  {{ block.settings.product.price | money }}
                {% endif %}
              </p>
            </div>
            <a href="{{ block.settings.product.url }}" class="button button--link">View product</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Shop the look",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_height",
      "min": 400,
      "max": 600,
      "step": 50,
      "unit": "px",
      "label": "Height",
      "default": 500
    },
    {
      "type": "range",
      "id": "space_outside",
      "label": "Space outside elements",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "select",
      "id": "section_style",
      "label": "Section style",
      "default": "full",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": "full-width"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        },
        {
          "type": "range",
          "id": "vertical_position",
          "min": 20,
          "max": 80,
          "step": 1,
          "unit": "%",
          "label": "Vertical position",
          "default": 50
        },
        {
          "type": "range",
          "id": "horizontal_position",
          "min": 10,
          "max": 90,
          "step": 1,
          "unit": "%",
          "label": "Horizontal position",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop the look",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
