{{ 'SLIDER-SECTIONTEMPLATE.css' | asset_url | stylesheet_tag }}

{% liquid
  assign mobile_items = 2
  assign tablet_items = 4
  assign desktop_items = 6
%}

{%- style -%}
  :root {
    --mobile-small-item-width: calc(var(--slider-350-width) / {{mobile_items}} * 1px);
    --mobile-item-width: calc(var(--slider-350-750-width) / {{mobile_items}} * 1px);
    --tablet-item-width: calc(var(--slider-750-1024-width) / {{tablet_items}} * 1px);
    --desktop-item-width: calc(var(--slider-1024-width) / {{desktop_items}} * 1px);
  }
  @media screen and (max-width: 350px) {
    .SECTIONNAME .item {
      width: var(--mobile-small-item-width);
      max-width: var(--mobile-small-item-width);
      min-width: var(--mobile-small-item-width);
    }
  }
  @media screen and (min-width: 350px) and (max-width: 750px) {
    .SECTIONNAME .item {
      width: var(--mobile-item-width);
      max-width: var(--mobile-item-width);
      min-width: var(--mobile-item-width);
    }
  }
  @media screen and (min-width: 750px) and (max-width: 1024px) {
    .SECTIONNAME .item {
      width: var(--tablet-item-width);
      max-width: var(--tablet-item-width);
      min-width: var(--tablet-item-width);
    }
  }
  @media screen and (min-width: 1024px) {
    .SECTIONNAME .item {
      width: var(--desktop-item-width);
      max-width: var(--desktop-item-width);
      min-width: var(--desktop-item-width);
    }
  }
{%- endstyle -%}

<slider-section
  data-desktop-items="6"
  data-tablet-items="5"
  data-mobile-items="3"
  class="{{ section.id }} SECTIONNAME {% if section.settings.section_width == "wrapped" %}wrapped{% else %}{% endif %}"
>
  <div class="slider-component">
    <div class="prev">
      {% render 'icons', icon: 'chevron-prev' -%}
    </div>
    <div class="slides-container">
      <div class="slide">
        {% for block in section.blocks %}
          <div class="item" {{ block.shopify_attributes }}></div>
        {% endfor %}
      </div>
    </div>
    <div class="next">
      {% render 'icons', icon: 'chevron-next' -%}
    </div>
  </div>
</slider-section>

{% schema %}
{
  "name": "SECTIONTEMPLATE",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "SECTIONTEMPLATE",
      "blocks": []
    }
  ]
}
{% endschema %}
