{{ 'SLIDER-SECTIONTEMPLATE.css' | asset_url | stylesheet_tag }}

{% liquid
  assign mobile_items = 2
  assign tablet_items = 4
  assign desktop_items = 6
%}

{%- style -%}
  .SECTIONNAME  > .slider-component > .slides-container {
     --mobile-items: {{ mobile_items }};
     --tablet-items: {{ tablet_items }};
     --desktop-items: {{ desktop_items }};
   }
   @media screen and (min-width: 1025px) {
     .SECTIONNAME > .slider-component > .slides-container {
       --container-width: calc(var(--section-width) * 0.5);
     }
     .SECTIONNAME > .slider-component > .prev,
     .SECTIONNAME > .slider-component > .next {
       width: 25%;
     }
   }

   .featured-collections > .slider-component > .slides-container > .slide > .item {
     aspect-ratio: 0.8;
   }
{%- endstyle -%}

<slider-section
  data-desktop-items="6"
  data-tablet-items="5"
  data-mobile-items="3"
  class="{{ section.id }} SECTIONNAME {% if section.settings.section_width == "wrapped" %}wrapped{% endif %}"
>
  <div class="slider-component">
    <div class="prev">
      {% render 'icons', icon: 'chevron-prev' -%}
    </div>
    <div class="slides-container">
      <div class="slide">
        {% for block in section.blocks %}
          <div class="item" {{ block.shopify_attributes }}></div>
        {% endfor %}
      </div>
    </div>
    <div class="next">
      {% render 'icons', icon: 'chevron-next' -%}
    </div>
  </div>
</slider-section>

{% schema %}
{
  "name": "SECTIONTEMPLATE",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Featured collections"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "just-color",
          "label": "Color"
        }
      ],
      "default": "just-color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#000000",
      "info": "Applied only if Type is 'Color'"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Image",
      "info": "Applied only if Type is 'Image'"
    },
    {
      "type": "range",
      "id": "item_height",
      "min": 200,
      "max": 400,
      "step": 50,
      "unit": "px",
      "label": "Item height",
      "default": 350,
      "info": "This is for desktop only. In the other screens the height will be calculated automatically based on this number."
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "Space between elements",
      "min": 1,
      "max": 3,
      "step": 1,
      "unit": "rem",
      "default": 1
    },
    {
      "type": "range",
      "id": "space_outside_elements",
      "label": "Space outside elements",
      "min": 30,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 50
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "default": "full",
      "options": [
        {
          "value": " ",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": " "
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "SECTIONTEMPLATE",
      "blocks": []
    }
  ]
}
{% endschema %}
