{{ 'text-columns-with-images.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .{{section.id}}.text-columns-with-images {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
  }

  @media screen and (min-width: 750px) {
    .{{section.id}}.text-columns-with-images {
    }
  }

  .{{section.id}}.text-columns-with-images__image {
    height:400px;
  }
{%- endstyle -%}

<div class="{{section.id}} text-columns-with-images">
  {% for block in section.blocks %}
  <div class="text-columns-with-images__column">
    <div class="{{section.id}} text-columns-with-images__image">
      {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder' }}
    </div>
    <div class="text-columns-with-images__content">
      <div class="box horizontal--center text-alignment-center">
        <h6>Subheading</h6>
        <h1>Heading</h1>
        <p>Text</p>
        <p>Button</p>
      </div>
    </div>
  </div>
    {% endfor %}
  </div> 

  {% schema %}
  {
    "name": "Text columns with images",
    "settings": [],
    "blocks": [
      {
        "type": "column",
        "name": "column",
        "settings": []
      }
    ],
    "presets": [
      {
        "name": "Text columns with images",
        "blocks": [
          {
            "type" : "column"
          },
          {
            "type" : "column"
          },
          {
            "type" : "column"
          }
        ]
      }
    ]
  }
  {% endschema %}
</div>
