{%- style -%}
   .{{ section.id }}.text-with-icon {
     background-color: {{ section.settings.background_color }};
    margin-top: {{ section.settings.space_outside_elements | divided_by: 2 }}px;
    margin-bottom: {{ section.settings.space_outside_elements | divided_by: 2 }}px;
   }
   @media screen and (min-width: 1024px) {
     .{{ section.id }} > .text-with-icon__container {
       width: {{ section.settings.content_width }}%;
     }
    }

   .{{ section.id }} > .text-with-icon__container > .text-with-icon__column > .text-with-icon__content-box {
     gap: {{ section.settings.space_between_elements }}rem;
   }

   .{{ section.id }} > .text-with-icon__container > .text-with-icon__column > .text-with-icon__content-box > .icon {
     width: {{ section.settings.icon_size }}px;
     height: {{ section.settings.icon_size }}px;
   }

  .{{ section.id }}-just-color {
     background-color: {{ section.settings.background_color }};
    }

  .{{ section.id }}-image {
      background-image: url({{ section.settings.background_image | image_url }});
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
{%- endstyle -%}

<section class="{{ section.id }} text-with-icon {{ section.settings.section_style }}  {% if section.settings.background_image == blank %}{{ section.id }}-just-color{% else %}{{ section.id }}-{{ section.settings.background_type }}{% endif %}">
  <div class="text-with-icon__container">
    {% for block in section.blocks %}
      <div class="text-with-icon__column" {{ block.shopify_attributes }}>
        <div class="text-with-icon__content-box">
          <div class="icon">
            {% if block.settings.icon_type == 'svg' %}
              {% if block.settings.svg == blank %}
                {% render 'icons', icon: 'multi-icon' %}
              {% else %}
                {{ block.settings.svg }}
              {% endif %}
            {% elsif block.settings.icon_type == 'image' %}
              {% if block.settings.image == blank %}
                {{ 'product-1' | placeholder_svg_tag: 'placeholder' }}
              {% else %}
                <img
                  srcset="{{ block.settings.image | image_url }}"
                  loading="lazy"
                  alt="{{ block.settings.image | escape }}"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                  class="full"
                >
              {% endif %}
            {% endif %}
          </div>
          {% if block.settings.heading != blank %}
            <p class="subheading">{{ block.settings.heading }}</p>
          {% endif %}
          {% if block.settings.text != blank %}
            <p class="text">{{ block.settings.text }}</p>
          {% endif %}
          {% if block.settings.link_text != blank %}
            <a
              {% if block.settings.link_url != blank %}
                href="{{ block.settings.link_url }}"
              {% endif %}
              class="button--link"
            >
              {{- block.settings.link_text -}}
            </a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Text with icon",
  "max_blocks": 4,
  "settings": [
    {
      "type": "range",
      "id": "icon_size",
      "min": 50,
      "max": 150,
      "step": 10,
      "unit": "px",
      "label": "Icon size",
      "default": 70
    },
    {
      "type": "range",
      "id": "space_between_elements",
      "label": "Space between elements",
      "min": 0.1,
      "max": 0.8,
      "step": 0.1,
      "unit": "rem",
      "default": 0.3
    },
    {
      "type": "range",
      "id": "space_outside_elements",
      "label": "Space outside elements",
      "min": 0,
      "max": 200,
      "step": 10,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "content_width",
      "label": "Content width",
      "min": 50,
      "max": 90,
      "step": 1,
      "unit": "%",
      "default": 50,
      "info": "Applied to desktop only"
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Background type",
      "options": [
        {
          "value": "image",
          "label": "Image"
        },
        {
          "value": "just-color",
          "label": "Color"
        }
      ],
      "default": "just-color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "transparent",
      "info": "Applied only if Type is 'Color'"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Image",
      "info": "Applied only if Type is 'Image'"
    },
    {
      "type": "select",
      "id": "section_style",
      "label": "Section style",
      "info": "Desktop only",
      "options": [
        {
          "value": "full-width",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": "full-width"
    }
  ],
  "blocks": [
    {
      "type": "text-with-icon",
      "name": "Text with icon",
      "settings": [
        {
          "type": "select",
          "id": "icon_type",
          "label": "Icon type",
          "options": [
            {
              "value": "svg",
              "label": "svg"
            },
            {
              "value": "image",
              "label": "Image"
            }
          ],
          "default": "svg",
          "info": "It is recommended to use svg icons instead of jpeg/png icons to get the best quality"
        },
        {
          "type": "liquid",
          "id": "svg",
          "label": "Icon - svg",
          "info": "Applicable only if icon type is svg"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Icon - image",
          "info": "Applicable only if icon type is image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Some text here"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link text",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link url"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text with icon",
      "blocks": [
        {
          "type": "text-with-icon"
        },
        {
          "type": "text-with-icon"
        },
        {
          "type": "text-with-icon"
        }
      ]
    }
  ]
}
{% endschema %}
