{%- style -%}
    .{{ section.id }}.text-columns-with-images {
      margin-top: {{ section.settings.space_outside | divided_by: 2 }}px;
      margin-bottom: {{ section.settings.space_outside | divided_by: 2 }}px;
    }

  {%- if section.settings.background_type == "color" -%}
      .{{ section.id }}.text-columns-with-images {
        background-color: {{ section.settings.background_color }};
      }
  {%- elsif section.settings.background_type == "image" -%}
      .{{ section.id }}.text-columns-with-images {
          background-image: url({{ section.settings.background_image | image_url }});
      }
  {%- endif -%}

  .{{ section.id }}.text-columns-with-images__columns {
    padding: 15px 15px;
  }

  .{{ section.id }} .text-columns-with-images__column {
    background: rgba({{ section.settings.column_background_color.red }}, {{ section.settings.column_background_color.green }}, {{ section.settings.column_background_color.blue }}, {{ section.settings.column_background_opacity | divided_by: 100.0 }});
    backdrop-filter: blur({{ section.settings.column_background_blur }}px);
    border: {{ section.settings.column_border_width }}px solid {{ section.settings.column_border_color }};
  }

  .{{ section.id }}.text-columns-with-images__image {
    height: {{ section.settings.column_image_height_mobile }}px;
  }

  @media screen and (min-width: 750px) {
    .{{ section.id }}.text-columns-with-images__columns {
      padding: 20px 20px;
    }

    .{{ section.id }}.text-columns-with-images > .text-columns-with-images__columns {
      width: {{ section.settings.columns_width }}px;
    }

    .{{ section.id }} .text-columns-with-images__column {
      width: {{ section.settings.columns-per-row }}%;
    }

    .{{ section.id }}.text-columns-with-images__image {
      height: {{ section.settings.column_image_height_desktop }}px;
    }
  }
{%- endstyle -%}

<div class="{{ section.id }} text-columns-with-images {{ section.settings.section_width }}">
  <div class="{{ section.id }} text-columns-with-images__columns">
    {% for block in section.blocks %}
      <div class="text-columns-with-images__column">
        <div class="{{ section.id }} text-columns-with-images__image">
          {%- if block.settings.column_image == blank -%}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder' }}
          {%- elsif block.settings.column_image != blank -%}
            <div class="media">
              <img
                srcset="{{ block.settings.column_image | image_url }}"
                loading="lazy"
                alt="{{ block.settings.column_image.alt | escape }}"
                width="{{ block.settings.column_image.width }}"
                height="{{ block.settings.column_image.height }}"
                class="{{ section.settings.column_image_position }}"
              >
            </div>
          {% endif %}
        </div>
        <div class="text-columns-with-images__content">
          <div class="box horizontal--{{ section.settings.text_alignment }} vertical--center text-alignment--{{ section.settings.text_alignment }}">
            <h6>{{ block.settings.heading }}</h6>
            {{ block.settings.text }}
            <a
              class="button button--secondary"
              href="{{ block.settings.secondary_button_link }}"
            >
              <span></span> <span></span> <span></span> <span></span>
              {{ block.settings.secondary_button_text }}
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Text columns with images",
  "settings": [
    {
      "type": "header",
      "content": "Column style"
    },
    {
      "type": "select",
      "id": "column_image_position",
      "label": "Column image style",
      "options": [
        {
          "value": "fit",
          "label": "Fit section"
        },
        {
          "value": "full",
          "label": "Full image"
        }
      ],
      "default": "fit"
    },
    {
      "type": "range",
      "id": "column_image_height_desktop",
      "min": 200,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Column image height - Desktop",
      "default": 250
    },
    {
      "type": "range",
      "id": "column_image_height_mobile",
      "min": 200,
      "max": 400,
      "step": 10,
      "unit": "px",
      "label": "Column image height - Mobile",
      "default": 200
    },
    {
      "type": "color",
      "id": "column_background_color",
      "label": "Column background color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "column_background_opacity",
      "label": "Column background opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 40
    },
    {
      "type": "range",
      "id": "column_background_blur",
      "label": "Column background blur",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "color",
      "id": "column_border_color",
      "label": "Column border color",
      "default": "#fff"
    },
    {
      "type": "range",
      "id": "column_border_width",
      "label": "Column border width",
      "min": 0,
      "max": 5,
      "step": 1,
      "unit": "px",
      "default": 2
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "info": "Desktop only",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Columns style"
    },
    {
      "type": "range",
      "id": "columns_width",
      "label": "Columns width",
      "min": 1000,
      "max": 1800,
      "step": 100,
      "unit": "px",
      "default": 1500,
      "info": "Applied only when Section width is 'Full width'"
    },
    {
      "type": "select",
      "id": "columns-per-row",
      "label": "Columns per row",
      "options": [
        {
          "value": "80",
          "label": "1 column per row"
        },
        {
          "value": "40",
          "label": "2 columns per row"
        },
        {
          "value": "30",
          "label": "3 columns per row"
        },
        {
          "value": "20",
          "label": "4 columns per row"
        }
      ],
      "default": "20",
      "info": "Applied only to Desktop"
    },
    {
      "type": "header",
      "content": "Section style"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Section width",
      "info": "Desktop only",
      "options": [
        {
          "value": " ",
          "label": "Full width"
        },
        {
          "value": "wrapped",
          "label": "Wrapped"
        }
      ],
      "default": " "
    },
    {
      "type": "select",
      "id": "background_type",
      "label": "Section background type",
      "options": [
        {
          "value": "color",
          "label": "Color"
        },
        {
          "value": "image",
          "label": "Image"
        }
      ],
      "default": "color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Section background color",
      "default": "transparent",
      "info": "Applied only if Type is 'Color'"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Section background image",
      "info": "Applied only if Type is 'mage'"
    },
    {
      "type": "range",
      "id": "space_outside",
      "label": "Space outside section",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "column_image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "heading",
          "default": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Lorem ipsum dolor sit amet.</p>"
        },
        {
          "type": "text",
          "id": "secondary_button_text",
          "label": "Button text",
          "default": "Learn more"
        },
        {
          "type": "url",
          "id": "secondary_button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text columns with images",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
